.step * {box-sizing: border-box}
.step{
  margin-top:40px;
  &-list{
    @extend %clearfix;
    margin-left:-24px;
    &-item{
      padding:0 30px;
      float:left;
      width:368px;
      height:412px;
      border: 1px solid #dee3eb;
      margin:0 0 24px 24px;
    }

    &-num{
      display:block;
      position:relative;
      margin-top:24px;
      color:#97a4b9;
      font-size:20px;
      text-align:center;
      &:before{
        content:'';
        display:block;
        position:absolute;
        left:0;
        top:0;
        bottom:0;
        margin:auto;
        width:130px;
        height:1px;
        background:#dbdfe6;
      }
      &:after{
        content:'';
        display:block;
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        width:130px;
        height:1px;
        background:#dbdfe6;
      }
    }

    &-head{
      margin-top:44px;
      font-family: nanumsq, sans-serif;
      color:#222;
      font-size:34px;
      text-align:center;

      +.ico{
        width:100%;
        height:100px;
      }
    }


    &-desc{
      color:#000;
      font-size:18px;
      line-height:30px;
      text-align:center ;
    }

    .btn-group{
      margin-bottom:4px;
    }



    &-item.main{
      border:none;
      &.step_leave{
        background:url('../images/step_leave.jpg');
      }
      .step-list-head{
        color:#fff;
        font-size:46px;
        font-weight:700;
      }
      .step-list-desc{
        color:#fff;
        font-size:18px;
        font-weight:300;
      }
    }
    &-item.color{
      background:#f2f4f7;
    }
  }
}

// AP_AC 절차 엘리먼트 link 버튼타입
// :: btn-group col-2 / row-2 클래스 추가에따른 버튼레이아웃 변화
.btn-group{
  height:38px;
  line-height:38px;
  &.col-2{
    border:1px solid #d9e0ea;
    border-radius:4px;
    overflow:hidden;
    .btn-link{
      float:left;
      width:50%;
      border:none;
      border-radius:0;
      &:first-child{
        border-right:1px solid #d9e0ea;
      }
    }
  }

  &.row-2{
    height:80px;
    line-height:80px;
  }

  .btn-link{
    display:block;
    position: relative;
    width:100%;
    height:100%;
    background:#fff;
    border:1px solid #d9e0ea;
    border-radius:4px;
    color:#222;
    font-size:18px;
    text-indent:20px;
    .ico{
      position: absolute;
      top:0;
      bottom:0;
      right:20px;
      margin:auto;
    }

    .link-guide{
      color:#666;
      font-size:16px;
      vertical-align:1px;

    }
  }
}





.ap-ac .ico{
  &:after{
    background: url('../images/spr_ico_ac_submain.png') no-repeat;
  }
}