.step * {box-sizing: border-box}





.step-list-head{
  &:after{
    content:'';
    display:block;
    height:79px;
    margin:23px auto 0 auto;
    background: url(../images/spr_ico_ac_submain.png) no-repeat;
  }

  &.noicon:after{
    display:none;
  }

  &.arrival:after{
    background-position:-34px -38px;
    width: 88px;
  }

  &.procedure:after{
    background-position:-158px -43px;
    width: 70px;
  }

  &.baggage:after{
    background-position:-265px -32px;
    width: 55px;
  }

  &.customs:after{
    background-position:-359px -36px;
    width: 57px;
  }

  &.leave:after{
    background-position:-453px -29px;
    width: 86px;
  }

  &.security:after{
    background-position:-570px -28px;
    width: 90px;
  }

  &.screening:after{
    background-position:-696px -27px;
    width: 51px;
  }
}

.contents.ap-ac {
  & +.tab-area{
    margin-top:-153px;
  }
}

.contents.ap-ac .contents-visual{
  min-height:420px;
  height:420px;
  background-size: cover;
  &-tit{
    padding-top:52px;
    font-family: nanumsq, sans-serif;
    font-size:2.875rem;
    font-weight:300;
    line-height:1.1;
  }

  &.rough-map{ // 임시 이미지 퍼블리싱 본래 지도가 들어갑니다
    background:url("../images/img_sub_visual_stepleave.jpg") center no-repeat;
  }
}