// 1024
@media all and (max-width:1023px) {
  // layout
  .multi-col{
    &.double{
      .inner-col{
        &.w70{
          width: 60%;
          padding-right:24px;
        }
        &.w30{
          width: 40%;
        }
        //
        //&.w60{
        //  width: 60%;
        //}
        //
        //&.w40{
        //  width: 40%;
        //  padding-left:27px;
        //}
        //
        //&.w80{
        //  width: 80%;
        //}
        //&.w20{
        //  width: 20%;
        //}
        //&.wide{
        //  width: 100%;
        //}
        //&.calc-w466-l{
        //  width: calc(100% - 466px);
        //  padding-left:24px;
        //}
        //&.calc-w466-r{
        //  width: calc(100% - 466px);
        //  padding-right:24px;
        //}
        //&.w466{
        //  width: 466px;
        //  padding:0;
        //}
      }
    }

    &.triple{
      .inner-col{
        width:50%;
      }
    }
  }
}

// 640
@media all and (max-width:640px) {
  // layout
  .multi-col{
    position:relative;
    .inner-col{
      margin-top:10px;
      float:none;
      &:first-child{
        margin-top:0;
      }
      &.btn-right{
        position: absolute;
        right:0;
        bottom:0;
        text-align: right;
        .left{
          text-align: left;
        }
      }
    }
    &.double{
      .inner-col{
        width:100%!important;
        padding:0!important;
      }
    }
    &.triple{
      .inner-col{
        width:100%!important;
      }
    }
    &.line{
      &:before{
        display:none;
      }
    }
  }

  // heading
  .heading{
    &-level1{
    }
    &-level2{
    }
    &-level3{
      margin-bottom:10px;
      font-size:1rem;
    }
    &-level4{
    }
  }

  // pagenation
  .pagenation{
    width:100%;
    height:30px;
    position:relative;
    .ico{
      width:30px;
      height:30px;
      position:absolute;
      &.first{
        left:0;
      }
      &.prev{
        left:30px;
      }
      &.next{
        right:30px;
      }
      &.last{
        right:0;
      }
    }
    &-list{
      float:none;
      position: absolute;
      left: 0;
      right: 0;
      margin:auto;
      width: 90px;
      &-link{
        line-height:30px;
      }
      &-item{
        width:30px;
        height:30px;
        &:first-child{
          border-left:1px solid #d9d9d9;
        }
        &:nth-child(n+4){
          display:none;
        }
        &:hover{
          background:#42519e;
          border-color:#42519e;
          .pagenation-list-link{
            color:#fff;
          }
        }
      }
    }
  }

  // 우편번호 검색 팝업
  .address-layer{
    .search-address{
      &-name {
        width:100%;
        &-label{
          float: left;
          margin-right: 31px;
          line-height: 50px;
        }
        &-txt {
          width:100%;
        }
      }
    }

    .layer-article-input.search-address{
      width: calc(100% - 50px);
    }
    .address-select {
      &-title {
        margin: 10px 0;
        font-weight: 900;
      }
      &-box {
        width: 100%;
        height: 260px;
      }
      &-link{
        width: 100%;
        .address-code{
          float: none;
          padding: 0 10px;
        }
        .zip-code{
          float: none;
          padding: 0 10px 20px;
        }
      }
    }
  }
}


