// 1024
@media all and (max-width:1023px) {
  // layout
  .contents{
    width: 100%;
    min-width: 100%;
  }



  //.contents-visual{
  //  &.departure-procedures{
  //    margin-bottom:30px;
  //    height:inherit;
  //    padding-top:3em;
  //  }
  //}

  .local {
    &-list {
      &-item {
        width: 14.2857%;
      }
    }
    &-town {
      padding: 30px 15px;
      &-item {
        width:33.33%;
        border:0;
        margin:0;
      }
    }
  }
}

// 640
@media all and (max-width:639px) {

  .location{
    position: static;
    padding:15px 15px 0;
    &-btn{
      display:none;
      position: static;
    }
    &-bar{
      position: static;
      &-nav{
        &-item {
          padding-left: 20px;
          float: left;
          line-height:1.7;
          &-link{
            color: #666;
            font-size:0.75rem;
          }
        }
      }
    }
  }


  // 검색창 input
  .search-flight{
    min-width:100%;
    .search-flight-search-option+.search-flight-search-txt{
      border-top:0;
    }
    &-search{
      width:100%;
      font-size:1.125rem;
      font-weight:700;
      background:#f8f8f8;
      &-txt{
        width:100%;
        margin-right:0;
        position:static;
        height:50px;
        line-height:50px;
        border:1px solid #d9d9d9;
        border-bottom:0;
        color:#999;
      }
      &-option{
        width:100%;
        height:50px;
        text-align:center;
      }
      &-btn{
        width:100%!important;
        height:50px;
        margin-top:10px;
        padding:0;
        &.ico{
          font-size:1rem;
          text-indent:0;
        }
        &.ico:after{
          display:none;
          top:0;
          left:0;
          right:0;
          bottom:0;
          margin:auto;
        }

      }
      .search-flight-search-txt+.search-flight-search-btn{
        width:100%;
        font-size:1.125rem;
        padding:0;
        text-indent:0;
        margin-top:0;
        &.ico{

        }
        &.ico:after{
          display:none;
        }
      }
    }
  }
  //filter search
  .search-flight-detail{
    min-width:100%;
    &-option{
      float: none;
      margin-right:0;
      margin-bottom:10px;
      input[type="radio"].radio{
        & + .search-option-btn{
          width:50%;
          text-align:center;
          height: 50px;
          line-height: 50px;
        }
      }
    }
    &-select{
      height: auto;
      float: none;
      &-article{
        width: 100%;
        padding:0 10px;
        border-bottom:1px solid #d9d9d9;
        border-right:0;
        height:50px;
        line-height:50px;
        &:nth-child(4n){
          border-right:0;
        }
      }
      &-airplane{
        height:50px;
        line-height:50px;
        width:100%;
      }
      &-btn{
        width:100%;
        height:50px;
        &:after{
          display:none;
        }
        &:before{
          content:'검색';
          display: block;
          width:100%;
          height:50px;
          color:#fff;
          font-size:1.125rem;
          font-weight:700;
          text-align: center;
          text-indent:14px;
          line-height:50px;
          position:absolute;
          top:0;
          left:0;
        }
      }
    }
  }
  // 서브 탭
  .inner-tab2{
    width:100%;
    position: static;
    .btn-type-tab{
      box-sizing: border-box;
      width:50%;
      height: 50px;
    }
  }


  // 팝업 지도 기능 이미지1
  .map-departure-congestion01{
    height:240px;
    .map-absolute-area{
      width: 268px;
      height: 184px;
      background-size:contain;
    }
  }
  // 팝업 지도 기능 이미지2
  .map-departure-congestion02{
    height:240px;
    & .map-absolute-area{
      width: 268px;
      height: 184px;
      background-size:contain;
    }
  }
  // 팝업 지도 기능 포인터
  .congestion{
    &-mark1{
      top: 87px;
      left: 55px;
    }
    &-mark2{
      top: 75px;
      left: 83px;
    }
    &-mark3{
      top: 74px;
      right: 83px;
    }
    &-mark4{
      top: 87px;
      right: 54px;
    }
    &-mark5{
      top: 91px;
      left: 79px;
    }
    &-mark6{
      top: 91px;
      right: 79px;
    }
    &-mark{
      &-color{
        width: 14px;
        height: 14px;
        font-size:0.75rem;
        line-height:14px;
      }
    }
  }
  // 스크롤 테이블
  .table2{
    &-article {
      position: static;
      padding-top:0;
      &-box {
        height:auto;
        overflow: inherit;
      }
    }
    &.vt-dark{
      text-align:center;
      th{
        text-align:center;
      }
      td{
        text-align:center!important;
      }
    }
    table{
      position: static;
    }
    thead tr{
      position: static;
    }
    thead th{
      &.wid{
        width:auto;
      }
      width: auto;
    }
    thead th:first-child{
      width: auto;
    }
    tbody{
      display: table-row-group;
      height: auto;
    }
    tbody tr{
      height:auto;
    }
    tbody td{
      text-align: center;
    }
  }
  .table-guide{
    &-btn{
      width:100%;
      float: none;
      padding: 0;
      &-text{
        font-size: 0.825rem;
      }
    }

    &-ico{
      float:right;
      margin-left:0;
    }

    &-pop-up{
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      margin-bottom:20px;
      background: #fff;
      border: 2px solid #42519e;
      &-depth{
      }
      &-list{
        margin-bottom: 10px;
      }
      &-item{
        &:first-child{
          width: 70px;
        }
        font-size: 0.825rem;
        letter-spacing: -1px;
        margin-left:0;
        float: left;
        line-height: 1;
        &:before{
          width: 14px;
          height: 14px;
        }
      }
    }

    &-list{
      float: none;
      display:inline-block;
      margin-top:20px;
    }

    &-item{
      margin-left: 6px;
      line-height:1;
      letter-spacing:-1px;
      &:first-child{
        margin-left:0;
      }
      &:before{
        margin-right:4px;
        width: 14px;
        height: 14px;
      }

    }
  }

  // layer popup
  .layer{
    .list1-item{
      br{
        display:none;
      }
    }
    width: 100%;
    height:100%;
    border:0;
    position:fixed;
    top:0;
    left:0;
    transform:none;
    overflow:auto;
    &-wrap{
      position:absolute;
    }
    &.size{
      width: 100%;
    }
    &.capchasize{
      width:100%;
    }
    &.md-terminal{
      width: 100%;
    }
    &.address-layer{
      width: 100%;
      &.size{
        width: 100%;
      }
      &.max-size{
        width: 100%;
        &.max-height{
          max-height:inherit;
        }
      }
    }

    &.login-area{
      width: 100%;
    }
    &.questionnaire{
      width: 100%;

    }
    &-area{
      padding: 15px;
    }
    &-title{
      padding-bottom: 14px;
      margin-bottom: 24px;
      border-bottom: 1px solid #42519e;
      font-size: 1rem;
      &.login{
        font-size: 2rem;
      }
    }
    &-sub{
      font-size:1rem!important;
    }
    &-input-text.user-text{
      width:100%;
      height: 50px;
    }
    &-close{
      width: 16px;
      height: 16px;
      top: 16px;
      right: 15px;
    }
    &-article{
      margin-bottom:20px;
      position: relative;
      &-title{
        margin-bottom: 14px;
        font-size:0.9375rem;
        &.float{
          margin: 0;
          float: none;
          line-height: 32px;
        }
      }
      &-input{
        width: 100%;
        height: 50px;
      }
      &-box{
        width: 100%;
        height: 124px;
        padding:14px;
        &-sub{
          margin-bottom: 7px;
          font-size:0.875rem;
        }
        &-txt{
          font-size:0.875rem;
        }
      }
      p{
        font-size: 0.75rem;
        font-weight:700;
      }
      button{
        height: 50px;
        font-size: 1.5rem;
      }
      &.article2{
        margin-bottom: 10px;
        margin-top: 15px;
      }
    }
    .info-desc{
      font-size: 0.75rem;
    }
    .inner-col{
      text-align:center;
    }
    &-btn{
      float: left;
      &-login{
        width:100%;
        height: 50px;
        font-size: 1rem;
      }
    }
  }
  // layer popup :: footer
  .enter{
    padding: 20px 15px;
    background:#fff;
    border-top:0;
    &-btn{
      width: 100%;
    }
  }

  //.article3{
  //  width: 100%;
  //  float: none;
  //  margin-bottom: 30px;
  //}

  //.article5{
  //  width: 100%;
  //  float: none;
  //  margin:0;
  //&:first-child{
  //  margin-left: 0;
  //}
  //  .layer-article-title{
  //    float: none;
  //    font-size: 1.25rem;
  //    font-weight: 700;
  //    padding-bottom: 10px;
  //    position: relative;
  //    &:after{
  //      width:100%;
  //    }
  //  }
  //  .ir-technique{
  //    text-indent: -99999em;
  //    display: block;
  //  }
  //  .bus-stop1{
  //    width: 100%;
  //    height: 460px;
  //  }
  //  .bus-stop2{
  //    width: 100%;
  //    height: 460px;
  //  }
  //}
  //
  //.article4{
  //  width:100%;
  //  float:none;
  //  margin-left:0;
  //  margin-bottom: 30px;
  //  .layer-article-title{
  //
  //    &:after{
  //      content: '';
  //      display: block;
  //      width: 325px;
  //      height: 1px;
  //      background: #b3b3b3;
  //    }
  //  }
  //  .airline1{
  //    background: url(/static/ap/images/bg_terminal_interconnection_01.png)no-repeat;
  //    width:100%;
  //    height: 243px;
  //    float: none;
  //    display:block;
  //  }
  //  .airline2{
  //    background: url(/static/ap/images/bg_terminal_interconnection_02.png)no-repeat;
  //    width:100%;
  //    height: 244px;
  //    float: none;
  //    display:block;
  //  }
  //  .ir-technique{
  //    text-indent: -99999em;
  //    display: block;
  //  }
  //}

  // contents visual
  .contents-visual{
    .inner-section{
      padding:0;
    }
    &.departure-procedures{
      padding:60px 15px;
    }
    &.airline-city{
      padding: 60px 0 0;
    }
    .sub-top-descbox{
      padding-bottom:30px;
    }
    min-height:inherit;
    height:auto;
    //height:240px;
    padding: 60px 0 0;
    background-size: cover!important;
    &.search-airline{
      padding:60px 0 0;
    }
    &.facilities{
      padding:60px 0;
      .search-airline-name{
       margin-bottom:30px;
      }
    }
  }
  .congestion{
    border-left:0;
    padding-left:0;
    float: none;
    position:static;
    margin-bottom:40px;
    &-title{
      padding:0 15px;
      br{
        display:none
      }
    }

    &-quick-link{
    }
  }

  // common
  .tab{
    &-main{
      width:100%;
      height:auto;
      margin-bottom:30px;
      padding:0 30px;
      &-list{
        width:100%;
        &-item{
          width:50%;
          &-link{
            width:100%;
            display: inline-block;
            border: 1px solid rgba(255, 255, 255, .5);
            font-size: 1.125rem;
          }
        }
      }
    }

    &-sub{
      position: static;
      &-list{
        &-item {
          float: left;
          width:50%;
          &-link{
            font-size: 	1rem;
            letter-spacing:-1px;
          }
          &+.tab-sub-list-item{
            margin-left:0;
          }
        }
      }
    }
  }

  .tab{
    &-nav{
      &-list{
        &-link{
          height:54px;
          border-bottom-color:#d9d9d9;
          font-size:1rem;
          letter-spacing:-1px;
          &.on{
            border-bottom:2px solid #42519e;
          }
          &.active{
            height:54px;
            padding:14px 10px;
            line-height:1.4;
          }
        }
      }
    }
    &-area{
      height: 100%;
      left:0;

      &-heading{
        border:2px solid #d9d9d9;
        font-size:1rem;
        &.on{
          border-bottom:2px solid #42519e;
        }
      }
    }
  }

  // search
  .search-airline{
    &-head{
      padding:0 15px;
      &-title{
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    &-name{
      display:inherit;
      margin-bottom:30px;
      &-option{
        width:100%;
        height: 50px;
        font-size: 1rem;
        border:1px solid #d9d9d9
      }
      &-txt{
        width:100%;
        height: 50px;
        font-size: 1rem;
      }
      &-btn{
        width:100%;
        height:50px;
        padding-left:0;
        font-size:1.125rem;
        line-height:50px;
        &.ico{

        }
        &.ico:after{
          display:none;
        }
      }
    }
  }

  .update{
    margin-bottom: 10px;
    text-align: left;
    overflow:hidden;
    &-time{
      line-height:26px;
    }
    &-refresh{
      float:right;
      width:26px;
      padding:0;
      line-height:inherit;
      border-radius:50%;
      &.ico{
        text-indent:-9999px;
      }
      &.ico:after{
        top:3px;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
      }
    }
    &.mb10{
      margin-bottom: 10px;
    }
  }
  .local {
    &-list {
      &-item {
        width: 33.33%;
        border-right: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
        &:last-child{
          width:100%;
        }
        &:nth-child(3n){
          border-right:0;
        }
        &-link{
          font-size:0.875rem;
          &:after{
            display:none;
          }
        }
      }
    }
    &-town {
      padding:20px 0;
      &-item {
        text-align:left;
        padding-right:0;
        &-link{
          font-size:0.875rem;

        }
      }
    }
  }

  .question{

    &-wrap{
      margin-bottom: 10px;
      padding-bottom: 10px;
      &.last-question{
        border: 0;
        margin-bottom: 0;
      }
    }
    &-num{
      font-size: 0.825rem;
      padding: 10px ;
      margin-right:0;
      float:none;
      margin-bottom:10px;
    }
    &-txt{
      line-height:1.4;
      float:none;
    }
    &-length{
      font-size:0.825rem;
    }
  }

  .site-map{
    &-heading{
      font-size: 1.125rem;
      padding-bottom:10px;
    }
    &-list{
      &-depth1{
        &-item{
          width:100%;
          float:none;
          margin-right:0;
          margin-bottom:20px;
          border: 1px solid #d9d9d9;
          padding: 20px;
        }
      }
      &-depth2{
        padding-top: 10px;
        border:none;
        &-item{
          border-bottom:1px solid #d9d9d9;
        }
      }
    }
  }

}



