.tab-sub.terms{
  .tab-sub-list-item-link{
    width: 230px;
  }
}

.terms_box {
  width:100%;
  overflow:hidden;
  border:1px solid #d7d7d7;
}

.terms_box_w {
  margin:40px 58px;
  overflow:hidden;
}

.terms_info {
  float:left;
  width:320px;
  overflow:hidden;
}

.terms_info li span {
  width:70px;
  margin-bottom:22px;
  font-size:14px;
  display:inline-block;
}

.terms_info li:last-child span {
  margin-bottom:0;
}

.terms_info li a {
  display:inline-block;
}

.wid360 {
  width:360px !important;
}
.wid347 {
  width:347px !important;
}
.wid305 {
  width:305px !important;
}
.wid200 {
  width:200px !important;
}
.wid230 {
  width:230px !important;
}
.wid480 {
  width:480px !important;
}

.terms_tit {
  margin:40px 0;
  font-size:18px;
  color:#333;
  font-weight:bold;
  text-align:center;
  line-height:40px;
}

.terms_txt li {
  margin-bottom:40px;
}

.terms_sub_tit {
  margin-bottom:17px;
  font-size:14px;
  color:#333;
  font-weight:bold;
  line-height:14px;
  display:block;}

.terms_sub_txt {
  display:block;
  margin:5px 0 20px 16px;
}

.mail_box {
  padding: 60px 0 40px 264px;
  background: url(/static/ap/images/img_mail.png) no-repeat 107px 54px;
}
