.tab-sub.terms{
  .tab-sub-list-item{
    width:calc(20% - 4px);
    &:first-child{
      margin-left:2px;
    }
  }

}

.terms_box {
  width:100%;
  overflow:hidden;
  border:1px solid #d7d7d7;
}

.terms_box_w {
  margin:40px 58px;
  overflow:hidden;
}

.terms_info {
  float:left;
  width:33.333%;
  overflow:hidden;
}

.terms_info{
  &:nth-child(3n){
    padding-left:60px;
  }
}

.terms_info li span {
  width:70px;
  margin-bottom:22px;
  font-size:1rem;
  display:inline-block;
}

.terms_info li:last-child span {
  margin-bottom:0;
}

.terms_info li a {
  display:inline-block;
}

.wid360 {
  width:360px !important;
}
.wid347 {
  width:347px !important;
}
.wid305 {
  width:305px !important;
}
.wid200 {
  width:200px !important;
}
.wid230 {
  width:230px !important;
}
.wid480 {
  width:480px !important;
}

.terms_tit {
  margin:40px 0;
  font-size:1.25rem;
  color:#333;
  font-weight:800;
  line-height:40px;
}

.terms_txt li {
  margin-bottom:40px;
}

.terms_sub_tit {
  margin-bottom:17px;
  color:#333;
  font-weight:bold;
  line-height:14px;
  display:block;}

.terms_sub_txt {
  display:block;
  margin:5px 0 20px 16px;
  font-size: 1rem;
  line-height: 1.7;
}

.tbl_st01 {
  width:100%;
  border-top:1px solid #c7c4c7;
  border-spacing:0;
  border-collapse:collapse;}
.tbl_st01 caption{
  display: none;
}
.tbl_st01 thead th{
  padding:5px 10px;
  color:#383838;
  line-height:1.7;
  font-weight:700;
  background:#ececec;
  border-right:1px solid #dadada;
  border-bottom:1px solid #dadada;
  text-align:center;
}
.tbl_st01 thead th:last-child {
  border-right:0;
}
.tbl_st01 tbody td, .tbl_st01 tbody th {
  padding:5px 10px;
  line-height:1.5;
  font-size: 1rem;
  border-right:1px solid #dadada;
  border-bottom:1px solid #dadada;
  text-align:center;
  vertical-align: middle;
}
.tbl_st01 tbody td:last-child {
  border-right:0;
}
.link_underline{
  line-height:1.7;
}

.mail_box {
  padding: 60px 0 40px 264px;
  background: url(/static/ap/images/img_mail.png) no-repeat 107px 54px;
}

.ml8{
  margin-left: 8px;
}
.pl75{
  padding-left: 75px;
}

.mgb0 {
  margin-bottom: 0px !important;
}