// 1024
@media screen and (max-width:1024px) {
  // layout
  .contents{
    width: 100%;
    min-width: 100%;

  }



  //.contents-visual{
  //  &.departure-procedures{
  //    margin-bottom:30px;
  //    height:inherit;
  //    padding-top:3em;
  //  }
  //}

  .local {
    &-list {
      &-item {
        width: 14.2857%;
      }
    }
    &-town {
      padding: 30px 15px;
      &-item {
        width:33.33%;
        border:0;
        margin:0;
      }
    }
  }
}

// 640
@media screen and (max-width:1024px) {

  .location{
    display:none;
    position: static;
    padding:10px 15px;
    height: auto;
    border-bottom: 1px solid #d9d9d9;
    &-btn{
      display:none;
      position: static;
    }
    &-bar{
      position: static;
      &-nav{
        &-item {
          display:none;
          padding-left: 20px;
          float: left;
          line-height:1.7;
          &-link{
            color: #666;
            font-size:0.75rem;
          }
          &:last-child{
            display:block;
            width:100%;
            text-align: center;
            padding: 0;
            .location-bar-nav-item-link{
              font-size:0.825rem;
              font-weight:900;
            }
          }
        }
      }
    }
  }


  // 검색창 input
  .search-flight-search-txt+.search-flight-search-btn{
    width: 100%!important;
    text-indent:0!important;
    &:after{
    }
  }
  .search-flight{
    padding:0 0 10px;
    border-top:0;
    min-width:100%;
    .search-flight-search-option+.search-flight-search-txt{
      border-top:0;
    }
    &-search{
      width:100%;
      font-size:1rem;
      font-weight:700;
      background:#f8f8f8;
      &-txt{
        width:100%;
        margin-right:0;
        position:static;
        height:40px;
        line-height:40px;
        border:1px solid #d9d9d9;
        border-bottom:0;
        color:#999;
      }
      &-option{
        width:100%;
        height:40px;
        text-align:center;
      }
      &-btn{
        width:40px!important;
        height:40px!important;
        text-indent:-999em!important;
        padding:0;
        &.ico{

          font-size:1rem;
          text-indent:0;
        }
        &.ico:after{

          top:0!important;
          left:0;
          right:0!important;
          bottom:0;
          margin:auto;
        }

      }
      .search-flight-search-txt+.search-flight-search-btn{
        width:100%;
        font-size:1.125rem;
        padding:0;
        text-indent:0;
        margin-top:0;
        &.ico{

        }
        &.ico:after{
          display:none;
        }
      }
    }
  }
  //filter search
  .search-flight-detail{
    min-width:100%;
    &-option{
      float: none;
      margin-right:0;
      margin-bottom:10px;
      input[type="radio"].radio{
        & + .search-option-btn{
          width:50%;
          text-align:center;
          height: 40px;
          line-height: 40px;
        }
      }
    }
    &-select{
      height: auto;
      float: none;
      &-article{
        width: 50%;
        padding:0 10px;
        border-bottom:1px solid #d9d9d9;
        //border-right:0;
        height:40px;
        line-height:40px;
        &:nth-child(4n){
          border-right:0;
        }
        &.double{
          .search-flight-detail-select-article{
            width:50%;
            &:last-child{
              border-right:0;
              border-left:0;
            }
          }
          .dash{
            display:none;
          }
        }
      }
      &-airplane{
        height:40px;
        line-height:40px;
        width:calc(100% - 40px);
      }
      &-btn{
        width:40px;
        height:40px;
        &:after{
          //display:none;
        }
        &:before{
          //
          //display: block;
          //width:100%;
          //height:50px;
          //color:#fff;
          //font-size:1.125rem;
          //font-weight:700;
          //text-align: center;
          //text-indent:14px;
          //line-height:50px;
          //position:absolute;
          //top:0;
          //left:0;
        }
      }
    }
  }
  // 서브 탭
  .inner-tab2{
    width:100%;
    position: static;
    .btn-type-tab{
      box-sizing: border-box;
      width:50%;
      height: 50px;
    }
  }


  // 팝업 지도 기능 이미지1
  .map-departure-congestion01{
    height:240px;
    .map-absolute-area{
      width: 256px;
      height: 184px;
      background-size:contain;
    }
  }
  // 팝업 지도 기능 이미지2
  .map-departure-congestion02{
    height:240px;
    & .map-absolute-area{
      width: 256px;
      height: 184px;
      background-size:contain;
    }
  }
  // 팝업 지도 기능 포인터
  .congestion{
    &-mark1-1{
      position: absolute;
      top: 178px;
      left: 322px;
    }
    &-mark1-2{
      position: absolute;
      top: 82px;
      left: 158px;
      .congestion-mark-number{
        left: 31px;
        top: 9px;
      }
    }
    &-mark1-3{
      position: absolute;
      top: 72px;
      left: 133px;
    }
    &-mark1-4{
      position: absolute;
      top: 72px;
      left: 77px;
    }
    &-mark1-5{
      position: absolute;
      top: 84px;
      left: 45px;
      .congestion-mark-number{
        right: -20px;
        top: 9px;
      }

    }
    &-mark1-6{
      position: absolute;
      top: 179px;
      right: 161px;
    }

    &-mark2-1{
      position: absolute;
      top: 72px;
      left: 138px;
    }

    &-mark2-2{
      position: absolute;
      top: 72px;
      left: 70px;
    }

    &-mark{
      &-number{
        position:absolute;
        border: 1px solid #7d7d7d;
        height:20px;
        &:after{
          display:none;
        }
        &:before{
          display:none;
        }
      }

    }

    &-mark{
      &-color{
        position:absolute;
        width: 14px!important;
        height: 14px!important;
        font-size:0.75rem;
        line-height:14px!important;
        left: 19px;
        right: 0;
        bottom: -42px;
      }
    }
  }
  // 스크롤 테이블
  .table2{
    &-article {
      position: static;
      padding-top:0;
      &-box {
        height:auto;
        overflow: inherit;
      }
    }
    &.vt-dark{
      text-align:center;
      th{
        text-align:center;
      }
      td{
        text-align:center!important;
      }
    }
    table{
      position: static;
    }
    thead tr{
      position: static;
    }
    thead th{
      &.wid{
        width:auto;
      }
      width: auto;
    }
    thead th:first-child{
      width: auto;
    }
    tbody{
      display: table-row-group;
      height: auto;
    }
    tbody tr{
      height:auto;
    }
    tbody td{
      text-align: center;
    }
  }
  .table-guide{
    &-btn{
      width:100%;
      float: none;
      padding: 0;
      &-text{
        font-size: 0.825rem;
      }
    }

    &-ico{
      float:right;
      margin-left:0;
    }

    &-pop-up{
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      margin-bottom:20px;
      background: #fff;
      border: 2px solid #42519e;
      &-depth{
      }
      &-list{
        margin-bottom: 10px;
      }
      &-item{
        &:first-child{
          width: 70px;
        }
        font-size: 0.825rem;
        letter-spacing: -1px;
        margin-left:0;
        float: left;
        line-height: 1;
        &:before{
          width: 14px;
          height: 14px;
        }
      }
    }

    &-list{
      float: none;
      display:inline-block;
      margin-top:20px;
    }

    &-item{
      margin-left: 6px;
      line-height:1;
      letter-spacing:-1px;
      &:first-child{
        margin-left:0;
      }
      &:before{
        margin-right:4px;
        width: 14px;
        height: 14px;
      }

    }
  }

  // layer popup
  .layer{
    padding:15px;
    &.find-my-terminal{
      br{
        display:none;
      }
      min-width:100%;
      border: none;
      padding: 40px 15px 0;
      .layer-area{
        text-align:center;
        padding:0;
      }
      .layer-title{
        font-size:1.5rem;
        &:before{
          margin:0 auto 15px;
        }
      }
      .layer-article{
        margin-bottom:0;
      }

      .layer-check{
        width:100%;
        height:50px;
        font-size: 1rem;
        line-height:50px;
      }
      .layer-search{
        width:100%;
        height:50px;
        line-height:50px;
        border: 0;
        font-size: 1rem;
      }
      .layer-inputbox{
        display:inline-block;
        width:100%;
        &-desc{
          color:#fff;
          margin:10px 0;
        }
      }
      .layer-inputbox-btn{
        padding:16px;
        margin-bottom:10px;
        display:block;
        width:100%;
        font-size:1rem;
      }

    }
    &.system{
      min-width:100%;
      border: none;
      padding: 40px 15px 0;
      br{
        display:none;
      }

      .layer-system-list{
        &:last-child{
          margin:0 auto 15px auto;
        }
        &-tit{

        }
        &-desc{
          color:#fff;
          text-align:left;
          line-height:1.7;
        }
      }

      .layer-system-desc{
        color:#fff;
        margin-bottom:20px;
        &.point{
          margin-bottom:20px;
        }
        &.systemico:after{
          margin:20px auto 50px;
        }
      }
      .layer-title{
        font-size:1.5rem;
        &:after{
          margin: 15px auto 15px;
        }
      }

      .btn-group{
        margin-top:20px;
      }
      .layer-inputbox-btn{
        min-width:100%;
        margin-left:0;
        padding:10px;
        border-radius:50px;
        margin-top:10px;
        font-size:1rem;
        &:first-child{
          margin-left:0;
        }

        &:after{
          content:'';
          display:block;
          width:6px;
          height:10px;
          background:url(/static/ap/images/ico_system_arrow.png ) center no-repeat;
          position:absolute;
          right:10px;
          top:0;
          bottom:0;
          margin:auto;
        }
      }

    }
    .list1-item{
      br{
        display:none;
      }
    }
    width: 100%;
    height:100%;
    border:0;
    position:fixed;
    top:0;
    left:0;
    transform:none;
    overflow:auto;
    &-wrap{
      position:absolute;
    }
    &.size{
      width: 100%;
    }
    &.capchasize{
      width:100%;
    }
    &.md-terminal{
      width: 100%;
    }
    &.address-layer{
      width: 100%;
      &.size{
        width: 100%;
      }
      &.max-size{
        width: 100%;
        &.max-height{
          max-height:inherit;
        }
      }
    }

    &.login-area{
      width: 100%;
    }
    &.questionnaire{
      width: 100%;

    }
    &-area{
      padding: 0;
    }
    &-title{
      padding-bottom: 14px;
      margin-bottom: 24px;
      border-bottom: 1px solid #42519e;
      font-size: 1rem;
      &.login{
        font-size: 2rem;
      }
    }
    &-sub{
      font-size:0.825rem!important;
    }
    &-input-text.user-text{
      width:100%;
      height: 50px;
    }
    &-close{
      width: 16px;
      height: 16px;
      top: 16px;
      right: 15px;
    }

    &.login{

      right:0;

    }

    &-article{
      margin-bottom:20px;
      position: relative;
      &-title{
        margin-bottom: 14px;
        font-size:0.9375rem;
        &.float{
          margin: 0;
          float: none;
          line-height: 32px;
        }
      }
      &-input{
        width: 100%;
        height: 50px;
      }
      &-box{
        width: 100%;
        height: 124px;
        padding:14px;
        &-sub{
          margin-bottom: 7px;
          font-size:0.875rem;
        }
        &-txt{
          font-size:0.875rem;
        }
      }
      p{
        font-size: 0.75rem;
        font-weight:700;
      }
      button{
        height: 50px;
        font-size: 1.5rem;
      }
      &.article2{
        margin-bottom: 10px;
        margin-top: 15px;
      }
    }
    .info-desc{
      font-size: 0.75rem;
    }
    .inner-col{
      text-align:center;
    }
    &-btn{
      float: left;
      &-login{
        width:100%;
        height: 40px;
        font-size: 1rem;
      }
    }
  }
  // layer popup :: footer
  .enter{
    padding: 20px 15px;
    background:#fff;
    border-top:0;
    &-btn{
      width: 100%;
    }
  }

  //.article3{
  //  width: 100%;
  //  float: none;
  //  margin-bottom: 30px;
  //}

  //.article5{
  //  width: 100%;
  //  float: none;
  //  margin:0;
  //&:first-child{
  //  margin-left: 0;
  //}
  //  .layer-article-title{
  //    float: none;
  //    font-size: 1.25rem;
  //    font-weight: 700;
  //    padding-bottom: 10px;
  //    position: relative;
  //    &:after{
  //      width:100%;
  //    }
  //  }
  //  .ir-technique{
  //    text-indent: -99999em;
  //    display: block;
  //  }
  //  .bus-stop1{
  //    width: 100%;
  //    height: 460px;
  //  }
  //  .bus-stop2{
  //    width: 100%;
  //    height: 460px;
  //  }
  //}
  //
  //.article4{
  //  width:100%;
  //  float:none;
  //  margin-left:0;
  //  margin-bottom: 30px;
  //  .layer-article-title{
  //
  //    &:after{
  //      content: '';
  //      display: block;
  //      width: 325px;
  //      height: 1px;
  //      background: #b3b3b3;
  //    }
  //  }
  //  .airline1{
  //    background: url(/static/ap/images/bg_terminal_interconnection_01.png)no-repeat;
  //    width:100%;
  //    height: 243px;
  //    float: none;
  //    display:block;
  //  }
  //  .airline2{
  //    background: url(/static/ap/images/bg_terminal_interconnection_02.png)no-repeat;
  //    width:100%;
  //    height: 244px;
  //    float: none;
  //    display:block;
  //  }
  //  .ir-technique{
  //    text-indent: -99999em;
  //    display: block;
  //  }
  //}

  // contents visual
  .contents-visual{
    &-head{
      font-size:1.125rem;
      margin-bottom:20px
    }
    .inner-section{
      padding:0;
    }
    &.departure-procedures{
      padding:30px 15px;
    }
    &.airline-city{
      padding: 30px 0 0;
    }
    .sub-top-descbox{
      padding-bottom:30px;
    }
    min-height:inherit;
    height:auto;
    //height:240px;
    padding: 30px 0 0;
    background-size: cover!important;
    &.search-airline{
      padding:30px 0 0;
    }
    &.facilities{
      padding:30px 0 0;
      .search-airline-name{
       margin-bottom:30px;
      }
    }
    &.path-departure{
      padding:30px 0 0;
    }
  }
  .congestion{
    border-left:0;
    padding-left:0;
    float: none;
    position:static;
    margin-bottom:15px;
    &-title{
      padding:0 15px;
      font-size:1.125rem;
      br{
        display:none
      }
    }

    &-quick-link{
    }
  }

  // common
  .tab{
    &-main{
      width:100%;
      height:auto;
      margin-bottom:15px;
      padding:0 30px;
      &-list{
        width:100%;
        &-item{
          width:50%;
          &-link{
            width:100%;
            height:40px;
            line-height:40px;
            display: inline-block;
            border: 1px solid rgba(255, 255, 255, .5);
            font-size: 1rem;
          }
        }
      }
    }

    &-sub{
      position: static;
      &-list{
        display:flex;
        &-item {
          float: left;
          width:50%;
          height:auto;
          &-link{
            font-size: 	1rem;
            letter-spacing:-1px;
            line-height:1.4;
            padding:15px;

          }
          &+.tab-sub-list-item{
            margin-left:0;
          }
        }
      }
    }
  }

  .tab{
    &-nav{
      &-list{
        &-link{
          height:54px;
          border-bottom-color:#d9d9d9;
          font-size:1rem;
          letter-spacing:-1px;
          &.on{
            border-bottom:2px solid #42519e;
          }
          &.active{
            height:54px;
            padding:14px 10px;
            line-height:1.4;
          }
        }
      }
    }
    &-area{
      height: 100%;
      left:0;

      &-heading{
        border:2px solid #d9d9d9;
        font-size:1rem;
        &.on{
          border-bottom:2px solid #42519e;
        }
      }
    }
  }

  // search
  .search-airline{
    &-head{
      padding:0 15px;
      &-title{
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 400;
        padding-top:10px;
      }
    }
    &-name{
      display:inherit;
      margin-bottom:30px;
      &-option{
        width:100%;
        height: 50px;
        font-size: 1rem;
        border:1px solid #d9d9d9
      }
      &-txt{
        width:calc(100% - 40px);
        height: 40px;
        font-size: 1rem;
      }
      &-btn{
        width:40px;
        height:40px;
        padding-left:0;
        font-size:1.125rem;
        line-height:50px;
        &.ico{
          text-indent:-999em;

        }
        &.ico:after{
          left:0;
          right:0;

        }
      }
    }
  }

  .contents-visual.search-airline{
    .search-airline{
      &-name{

        &-option{
          width:40%;
          height: 40px;
         }
        &-txt{
          width:calc(60% - 40px);
          height: 40px;
        }
        &-btn{
          width:40px;
          height:40px;
        }
      }
    }
  }

  .update{
    margin-bottom: 10px;
    text-align: left;
    overflow:hidden;
    &-time{
      line-height:26px;
    }
    &-refresh{
      float:right;
      width:26px;
      padding:0;
      line-height:inherit;
      border-radius:50%;
      &.ico{
        text-indent:-9999px;
      }
      &.ico:after{
        top:3px;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
      }
    }
    &.mb10{
      margin-bottom: 10px;
    }
  }
  .local {
    &-list {
      &-item {
        width: 33.33%;
        border-right: 1px solid #d9d9d9;
        border-top: 1px solid #d9d9d9;
        &:last-child{
          width:100%;
        }
        &:nth-child(3n){
          border-right:0;
        }
        &-link{
          font-size:0.875rem;
          &:after{
            display:none;
          }
        }
      }
    }
    &-town {
      padding:20px;
      &-item {
        text-align:left;
        padding-right:0;
        &-link{
          font-size:0.875rem;

        }
      }
    }
  }

  .question{

    &-wrap{
      margin-bottom: 10px;
      padding-bottom: 10px;
      &.last-question{
        border: 0;
        margin-bottom: 0;
      }
    }
    &-num{
      font-size: 0.825rem;
      padding: 10px ;
      margin-right:0;
      float:none;
      margin-bottom:10px;
    }
    &-txt{
      line-height:1.4;
      float:none;
    }
    &-length{
      font-size:0.825rem;
    }
  }

  .site-map{
    &-heading{
      font-size: 1.125rem;
      padding-bottom:10px;
    }
    &-list{
      &-depth1{
        &-item{
          width:100%;
          float:none;
          margin-right:0;
          margin-bottom:20px;
          border: 1px solid #d9d9d9;
          padding: 20px;
        }
      }
      &-depth2{
        padding-top: 10px;
        border:none;
        &-item{
          border-bottom:1px solid #d9d9d9;
        }
      }
    }
  }

  .global-search{
    border-bottom:0;
    &-area{
      &-field{
        width:100%;
        &-txt{
          width:calc(100% - 40px);
          height: 50px;
          padding: 0 15px;
          border:1px solid #d9d9d9;
          font-size: 1rem;
        }
        &-btn{
          width:40px;
          height: 40px;
          padding-left: 30px;
          line-height: 50px;

          &.ico{
            text-indent:-999em;
            padding:0;
            &:after{
              //display:none;
              top:0;
              right:0;
              left:0;
              bottom:0;
              margin:auto;
            }
          }
        }
        &-checkbox{
          display:block;
          position:static;
          float: none;
          margin-top:10px;
        }
      }
    }
    &-option{

    }
    &-tag{
      margin:10px 0;
      &-item{
        margin-left:15px;
        &-link{
          font-size:0.825rem;
        }
      }
    }
    .tab-nav{
    }
    &-word {
      //width: 170px;
      padding:10px 0;
      background: #fff;
      //border: 1px solid #d9d9d9;
      //float:right;
      //margin-top:65px;

      &-title{
        font-family: nanumsq, sans-serif;
        font-weight: 700;
        font-size:1.25rem;
        margin-bottom: 20px;
      }
      &-list{
        clear:both;
        overflow:hidden;
        &-item{
          float:left;
          width:50%;
          &-link{
          }
        }
      }
      .word-list-btn{
        position: absolute;
        top:30px;
        right:20px;
        &-link{
          width: 20px;
        }
      }
    }
    &-result-tab{
      display: block;
      text-align: center;
    }
    &-category{


      width:100%;
      &-item{
        width:33.33%;
        &+.global-search-category-item{
          border-left:none;
        }
        &:nth-child(4),:nth-child(7){

        }
        &-link{
          width: 100%;
          padding:0;
          font-size: 0.825rem;
          line-height: 1.8;
          &:before{
            display:none;
          }
        }

      }
      &.co{
        .global-search-category-item-link{
          width:150px ;
        }
      }
    }

    &-result{
      width: 100%;
      margin-top: 10px;
      .multi-col.line:before {
        display:none;
      }
      &-total{
        margin-top: 15px;
        font-size: 1rem;
      }

      &-box{
        margin:0;
        position: relative;
        &-title{
          font-size: 1.125rem;
          padding: 20px 0;
          border-bottom:1px solid #d9d9d9;
        }
        &-quick{
          position: static;
          &-list{

            .box-quick{
              &-title{
                color: #666;
                font-size: 1rem;
                float: none;
                text-align:center;
                margin-top: 10px;
                margin-bottom:10px;
                margin-right:0;
              }
              &-item{
                width: calc(33.33% - 10px);
                margin-right: 10px;
                .btn-type-small{
                  font-size:1rem;
                  margin-left:0;
                }
              }
            }
          }
        }

        .list{
          padding:20px 0;
          &-item{
            width:100%;
            float:none;
          }
        }
      }


      .result-category{
        padding-top:0;
        &-article{
          &-more{
          }
          .not-find{
          }
        }
        &-title {
          font-size: 1.125rem;
        }
        .table.vt.borad-view{
          &+.table.vt.borad-view{

          }
          .reply-box{
            padding:10px 0 60px 0;
            .reply-head{

            }
            .reply-body{
              &-desc{
                font-size: 1.125rem;
              }
              &-txt{
                font-size: 1rem;
              }
              .thum{
                width: 100%;
                height: auto;
                float: none;
                margin-right:0;
                .imgbox-extend{
                  height:auto;
                  img{
                    width:100%;
                    margin-bottom:10px;
                  }
                }

              }
            }
            .view-file{
              border: none;
              padding: 10px 0;
            }
          }
        }
      }
    }

    &-research{
      position:static;
      top:15px;
      right:-205px;
      .checkbox-label{
        margin-top:10px;
      }
    }
  }

  .tab-sub.col-3{
    .tab-sub-list-item{
      width:33.33%;
      &:first-child{
        margin-left:0;
      }
    }

  }


  .digr-incheon-airport-glance01{
    height: 194px;
    background-size:contain;
  }

  .digr-incheon-airport-glance02 {
    height: 194px;
    background-size:contain;
  }

  .layer{
    .tab-area-heading{
      width:50%!important;
    }
    &:nth-child(3){

    }
    .tab-area-heading+.tab-area-content+.tab-area-heading{
      left:50%!important;
    }
  }
  .layer.size.max-height {

    max-height: 100%;
    img {
      width:100%;
    }
  }


  //라운지쿠폰
  .layer-text-box{
    label{
      display: inline-block;
      width: 100%;
      line-height:1.4;
      text-align:center;
      margin:5px 0;
    }
    input{
      width: 100%;
    }
    .layer-text{
      width:100%;
    }

    &-right{
      label{
        display: inline-block;
        width: 100%;
        line-height: 1.4;
      }

      .timesetting-date-day{
        width: calc(100% - 40px);
      }
      .timesetting-date-calendar{
        height: 40px;
        width:40px;
      }
      .layer-text{
        width: 100%;
      }
    }
  }
  .tab-area-content{
    .writing{
      label{
        display:inline-block;
        width:100%;
        text-align:center;
        margin:5px 0;
      }
      .layer-text{
        width:100%;
      }

      .list1-item{
        line-height:1.4!important;
        padding-left:0;
        &:before{
          display:none;
        }
      }
      .mt20{
        margin:0;
      }
    }
  }

  .en{
    .global-search-category-item{
      height:70px;
    }
  }


}



