.contents{
  width: 100%;
  min-width: 1200px;
}

.location{
  position: relative;
  &-btn{

    position: absolute;
    top:20px;
    right:25px;
    & button{
      width: 44px;
      height: 22px;
      border: none;
      background:#fff;
      &+ button{
        border-left: 1px solid #f2f2f2;
      }
    }
  }
  &-bar{
    position: absolute;
    top:20px;
    left:25px;
    &-nav{
     @extend %clearfix;

     &-item {
       padding-left: 20px;
       float: left;
       line-height:1.7;
       &.ico{
         text-indent: 0;
         &:after{
           top:1px;
           left: auto;
           right: -10px;
         }
       }
       .home{
         &.ico{
           &:after{
             top:-2px;
             left: auto;
             right: 0;
           }
         }
       }
      &-link{
        color: #666;
        font-size:0.875rem;
        z-index: 1;
      }
     }
    }
  }
}

.contents-visual{
  min-height:300px;
  height:300px;
  padding-top: 70px;
  position:relative;
  background-size: cover;
  &-head{
    font-size: 2.25rem;
    .color-o{
      color:#dd7714;
    }
  }
  .inner-section{
    height:100%;
    position:relative;
    .bg-banner-iconlist{
      top: 10px;
    }
  }

  &.departure{
    background:url(/static/ap/images/bg_sub_visual_departure.jpg) center no-repeat;

  }
  &.search-airline{
    background:url(/static/ap/images/bg_sub_visual_airline.jpg) center no-repeat;
    padding-top: 53px;
  }

  &.facilities{
    padding-top: 53px;
    background:url(/static/ap/images/bg_base_top06.jpg) center no-repeat;
  }
  &.path-departure{
    background:url(/static/ap/images/bg_sub_visual_path_departure.jpg) center no-repeat;
    padding-top: 70px;
  }
  &.airline-city{
    background:url(/static/ap/images/bg_sub_visual_airline.jpg) center no-repeat;
    padding-top: 70px;
  }
  &.departure-procedures{
    background:url(/static/ap/images/bg_departure_procedures.jpg) center no-repeat;
  }

  &.bg1{
    background:url(/static/ap/images/bg_movie01.jpg) no-repeat;
  }

  //&.bg1{
  //  background:url(/static/ap/images/bg_base_top01.jpg) center no-repeat;
  //}
  //&.bg2{
  //  background:url(/static/ap/images/bg_base_top02.jpg) center no-repeat;
  //}
  //&.bg3{
  //  background:url(/static/ap/images/bg_base_top03.jpg) center no-repeat;
  //}
  &.bg4{
    background:url(/static/ap/images/bg_base_top04.jpg) center no-repeat;
  }
  &.bg5{
    background:url(/static/ap/images/bg_base_top05.jpg) center no-repeat;
  }
  //&.bg6{
  //  background:url(/static/ap/images/bg_base_top07.jpg) center no-repeat;
  //}
  &.path-departure{
    background:url(/static/ap/images/bg_sub_visual_path_departure.jpg) center no-repeat;
  }
  &.entry-route{
    background:url(/static/ap/images/bg_entry_route.jpg) center no-repeat;
  }
  //
  //&.bg7 {
  //  background: url(/static/ap/images/bg_parking_info.jpg) center no-repeat;
  //}
  &.bg8{
    background:url(/static/ap/images/bg_immigration_procedure.jpg) center no-repeat;
  }
  &.domestic{
    background:url(/static/ap/images/bg_domestic.jpg) center no-repeat;

  }
}

.congestion{
  width: auto;
  border-left: 1px solid rgba(255, 255, 255, .2);
  padding-left:24px;
  float: right;
  position: absolute;
  right: 24px;
  top: 0;
  text-align:center;
  &-title{
    margin-bottom: 10px;
    color:#fff;
    font-size: 1.5rem;
    line-height: 1.3;
    .point{
      color: #ffae44;
    }
  }

  &-quick-link{
    width: 126px;
    height: 30px;
    padding:0 10px;
    line-height: 30px;
    color:#fff;
    font-size: 0.875rem;
    border: 1px solid #fff;
    border-radius:20px;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;

    &.ico{
      text-indent:0;
    }
    &.ico:after{
      left:95px;
    }
  }
}

.tab{
  &-main{
    width: 416px;
    margin: 0 auto;
    text-align: center;
    &-list{
      display: inline-block;
      @extend %clearfix;
      &-item{
        float: left;
        &-link{
          width: 208px;
          height: 50px;
          line-height: 50px;
          color: #fff;
          font-weight: 700;
          display: inline-block;
          border: 2px solid rgba(255, 255, 255, .5);
          box-sizing: border-box;
          font-size: 1.5rem;
          &.on{
            background:#fff;
            color: #42519e;
            font-weight: 900;
          }
          &.left{
            border-top-left-radius: 5px;
            border-bottom-left-radius:5px;
            border-right:none;
          }
          &.right{
            border-top-right-radius: 5px;
            border-bottom-right-radius:5px;
            border-left:none;
          }
        }
      }
    }
  }

  &-sub{
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    text-align: center;
    &-list{
      width:100%;
      @extend %clearfix;
      &-item {
        float: left;
        width:calc(50% - 2px);
        height: 72px;
        margin-left: 4px;
        &-link{
          width:100%;
          height:100%;
          line-height:72px;
          background:rgba(66, 81, 158, .9);
          color: #fff;
          font-size: 	1.25rem;
          font-weight:300;
          display: inline-block;
          &.on{
            color: #42519e;
            background: #fff;
            font-weight: 800;
             }
          }
        &:first-child{
          margin-left:0;
        }
      }
    }
  }
}

.search-flight-detail{
  margin-bottom:20px;
  display: inline-block;
  &-option{
    @extend %clearfix;
    float: left;
    margin-right:15px;
    input[type="radio"].radio{
      display: none;
      & + .search-option-btn{
        height: 60px;
        padding:0 18px;
        line-height: 60px;
        cursor: pointer;
        display: block;
        background: #fff;
        border: 1px solid #a5a7aa;
        box-sizing: border-box;
        color: #666;
        font-size: 1rem;
        float: left;
        //&:after{
        //  content: "";
        //  width: 100%;
        //  height: 100%;
        //  position: absolute;
        //  top: 0;
        //  z-index: -1;
        //}
      }
      &:checked + .search-option-btn {
        cursor: default;
        color: #343951;
        font-weight: 800;
        border: 1px solid #323648;
        &:after{
          left: 0;
        }
      }
    }
  }
  &-select{
    height: 60px;
    border: 1px solid #666;
    box-sizing: border-box;
    float: left;

    &-article{
      width: 186px;
      height: 58px;
      padding:18px 10px;
      font-size: 1rem;
      box-sizing: border-box;
      border: none;
      border-right: 1px solid #d9d9d9;
      vertical-align: bottom;
      float: left;
      &.double{
        padding:0;
        .search-flight-detail-select-article{
          width:85px;
          float:left;
          &:last-child{
            border-right:0;
            border-left:1px solid #d9d9d9;
            float:right;
          }
        }
        .dash{
          font-size:0.75rem;
          float:left;
          display:block;
          height:100%;
          line-height:58px;
          padding:0 3px;
        }
      }
    }
    &-airplane{
      width: 189px;
      height:58px;
      line-height:58px;
      padding:0 10px;
      background: #fcfbe8;
      border: none;
      box-sizing: border-box;
      font-size: 1rem;
      float: left;
    }
    &-btn{
      width: 62px;
      height: 58px;
      padding:20px;
      border:none;
      vertical-align: bottom;
      background:#323648;
      text-indent: -9999px;
      display: inline-block;

    }
  }
}

.search-flight{
  padding: 35px 0;
  border-top: 1px solid #a5a7aa;
  text-align: center;

  &-search{
    display:inline-block;
    font-size: 1.875rem;
    color: #444;
    @extend %clearfix;

    &-txt{
      display:block;
      margin-right:20px;
      float:left;
      position:relative;
      top:15px;
    }
    &-option{
      display:block;
      height:58px;
      width: 180px;
      padding: 0 15px;
      margin-right:20px;
      float:left;
      font-size: 1.125rem;
      color: #666;
      border: 1px solid #d9d9d9;
    }
    &-btn{
      display:block;
      width: 130px;
      height: 58px;
      padding-left:40px;
      float:left;
      line-height:1;
      font-size: 1.625rem;
      color: #fff;
      background: #323648;
      border: none;
      &.size{
        width: 150px;
        padding-left: 25px;
        &.ico:after{
          right:80px;
          top:4px;
        }
      }
      strong{
        margin-left: 10px;
      }
      &.ico{
        text-indent:0;
      }
      &.ico:after{
        right:60px;
        top:4px;
      }
    }
  }
}

.search-airline{
  &-head{
    text-align: center;
    &-title{
      margin-bottom: 20px;
      color: #fff;
      font-size: 2.375rem;
      font-family:nanumsq, sans-serif;
      font-weight: 300;
    }
  }
  &-name{
    display:table;
    margin: 0 auto;
    @extend %clearfix;
    .checkbox-label{
      margin-left:32px;
      color:#fff;
      position:relative;
      bottom:4px;
    }
    .checkbox:checked + label {
      color: #fff;
    }
    &-tag{
      margin-top:8px;
      text-align:left;
      .search-tag-item{
        display:inline-block;
        margin-left:20px;
        &:first-child{
          margin-left:0;
        }
      }
      .search-tag-link{
        color:#fff;
        font-size:1rem;
      }

    }
    &-result{
      display:block;
      text-align:right;
      color:#fff;
      font-size:1rem;
    }
    &-option{
      width: 182px;
      height: 58px;
      padding: 0 15px;
      line-height: 1;
      border: none;
      font-size: 1.125rem;
      float: left;
    }
    &-txt{
      width: 323px;
      height: 58px;
      padding: 0 15px;
      border: 0;
      font-size: 1.25rem;
      color: #666;
      font-weight: 300;
      border-left:1px solid #d9d9d9;
      float: left;
      &.wide{
        width:520px;
      }
    }
    &-btn{
      width: 132px;
      height: 58px;
      padding-left: 30px;
      background:#42519e;
      border: none;
      color: #fff;
      font-size: 1.625rem;
      line-height: 58px;
      &.ico{
        text-indent:0;
      }
      &.ico:after{
        top:1px;
        right:62px;
      }
    }
  }
}

.global-search{
  border-bottom: 1px solid #42519e;

  &-area{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    &-field{
      display: inline-block;
      position:relative;
      @extend %clearfix;
      &-txt{
        width:520px;
        height: 58px;
        padding: 0 15px;
        font-size: 1.25rem;
        color: #666;
        font-weight: 300;
        border:4px solid #42519e;
        float: left;
      }
      &-btn{
        width: 132px;
        height: 58px;
        padding-left: 30px;
        background:#42519e;
        border: none;
        color: #fff;
        font-size: 1.625rem;
        line-height: 58px;
        float: left;
        &.ico{
          text-indent:0;
          &:after{
            background-position: -74px -134px;
            width: 22px;
            height: 22px;
            top:1px;
            right:62px;
          }
        }
      }
      &-checkbox{
        display: inline-block;
        position: absolute;
        left: 80%;
        top: 15px;
        float: right;
      }
      //.checkbox-label{
      // float: left;
      //  margin: 15px 30px;
      //}
    }
  }
  &-option{
    width: 182px;
    height: 58px;
    padding: 0 15px;
    line-height: 1;
    border: none;
    font-size: 1.125rem;
    float: left;
  }
  &-tag{
    margin:10px 0 30px;
    text-align:center;
    &-item{
      display:inline-block;
      margin-left:20px;
      &:first-child{
        margin-left:0;
      }
      &-link{
        color:#666;
        font-size:1rem;
      }
    }
  }
  .tab-nav{
    position: relative;
    bottom: -1px;
  }
  &-word {
    //width: 170px;
    padding: 30px 20px 20px;
    background: #fff;
    //border: 1px solid #d9d9d9;
    //float:right;
    //margin-top:65px;

    &-title{
      font-family: nanumsq, sans-serif;
      font-weight: 700;
      font-size:1.25rem;
      margin-bottom: 20px;
    }
    &-list{
      &-item{
        &-link{
          color: #323648;
          .num{
            width: 22px;
            height: 22px;
            display: inline-block;
            text-align: center;
            font-size: 0.875rem;
            border: 1px solid #666;
            margin-right: 8px;
          }
        }
      }
    }
    .word-list-btn{
      position: absolute;
      top:30px;
      right:20px;
      &-link{
        width: 20px;
        display: inline-block;
        position: relative;
        text-indent: -999em;
        &:after{
          content: '';
          display: block;
          position:absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: auto;
          background: url(/static/ap/images/ico_btn_search_word.png) no-repeat;
        }
        &.pre{
          float: left;
          &:after{
            background-position:0 0;
            width: 19px;
            height: 20px;
          }
        }
        &.next{
          &:after{
            background-position:-19px 0;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  &-result-tab{
    display: block;
    text-align: center;
  }
  &-category{
    display:inline-block;
    @extend %clearfix;

    &-item{
      float: left;
      line-height: 1.2;
      width:auto;
      padding:0 10px;

      &+.global-search-category-item{
        border-left: 1px solid #d9d9d9;

      }
      &-link{
        width:100%;
        padding: 10px 10px 10px 45px;
        display:inline-block;
        font-family: spoqa, sans-serif;
        font-size: 1rem;
        text-align: center;
        position: relative;
        .result-num{
          color: #42519e;
          font-weight: 800;
          display: block;
          text-align: center;
        }
        &:before{
          content: '';
          display:block;
          padding-left: 5px;
          margin: 0 auto;
          position: absolute;
          top:20px;
          left:10px;
          right:auto;
          bottom:0;
          background: url(/static/ap/images/spr_ico_global_search_category.png) no-repeat;
        }
        &.search-all{
          &:before{
            background-position:-21px -12px;
            width: 22px;
            height: 22px;
          }
        }
        &.search-start{
          &:before{
            background-position:-64px -18px;
            width: 24px;
            height: 10px;
          }
        }
        &.search-arrive{
          &:before{
            background-position:-110px -15px;
            width: 22px;
            height: 15px;
          }
        }
        &.search-transfer{
          &:before{
            background-position:-158px -13px;
            width: 16px;
            height: 19px;
          }
        }
        &.search-traffic{
          &:before{
            background-position:-191px -12px;
            width: 22px;
            height: 22px;
          }
        }
        &.search-shopping{
          &:before{
            background-position:-230px -12px;
            width: 22px;
            height: 22px;
          }
        }
        &.search-service{
          &:before{
            background-position:-318px -12px;
            width: 22px;
            height: 22px;
          }
        }
        &.search-map{
          &:before{
            background-position: -272px -11px;
            width: 22px;
            height: 24px;

          }
        }
        &.search-cs{
          &:before{
            background-position:-356px -12px;
            width: 22px;
            height: 22px;
          }
        }
        &.search-co{
          &:before{
            background-position:-21px -52px;
            width: 22px;
            height:23px;
          }
        }
        &.search-cyber{
          &:before{
            background-position:-64px -52px;
            width: 31px;
            height:23px;
          }
        }
        &.search-client{
          &:before{
            background-position:-105px -49px;
            width: 24px;
            height:24px;
          }
        }
        &.search-business{
          &:before{
            background-position:-155px -51px;
            width: 26px;
            height:20px;
          }
        }
        &.search-support{
          &:before{
            background-position:-193px -51px;
            width: 23px;
            height:21px;
          }
        }
        &.search-recruit{
          &:before{
            background-position: -232px -47px;
            width: 23px;
            height: 22px;
          }
        }
      }

    }
    &.co{
      .global-search-category-item-link{
        width:150px ;
      }
    }
  }

  &-result{
    width: 100%;
    margin-top: 30px;
    text-align: left;
    border-top: 1px solid #d9d9d9;
    .multi-col.line:before {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background: #d9d9d9;
      position: absolute;
      top: 0;
      left: 80%;
    }
    &-total{
      margin-top: 30px;
      font-size: 1.25rem;
    }
    &-box{
      margin: 5px 0 30px;
     // border:1px solid #d9d9d9;
      position: relative;
      &-title{
        font-size: 1.25rem;
        font-weight: 800;
        padding: 20px 30px;
        border-bottom:1px solid #d9d9d9;
      }
      &-quick{
        position: absolute;
        top:15px;
        right:20px;
        &-list{
          @extend %clearfix;
          .box-quick{
            &-title{

              color: #666;
              font-size: 1rem;
              float: left;
              margin-top: 8px;
              margin-right: 10px;
            }
            &-item{
              float: left;
              .btn-type-small{
                font-size: 0.875rem;
                min-width: 95px;
                margin-left: 10px;
              }
            }
          }
        }
      }
      &-ico{
        display: inline-block;
        position: relative;
        text-indent: -999em;
        padding-right: 15px;
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: auto;
          background: url(/static/ap/images/spr_ico_search_result_box.png) no-repeat;
        }
        &.map{
          &:before{
            background-position: -10px -10px;
            width: 24px;
            height: 24px;
          }
        }
        &.link{
          &:before{
            background-position: -44px -10px;
            width: 24px;
            height: 24px;
          }
        }
      }
      .list{
        @extend %clearfix;
        padding: 20px 30px;
        &-item{
          width: 33.333%;
          float: left;
          font-size: 1rem;
          margin-bottom: 10px;
          em{
            margin-left: 20px;
          }
        }
      }
    }


    .result-category{
      padding-top: 30px;
      &-article{
        border-bottom: 1px solid #d9d9d9;
        position: relative;
        &-more{
          position: absolute;
          top: 37px;
          right: 0;
          font-size: 1rem;
          display: inline-block;
          padding-right:30px;
          &:after{
            content: '';
            display:inline-block;
            position: relative;
            top: 0;
            right:-10px;
            left: auto;
            bottom: 0;
            margin: auto;
            background: url(/static/ap/images/ico_arrow_result_category_btn.png) no-repeat;
            width: 7px;
            height: 13px;
          }
        }
        .not-find{
          padding: 40px 0;
          text-align: center;
          border-top: 1px solid #d9d9d9;
        }
      }
      &-title {
        padding: 30px 45px  25px;
        font-size: 1.25rem;
        font-weight: 800;
        &:before{
          content: '';
          display: block;
          margin: 0 auto;
          position: absolute;
          top: 33px;
          left: 10px;
          right: auto;
          bottom: 0;
          background: url(/static/ap/images/spr_ico_global_search_category.png) no-repeat;
        }
        &.search-all {
          &:before {
            background-position: -21px -12px;
            width: 22px;
            height: 22px;
          }
        }
        &.search-start {
          &:before {
            background-position: -64px -18px;
            width: 24px;
            height: 10px;
          }
        }
        &.search-arrive {
          &:before {
            background-position: -110px -15px;
            width: 22px;
            height: 15px;
          }
        }
        &.search-transfer {
          &:before {
            background-position: -158px -13px;
            width: 16px;
            height: 19px;
          }
        }
        &.search-traffic {
          &:before {
            background-position: -194px -12px;
            width: 22px;
            height: 22px;
            top: 30px;
          }
        }
        &.search-shopping {
          &:before {
            background-position: -235px -12px;
            width: 22px;
            height: 22px;
            top: 30px;
          }
        }
        &.search-service {
          &:before {
            background-position: -315px -12px;
            width: 30px;
            height: 23px;
            top: 30px;
          }
        }
        &.search-map {
          &:before {
            background-position: -272px -11px;
            width: 27px;
            height: 24px;
            top: 29px;
          }
        }
        &.search-cs{
          &:before{
            background-position: -361px -12px;
            width: 22px;
            height: 22px;
            top: 30px;
          }
        }
        &.search-co{
          &:before{
            background-position:-21px -52px;
            width: 22px;
            height:23px;
            top:30px;
          }
        }
        &.search-cyber{
          &:before{
            background-position:-64px -52px;
            width: 31px;
            height:23px;
            top:30px;
          }
        }
        &.search-client{
          &:before{
            background-position:-105px -49px;
            width: 30px;
            height:24px;
            top:30px;
          }
        }
        &.search-business{
          &:before{
            background-position:-155px -51px;
            width: 26px;
            height:20px;
            top:30px;
          }
        }
        &.search-support{
          &:before{
            background-position:-193px -51px;
            width: 23px;
            height:21px;
            top:30px;
          }
        }
        &.search-recruit{
          &:before{
            background-position: -232px -47px;
            width: 26px;
            height: 22px;
            top:30px;
          }
        }
    }
      .table.vt.borad-view{
        border-top: 1px solid #d9d9d9;
        border-bottom:1px solid #d9d9d9;
        &+.table.vt.borad-view{
          border-top: none;
          border-bottom:none;
        }
        .reply-box{
          padding: 20px 40px;
          margin-bottom: 0;
          border: none;
          background: #fff;
          .reply-head{
            margin:10px 0 0 0;
          }
          .location-list{
            @extend %clearfix;
            &-item{
              float: left;
              display: inline-block;
              position: relative;
              padding-right: 20px;
              font-size: 0.875rem;
              &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right:6px;
                left: auto;
                bottom: 0;
                margin: auto;
                background: url(/static/ap/images/ico_arrow_search_location_list.png) no-repeat;
                width: 5px;
                height: 9px;
              }
              &:last-child{
                &:after{
                  background: none;
                }
              }
            }
          }
          .reply-body{
            &-desc{
              margin-bottom:10px;
              font-size: 1.25rem;
            }
            &-txt{
              font-size: 1rem;
              line-height: 1.7;
            }
            .thum{
              width: 103px;
              height: 103px;
              border: 1px solid #d9d9d9;
              text-align: center;
              float: left;
              margin-right: 20px;
              &.error{
                display: none;
              }
            }
          }
          .view-file{
            border: none;
            padding: 10px 0;
          }
        }
      }
    }
  }

  &-research{
    position:absolute;
    top:15px;
    right:-205px;
  }
}

.update{
  margin-bottom: 20px;
  text-align: right;
  &-time{
    font-size: 0.875rem;
    color: #666;
    margin-right: 10px;
  }
  &-refresh{
    height: 26px;
    padding: 0 10px  0 25px;
    line-height: 21px;
    border: 1px solid #d9d9d9;
    background: #fff;
    font-size:0.8125rem;
    color: #666;
    &.ico{
      text-indent:0;
    }
    &.ico:after{
      right: 52px;
      top:5px;
    }
  }
  &.mb10{
    margin-bottom: 10px;
  }
}

// layer popup
.layer{

  &.find-my-terminal{
    min-width:642px;
    overflow-y:auto;
    border: 4px solid #fefefe;
    padding: 36px 36px 70px;
    background:url(/static/ap/images/bg_lp_modal.jpg ) center no-repeat;
    background-size:cover;
    .layer-area{
      text-align:center;
      padding:0;
    }
    .layer-title{
      font-size:2.125rem;
      font-family:exo, sans-serif;
      font-weight:700;
      color: #ffae43;
      text-align:center;
      border-bottom:0;
      margin-bottom:0;
      padding-bottom:0;
      &:before{
        content:'';
        display:block;
        width:49px;
        height:60px;
        background:url(/static/ap/images/ico_find_my_termimal.png ) center no-repeat;
        margin:0 auto 26px;
      }
      &:after{
        content:'';
        display:block;
        height:2px;
        width:44px;
        background:rgba(255,255,255,0.4);
        margin: 26px auto 24px;
      }
    }
    .layer-article{
      margin-bottom:0;
    }
    .layer-close{
      display: block;
      width: 25px;
      height: 25px;
      background:url(/static/ap/images/ico_lp_modal_close.png ) center no-repeat;
      border:0;
      text-indent: -99999em;
      position:absolute;
      z-index: 99999;
      top: 20px;
      right: 20px;
      padding:0;
      &:hover{
        opacity:.7;
      }
    }
    .layer-check{
      float:left;
      width:140px;
      height:56px;
      background:#323648;
      color:#fff;
      font-size: 1.25rem;
      line-height:56px;
      border:0;
    }
    .layer-search{
      float:left;
      width:calc(100% - 140px);
      height:56px;
      line-height:56px;
      border: 0;
      font-size: 1.125rem;
      color: #666;
      padding:0 30px;
    }
    .layer-inputbox{
      display:inline-block;
      width:100%;
      @extend %clearfix;
      &-desc{
        color:#fff;
        margin:10px 0;
      }
    }
    .layer-inputbox-btn{
      background:#323648;
      padding:6px 10px;
      border-radius:50px;
      font-size:0.825rem;
      color:#fff;
      transition:all .2s;
    }

  }

  &.system{
    display:none;
    max-width:550px;
    //min-width:565px;
    //overflow-y:auto;
    border: 4px solid #fefefe;
    //padding: 36px 36px 70px;
    position:relative;
    top:auto;
    left:auto;
    transform:none;
    float:left;
    width:calc(50% - 5px);
    margin-right:5px;
    background:url(/static/ap/images/bg_system_check_popup.jpg ) center no-repeat;
    background-size:cover;

    .layer-system-wrap{
      border:1px solid #fff;
      margin-top:20px;
      padding:10px;
    }

    .layer-system-list{
      //width:300px;
      //margin:0 auto;
      text-indent:10px;
      @extend %clearfix;
      &:last-child{
        //margin:0 auto 15px auto;
      }
      &-tit{
        float:left;
        width:150px;
        color:#fff;
        text-align:left;
        line-height:1.4;
        font-size:0.875rem;
        &:before{
          content: "·";
          font-size: 1.125rem;
          margin-right:5px;
        }
      }
      &-desc{
        color:#fff;
        text-align:left;
        line-height:1.7;
        font-size:0.875rem;
      }
    }

    .layer-system-desc{
      color:#fff;
      margin-bottom:30px;
      &.point{
        color:#ffae43;
        font-size:1rem;
        margin-bottom:0;
      }

    }
    .layer-area{
      text-align:center;
      padding: 20px;
    }
    .layer-title{
      font-size:1.75rem;
      color:#fff;
      font-weight:700;
      font-family:exo, sans-serif;
      text-align:center;
      border-bottom:0;
      margin-bottom:0;
      //padding-bottom:0;
      &:after{
        content:'';
        display:block;
        height:2px;
        width:44px;
        background:rgba(255,255,255,0.4);
        margin: 20px auto 0;
      }
    }
    .layer-article{
      margin-bottom:0;

      &.systemico{
        overflow:auto;
      }
    }
    .layer-system-close{
      display: block;
      width: 25px;
      height: 25px;
      background:url(/static/ap/images/ico_lp_modal_close.png ) center no-repeat;
      border:0;
      text-indent: -99999em;
      position:absolute;
      z-index: 99999;
      top: 20px;
      right: 20px;
      padding:0;
      &:hover{
        opacity:.7;
      }
    }
    .layer-check{
      float:left;
      width:140px;
      height:56px;
      background:#323648;
      color:#fff;
      font-size: 1.25rem;
      line-height:56px;
      border:0;
    }

    .layer-guide{
      //position:absolute;
      //bottom:0;
      //left:0;
      width:100%;
      height:46px;
      background:#fff;
      text-align:right;
      padding-top:11px;

      &-box{
        //position:absolute;
        //right:0;
        //bottom:10px;
        //margin:auto;
        display:inline-block;
      }
    }

    .btn-group{
      margin-top:30px;
    }
    .layer-inputbox-btn{
      border:1px solid rgba(255,255,255,.8);
      min-width:155px;
      margin-left:6px;
      display:inline-block;
      padding:8px 10px;
      border-radius:50px;
      font-size:0.825rem;
      color:#fff;
      text-align:left;
      position:relative;
      &:first-child{
        margin-left:0;
      }

      &:after{
        content:'';
        display:block;
        width:6px;
        height:10px;
        background:url(/static/ap/images/ico_system_arrow.png ) center no-repeat;
        position:absolute;
        right:10px;
        top:0;
        bottom:0;
        margin:auto;
      }
    }

  }

  //display:none;
  //max-width: 550px;
  //max-height: 684px;
  border: 4px solid #42519e;
  background:#fff;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  overflow-y:auto;
  z-index:10;

  &.on{
    display:block;
  }

  &.off{
    display:none;
  }

  &-wrap{
    display:none;
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    z-index:99999;

    &.on{
      display:block;
    }

    &:after{
      content:"";
      display:block;

      width:100%;
      height:100%;
      background:rgba(0,0,0,0.90);

      position:absolute;
      top:0;
      left:0;

    }

    &.system{
      position:absolute;
      width:80%;
      height:auto;

      &:after{
        content:none;
      }
    }

    &#airportOnMapWrap{

      .layer{

        max-height:inherit;
        height:96%;

      }

    }

  }

  &.size{
    width: 940px;
    //max-height: 827px;
    &.max-height{
      max-height: 890px;
    }
  }

  &.capchasize{
    width:598px;
  }

  &.address-layer{
    width: 600px;
    &.size{
      width: 912px;
    }
    &.max-size{
      width: 1145px;
      &.max-height{
        max-height: 890px;
      }
    }
  }

  &.login-area{
    width: 600px;
  }

  &.questionnaire{
    width:1152px;
  }

  &-area{
    padding: 40px 20px;
    position: relative;
  }

  &-title{
    padding-bottom: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #42519e;
    font-size: 1.5rem;
    font-family:nanumsq, sans-serif;
    color: #42519e;
    &.title2{
      padding: 0;
      border: 0;
    }

    &.login{
      font-size: 2.75rem;
      margin-top: 40px;
      text-align: center;
      font-family:nanumsq, sans-serif;
      color: #222;
      padding:0;
      border:none;
    }
  }

  &-sub{
    font-size:1.125rem;
    font-weight: 900;
    text-align: center;
  }

  &-input-text.user-text{
    width:345px;
    height: 50px;
  }

  &-close{
    display: block;
    width: 25px;
    height: 25px;
    background:url(/static/ap/images/ico_layer_close.png ) center no-repeat;
    border:0;
    text-indent: -99999em;
    position:absolute;
    z-index: 99999;
    top: 20px;
    right: 30px;
    padding:0;

    &.close2{
      width: 26px;
      height: 26px;
    }

    &.login{
      display: block;
      width: 31px;
      height: 31px;
      background: url(/static/ap/images/ico_layer_close.png) center no-repeat;
      text-indent: -99999em;
      position: absolute;
      top: -45px;
      left: 95%;

    }
  }

  &-article{
    margin-bottom:20px;
    position: relative;
    @extend %clearfix;

    &.systemico:after{
      content:'';
      display:block;
      width:64px;
      height:55px;
      background:url(/static/ap/images/ico_system_mark.png ) center no-repeat;
      background-size:cover;
      margin:15px auto 0;
    }

    .textarea{
      width: 100%;
      height: 100px;
      padding: 0 10px;
      line-height: 1.7;
      text-align: left;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      color: #666;
      font-family: roboto, spoqa, sans-serif;
    }

    &.mb60{
      margin-bottom: 60px;
    }

    &-title{
      margin-bottom: 20px;
      font-size:1.125rem;
      font-weight: 900;
      &.float{
        margin: 0;
        float: left;
        line-height: 32px;
      }
    }

    &-input{
      width: 100%;
      height: 50px;
      font-size: 1rem;
      text-align: center;
      color: #666;
      background: #fcfbe8;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
    }

    &-box{
      width: 500px;
      height: 148px;
      padding: 20px 15px;
      border: 1px solid #e2e5e9;
      background: #f5f6f7;
      overflow-y: scroll;
      &-sub{
        margin-bottom: 7px;
        font-size:0.875rem;
       }
      &-txt{
        font-size:0.875rem;
      }
    }
    p{
      font-size: 1rem;
      &.font18{
        font-size:1.125rem;
      }
      &.font20{
        font-size:1.25rem;
      }
    }
    button{
      height: 50px;
      font-size: 1.5rem;
      .btn-register{
        height: 56px;
        padding: 10px;
        background: #42519e;
        border: 1px solid #42519e;
        color: #fff;
        font-weight: 700;
        font-size: 1.25rem;
      }
    }
    &.article2{
      margin-bottom: 10px;
      margin-top: 15px;
    }
  }

  .list1{
    font-size:0.875rem;
    letter-spacing:-0.02rem;
    &-item {
      &.font14{
        line-height: 50px;
        &:before {
          top: -16px;
        }
      }
    }

    &-item{
      &:before {
        top: -12px;
      }
    }
  }

  .radio-type1{
    &-label{
      font-size: 1rem;
    }
  }

  .info-desc{
    font-size: 0.875rem;
  }

  &-btn{
    float: left;
    &-login{
      width:190px;
      height: 110px;
      //margin-left: 81px;
      background: #42519e;
      border: none;
      color: #fff;
      font-size: 1.5rem;
    }
  }

}

.update-refresh{
  &.size{
    height: 26px;
    font-size:0.8125rem;
  }
}

.enter{
  width: 100%;
  padding: 20px 0 30px;
  text-align: center;
  background: #f5f6f7;
  border-top: 1px solid #e2e5e9;
  &-btn{
    width: 180px;
    height: 40px;
    font-size: 	1.125rem;
    color: #fff;
    background: #323648;
    border: 0;
    border-radius: 30px;
  }
}

.tab{

  &-nav{

    &-list{
      @extend %clearfix;

      &-item{
        width:25%;
        float:left;
        cursor:pointer;
      }

      &-link{
        display:block;
        height:54px;
        background:#f2f2f2;
        border:1px solid #d9d9d9;
        border-bottom-color:#42519e;
        font-size:1.25rem;
        font-weight:300;
        color:#666;
        line-height:54px;
        text-align:center;

        &.on{
          border:2px solid #42519e;
          border-bottom:none;
          background:#fff;
          font-weight:700;
          color:#42519e;
        }
      }
    }

  }

  &-area{
    height: 100%;
    position:relative;

    &-heading{
      display:block;
      height:54px;
      background:#f2f2f2;
      border:1px solid #d9d9d9;
      border-bottom-color:#42519e;

      position:absolute;
      top:0;

      font-size:1.25rem;
      font-weight:400;
      color:#666;
      line-height:54px;
      text-align:center;
      cursor:pointer;

      &.on{
        border:2px solid #42519e;
        border-bottom:none;
        background:#fff;
        font-weight:900;
        color:#42519e;
      }
    }

    &-content{
      display:none;
      padding-top:54px;

      &.on{
        display:block;
      }
    }
  }

}
.tab-sub.col-3{
  .tab-sub-list-item{
    width:calc(33.33% - 4px);
    &:first-child{
      margin-left:2px;
    }
  }

}

.field2{
  width: 242px;
  height: 32px;
  float: right;
  display: block;
  .field2-radio{
    display:none;
    & + .field2-radio-label{
      display: block;
      //padding:5px 10px;
      background: #fff;
      border: 1px solid #d9d9d9;
      color: #666;
      font-size:0.875rem;
      float: left;
      cursor: pointer;
    }
    &:checked + .field2-radio-label {
      background:#000;
      color:#fff;
      border: 1px solid #000;
    }
  }
  .field2-radiomain{
    & + .field2-radiomain-label{
      display:inline-block;
      color:#666;
      font-size: 0.875rem;
      cursor: pointer;
    }
    &:checked + .field2-radiomain-label {
      color:#222;
      font-weight:900;
    }
  }
  &-division{
    float:left;
    &:first-child{
      .field2-radiomain-label:before{
        display:none;
      }
    }
    &.col-2{
      width: calc(100% - 170px);
      .field2-radio-label{
        margin-bottom:4px;
      }
    }
  }
  &-radio-label{
    padding:0;
    min-width:120px;
    min-height:32px;
    border:1px solid #666;
    color:#000;
    font-size:1rem;
    font-weight:600;
    line-height:30px;
    vertical-align:middle;
    text-align:center;
    box-sizing:border-box;
    &.pd10{
      padding:0 10px;
    }
  }
  &-group{
    @extend %clearfix;
    display:block;
    margin-top:10px;
    label{
      margin-right:6px;
    }
    &:first-child{
      margin-top:0;
    }

    &.big{
      border-left:1px solid #666;
      .field2-radio-label{
        //padding:10px 32px;
        border:1px solid #666;
        border-left:0;
        color:#000;
        font-size:0.875rem;
        vertical-align:middle;
        text-align:center;
        box-sizing:border-box;
        margin-right:0;
      }
    }

    &-tit{
      min-width:150px;
      margin-right:20px;
      float:left;
      font-size:0.875rem;
      font-weight:900;
      line-height:28px;
    }
  }
}

.table2{
  width: 100%;
  &-article {
    position: relative;
    padding-top: 36px;
    width: 100%;
    &-box {
      height: 136px;
      overflow: auto;
    }
  }
  &.vt-dark{
    font-size: 0.875rem;
    line-height: 2.6;
    th{
      font-size: 0.875rem;
      padding: 0;
      line-height: 2.6;
    }
    td{
      padding: 0;
      line-height: 3.2;
    }
  }
  table{
    position: relative;
  }
  thead tr{
    position: absolute;
    top: 0;
    display: table-row;
    background-color: #323648;
    width: 100%;
    height: 36px
  }
  thead th{
    &.wid{
      width: 358px;
    }
    width: 179px;
  }
  thead th:first-child{
    width: 135px;
  }
  tbody{
    display: table-row-group;
    height: 300px;
  }
  tbody tr{
    height: 100%;
  }
  tbody td{
    text-align: center;
    strong{
      &.blue{
        color:#4674c9;
      }
      &.green{
        color:#2c8179;
      }
      &.yellow{
        color:#ffae44;
      }
      &.brown{
        color:#dd7714;
      }
      &.red{
        color:#d43e41;
      }
    }
  }
}

.table-guide{
  position: relative;
    @extend %clearfix;

    &-btn{
      display: block;
      float: left;
      padding: 0;
      height: 25px;
      background: 0;
      border: 0;
      @extend %clearfix;

      &-text{
        line-height: 24px;
        height: 25px;
        color: #666666;
        display: block;
        font-size: 1rem;
        float: left;
      }
    }

    &-ico{
      float: left;
      margin-left: 10px;
      width: 24px;
      height: 24px;
    }



    &-pop-up{
      display: none;
      position: absolute;
      top: -296px;
      left: 0;
      width: 453px;
      height: 296px;
      background: #fff;
      border: 2px solid #42519e;
      &-depth{
        &-list{
          display: block;
        }
      }
      &-list{
        margin-bottom: 20px;
        @extend %clearfix;
      }
      &-item{
        margin-left: 15px;
        float: left;
        font-family: spoqa, sans-serif;
        font-weight: 700;
        color: #666666;

        &:first-child{
          width: 100px;
          margin-left: 0;
        }
        &:before{
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          float: left;
          margin-right: 9px;
          border-radius: 50%;
        }
        &.blue:before{
          background: #4674c9;
        }

        &.green:before{
          background: #2c8179;
        }

        &.yellow:before{
          background: #ffae44;
        }

        &.brown:before{
          background: #dd7714;
        }

        &.red:before{
          background: #d43e41;
        }
      }

    }

    &-list{
      float: right;
    }

    &-item{
      //width: 85px;
      margin-left: 45px;
      float: left;
      font-family: spoqa, sans-serif;
      font-weight: 700;
      color: #666666;

      &:before{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        float: left;
        margin-right: 9px;
        border-radius: 50%;
      }
      &.blue:before{
        background: #4674c9;
      }

      &.green:before{
        background: #2c8179;
      }

      &.yellow:before{
        background: #ffae44;
      }

      &.brown:before{
        background: #dd7714;
      }

      &.red:before{
        background: #d43e41;
      }
    }
  }

.local {
  width: 100%;

  &-list {
    border-left: 1px solid #a5a7aa;
    border-right: 1px solid #a5a7aa;

    @extend %clearfix;

    &-item {
      width: 164.2px;
      border-right: 1px solid #d9d9d9;
      border-top: 1px solid #d9d9d9;
      float: left;
      &:last-child{
        border-right: none;
      }
      &-link {
        height: 58px;
        display: block;
        background: #fff;
        font-size: 1rem;
        font-weight: 300;
        color: #666;
        text-align: center;
        line-height: 58px;

        &.on {
          color: #fff;
          background: #323648;
          border: 1px solid #323648;
          font-weight: 800;
          position: relative;

          &:after{
            width: 16px;
            height: 16px;
            content: '';
            position:absolute;
            left:0;
            right:0;
            margin:auto;
            top: 45px;
            background: #323648;
            z-index: 1;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &-town {
    padding: 30px 30px 20px;
    border: 1px solid #a5a7aa;
    background: #f2f2f2;

    @extend %clearfix;

    &-item {
      width: 12.5%;
      height: 30px;
      float: left;
      border-right: 1px solid #d9d9d9;
      text-align: center;
      margin-bottom:20px;
      &:nth-child(8n){
        border-right: none;
      }
      &:last-child{
        border-right: none;
      }
      &-link {

        &.on {
          color: #41519e;
          border-bottom:2px solid #41519e;
          font-weight: 800;
        }
      }
    }
  }
}

//.article3{
//  width: 60%;
//  float: left;
//  margin-bottom: 20px;
//}

//.article5{
//  width: calc( 50% - 10px ) ;
//  float: left;
//  margin: 20px 0 20px 20px;
//  &:first-child{
//    margin-left: 0;
//  }
//  .layer-article-title{
//    float: none;
//    font-size: 1.25rem;
//    font-weight: 700;
//    padding-bottom: 10px;
//    position: relative;
//    &:after{
//      content: '';
//      display: block;
//      position: absolute;
//      bottom: 0;
//      width: 410px;
//      height: 1px;
//      background: #b3b3b3;
//    }
//  }
//  .ir-technique{
//    text-indent: -99999em;
//    display: block;
//  }
//  .bus-stop1{
//    background: url(/static/ap/images/bg_terminal_interconnection_03.png)no-repeat;
//    width: 425px;
//    height: 460px;
//  }
//
//}

//.article4{
//  width: calc( 40% - 20px ) ;
//  float: left;
//  margin-left: 20px;
//  margin-bottom: 20px;
//  .layer-article-title{
//
//    &:after{
//      content: '';
//      display: block;
//      width: 325px;
//      height: 1px;
//      background: #b3b3b3;
//    }
//  }
//  .airline1{
//    background: url(/static/ap/images/bg_terminal_interconnection_01.png)no-repeat;
//    width: 317px;
//    height: 243px;
//    float: left;
//  }
//  .airline2{
//    background: url(/static/ap/images/bg_terminal_interconnection_02.png)no-repeat;
//    width: 317px;
//    height: 244px;
//    float: left;
//  }
//  .ir-technique{
//    text-indent: -99999em;
//    display: block;
//  }
//}

.table3{
  width: 100%;
}

.imgbox{
  width: 100%;
  vertical-align: top;
}


.map-absolute-area{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  display:block;
}
.map-departure-congestion01{
  position: relative;
  background:#f3f4f8;
  width:100%;
  height: 352px;
  & .map-absolute-area{
      width:439px;
      height:301px;
      background: url(/static/ap/images/map_departure_congestion_01.png) no-repeat center;
  }
}

.map-departure-congestion02{
  position: relative;
  background:#f3f4f8;
  width:100%;
  height: 352px;
  & .map-absolute-area{
    width:476px;
    height:313px;
    background: url(/static/ap/images/map_departure_congestion_02.png) no-repeat center;
  }
}

.congestion{
  &-mark1-1{
    position: absolute;
    top: 178px;
    left: 322px;
  }
  &-mark1-2{
    position: absolute;
    top: 157px;
    left: 290px;
  }
  &-mark1-3{
    position: absolute;
    top: 139px;
    left: 242px;
  }
  &-mark1-4{
    position: absolute;
    top: 139px;
    left: 146px;
  }
  &-mark1-5{
    position: absolute;
    top: 157px;
    left: 98px;
  }
  &-mark1-6{
    position: absolute;
    top: 179px;
    right: 161px;
  }

  &-mark2-1{
    position: absolute;
    top: 179px;
    right: 161px;
  }

  &-mark2-2{
    position: absolute;
    top: 179px;
    left: 160px;
  }
  &-mark{
    &-number{
      font-weight: 700;
      line-height: 1.7;
      font-size: 0.75rem;
      text-align: center;
      min-width: 50px;
      height: 25px;
      box-sizing: border-box;
      background: #ffffff;
      border: 2px solid #7d7d7d;
      border-radius: 23px;
      position: relative;
      margin-bottom: 6px;
      z-index:2;
      &:after{
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        left: 15px;
        bottom: -13px;
        width: 0;
        height: 0;
        border-top:6px solid #ffffff;
        border-bottom:8px solid transparent;
        border-right: 8px solid transparent;
        border-left: 8px solid  transparent;
      }
      &:before{
        content: '';
        position: absolute;
        z-index: 1;
        left: 13px;
        bottom: -18px;
        display: block;
        width: 0;
        height: 0;
        border-top:8px solid #7d7d7d;
        border-bottom:10px solid transparent;
        border-right: 10px solid transparent;
        border-left: 10px solid  transparent;
      }
    }
    &-color{
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      color: #ffffff;
      margin: 0 auto;
      &.blue{
        background: #4674c9;
      }
      &.green{
        background: #2c8179;
      }
      &.yellow{
        background: #ffae44;
      }
      &.brown{
        background: #dd7714;
      }
      &.red{
        background: #d43e41;
      }
    }
  }
}

.inner-tab2{
  @extend %clearfix;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  .btn-type-tab{
    box-sizing: border-box;
    min-width: 120px;
    height: 32px;
    padding: 4px 20px;
    border: 1px solid #666;
    color: #444;
    background: #ffffff;
    float: left;
    text-align: center;
    font-size: 0.875rem;
    &.on{
      border: 0;
      color: #fff;
      background: #222;
    }
    &+.btn-type-tab{
      margin: 0;
    }
  }
}

.site-map{
  &-heading{
    font-family: nanumsq, sans-serif;
    font-size: 1.5rem;
    color: #222;
    padding-bottom:20px;

   &:before{
     content: '';
     margin: 5px auto;
     display: block;
     background: url(/static/ap/images/spr_site_map.png) no-repeat;
   }

    &.site-leave:before{
      width: 40px;
      height: 36px;
      background-position: 0 0;
    }

    &.site-arrival:before{
      width: 41px;
      height: 36px;
      background-position: -47px 0;

    }

    &.site-transfer:before{
      width: 33px;
      height: 36px;
      background-position: -97px 0;
    }

    &.site-traffic:before{
      width: 35px;
      height: 36px;
      background-position: -138px 0;

    }

    &.site-shopping:before{
      width: 35px;
      height: 36px;
      background-position: -177px 0;

    }
    &.site-service:before{
      width: 38px;
      height: 36px;
      background-position: 0px -40px;

    }

    &.site-airport-map:before{
      width: 38px;
      height: 36px;
      background-position: -47px -41px;
    }

    &.site-customer:before{
      width: 38px;
      height: 36px;
      background-position: -94px -40px;

    }

    &.site-mypage:before{
      width: 46px;
      height: 36px;
      background-position: -137px -40px;
    }
  }
  &-list{
    &-depth1{

      @extend %clearfix;
      &-item{
        width:205px;
        float:left;
        text-align: center;
        margin-right: 30px;

        &:last-child{
          margin-right: 0;
        }

        &.wide-row{
          width:265px;
        }
      }

    }

    &-depth2{
      padding-top: 30px;
      border-top: 1px solid #d9d9d9;
      &-item{
        padding: 5px 8px;

      }

      &-link{
        font-weight: 400;
        color: #222;

        &:hover{
          color: #41519e;
          font-weight: 900;
        }
      }
    }

  }

}



.digr-incheon-airport-glance01{
  text-indent: -99999em;
  background: url(/static/ap/images/digr_incheon_airport_glance01.png)no-repeat center;
  height: 395px;
  margin-top:0;
}
.digr-incheon-airport-glance02 {
  text-indent: -99999em;
  background: url(/static/ap/images/digr_incheon_airport_glance02.png) no-repeat center;
  height: 432px;
  margin-top:0;
}

.digr-terminal-interconnection{
  background: url(/static/ap/images/digr_terminal_interconnection.jpg) no-repeat center;
  //background-size: 833px 378px;
  //width: 833px;
  height: 379px;
  text-indent:-999em;
}

.ir-technique{
  text-indent:-999em;
}

.question{

  &-wrap{
    border-bottom:1px solid #d9d9d9;
    margin-bottom: 16px;
    padding-bottom: 20px;
    @extend %clearfix;
    &.last-question{
      border: 0;
      margin-bottom: 0;
    }
  }
  &-num{
    width: 63px;
    height: 31px;
    background: #333649;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: 8px 0;
    margin-right: 14px;
    float:left;
  }
  &-txt{
    margin-top: 6px;
    float:left;
  }
  &-length{
    text-align: right;
    margin-top:10px;
  }
}

.layer-text{
  width: 150px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.layer-text-box{
  @extend %clearfix;
  label{
    display: inline-block;
    width: 21%;
    line-height: 50px;
  }
  input{
    width: 75%;
  }
  .layer-text{
    width: 119px;
  }

  &-right{
    label{
      display: inline-block;
      width: 27%;
      line-height: 50px;
    }
    @extend %clearfix;
    .timesetting-date-day{
      width: calc(70% - 46px);
    }
    .timesetting-date-calendar{
      height: 56px;
    }
    .layer-text{
      width: 154px;
    }
  }



}
