// 1024
@media all and (max-width:1023px) {
  // boxmodel
  .boxmodel {
    &.parking{
      .boxmodel-list-item{
        min-height:inherit;
      }
    }
    &-list {
      display: block;
      &-head{
        font-size:1.825rem;
      }
      &-item {
        float: left;
        display: table;
        min-height: 440px;
        overflow: inherit;
        &-inner{
          &.img{
            .boxmodel-list-desc{
              max-width:inherit;
            }
          }
        }
        &.list-end {
          width: 50%;
          .list-end-content {
            line-height:393px;
          }
        }
        &.col-full {
          width: 100%;
          .boxmodel-list-item-inner {
            border-right: 0;
            border-left: 0;
          }
        }
        &.col-1 {
          min-height:inherit;
          height:auto;
          .leave-check{
            .col-btn{
              &-link1{
                width:33.33%;
              }
            }
          }
        }
        &.col-2 {
          .boxmodel-list-item-inner {
            margin-right: 12px;
          }

          &:last-child {
            .boxmodel-list-item-inner {
              margin-left: 12px;
              margin-right: 0;
            }
          }
        }
        &.col-3 {
          width: 50%;
          .boxmodel-list-item-inner {
            margin-right: 12px;
          }
          &:nth-child(2) {
            .boxmodel-list-item-inner {
              margin-right: 0;
            }
          }
          &:last-child {
            .boxmodel-list-item-inner {
              margin-left: 0;
            }
            min-height: inherit!important;
            height:auto!important;
            width: 100%;
            margin-top: 30px;
            .boxmodel-list-item-inner:after {
              content: "";
              display: block;
              clear: both;
            }
            .boxmodel-list-head {
              width:55%;
              float:left;
              min-height:176px;
              &.callvan{
                margin-top:33px;
                min-height:100px;
              }
            }
            .boxmodel-btn-group {
              width:45%;
              float:right;
              &.mt10{
                margin-top:0;
              }
            }
            .boxmodel-list-desc {
              display: inline-block;
              width:45%;
              margin-bottom:10px;
              text-align:left;
              float:right;
            }
            .guide-desc{
              float: right;
              text-align: left;
              width: 45%;
            }
            .boxmodel-list-desc.mt10 {
              margin-top:0;
            }
            .boxmodel-list-desc.mt20 {
              margin-top:0;
            }
            .boxmodel-list-desc.mt40 {
              margin-top:0;
            }
            .boxmodel-list-support{
              display: block;
              margin-top:10px;
            }
            br {
              display: none;
            }
          }
        }
        &.col-two-thirs {
          width: 50%;
        }
      }
    }
    &-btn-groupsub {
      display: block;
      max-width: 100%;
      margin: auto;
      background: #f8f8f8;
      border: 1px solid #d9e0ea;
      border-radius: 4px;
      font-size: 1.125rem;
      overflow: hidden;
      &-tit {
        display: inline-block;
        width: 100%;
        height: 38px;
        background: #fff;
        border-bottom: 1px solid #d9d9d9;
        line-height: 38px;
        text-indent: 20px;
        font-weight: 600;
      }
      & .list2 {
        width: 100%;
        padding: 8px 0 8px 20px;
        line-height: 1.7;
        transition: all .2s;
        &-link {
          width: 100%;
          height: 100%;
          text-indent: 0;
          font-weight: 600;
        }
      }
    }
    &-btn-link {
      max-width: 100%;
    }
    &-btn-group{
      &.exclusive{
        height:66px;
        line-height:66px;
      }
    }
    .guide-desc{
      text-align:center;
    }
  }

  // top visual
  .sub-top{
    &-descbox{
      font-size:2.5rem;
      &-tit{
        font-size:2.5rem;
      }
    }
  }

  // middle visual
  .section-bg{
    height:inherit!important;
    background-size:cover!important;
    &-inner{
      &.split{
        float:none;
        width:100%;
        height:50%;
        padding:60px 15px;
      }
      &.bgcolor-b{
        text-align:center;
        padding:60px 15px;
      }
    }
    &-list{
      margin-top:30px;
      &.col-4{
        .section-bg-list-item{
          width:calc(50% - 9px);
          &:nth-child(3n){
            margin-left:0;
          }
        }
      }
      &.col-5{
        .section-bg-list-item{
          width:calc(33.33% - 8px);
          padding:27px 0;
          &:nth-child(4n){
            margin-left:0;
          }
        }
        .section-bg-list-tit{
        }
      }
      &-item{
        margin-bottom:12px;
        margin-left:12px;
        &:first-child{
          margin-left:0;
        }
      }
      &-inner{
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        & .btn-type-small{
          margin-top:20px;
          min-width:126px;
        }
      }
      &-tit{

      }
    }
    &-desc{
      &.left{
        text-align:center;
      }
    }
    &-sublist{
      border-top:2px solid #fff;
      margin:20px auto auto;
      &-tit{
        margin-top:20px;
      }
    }
    .contents-sub-head{
      padding:0!important;
      .clip-white{
        &:after{
          margin:20px auto 0;
        }
      }
    }
    &.parking-info{
      height:540px;
      background-size:cover;
      .section-bg-inner{
        height: inherit;
      }
    }
    &.tour-info{


    }
  }
}


// 780
@media all and (max-width:780px) {
  // boxmodel
  .boxmodel {
    &-list {
      &-item {
        &.col-1 {
          margin-bottom:-1px;
          .leave-check {
            padding: 20px 0 0;
            .col-btn {
              &-link1 {
                width: 100%;
              }
              &-link3 {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  // icon text
  .icontxt {
    display:block;

    &:before {
      display: block;
      margin:auto;
    }
    &-title{
      display:block;
      font-size: 1.5rem;
      padding:20px 0 ;
    }
  }
}

// 640
@media all and (max-width:640px) {
  // boxmodel
  .boxmodel{
    &-list{
      display:block;
      margin:0;
      &.box-border{
        border-bottom: 0;
        padding-bottom: 0;
      }
      &-head{
        font-size:1.5rem;
      }
      &-item{
        br {
          display: none;
        }
        width:100%!important;
        float:left;
        display:table;
        min-height:inherit;
        overflow:inherit;
        margin-bottom:20px;
        min-height: inherit!important;
        height:auto!important;
        &.list-end {
          width: 50%;
          .list-end-content {
            line-height:100px;
          }
        }

        &-inner{
          height:100%;
          padding:20px 10px 16px;
          margin:0!important;
          &.img{
            height:300px!important;
            min-height:300px;
            .boxmodel-list-head{
              font-size:1.875rem;
              line-height:1.4;
            }
            .boxmodel-list-desc{
              max-width:inherit;
            }
            br{display:block!important;}
          }
        }
        &.col-3{
          width:50%;
          margin-top:0;
          &:last-child{
            width:100%;
            min-height:inherit;
            margin-top:0;
            .boxmodel-list-head {
              margin:auto;
              float:none;
              width:auto;
              min-height:inherit;
              &.callvan{
                margin-top:0;
                min-height:inherit;
              }
              &:after{
                margin: 18px auto 0 auto;
              }
            }
            .boxmodel-btn-group {
              width:auto;
              float:none;
            }
            .boxmodel-list-desc {
              display:block;
              width:auto;
              text-align:center;
              float:none;
            }
            .guide-desc{
              float:none;
              text-align:center;
              width:auto;
            }
            .boxmodel-btn-group{
              width:100%;
              .boxmodel-btn-link{
                width:100%;
              }
            }
            .boxmodel-list-desc{
              text-align:center;
            }
            .boxmodel-list-desc.mt10{
              margin-top:10px;
            }
            .boxmodel-list-desc.mt20{
              margin-top:0
            }
          }
        }

      }
      &-item.col-two-thirs{
        width:100%;
      }
      &-item.col-2{
        width:100%;
      }
    }
    &-btn-link{
      font-size:1rem;
      .link-guide{
        font-size:0.825rem;
      }
    }
    &-btn-group{
      height:auto;
      &.col-2{
        overflow: inherit;
        border:none;
        border-radius:0;
        & .boxmodel-btn-link{
          float:none;
          width:100%;
          border: 1px solid #d9e0ea;
          border-radius:4px;
          margin-top:4px;
          &:first-child{
            border-right:1px solid #d9e0ea;
          }
        }
      }
      &.row-2{
        overflow: inherit;
        height:38px;
        line-height:38px;
      }
      &.row-3{
        overflow: inherit;
        height:38px;
        line-height:38px;
      }
      &.exclusive{
        height:38px;
        line-height:38px;
      }
    }

    .boxmodel-list-desc.mt10.even{
      margin-top:10px!important;
    }
    .boxmodel-list-desc.mt40{
      margin-top:20px!important;
    }
    .boxmodel-list-item.text-left{
      .boxmodel-list-desc{
        text-align:center;
        &:last-child{
          margin:0!important;
        }
      }
    }
    .guide-desc{
      font-size:0.825rem;
    }
  }

  // top visual
  .sub-top{
    min-height:inherit;
    height:inherit!important;
    padding:60px 15px;
    &-descbox{
      font-size:1.5rem;
      line-height:1.4;
      &.center{
        span{
          padding: 0 20px;
          display: block;
        }
      }
      &-text{

      }
      &-tit{
        font-size:1.5rem;
        line-height:1.4;
        display: inline-block;
        padding: 0 20px;
      }
      &-sub{
        font-size:1rem;
      }
    }
    &-linkbox{
      height:inherit;
      font-size:1rem;
      line-height:inherit;
      border:none;
      background:none;
      .btn-type-round-under{
        margin-top:20px;
      }
    }
    &.type2{
      .sub-top-descbox{
        padding-top:0;
      }
    }
    &.type3{

      .sub-top-descbox{
        display:block;
        padding-top:52px;
        .sub-top-descbox-text{
          .sub-top-descbox-tit{
            font-size:2rem;
            .text-georgia{
              font-size:3rem;
            }
          }
          .btn-type-infolink{
            margin-left:0;
            margin-top:10px;
          }
        }
      }
    }
    &.type4{

      .sub-top-descbox{
        .sub-top-descbox-text{
          font-family:roboto, sans-serif;
          &:after{
            content:'';
            display:block;
            width:2px;
            height:40px;
            background:#fff;
            margin:20px auto;
          }
          .sub-top-descbox-tit{
            font-size:3rem;
            font-weight:900;
            line-height:1;
          }
          .sub-top-descbox-sub{
            display:block;
            font-size:1.5rem;

          }
          .btn-type-infolink{
            margin-left:8px;
            vertical-align: super;
          }
        }

      }
    }
  }

  // middle visual
  .section-bg{
    &-inner{
      &.split{
        br{
          display:none;
        }
        height:40%;
      }
      &.bgcolor-b{
        height:60%;
      }
    }
    &-list{
      margin-top:30px;
      &.col-4{
        .section-bg-list-item{
          width:100%;
          padding:14px 20px;
        }
      }
      &.col-5{
        .section-bg-list-item{
          width:100%;
          padding:14px 20px;
        }
        .section-bg-list-tit{
          font-size:1.125rem;
          font-weight:700;
        }
      }
      &-item{
        margin-bottom:-2px;
        margin-left:0;
      }
      &-inner{
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        & .btn-type-small{
          margin-top:8px;
          width:100px;
        }
      }
      &-tit{
        font-size:1.125rem;
        font-weight:700;
      }
    }
    &-head{
      font-size:1.5rem;
      &:after{
        margin:20px auto;
      }
    }
    &-desc{
      font-size:1rem;
      &.left{
        text-align:center;
      }
    }
    &-sublist{
      &-tit{
        font-size:1rem;
      }
      &-desc{
        font-size:0.825rem;
        br{
          display:block!important;
        }
      }
    }
    .btn-type-infolink{
      margin-bottom:30px;
    }

  }

  // icon text
  .icontxt {
    display:block;

    &:before {
      display: block;
      margin:auto;
      background-size: 377px 176px;
      width:77px;
      height:77px;
    }
    &-title{
      display:block;
      font-size: 1.5rem;
      padding:20px 0 ;
    }
    &.icon-check-passport{
      &:before{
        background-position: -7px -10px;
      }
    }

    &.icon-check-visa{
      &:before{
        background-position: -91px -10px;
      }
    }

    &.icon-check-international-driver-license{
      &:before{
        background-position: -176px -10px
      }
    }
  }

  //button
  .btn-type{
    &-infolink{
      width:100%;
      padding:0;
      font-size:1rem;
      text-align:center;
    }
    &-normal{
      width:100%;
      padding:0;
      font-size:1rem;
      text-align:center;
    }

    &-round-under{
      width:100%;
      padding:0;
      font-size:1rem;
      text-align: center;
    }

    &-small{
      width:100%;
      height:40px;
      line-height:40px;
      font-size:1rem;
      &.detail{
      }
    }
    &-down{
    }
  }

  //common
  .guide-desc{
    font-size:0.825rem;
    line-height:1.4;

    &.color{
      color:#d43e41;
    }

    &.mark{
      text-indent:-20px;
      padding-left:20px;

      &:before{
        content:"※";
      }

      &-center{
        text-indent: 0;
        padding: 0 0;
        text-align: center;
      }
    }
    &.mark2{
      text-indent:-20px;
      padding-left:20px;

      &:before{
        content:"*";
        position: relative;
        top: 4px;
      }
    }
  }
  .inner-tab{
    position: static;
    margin-top:20px;
    &-heading{
      border:none;
      background: #3e4b91;
      color:#fff;
      &.on{
        background:#fff;
        color: #42519e;
        font-weight:800;
      }
    }
  }

  // top map visual
  .rough-map{
    height:400px;
    min-height:400px;
    .congestion{
      top:60px;
      border-left:0;
    }
    &-tit{
      position:static;
      display: inherit;
      text-align:center;
      font-size:1.5rem;
      font-weight:400;
    }
    &.arrival{
    }
  }
}


