// 1024
@media screen and (max-width:1080px) {

}

// 640
@media screen and (max-width:1080px) {
  .terms_info{
    &:nth-child(3n){
      padding-left:0;
    }
  }
  .tab-sub.terms{
    .tab-sub-list{
      display:block;
    }
    position:static;
    .tab-sub-list-item{
      width:100%;
      height:auto;
      &-link{
        line-height:1.4;
      }
      &:first-child{
        margin-left:0;
      }
    }
  }

  .terms_box {
    padding:15px;
  }

  .terms_box_w {
    margin:0;
  }

  .terms_info {
    float:none;
    width:100%;
    margin-top:10px;
    font-size:0.825rem;
    &:first-child{
      margin-top:0;
    }
  }

  .terms_info li span {
    width:60px;
    margin-bottom:10px;
    font-size:0.825rem;
  }
  .wid360 {
    width:360px !important;
  }
  .wid347 {
    width:347px !important;
  }
  .wid305 {
    width:305px !important;
  }
  .wid200 {
    width:200px !important;
  }
  .wid230 {
    width:230px !important;
  }
  .wid480 {
    width:480px !important;
  }

  .terms_txt li {
    margin-bottom:40px;
  }

  .tbl_st01 {
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
  }

  .link_underline{
    line-height:1.7;
  }

  .mail_box {
    margin-top:30px;
    padding:160px 0 0;
    background: url(/static/ap/images/img_mail.png) no-repeat top center;
  }
}