// top 지도영역
.rough-map{
  min-height:420px;
  background-size: cover;
  padding-top: 60px;
  .congestion{
    top:60px;
    border-left:0;
  }
  &-tit{
    position:absolute;
    top:0px;
    color:#fff;
    font-family: nanumsq, sans-serif;
    font-size:2.875rem;
    font-weight:300;
    line-height:1.1;
  }
  &.arrival{
    background:url(/static/ap/images/bg_sub_visual_stepleave.jpg) center no-repeat;
  }
}
// top 타이틀
.sub-top{
  min-height:300px;
  height:300px;
  background-size: cover;
  text-align:center;
  &-inner{
    display:table;
    width:1152px;
    height:100%;
    margin:auto;
  }
  &-descbox{
    display:table-cell;
    font-family: nanumsq, sans-serif;
    color:#fff;
    font-size:2.5rem;
    font-weight:300;
    vertical-align:middle;
    &-text{
      line-height:1.2;
    }
    &-tit{
      font-size:3.125rem;

      &.small{
        font-size: 2.5rem;
      }
    }
    &-sub{
      font-size:1.375rem;
      font-family: roboto, spoqa, sans-serif;
    }
    &.center{
      text-align: center;
      display: block;
    }
    &.path-departure{
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    &.airline-city{
      text-align: center;
      margin: 0 auto;
      display: block;
    }
    &.immigration-procedure{
      text-align: center;
      margin: 0 auto;
      display: block;
    }
  }
  &-btn-group{
    height:auto;
    margin-top:28px;
    & .btn-type-down:first-child{
      margin-right:14px;
    }
  }
  &-linkbox{
    display:block;
    height:122px;
    background:rgba(0,0,0,.2);
    border: 2px solid rgba(222,227,235,.6);
    font-size:1.625rem;
    line-height:122px;
    &-text{
      position:relative;
      &:before{
        content:'';
        display:inline-block;
        background: url(/static/ap/images/spr_ico_bgset.png) no-repeat -253px -40px;
        width: 34px;
        height: 34px;
        position: relative;
        top: 8px;
        margin-right: 10px;
      }
    }

    .btn-type-small{
      vertical-align:middle;
    }
  }
  &.type2{
    .sub-top-descbox{
      display:block;
      padding-top:70px;
    }
  }
  &.type3{
    height:350px;
    .sub-top-descbox{
      display:block;
      padding-top:52px;
      .sub-top-descbox-text{
        .sub-top-descbox-tit{
          font-size:4.375rem;
          .color-o{
            font-family:'roboto', sans-serif;
            font-weight:300;
          }
          .text-georgia{
            display:inline-block;
            font-size:6.125rem;
            -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
            -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
            -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
            -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
            transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-10deg, 0deg);
          }
        }
        .btn-type-infolink{
          margin-left:8px;
          vertical-align: super;
        }
      }
    }
    .inner-section{
      position:relative;
      height:100%;
    }
  }
  &.type4{
    height:420px;
    .sub-top-descbox{
      .sub-top-descbox-text{
        font-family:roboto, sans-serif;
        &:after{
          content:'';
          display:block;
          width:2px;
          height:40px;
          background:#fff;
          margin:20px auto;
        }
        .sub-top-descbox-tit{
          font-size:5.625rem;
          font-weight:900;
          line-height:1;
        }
        .sub-top-descbox-sub{
          display:block;
          font-size:1.75rem;

        }
        .btn-type-infolink{
          margin-left:8px;
          vertical-align: super;
        }
      }

    }
  }

  &.bg1{
    background:url(/static/ap/images/bg_base_top01.jpg) center no-repeat;
  }
  &.bg2{
    background:url(/static/ap/images/bg_base_top02.jpg) center no-repeat;
  }
  &.bg3{
    background:url(/static/ap/images/bg_base_top03.jpg) center no-repeat;
  }
  &.bg4{
    background:url(/static/ap/images/bg_base_top04.jpg) center no-repeat;
  }
  &.bg5{
    background:url(/static/ap/images/bg_base_top05.jpg) center no-repeat;
  }
  &.bg6{
    background:url(/static/ap/images/bg_base_top07.jpg) center no-repeat;
    &.type3{
      height:420px;
      position:relative;
      .sub-top-descbox{
        padding-top:100px;
      }
    }
  }
  &.path-departure{
    background:url(/static/ap/images/bg_sub_visual_path_departure.jpg) center no-repeat;
  }
  &.bg7{
  background: url(/static/ap/images/bg_parking_info.jpg) center no-repeat;
  }
  &.bg8{
    background:url(/static/ap/images/bg_immigration_procedure.jpg) center no-repeat;
  }

}



// bg 컨텐츠
.section-bg{
  height:420px;
  background:url(/static/ap/images/bg_section01.jpg) center no-repeat;
  position: relative;
  &.transfer-bg{
    background:url(/static/ap/images/bg_transfer02.jpg) center no-repeat;
  }

  &-inner{
    @extend %clearfix;
    display:table;
    height:100%;
    //화면분할
    &.split{
      float:left;
      width:50%;
    }
    &.bgcolor-b{
      background:rgba(66,81,158,.6);
      padding-left:108px;
    }
  }
  &-contents{
    display:table-cell;
    vertical-align:middle;
  }
  &-contents2{
    display:inline-block;
    float: left;
    margin-left: 40px;
    .logo-text{
      font-size: 0.875rem;
      color: #ffffff;
    }
  }
  &-list{
    @extend %clearfix;
    margin-top:34px;
    &.col-2{
      display: inline-block;
      .section-bg-list-item{
        width:270px;
      }
    }
    &.col-4{
      .section-bg-list-item{
        width:calc(25% - 18px);
      }
    }
    &.col-5{
      .section-bg-list-item{
        width:calc(20% - 20px);
        padding:27px 0;
      }
      .section-bg-list-tit{
        font-size:1.375rem;
      }
    }
    &-item{
      float:left;
      display:table;
      background:rgba(0,0,0,.25);
      padding:27px;
      margin-left:24px;
      border:2px solid rgba(222,227,235,.5);
      &:first-child{
        margin-left:0;
      }
    }
    &-inner{
      display:table-cell;
      vertical-align:middle;
      text-align:center;
      & .btn-type-small{
        margin-top:20px;
        min-width:126px;
      }
    }
    &-tit{
      font-family: nanumsq, sans-serif;
      color:#fff;
      font-size:1.625rem;
      font-weight:300;
    }
  }
  &.tour-info{
    background:url(/static/ap/images/bg_tourinfo.jpg);
    height:510px;
  }
  &.airline-city{
    background:url(/static/ap/images/bg_airline_city.jpg);
    height: 240px;
    margin-bottom: 20px;
    .section-bg-inner{
      .section-bg-contents{
        .section-bg-head{
          &:after{
            margin: 30px auto 0;
          }
        }
      }
    }
  }
  &-head{
    display:block;
    font-family: nanumsq, sans-serif;
    color:#fff;
    font-size:2.875rem;
    font-weight:300;
    text-align:center;
    &:after{
      content:'';
      display:block;
      width:40px;
      height:2px;
      background:#fff;
      margin:30px auto;
    }
  }
  &-head2{
    display:block;
    font-family: nanumsq, sans-serif;
    color:#fff;
    font-size:1.125rem;
    font-weight:300;
    &:after{
      content:'';
      display:block;
      width:100%;
      height:1px;
      margin-top: 10px;
      background:#fff;
      opacity: 0.3;
    }
  }
  &-desc{
    color:#fff;
    line-height:1.5;
    text-align:center;
    &.left{
      text-align:left;
    }
  }
  &-sublist{
    color:#fff;
    &-tit{
      font-size:1.375rem;
      font-weight:700;
      margin-top:20px;
    }
    &-desc{
      padding-top:8px;
      line-height:1.5;
    }
  }
  .btn-type-infolink{
    margin-bottom:30px;
  }
  .contents-sub-head{
    padding:0!important;
    .clip-white{
      &:after{
        margin:20px auto 0;
      }
    }
  }
  &.parking-info{
    background:url(/static/ap/images/bg_parking_info.jpg);
    height:420px;
    .section-bg-inner{
     height: 350px;
    }
  }
}
.top-notice{
  display:inline-block;
  width:860px;
  margin:20px 0 0 40px;
  .top-notice-desc{
    letter-spacing:-1px;
    padding-top:10px;
    color:#fff;
    font-size:0.825rem;
    &:before{
      content:'';
      display:inline-block;
      margin-right:8px;
      background: url(/static/ap/images/ico_notice.png);
      width: 17px;
      height: 12px;
    }
  }
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background: #fff;
    opacity: 0.3;
  }
}
.inner-tab{
  position: relative;
  top: -54px;
  &-heading{
    border:none;
    background: #3e4b91;
    color:#fff;
    &.on{
      background:#fff;
      color: #42519e;
      font-weight:800;
    }
  }
}

// boxmodel
.boxmodel{
  &.parking{
    .boxmodel-list-item{
      //height:400px;
      .boxmodel-list-item-inner{
        padding: 30px 30px 20px;
      }
    }
  }

  &-list{
    @extend %clearfix;
    display:table;
    width:100%;
    //height:100%;
    margin-bottom:30px;
    &.h-472{
      height:497px;
    }
    &.h-360{
      height:360px;
    }
    &.h-420{
      height:420px;
    }
    &.h-498{
      height:498px;
    }
    &.h-520{
      height:520px;
    }
    &.box-border{
      border-top: 1px solid #dee3eb;
      padding-top: 30px;
    }
    &-head{
      font-family: nanumsq, sans-serif;
      font-size:2.125rem;
      font-weight:400;
      text-align:center;
      line-height:1.4;

      &.small{
        font-size: 1.5rem;
      }

      &.reverse{
        font-size:1.75rem;
        &:after{
          display:none
        }

        &:before{
          content:'';
          display:block;
          height:79px;
          margin:18px auto 0 auto;
          background: url(/static/ap/images/spr_ico_ac_submain.png) no-repeat;
        }

        /* 임산부 유아 동반 */
        &.pregnantwoman:before{
          background-position:-587px -118px;
          width:58px;
        }

        /* 어린이 동반 */
        &.child:before{
          background-position:-690px -112px;
          width:58px;
        }

        /* 교통약자 동반 */
        &.traffickingweak:before{
          background-position:-50px -215px;
          width:55px;
        }

        /* 애완동물 동반 */
        &.pet:before{
          background-position:-171px -216px;
          width:56px;
        }
      }

      &:after{
        content:'';
        display:block;
        height:79px;
        margin:18px auto 0 auto;
        background: url(/static/ap/images/spr_ico_ac_submain.png) no-repeat;
      }

      &.noicon:after{
        display:none;
      }

      /* 터미널도착 */
      &.arrival:after{
        background-position:-34px -34px;
        width:88px;
      }

      /* 탑승수속 */
      &.procedure:after{
        background-position:-158px -34px;
        width:70px;
      }

      /* 수하물 */
      &.baggage:after{
        background-position:-265px -32px;
        width:55px;
      }

      /* 세관신고 */
      &.customs:after{
        background-position:-359px -36px;
        width:57px;
      }

      /* 출국장 이동 및 입국장 */
      &.leave:after{
        background-position:-453px -29px;
        width:86px;
      }

      /* 보안검색 */
      &.security:after{
        background-position:-570px -28px;
        width:90px;
      }

      /* 출국심사 및 입국심사 */
      &.screening:after{
        background-position:-696px -27px;
        width:51px;
      }

      /* 인천국제공항 도착 */
      &.incheon-arrival:after{
        background-position:-34px -125px;
        width:88px;
      }

      /* 신고서 작성 */
      &.statement:after{
        background-position:-176px -125px;
        width:44px;
      }

      /* 세관검사 */
      &.examination:after{
        background-position:-274px -125px;
        width:57px;
      }

      /* 비자 */
      &.visa:after{
        background-position:-361px -126px;
        width:57px;
      }

      /* 국제운전면허증 */
      &.certification:after{
        background-position:-459px -117px;
        width:73px;
      }

      /* 버스 */
      &.bus:after{
        background-position:-270px -217px;
        width:52px;
      }

      /* 콜밴 */
      &.callvan:after{
        background-position:-355px -220px;
        width:53px;
      }

      /* 공항철도 */
      &.airtrack:after{
        background-position:-466px -207px;
        width:73px;
      }

      /* 출국 전 준비 new */
      &.departure-ready:after{
        background-position:-583px -210px;
        width:67px;
      }

      /* 주차대행안내 */
      &.valet-service:after{
        background-position:-698px -207px;
        width:49px;
      }

      /* 주차요금안내 */
      &.parking-fee:after{
        background-position:-55px -319px;
        width:52px;
      }

      /* 주차요금계산기 */
      &.parking-fee-calculator:after{
        background-position:-169px -319px;
        width:58px;
      }

      /* 내차위치찾기 */
      &.car-position:after{
        background-position:-264px -311px;
        width:58px;
      }

      /* 주차장혼잡도보기 */
      &.parking-congestion:after{
        background-position:-353px -308px;
        width:56px;
      }

      /* 주차장안내 */
      &.parking-info:after{
        background-position:-485px -305px;
        width:39px;
      }

      /* 환승 - 제1여객터미널에서 환승하기 */
      &.terminal_first:after{
        background-position: -342px -395px;
        width: 110px;
      }
      /* 환승 - 탑승동에서 환승하기 */
      &.terminal_passenger:after{
        background-position: -55px -395px;
        width: 116px;
      }
      /* 환승 - 제2여객터미널에서 환승하기 */
      &.terminal-second:after{
        background-position: -208px -395px;
        width: 110px;
      }


    }

    &-item{
      display:table-cell;
      height:100%;
      vertical-align:top;
      //overflow:auto;
      &-inner{
        //height:352px; // 기본값 지정
        height:100%;
        padding:24px 30px 20px;
        background:#fff;
        border: 1px solid #dee3eb;

        &.color{
          background:#f2f4f7;
        }

        &.img{
          border:none;
          background-size:cover!important;
          &.leave{
            background:url(/static/ap/images/bg_step_leave.jpg);
          }
          &.entry{
            background:url(/static/ap/images/bg_step_entry.jpg);
          }

          &.domestic-interchange_01{
            background: url(/static/ap/images/bg_domestic_interchange_01.jpg);
          }

          &.domestic-interchange_02{
            background: url(/static/ap/images/bg_domestic_interchange_02.jpg);
          }

          &.domestic-flights{
            background: url(/static/ap/images/bg_domestic_flights.jpg);
          }

          .boxmodel-list-head{
            color:#fff;
            font-size:2.875rem;
            font-weight:500;
            margin-top:80px;
            &:after{
              display:none
            }
          }
          .boxmodel-list-desc{
            //max-width:306px;
            color:#fff;
            font-size:1.125rem;
            font-weight:300;
            text-transform:uppercase;
            margin-top:6px;
          }
        }
      }
      &.text-left{
        & .boxmodel-list-desc{
          text-align:left;
        }
      }
      &.text-small{
        color:#444;
        font-size:1rem;
        letter-spacing:-1px;
      }
      &.list-end{
        width:66.66%;
        color:#b7c0ce;
        font-size:2.225rem;
        text-align:center;
        position:relative;
        .list-end-content{
          //height:56px;
          //position:absolute;
          //top:0;
          //bottom:0;
          //right:0;
          //left:0;
          //margin:auto;
          line-height:352px; // for ie
        }
      }
      &.col-full{
        width:100%;
        .boxmodel-list-item-inner {
          border-right: 0;
          border-left: 0;
        }
      }
      &.col-1{
        width:100%;
        .leave-check{
          border-right:0;
          border-left:0;
          padding: 24px 30px 0;
          .col-btn{
            width:100%;
            margin-bottom:-2px;
            @extend %clearfix;
            a{
              text-align: center;
              border: 1px solid #f2f4f7;
            }
            &-link1{
              float:left;
              width:20%;
            }
            &-link2{
              width: 100%;
            }

            &-link3{
              float:left;
              width:33.33%;
            }
          }
        }
      }
      &.col-2{
        width:50%;

        .boxmodel-list-item-inner{
          margin-right:12px;
        }

        &:last-child{
          .boxmodel-list-item-inner{
            margin-left:12px;
            margin-right:0;
          }
        }
      }
      &.col-3{
        width:33.3333333%;
        .boxmodel-list-item-inner{
          margin-right:12px;
        }

        &:nth-child(2){
          .boxmodel-list-item-inner{
            margin-left:12px;
          }
        }

        &:last-child{
          .boxmodel-list-item-inner{
            margin-left:12px;
            margin-right:0;
          }
        }
      }
    }
    &-num{
      display:block;
      position:relative;
      margin-bottom:40px;
      color:#97a4b9;
      font-family:nanumsq, sans-serif;
      font-weight:400;
      text-align:center;
      &:before, &:after{
        content:'';
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
        width:calc(50% - 22px);
        height:1px;
        background:#dbdfe6;
      }
      &:before{
        left:0;
      }
      &:after{
        right:0;
      }
    }
    &-support{
      font-size:1.25rem;
    }
    &-desc{
      color:#000;
      line-height:1.5;
      text-align:center ;
    }
    //&-item.img{
    //  border:none;
    //  &.leave{
    //    background:url(/static/ap/images/bg_step_leave.jpg);
    //  }
    //  &.entry{
    //    background:url(/static/ap/images/bg_step_entry.jpg);
    //  }
    //  .boxmodel-list-head{
    //    color:#fff;
    //    font-size:2.875rem;
    //    font-weight:500;
    //    margin-top:80px;
    //    &:after{
    //      display:none
    //    }
    //  }
    //  .boxmodel-list-desc{
    //    max-width:306px;
    //    color:#fff;
    //    font-size:1.125rem;
    //    font-weight:300;
    //    text-transform:uppercase;
    //    margin-top:6px;
    //  }
    //}

    &-item.text-left{
      & .boxmodel-list-desc{
        text-align:left;
      }
    }
    &-item.text-small{
      color:#444;
      font-size:1rem;
      letter-spacing:-1px;
    }
    &-item.col-two-thirs{
      width:66.66%;
      .boxmodel-list-item-inner{
        margin-left: 12px;
      }
    }
    &-item.col-1{
      width:100%;
    }
    &-item.list-end{
      color:#b7c0ce;
      font-size:2.225rem;
      text-align:center;
      position:relative;
      .list-end-content{
        //height:56px;
        //position:absolute;
        //top:0;
        //bottom:0;
        //right:0;
        //left:0;
        //margin:auto;
        line-height:352px; // for ie
      }
    }
    &-item.col-2{
      width:50%;
      line-height:1.7;
      text-align:center
    }
  }
  // boxmodel button layout
  &-btn-group{
    height:38px;
    margin-bottom:4px;
    line-height:38px;

    &.col-2{
      border:1px solid #d9e0ea;
      border-radius:4px;
      overflow:hidden;
      & .boxmodel-btn-link{
        float:left;
        width:50%;
        border:none;
        border-radius:0;
        &:first-child{
          border-right:1px solid #d9e0ea;
        }
      }
    }

    &.row-2{
      height:80px;
      line-height:80px;
    }

    &.row-3{
      height:66px;
      line-height:66px;
    }
  }

  // boxmodel sub button style
  &-btn-groupsub{
    display: block;
    //max-width: 306px;
    margin: auto;
    background: #f8f8f8;
    border: 1px solid #d9e0ea;
    border-radius: 4px;
    font-size: 1.125rem;
    overflow:hidden;
    &-tit{
      display:inline-block;
      width: 100%;
      height: 38px;
      background:#fff;
      border-bottom:1px solid #d9d9d9;
      line-height:38px;
      text-indent:20px;
      font-weight:600;
    }
    & .list2{
      width:100%;
      padding:8px 0 8px 20px;
      line-height:1.7;
      transition:all .2s;
      &-link{
        width:100%;
        height:100%;
        text-indent:0;
        font-weight:600;
        &.ico:after{
          left:auto;
          right:20px;
        }
        &:hover{
          color:#999;
        }
      }
    }
  }
  // boxmodel button style
  &-btn-link{
    display:block;
    position: relative;
    //max-width:306px;
    height:100%;
    margin:auto;
    background:#fff;
    border:1px solid #d9e0ea;
    border-radius:4px;
    font-size:1.125rem;
    font-weight:600;
    text-indent:20px;
    transition:all .2s;

    &.small{
      font-size: 1rem;
    }
    &:hover{
      background:#f2f4f7;
    }
    &.ico:after{
      left:auto;
      right:20px;
    }

    .link-guide{
      color:#666;
      font-size:1rem;
      vertical-align:1px;
    }
  }
}


.boxmodel-list{

}


//
//.icon-check{
//  display: block;
//  height: 155px;
//  padding: 15px 0 0 90px;
//  position: relative;
//
//  &-title{
//    font-weight: 700;
//    margin-bottom: -11px;
//  }
//
//}
//
//.boxmodel-list-item-inner{
//
//  //.list1{
//  //  &.col-right{
//  //    width: 680px;
//  //    float: left;
//  //  }
//  //}
//
//
//
//}







// icon text
.icontxt {
  display:table;
  width:100%;
  height:100%;
  &:before {
    content:"";
    display: table;
    width: 155px;
    height: 155px;
    background: url(/static/ap/images/spr_ico_check.png) no-repeat;
  }

  &-title{
    width:100%;
    display:table-cell;
    vertical-align:middle;
    height:100%;
    text-align: center;
    font-family: 'nanumsq', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    line-height:1.3;

  }
  &.icon-check-passport{
    &:before{
      background-position: -12px -21px;
    }
  }

  &.icon-check-visa{
    &:before{
      background-position: -181px -21px;
    }
  }

  &.icon-check-international-driver-license{
    &:before{
      background-position: -349px -21px
    }
  }

}

//button
.btn-type{
  &-infolink{
    height:50px;
    padding:0 60px 0 20px;
    line-height:50px;
    border:2px solid #fff;
    color:#fff;
    font-size:1.25rem;
    font-weight:400;
    cursor: pointer;
    &:hover{
      border-color:rgba(255,255,255,.4);
      color:#ffae44;
      &:after{
        opacity:.4;
      }
    }
    &.ico{
      text-indent:0;
      &:after{
        left:auto;
        right:18px;
      }
    }
  }
  &-normal{
    min-width:222px;
    height:50px;
    background:#fff;
    padding:0 45px 0 20px;
    line-height:50px;
    border:1px solid #666;
    font-size:1.125rem;
    font-weight:600;
    text-align:left;
    &.point{
      background:#42519e;
      border:1px solid #42519e;
      color:#fff;
    }
    &:hover{

    }
    &.ico{
      text-indent:0;
      &:after{
        left:auto;
        right:18px;
      }
    }
  }

  &-round-under{
    min-width:198px;
    height:47px;
    line-height:47px;
    padding:0 32px 0 22px;
    background:none;
    border:2px solid #d9d9d9;
    border-radius:50px;
    color:#fff;
    font-size:1.125rem;
    font-weight:600;
    text-align: left;
    cursor: pointer;
    &:hover{
      border-color:rgba(255,255,255,.4);
      &:after{
        opacity:.4;
      }
    }
    &.ico{
      text-indent:0;
      &:after{
        left:auto;
        right:22px;
      }
    }
  }

  &-small{
    min-width:146px;
    height:30px;
    background:#fff;
    padding:0 32px 0 12px;
    line-height:30px;
    border:1px solid #d9d9d9;
    border-radius:50px;
    font-size:0.875rem;
    font-weight:400;
    cursor: pointer;
    &.point{
      background:#f2f2f2;
    }
    &.under{
      background:none;
      color:#fff;
      &:hover{
        border-color:rgba(255,255,255,.4);
        color:#ffae44;
        &:after{
          opacity:.4;
        }
      }
    }
    &.detail{
      padding:0 58px 0 14px;
      min-width:110px;
    }

    &.ico{
      text-indent:0;
      &:after{
        left:auto;
        right:14px;
      }
    }
  }
  &-down{
    height:70px;
    padding:0 96px 0 20px;
    background:rgba(0,0,0,.2);
    border:2px solid rgba(242,244,247,.5);
    color:#fff;
    font-size:1.5rem;
    font-weight:600;
    line-height:70px;
    cursor: pointer;
    &:hover{
      color:rgba(255,255,255,.4);
      color:#ffae44;
      &:after{
        opacity:.5;
      }
    }
    &.ico{
      text-indent:0;
      &:after{
        left:auto;
        right:16px;
      }
    }
  }
}

.guide-desc{
  display:block;
  color:#666;
  font-size:1rem;
  line-height:1.6;

  &.color{
    color:#d43e41;
  }

  &.mark{
    text-indent:-20px;
    padding-left:20px;

    &:before{
      content:"※";
    }

    &-center{
      text-indent: 0;
      padding: 0 0;
      text-align: center;
    }
  }
  &.mark2{
    text-indent:-20px;
    padding-left:20px;

    &:before{
      content:"*";
      position: relative;
      top: 4px;
    }
  }
}

//.boxsize-auto{
//  min-height:inherit!important;
//  height:auto!important;
//}

.logo-list{
  @extend %clearfix;
  &-item{
    float: left;
    font-size: 0.875rem;
    text-indent: -99999em;
    display: block;
    background: url(/static/ap/images/spr_departure_procedures_logo.png)no-repeat;
    margin-left: 20px;
    &:first-child{
      margin-left: 0;
    }
    &.asiana{
      width: 93px;
      background-position: 0 0;
    }
    &.jejuair{
      width: 53px;
      background-position: -108px 0;
    }
    &.jinair{
      width: 67px;
      background-position: -186px 0;
    }
    &.tway{
      width: 30px;
      background-position: -276px 0;
    }
    &.eastar{
      width: 64px;
      background-position: -334px 0;
    }
    &.airseoul{
      width: 76px;
      background-position: -423px 0;
    }
    &.koreanair{
      width: 85px;
      background-position: 0 -27px;
    }
    &.airfrance{
      width: 92px;
      background-position: -98px -28px;
    }
    &.klm{
      width: 28px;
      background-position: -208px -28px;
    }
    &.delta{
      width: 70px;
      background-position: -249px -27px;
    }
  }
}

// 기타 (에러 등 별도)페이지
.etc-page{
  text-align:center;
  margin-top:120px;
  &-article{
    display:inline-block;
    max-width:600px;
    .btn-type-normal{
      margin-top:60px;
    }
  }
  &-heading{
    font-size:2.375rem;
    &:before{
      display:block;
      content:'';
      width:154px;
      height:154px;
      border-radius:50%;
      margin:0 auto 40px auto;
    }
    &.error:before{
      background:url(/static/ap/images/ico_error.png) center no-repeat #f8f8f8;
    }
  }
  &-desc{
    margin-top:30px;
    font-size:0.9375rem;
  }
  &-link{
    color:#42519e;
  }
}