.contents{
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
}

.location{
  position: relative;
  &-btn{
    position: absolute;
    top:20px;
    right:25px;
    & button{
      border: none;
      background:#fff;
      width: 44px;
      height: 22px;
      &+ button{
        border-left: 1px solid #f2f2f2;
      }
    }
  }
  &-bar{
    position: absolute;
    top:20px;
    left:25px;
    &-nav{
     @extend %clearfix;

     &-item {
       padding-left: 20px;
       float: left;
       line-height:1.7;
       &.ico{
         text-indent: 0;
         &:after{
           top:1px;
           left: auto;
           right: -10px;
         }
       }
       .home{
         &.ico{
           &:after{
             top:-2px;
             left: auto;
             right: 0px;
           }
         }
       }
      &-link{
        color: #666;
        font-size:0.875rem;
      }
     }
    }
  }
}

.contents-sub{
  &-head{
    padding:62px 0 40px;
    text-align: center;

    &-title{
      font:700 2.875rem  'NanumSquare', sans-serif;
    }

    &-article{
      color:#666;
      font-size: 1rem;
      margin-top: 20px;
    }

  }
}

.contents-visual{
  min-height:300px;
  height:300px;
  padding-top: 90px;
  &.departure{
    background:url(../images/img_sub_visual_departure.jpg) center no-repeat;
    background-size: cover;
  }
  &.airline{
    background:url(../images/img_sub_visual_airline.jpg) center no-repeat;
    background-size: cover;
  }
}

.congestion{
  border-left: 1px solid rgba(255, 255, 255, .2);
  width: 200px;
  float: right;
  position:relative;
  right: 40px;
  top:-25px;

  &-title{
    color:#fff;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;

    .point{
      color: #ffae44;
    }
  }

  &-quick-link{
    color:#fff;
    font-size: 0.875rem;
    border: 1px solid #fff;
    border-radius:20px;
    box-sizing: border-box;
    padding:0 10px;
    line-height: 30px;
    display: inline-block;
    width: 126px;
    height: 30px;
    text-align: left;
    margin-left: 40px;
    &.ico{
      text-indent:0;
    }
    &.ico:after{
      left:95px;
    }
  }


}

.tab{
  &-main{
    width: 450px;
    margin: 0 auto;
    text-align: center;

    &-list{
      display: inline-block;

      @extend %clearfix;

      &-item{
        float: left;
        border: 2px solid rgba(255, 255, 255, .5);
        box-sizing: border-box;
        font-size: 1.5rem;

        &:first-child{
          border-top-left-radius: 5px;
          border-bottom-left-radius:5px;
          border-right:none;
        }
        &:last-child{
          border-top-right-radius: 5px;
          border-bottom-right-radius:5px;
          border-left:none;
        }
        & a{
          color: #fff;
          line-height: 50px;
          width: 208px;
          height: 50px;
          font-weight: 700;
          display: inline-block;
        }

        &.on{
          background:#fff;

          & a{
            color: #42519e;
          }
        }
      }
    }
  }

  &-sub{
    text-align: center;
    margin-bottom: 30px;

    &-list{
      margin-top: 81px;

      @extend %clearfix;

      &-item {
        float: left;
        background:rgba(66, 81, 158, .9);
        font-size: 	1.375rem;
        font-weight:300;
        line-height:72px;
        height: 72px;
        & a{
          color: #fff;
          display: inline-block;
          width: 574px;
        }
        &.on{
          background: #fff;
          font-weight: 700;
          & a{ color: #42519e;
          }
        }
        &+.tab-sub-list-item{
          margin-left: 4px;
        }
      }
    }
  }
}

.info{
  text-align:left;
  margin-bottom:30px;
  &-txt{
    font-size: 1rem;
    color:#666;
    &-article{
      line-height:1.5;
    }
  }
}

.search{
  margin-bottom:20px;
  display: inline-block;
  &-option{
    float: left;
    margin-right:20px;
    input[type="radio"].radio{
      display: none;
      & + .search-option-btn{
        cursor: pointer;
        height: 60px;
        padding:0 18px;
        line-height: 60px;
        display: block;
        background: #fff;
        border: 1px solid #a5a7aa;
        box-sizing: border-box;
        color: #666;
        font-size: 1rem;
        float: left;
        &:after{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          z-index: -1;
        }
      }
      &:checked + .search-option-btn {
        cursor: default;
        color: #343951;
        font-weight: 800;
        border: 1px solid #323648;
        &:after{
          left: 0;
        }
      }
    }
  }
  &-select{
    border: 1px solid #666;
    box-sizing: border-box;
    height: 60px;
    float: left;

    &-article{
      font-size: 1rem;
      padding:18px 10px;
      box-sizing: border-box;
      border: none;
      border-right: 1px solid #d9d9d9;
      vertical-align: bottom;
      width: 186px;
      height: 58px;
      float: left;
    }
    &-airplane{
      background: #fcfbe8;
      border: none;
      box-sizing: border-box;
      font-size: 1rem;
      padding:0 10px;
      width: 180px;
      height:58px;
      float: left;
    }
    &-btn{
      border:none;
      padding:20px;
      vertical-align: bottom;
      background:#323648;
      text-indent: -9999px;
      display: inline-block;
      width: 62px;
      height: 58px;
    }
  }
}

.updata{
  text-align: right;
  margin-bottom: 20px;
  &-time{
    font-size: 0.875rem;
    color: #666;
    margin-right: 10px;
  }
  &-refresh{
    border: 1px solid #d9d9d9;
    background: #fff;
    font-size:0.8125rem;
    color: #666;
    padding: 0 10px  0 25px;
    line-height: 26px;
    height: 26px;
    &.ico{
      text-indent:0;
    }
    &.ico:after{
      right: 60px;
      top:6px;
    }
  }
}

.ap-basic{

  &-title{
    background:#323648;
    margin-bottom: 10px;

    @extend %clearfix;

    &-details{
      float:left;
      font-size:1rem;
      color: #fff;
      text-align: center;
      padding: 18px 0;

      &+.ap-basic-title-details{
        border-left: 1px solid #474a5b;
        box-sizing: border-box;
      }
    }
  }
  &-substance{
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    @extend %clearfix;

    &-details{
      height: 80px;
      padding: 25px 0;
      float:left;
      text-align: center;
      line-height: 33px;
      &+.ap-basic-title-details{
        border-left: 1px solid #f2f4f7;
        box-sizing: border-box;
      }
      .font-large{
        font-size: 1.5rem;
      }
      .font-small{
        font-size: 	0.875rem;
      }
      .text-line{
        font-size: 	0.875rem;
        color: #4f73bc;
        text-decoration:line-through;
      }
      .f-left{
        float: left;
      }
      &.two, .two{
        line-height: 1;
      }
      .bg{
        width: 74px;
        height: 28px;
        margin: 0 auto;
        line-height: 28px;
        display: block;
        color: #fff;
        font-size: 	0.875rem;
        border-radius: 5px;
        &.type1{
          background: #d43e41;
        }
        &.type2{
          background: #42519e;
        }
        &.type3{
          background: #2c8179;
        }
      }

    }
  }
  /*width type*/
  .xxxx-s{
    width:80px;
  }
  .xxx-s{
    width:90px;
  }
  .xx-s{
    width:95px;
  }
  .x-s{
    width:100px;
  }
  .small{
    width:110px;
  }
  .medium{
    width:130px;
  }
  .large{
    width:140px;
  }
  .x-l{
    width:150px;
  }
  .xx-l{
    width:160px;
  }
  .xxx-l{
    width:195px;
  }
  .xxxx-l{
    width:200px;
  }
  .big{
    width:265px;
  }
  .greater{
    width:300px;
  }
  .biggest{
    width:360px;
  }
}

.flight{
    border-top: 1px solid #a5a7aa;
    padding-top: 35px;
    text-align: center;
    margin-bottom: 35px;
  &-search{
      font-size: 1.875rem;
      color: #444;
    &-txt{
      margin-right:5px;
    }
    &-option{
      font-size: 1.125rem;
      color: #666;
      padding: 0 15px;
      border: 1px solid #d9d9d9;
      height:58px;
      width: 180px;
      margin-right:5px;
    }
    &-btn{
      font-size: 1.625rem;
      color: #fff;
      background: #323648;
      border: none;
      width: 130px;
      height: 58px;
      line-height:1;
      margin-left:25px;
      padding-left:40px;
      &.ico{
        text-indent:0;
      }
      &.ico:after{
        right:60px;
        top:4px;
      }
    }
  }
}

.search-area{
  position:relative;
  margin-top:-247px;
  &-head{
    text-align: center;
    height: 94px;
    &-title{
      color: #fff;
      font: 2.375rem 'NanumSquare', sans-serif;
      margin-bottom: 20px;
    }
  }
  &-airline{
    margin: 0 auto;
    width: 670px;

    @extend %clearfix;

    &-option{
      border: none;
      font-size: 1.125rem;
      padding: 0 15px;
      width: 182px;
      height: 58px;
      line-height: 1;
      float: left;
    }
    &-txt{
      width: 323px;
      height: 58px;
      border: 0;
      border-left:1px solid #d9d9d9;
      padding: 0 15px;
      float: left;
    }
    &-btn{
      background:#42519e;
      border: none;
      color: #fff;
      font-size: 1.625rem;
      width: 132px;
      height: 58px;
      line-height: 1;
      padding-left: 15px;
      &.ico{
        text-indent:0;
      }
      &.ico:after{
        top:3px;
        right:88px;
      }
    }
  }
}

.list1{
  &-item{
    padding-left:12px;
    position:relative;

    &:before{
      content: "·";
      font-size: 	1.625rem;
      position:absolute;
      top:-6px;
      left:0;
    }
  }
}
.list2{
  &-item{
    padding-left:12px;
    position:relative;

    &:before{
      content: "-";
      font-size: 	1rem;
      font-weight: 300;
      position:absolute;
      top:0;
      left:0;
    }
  }
}

.list3{
  &-item{
    padding-left:23px;
    position:relative;

    .number{
      position:absolute;
      top:0;
      left:0;
    }
  }
}

.table{
  width:100%;

  caption{
    display:none;
  }

  &.vt{
    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }
    &.border-no{
      border-top: none;
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }
    &.border-right{
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }

    tr.on{
      background:#f3f4f8;
    }

    th{
      padding:19px 0 16px;
      font-size:1rem;
      font-weight:700;
      position:relative;

      &:after{
        content:"";
        display:block;
        width:1px;
        height:16px;
        background:#a5a7aa;
        position:absolute;
        top:17px;
        right:0;
      }

      &:last-child:after{
        content:none;
      }
    }

    td{
      padding:19px 20px 16px;
      line-height:1.4;
      border:{
        right:1px solid #f2f4f7;
        top:1px solid #d9d9d9;
      }
      vertical-align:middle;

      &.center{
        text-align:center;
      }

      &.right{
        text-align:right;
      }

      &:last-child{
        border-right:0;
      }

      &.color-b{
        border-left: 4px solid #42519e;
      }
      &.color-g{
        border-left: 4px solid #2c8279;
      }
      &.color-o{
        border-left: 4px solid #dd7714;
      }

      & .board-list-link{
        font-size:1.125rem;
        transition:all .2s;
        &:hover{
          color:#999;
        }
        &.lock{
          &:after{
            content:"";
            display:inline-block;
            background:url(../images/spr_ico_crud.png) no-repeat -45px -52px;
            width: 13px;
            height: 17px;
            margin-left:14px;
            vertical-align:-1px;
          }
        }

        &.good{
          &:before{
            content:"";
            display:inline-block;
            background:url(../images/spr_ico_crud.png) no-repeat -52px -89px;
            width: 24px;
            height: 24px;
            margin-right:12px;
            vertical-align:-5px;
          }
        }

        &.bad{
          &:before{
            content:"";
            display:inline-block;
            background:url(../images/spr_ico_crud.png) no-repeat -16px -89px;
            width: 24px;
            height: 24px;
            margin-right:12px;
            vertical-align:-5px;
          }
        }
      }
    }

    &.board-list{
      font-size:1rem;
      & td{
        border-right:0;
        padding:23px 20px;
      }
    }

  }

  &.vt-dark{
    border-bottom:1px solid #a5a7aa;

    tbody{
      tr:first-child{
        td{
          border-top:0;
        }
      }
      tr:nth-child(2){
        background: #f8f8f8;
      }
    }

    th{
      padding:18px 0 16px;
      font-size:1rem;
      font-weight:400;
      color:#fff;
      background:#323648;
      border-right:1px solid #474a5b;
      vertical-align:middle;

      &:last-child{
        border-right:0;
      }

      &.half{
        padding:12px;
      }

      &.sub{
        padding:6px 0 8px;
        border:{
          top:1px solid #212535;
          right:1px solid #212535;
        }
        background:#4d5164;
        font-size:0.875rem;
        &.point{
          background: #2f4985;
        }

        &:last-child{
          border-right:0;
        }
      }

    }

    td{
      padding:19px 20px 16px;
      line-height:1.4;
      border-right:1px solid #f2f4f7;
      border-top:1px solid #d9d9d9;
      vertical-align:middle;
      word-break: keep-all;

      &.center{
        text-align:center;
      }

      &:last-child{
        border-right:0;
      }
      .schedule {
        background: #2f4985;
        border:5px solid #2f4985;
        border-radius: 20px;
        font-size: 0px;
        position: relative;
        top: -5px;
        &.weekend{
          background: #2c8179;
          border:5px solid #2c8179;
        }
      }
    }
  }

  &.hr{

    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }

    tr:first-child{
      th, td{
        border-top:0;
      }
    }

    th{
      min-width:150px;
      border-top:1px solid #d9d9d9;
      background:#f3f4f8;
      font-size:1rem;
      line-height:1.4;
      font-weight:700;
      vertical-align:middle;
      &.left{
        text-align: left;
        padding-left: 20px;
      }
    }

    td{
      padding:19px 20px 16px;
      border-top:1px solid #d9d9d9;
      border-right:1px solid #f2f4f7;
      line-height:1.4;
      vertical-align:middle;
      &.center{
        text-align:center;
      }
      &:last-child{
        border-right:0;
      }
    }

  }

}

.layer{
  width: 680px;
  height: 938px;
  border: 4px solid #42519e;
  overflow-y: scroll;
  &-area{
    padding: 35px 30px;
  }
  &-title{
    padding-bottom: 20px;
    border-bottom: 2px solid #42519e;
    font-size: 1.875rem;
    color: #42519e;
  }
  &-close{
    display: block;
    width: 31px;
    height: 31px;
    background:url(../images/ico_layer_close.png ) center no-repeat;
    text-indent: -99999em;
    position:relative;
    top: -56px;
    left: 95%;
    }
  &-article{
    margin-bottom:30px;
    &-title{
      margin-bottom: 20px;
      font-size:1.25rem;
      font-weight: 800;
    }
    &-input{
      width: 100%;
      height: 59px;
      font-size: 1.25rem;
      text-align: center;
      color: #666;
      background: #fcfbe8;
      border: 1px solid #d9d9d9;
    }
    &-box{
      width: 602px;
      height: 148px;
      padding: 20px 15px;
      border: 1px solid #e2e5e9;
      background: #f5f6f7;
      overflow-y: scroll;
      &-sub{
        margin-bottom: 7px;
        font-size:1.125rem ;
       }
      &-txt{
        font-size:1rem ;
      }
    }
  }
  .list1{
    font-size:1rem;
    letter-spacing:-0.02rem;
  }
  .info-desc{
    font-size: 0.875rem;
  }
}

.agree{
  text-align: center;
  &-radio {
    width: 27px;
    height:27px;
    margin-right: 0.5rem;
    vertical-align: text-bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    outline: none;
    &:checked {
      &.ico.agree-radio:after {
        background-position:-82px -293px;
        width: 27px;
        height: 27px;
      }
    }

  }
  label{
    cursor: pointer;
    vertical-align: middle;
    &+.agree-radio{
      margin-left:40px;
    }
  }

}
.ico.agree-radio:after {
  background-position:-35px -293px;
  width: 27px;
  height: 27px;
}
.enter{
  width: 100%;
  padding: 20px 0 30px;
  text-align: center;
  background: #f5f6f7;
  border-top: 1px solid #e2e5e9;
  &-btn{
    width: 200px;
    height: 46px;
    font-size: 1.25rem;
    color: #fff;
    background: #323648;
    border: 0;
    border-radius: 30px;
  }
}

strong{
  font-weight: 900;
  &.color{
    color:#41519e;
  }
  & span.color{
    color:#41519e;
  }
  &.f-left{
    float:left;
  }
}

.font-m{
  font-size: 1rem;
}



// text margin-top:20px
.mt10, %mt10{
  margin-top:10px;
}

// margin-top:20px;
.mt20, %mt20{
  margin-top:20px;
}

// text margin-top:40px;
.mt30, %mt30{
  margin-top:30px;
}

// margin-top:40px;
.mt40, %mt40{
  margin-top:40px;
}
