.full-page-content{
  >.section{
    background-position:center top;
    overflow:hidden;
  }
}

.main{

  &-visual{
    position:relative;
    overflow:hidden;

    &-wrap{
      height:100%;

      position:relative;

      z-index:90;
      overflow:hidden;
    }

    &-item{
      width:100%;
      height:100%;

      position:absolute;
      top:0;
      left:0;

      background-position:center top;

      .visual{
        &-text{

          &-box{
            text-align:center;
            position:relative;
            top:calc(50% - 55px);
            transform:translateY(-50%);
          }

          &.grand-open{
            &:nth-child(1){
              font-family:nanumsq, sans-serif;
              font-size:1.875rem;
              font-style:italic;
            }
            &:nth-child(2){
              margin-top:15px;
              font-family:exo, sans-serif;
              font-weight:900;
              font-style:italic;
              font-size:4.5rem;
            }
            &:nth-child(3){
              margin-top:45px;
              padding-top:30px;
              position:relative;

              &:after{
                content:"";
                display:block;
                width:50px;
                height:1px;
                background:#fff;
                position:absolute;
                top:0;
                left:50%;
                transform:translateX(-50%);
              }
            }
          }

          &:nth-child(1){
            position:relative;
            top:-20px;

            font-size:4.375rem;
            font-family:exo, sans-serif;
            font-weight:900;
            margin-bottom:10px;
            opacity:0;
          }
          &:nth-child(2){
            position:relative;
            top:-20px;

            font-size:2.125rem;
            font-family:nanumsq, sans-serif;
            font-weight:300;
            opacity:0;
          }

          &:nth-child(3){
            position:relative;
            top:-20px;
            opacity:0;
          }

          &.white{
            color:#fff;
          }

          &.black{
            color:#000;
          }

          &.blue{
            color:#42519e;
          }
        }
      }
    }

    &-control{

      &-arrow{
        width:100%;
        position:absolute;
        top:50%;
        left:0;
        z-index:100;

        >.arrow{
          width:74px;
          height:74px;
          padding:0;
          border:none;
          background:url(/static/ap/images/spr_main_visual_arrow.png) no-repeat;

          position:absolute;
          top:calc(50% - 55px);
          transform:translateY(-50%);

          text-indent:-99999em;

          &.prev{
            left:80px;
          }

          &.next{
            background-position:-84px 0;
            right:80px;
          }
        }
      }

      &-paging{
        position:absolute;
        bottom:250px;
        left:50%;
        transform:translateX(-50%);
        z-index:100;

        @extend %clearfix;

        .play-button{
          display:block;
          width:11px;
          height:11px;
          padding:0;
          border:none;
          border-radius:0;

          float:left;

          background:url(/static/ap/images/spr_ico_main_visual_play.png) no-repeat;

          text-indent:-99999em;

          &.play{
            background-position:-16px 0;
          }

        }

        .paging{

          &-visual{
            float:left;
            @extend %clearfix;
          }

          &-item{
            float:left;
            margin-right:10px;
          }
          &-link{
            display:block;
            width:11px;
            height:11px;
            border:2px solid #333;
            border-radius:50%;
            text-indent:-99999em;

            &.on{
              background:#333333;
            }
          }
        }
      }

      &-bar{
        width:0;
        height:3px;
        background:#ffae44;
        position:absolute;
        bottom:207px;
        left:0;
        z-index:110;
      }
    }

    &-search{
      width:100%;
      height:210px;
      padding-top:43px;
      background:url(/static/ap/images/bg_main_flight_search.png) no-repeat;

      position:absolute;
      bottom:0;
      left:0;

      color:#fff;
      text-align:center;

      z-index:100;

      @extend %clearfix;

      &-inner{
        display:inline-block;
        margin-right:100px;
      }

      &-title{
        margin:52px 25px auto auto;
        font-size:1.75rem;
        font-weight:300;
        float:left;
      }

      &-flight{
        width:370px;
        padding-top:45px;
        float:left;
        position:relative;

        &-area{
          //position:relative;

          .area{
            &-tab{
              width:183px;
              height:30px;
              padding-right:15px;
              border-bottom:1px solid #aec5fb;

              position:absolute;
              top:0;

              font-size:1.25rem;
              font-weight:300;
              color:#aec5fb;
              text-align:center;

              &.on{
                border-color:#fff;
                color:#fff;
              }

              &:before{
                content:"";
                display:inline-block;
                width:37px;
                height:15px;
                background:url(/static/ap/images/spr_ico_main_visual_search_flight.png) no-repeat;
              }

              &.departure{
                left:0;

                &.on:before{
                  background-position:0 0;
                }

                &:before{
                  margin-right:5px;
                  background-position:0 -25px;
                }
              }

              &.arrival{
                right:0;

                &.on:before{
                  background-position:-51px 0;
                }

                &:before{
                  margin-right:5px;
                  background-position:-51px -25px;
                }
              }
            }

            &-form{
              display:none;
              position:relative;
              padding-bottom:15px;
              border-bottom:1px solid #fff;

              &.on{
                display:block;
              }

              &-input{
                display:block;
                width:100%;
                height:40px;
                background:transparent url(/static/ap/images/bg_search_flight_place_holder.png) no-repeat 20px center;
                border:none;

                font-size:1rem;
                font-weight:300;
                color:#fff;

                &:focus{
                  background-image:none;
                }
              }

              &-button{
                width:25px;
                height:25px;

                position:absolute;
                top:8px;
                right:-30px;

                background:transparent url(/static/ap/images/ico_main_visual_search.png) no-repeat;
                border:0;

                text-indent:-99999em;
              }

            }
          }
        }
      }

      &-weather{
        position:absolute;
        top:84px;
        left:50%;
        transform:translateX(350px);
        padding-left:45px;

        @extend %clearfix;

        .weather{
          &-image{
            float:left;
          }

          &-temperature{
            float:left;
            margin:16px auto auto 15px;
          }
        }

        &:before{
          content:"";
          display:block;
          width:1px;
          height:72px;
          background:#fff;
          position:absolute;
          top:-12px;
          left:0;
          opacity:0.2;
        }
      }

      &-desc{
        margin-top:11px;
        font-size:0.8125rem;
        color:#a0a5be;
      }
    }

  }
}

.section{

  &-main{
    &-bg{
      width:100%;
      height:100%;
      position:absolute;
      top:-480px;
      left:0;
    }

    &-bottom-banner{
      height:180px;
      position:relative;
    }
  }

}