.skip-navigation-link{
  position:absolute;
  left:-99999%;
  text-decoration:none;

  &:focus{
    display:block;
    left:0;
    top:0;
    z-index:999999;
    width:100%;
    height:30px;
    line-height:30px;
    background:#000;
    color:#fff;
    text-align:center;
    font-weight:bold;
  }
}

.top-popup{
  width:100%;
  background:#272936;
  position:fixed;
  top:0;
  left:0;
  //overflow:hidden;
  z-index:10001;
  transition:all .3s ease-out;

  &-inner{
    height:0;
    position:relative;
    overflow:hidden;
    transition:all .3s ease-out;
  }

  &-wrap{
    width:1004px;
    height:110px;
    margin:32px auto 0;

    position:relative;
  }

  &-item{
    position:absolute;
    top:0;
    left:0;

    @extend %clearfix;
  }

  &-article{
    display:block;
    float:left;
    margin-right:24px;

    &:last-child{
      margin-right:0;
    }

    >img{
      display:block;
    }
  }

  &-control{
    width:1004px;
    margin:0 auto;

    &-arrow{
      //width:100%;
      //position:absolute;
      //top:50%;
      //left:0;
      z-index:100;

      >.arrow{
        width:16px;
        height:33px;
        padding:0;
        border:none;
        background:url(/static/ap/images/spr_ico_top_popup.png) no-repeat;

        position:absolute;
        top:73px;
        //top:50%;
        left:50%;
        //transform:translateY(-85%);

        text-indent:-99999em;

        &.prev{
          margin-left:-541px;

          &.end{
            opacity:0.2;
          }
        }

        &.next{
          background-position:-26px 0;
          margin-left:525px;

          &.end{
            opacity:0.2;
          }
        }
      }
    }

    &-paging{
      //position:absolute;
      //bottom:20px;
      //left:50%;
      //margin-left:451px;
      //z-index:100;
      margin-top:20px;
      text-align:center;

      @extend %clearfix;

      &-number{
        display:inline-block;
        margin-right:10px;
        font-family:spoqa, sans-serif;
        color:#fff;
        vertical-align:middle;

        >.current{
          font-weight:700;
        }

        >.total{
          font-weight:300;
        }

      }

      .play-button{
        display:inline-block;
        width:20px;
        height:19px;
        padding:0;
        border:none;
        border-radius:0;

        background:url(/static/ap/images/spr_ico_top_popup.png) no-repeat;

        text-indent:-99999em;

        &.play{
          background-position:0 -88px;
          margin-right:4px;
        }

        &.pause{
          background-position:-24px -88px;
        }

      }

    }

    &-today{
      position: absolute;
      bottom: 20px;
      right: 135px;
      .today{
        &-checkbox{
          border: 1px solid #868aa0;
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0px;
          &+.today-label{
            padding-left: 30px;
            &:before {
              content: '';
              width: 18px;
              height:17px;
              position: absolute;
              top:-3px;
              left: 0;
              border: 1px solid #868aa0;
              background: #272936;
            }
          }
          &:checked + .today-label:after {
            content: '\002714';
            position: absolute;
            top:2px;
            left:5px;
            line-height: 0.8;
            color: #faab44;
          }
        }
        &-label{
          color: #c6c6c6;
          font-size: 0.9375rem;
          cursor: pointer;
        }
      }
    }
  }

  &-toggle{
    //width:100px;
    height:20px;

    border:0;
    background:#272936;
    color:#fff;

    position:absolute;
    bottom:-20px;
    //left:50%;
    //margin-left:424px;
    right:375px;
    transition:all .3s ease-out;

    >span{
      display:inline-block;
      width:10px;
      height:6px;
      margin-left:3px;
      background:url(/static/ap/images/spr_ico_popupzone_.png) no-repeat;
      text-indent:-99999em;
      position:relative;
      top:6px;
    }

    &.down{
      >span{
        background-position:-20px 0;
      }
    }
  }

  &.down{
    .top-popup-toggle{
      //right:165px;
      bottom:0;
    }
  }
}

.top-open{

  &.top-popup{

    .top-popup-inner{
      height:200px;
    }
  }

  &.header{
    top:200px;
  }

  &.gnb{
    top:260px;
  }

  &.total-search{
    top:301px;
  }

  &.quick{
    top:300px;
    transform:none;
  }

  &.fullpage-wrapper{
    //top:200px;
  }
}

.top-big-open{

  &.top-popup{
    top:-220px;
  }

  &.header{
    top:-60px;
  }

  &.gnb{
    top:-40px;
  }

  &.quick{
    right:-73px;
  }
}

.header{

  width:100%;
  min-width:1200px;
  height:60px;
  padding-top:15px;
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  background:transparent;

  &-site{

    position:absolute;
    top:15px;
    left:15px;
    @extend %clearfix;

    &-item{
      float:left;
      &:first-child{
        margin-right:-1px;
      }
    }

    &-link{
      display:block;
      width:132px;
      height:32px;
      text-align:center;
      line-height:32px;
      font-size:0.8125rem;
      //color:#666;
      //border:1px solid #b7c0ce;
      color:#6d757b;
      border:1px solid #6d757b;
      position:relative;

      &.on{
        z-index:10;
        //color:#5171b3;
        //border:1px solid #4674c9;
        color:#fff;
        border:1px solid #fff;
        font-weight:300;
      }
    }

  }

  &-util{

    position:absolute;
    top:15px;
    right:15px;
    @extend %clearfix;

    &-cs{
      float:left;
      line-height:32px;
      margin-right:16px;

      &-item{
        float:left;
        padding-right:16px;
        position:relative;
        line-height:28px;

        &:last-child{
          padding-right:0;

          &:after{
            content:none;
          }
        }

        &:after{
          content:"";
          display:block;
          width:2px;
          height:2px;
          background:#fff;
          //background:#666;
          position:absolute;
          top:50%;
          right:6px;
          margin-top:-1px;
        }
      }

      &-link{
        font-size:0.8125rem;
        //color:#666;
        color:#fff;
        font-weight:300;

        &.strong{
          color:#222;
        }
      }
    }

    &-lang{
      float:left;
      width:120px;
      height:32px;
      background:transparent !important;

      .select-link{
        &-default{
          color:#fff;

          .ico.arrow_up:after {
            background-position: -390px -67px;
          }
        }
      }

      .select-list{
        width:120px;
        box-sizing:border-box;

        &-link{
          color:#fff;
        }
      }

    }

  }

  &-logo{
    width:215px;
    margin:0 auto;

    &-link{
      height:29px;
      display:block;

      background:url(/static/ap/images/logo.png) no-repeat;

      position:relative;

      text-indent:-99999em;

      &:after{
        content:"";
        display:block;
        width:215px;
        height:29px;
        background:url(/static/ap/images/logo_white.png) no-repeat;
        position:absolute;
        top:0;
        left:0;
        z-index:50;
        //opacity:0;
        opacity:1;
      }
    }
  }

  &-search{

    position:absolute;
    //top:63px;
    top:2px                                                                                                                                                                                                                                                                                                                                                                                                                                     ;
    right:15px;

    @extend %clearfix;

    &-item{
      float:left;
      margin-left:25px;
      position:relative;
      overflow:hidden;
    }

    &-btn{
      background:none;
      border:none;
      padding:0;
      cursor:pointer;

      &.gnb{
        &-map{
          height:27px;
          padding-left:27px;
          font-size:14px;
          text-indent:0;
          color:#fff;

          &:after{
            background-position:-445px -131px;
            width: 22px;
            height: 27px;
            right:auto;
          }

        }

        &-search{
          //width:22px;
          height:27px;
          padding-left:27px;
          font-size:14px;
          text-indent:0;
          color:#fff;

          &:after {
            background-position: -74px -134px;
            width: 22px;
            height: 27px;
            top:4px;
            right:auto;
          }

        }
      }

    }

    //&-input{
    //  display:none;
    //}

    &-close{
      width:15px;
      height:15px;
      position:absolute;
      top:7px;
      right:335px;
      border:none;
      background:transparent;
      text-indent:-99999em;

      &:after{
        content:"";
        display:block;
        width:15px;
        height:15px;
        background:url(/static/ap/images/ico_airplane_info_close.png) no-repeat;
        background-size:cover;
        position:absolute;
        top:0;
        left:0;
      }
    }

  }

  &.bg{

    background:#fff;

    .header{

      &-site{

        &-link{
          color:#666;
          border:1px solid #b7c0ce;

          &.on{
            color:#5171b3;
            border:1px solid #4674c9;
          }
        }

      }

      &-util{

        &-cs{

          &-item{

            &:after{
              background:#666;
            }
          }

          &-link{
            color:#666;

            &.strong{
              color:#222;
            }
          }

        }

        &-lang{

          .select-link{
            &-default{
              color:#666;

              .ico.arrow_up:after {
                background-position: -35px -67px;
              }
            }
          }

        }

      }

      &-logo{

        &-link{

          &:after{
            opacity:0;
          }
        }
      }

    }

  }

  &.down{
    top:-60px;
    transition:top .3s ease-out;
  }

  .scroll-amount{
    height:2px;
    background:#ffae44;
    position:absolute;
    top:0;
    left:0;
  }

}

.gnb{
  width:100%;
  height:41px;
  padding-top:7px;
  margin:0 auto;
  border-bottom:1px solid #ddd;
  overflow:hidden;
  position:fixed;
  top:60px;
  left:0;
  z-index:9998;

  //transition:background .3s ease-out, color .3s ease-out;
  transition:top .3s ease-out;

  &.on{
    height:278px;
  }

  &:after{
    content:"";
    display:block;
    width:100%;
    height:1px;
    background:#ddd;
    position:absolute;
    top:40px;
    left:0;
    z-index:0;
  }

  &-depth1{

    width:907px;
    margin:0 auto;

    @extend %clearfix;

    &-item{
      width:151px;
      float:left;
      box-sizing:border-box;
      position:relative;

      &:first-child{
        width:152px;

        .gnb-depth2{
          border-left:1px solid #ddd;
        }
      }

      &:hover, &.on{
        &:after{
          content:"";
          display:block;
          width:100%;
          height:2px;
          background: #42519e;
          position:absolute;
          top:31px;
          &:first-child{
            left:0;
          }
        }
      }

    }

    &-link{
      display:block;
      padding-left:20px;
      font-family:nanumsq, sans-serif;
      font-size:1.125rem;
      font-weight:900;
      color:#fff;

      &:hover{
        color:#42519e;
      }
    }

  }

  &-depth2{
    height:236px;
    margin-top:6px;
    padding:14px 0 0 20px;
    border-right:1px solid #ddd;
    box-sizing:border-box;

    &-item{
      margin-bottom:3px;
    }

    &-link{
      font-size:1.125rem;

      &:hover{
        color:#42519e;
        font-weight:400;
      }
    }
  }

  &-mobile-btn{
    display:none;
  }

  &.fixed{
    padding-top:11px;
    top:-50px;

    &.on{
      height:288px;
    }

    &.down{
      top:0;
      height:50px;

      &.on{
        height:288px;
      }

      &.top-open{
        top:200px;
      }

      .gnb-depth1{

        &-item{

          &:hover{
            &:after{
              content:"";
              display:block;
              width:100%;
              height:2px;
              background: #42519e;
              position:absolute;
              top:36px;
              &:first-child{
                left:0;
              }
            }
          }

        }
      }
    }

    &:after{
      top:49px;
    }

    .gnb-depth2{
      margin-top:12px;
    }

    &.bg{

      .header-search{

        top:10px;

      }

      &:before{
        content:"";
        display:block;
        width: 60px;
        height: 22px;
        background: url(/static/ap/images/logo_symbol.png) no-repeat;
        position: absolute;
        top: 15px;
        left: 30px;
        z-index: 50;
        opacity: 1;
        background-size:100%;
      }

    }

  }

  &.bg{

    background:#fff;

    .gnb-map{
      //background: url(/static/ap/images/ico_link_header_search.png) no-repeat!important;
      //background: #f79646;
      //border-radius: 20px;
      color: #fff;
      width:112px;
      height:36px;
      //padding: 0px 30px 0px 40px;
      text-indent:-9999px;
      &:after{
        display:none;
      }
    }

    .gnb{

      &-depth1{

        &-link{
          color:#222;
        }

      }

    }

    .header-search{

      position:absolute;
      //top:10px;
      right:5px;
      padding-right:78px;

      @extend %clearfix;

      &-item{
        float:left;
        margin-left:0;

        &.gnb-search{
          margin-left:0;
          float:none;
          position:absolute;
          top:0;
          right:0;
          text-align:right;
          width:68px;
          background:#6281c1;
          border-radius:20px;
          overflow:hidden;
          transition:all .3s ease-out;

          &.on{
            width:360px;
          }
        }
      }

      &-btn{
        background:none;
        border:none;
        //padding:0;
        cursor:pointer;
        color:#222;

        &.gnb{
          &-map{
            //background: #f79646;
            //border-radius: 20px;
            color: #fff;
            width:auto;
            height:19px;
            padding:4px 10px 6px 32px;
            background:#439096;
            text-indent:0;
            border-radius:20px;
            box-sizing:content-box;

            &:after{
              content:"";
              display:block;
              width:25px;
              height:25px;
              margin:0;
              background: url(/static/ap/images/ico_link_header_search.png) no-repeat;
              position:absolute;
              top:2px;
              left:2px;
            }

            /* &:after{
               background-position:-154px -131px;
               width: 22px;
               height: 27px;
             }*/

          }

          &-search{
            //width:22px;
            //height:27px;

            color: #fff;
            width:auto;
            height:19px;
            padding:4px 10px 6px 32px;
            background:#6281c1;
            text-indent:0;
            border-radius:20px;
            box-sizing:content-box;

            &:after {
              content:"";
              display:block;
              width:25px;
              height:25px;
              margin:0;
              background: url(/static/ap/images/ico_link_header_search.png) no-repeat -35px 0;
              position:absolute;
              top:2px;
              left:2px;
            }
          }
        }

      }

      &-input{
        display:block;
        width:250px;
        height:25px;
        border:0;
        position:absolute;
        top:2px;
        right:70px;
        background:transparent;
        color:#fff;
        font-weight:400;
        font-size:14px;
        line-height:14px;

        &::-webkit-input-placeholder {
          color: #fff;
        }
        &::-moz-placeholder {
          color: #fff;
        }
        &:-ms-input-placeholder {
          color: #fff;
        }
        &:-moz-placeholder {
          color: #fff;
        }
      }

    }

  }

  .scroll-amount{
    height:2px;
    background:#ffae44;
    position:absolute;
    top:0;
    left:0;
  }

}

.total-search{
  display:none;
  width:100%;
  background:#fff;
  padding:30px 0;
  border-bottom:1px solid #ddd;

  position:fixed;
  top:101px;
  left:0;

  text-align:center;

  z-index:99999;

  &-inner{
    display:inline-block;
  }

  &-label{
    font-family:nanumsq, sans-serif;
    font-size:1.5rem;
    font-weight:400;
  }

  &-input{
    width:370px;
    height:60px;
    margin:0 20px;
    background:transparent;
    border:0;
    border-bottom:2px solid #222;

    font-size:1.25rem;
  }

  &-btn.ico{
    width:22px;
    height:27px;
    padding:0;
    border:0;
    background:0;
    &:after{
      margin:0;
      padding:0;
      background-position: -34px -134px;
      width: 22px;
      height: 27px;
      top: 4px;
    }
  }

  &-close.ico{
    width:25px;
    height:25px;

    padding:0;
    border:0;
    background:0;
    position:absolute;
    top:50%;
    right:24px;
    transform:translateY(-50%);

    &:after{
      margin:0;
      padding:0;
      background-position: -143px -189px;
      width: 25px;
      height: 25px;
    }
  }

  &.show{
    display:block;
  }

  &.down{
    top:51px;
  }

}

/* quick menu */
.quick{
  //background:#333;
  width:73px;
  position:fixed;
  top:50%;
  right:0;
  //border-radius: 20px;
  //color:#fff;
  z-index:999;
  transform:translateY(-40%);

  &.quick-in{
    transition:all .3s ease-out;
  }

  &-menu-list{
    background: #272936;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    &-item{
      padding: 15px 0;
      text-align: center;
      //line-height: 1.2;

      &.top{
        padding-bottom: 5px;
      }
    }
    &-link{
      color:rgba(255,255,255,0.5);
      font-size: 0.75rem;
      display:block;

      &:before{
        content: '';
        display: block;
        height:30px;
        margin: 0 auto 5px;
        background: url(/static/ap/images/spr_ico_quick.png) no-repeat;
      }

      &.cyber-airport:before{
        background-position: -132px 0;
        width: 43px;
        //height: 19px;
      }

      &.view-airport:before{
        background-position: -35px 0;
        width: 43px;
        //height: 16px;
      }

      &.move-terminal:before{
        background-position: -99px 0;
        width: 23px;
        //height: 18px;
      }

      &.my-terminal:before{
        background-position: 0 0;
        width: 16px;
        //height: 21px;
      }

      &.online-reserve:before{
        background-position: -188px 0;
        width: 26px;
        //height: 26px;
      }

      &.travel-info:before{
        background-position: -240px 0;
        width: 26px;
        //height: 24px;
      }
    }

    &-top{
      color:rgba(255,255,255,0.5);
      font-size: 0.75rem;
    }
  }
}
