//sub-menu-tab type
.search-result-tab{
  .sub-menu-tab-iconlist-item{
    padding:0 18px;
  }
}
.sub-menu-tab{
  width: 100%;
  height: 162px;
  border-bottom: 1px solid #d9d9d9;
  &-iconlist{
    display: table;
    margin:auto;

    @extend %clearfix;

    &-item{
      display: table-cell;
      text-align: center;
      padding:0 41px;
      position: relative;

      &:after{
        position: absolute;
        top: 0;
        right:0;
        content: '';
        display: block;
        width: 1px;
        height: 106px;
        background: rgba(217,217,217,0.4);
      }

      &:first-child{
        margin-left: 0;
      }

      &:last-child{
        margin-right: 0;

        &:after{
          display: none;
        }
      }
    }

    .result-num{
      display:block;
      color: #42519e;
      font-weight: 900;
      margin-top:6px;
    }
    &-link{
      display: inline-block;
      width: 94px;
      height: 106px;
      font-family: spoqa, sans-serif;
      font-size: 1rem;
      font-weight: 700;
      line-height: 20px;
      text-align: center;


      &:hover::after,
      &.on::after
      {
        content: '';
        display: block;
        width: 96px;
        height: 4px;
        background: #323648;
        position: relative;
        top: 46px;
        left: 0;
        right: 0;
        bottom: auto;
      }
      &:before{
        content: '';
        display: block;
        margin: 0 auto 19px;
        background: url("/static/ap/images/spr_ico_sub_tab.png")no-repeat;
      }
      &.question {
        &:before{
          background-position: 0 0;
          width: 51px;
          height: 52px;
        }
        &:hover:before, &.on:before{
          background-position: 0 -52px;
        }
      }

      &.appraisal{
        &:before{
          background-position: -71px 0;
          width: 42px;
          height: 52px;
        }
        &:hover:before,{
          background-position: -71px -52px;
        }
      }

      &.suggestion{
        &:before{
          background-position: -131px 0;
          width: 54px;
          height: 52px;
        }
        &:hover:before, &.on:before{
          background-position: -131px -52px;
        }

      }

      &.phone{
        &:before{
          background-position: -193px 0;
          width: 45px;
          height: 52px;
        }
        &:hover:before, &.on:before{
          background-position: -193px -52px;
        }
      }

      &.lost-property{
        &:before{
          background-position: -248px 0;
          width: 56px;
          height: 52px;
        }
        &:hover:before, &.on:before{
          background-position: -248px -52px;
        }
      }

      &.advisory-panel{
        &:before{
          background-position: -319px 0;
          width: 54px;
          height: 52px;
        }
        &:hover:before, &.on:before{
          background-position: -319px -52px;
        }
      }

      &.damage-relief{
        &:before{
          background-position: -386px 0;
          width: 51px;
          height: 52px;
        }
        &:hover:before, &.on:before{
          background-position: -386px -52px;
        }
      }

      &:hover,
      &.on{
        color: #42519e;
        font-weight: 900;
      }

      &.contact-us {
        &:before{
          background-position: 0px -159px;
          width: 52px;
          height: 52px;
        }

        &:hover:before,
        &.on:before{
          background-position:0px -102px;
        }

      }

      &.complain{
        &:before{
          background-position: -67px -159px;
          width: 50px;
          height: 52px;
        }

        &:hover:before{
          background-position:-67px -103px;
        }
      }

      &.privacy{
        &:before{
          background-position: -129px -161px;
          width: 49px;
          height: 54px;
        }

        &:hover:before{
          background-position:-129px -104px;
        }
      }

      &.delete-member{
        &:before{
          background-position: -192px -160px;
          width: 52px;
          height: 54px;
        }

        &:hover:before{
          background-position:-192px -103px;
        }
      }
    }
  }
}

//질문 문의 검색
.search-cs{

  &-box{
    height: 99px;
    background: #323648;
    position: relative;
  }

  &-head{
    display: block;
    line-height: 58px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -29px 0 0 -324px;
    @extend %clearfix;

    &-title{
      float: left;
      color: #fff;
      font-size: 1rem;
      font-family: spoqa, sans-serif;
      font-weight: 900;
      margin-right: 25px;
    }
    &.option{
      left: 40%;
    }
  }
  &-option{
    width:200px;
    height: 56px;
    padding: 0 15px;
    color: #666;
    border: 1px solid #666;
    box-sizing: border-box;
    float: left;
    font-size:1rem;
  }
  &-name {
    display: block;
    float: left;
    &-txt {
      width: 403px;
      height: 56px;
      line-height:56px;
      padding: 0 15px;
      border: 1px solid #666;
      box-sizing: border-box;
      border-right: 0;
      float: left;
      font-size: 1rem;
    }
    &-btn {
      width: 62px;
      height: 56px;
      background: #42519e;
      border: none;
      float: left;
      &:after{
        background-position:-74px -134px;
        width: 22px;
        height: 22px;
      }
    }
  }

}

//리스트 스타일
.heading{

  &-level1{
    margin-bottom:40px;
    font-family:nanumsq, sans-serif;
    font-size:2.375rem;
    font-weight:300;
    &.center{
      text-align: center;
    }
    &.personal-info-heading{
      float: left;
    }
  }

  &-level2{
    margin-bottom:20px;
    font-family:nanumsq, sans-serif;
    font-size:1.5rem;
    font-weight:400;
  }

  &-level3{
    margin-bottom:20px;
    font-size:1.25rem;
    font-weight:700;
    font-family:nanumsq, sans-serif;
  }

  &-level4{
    margin-bottom:20px;
    font-size:1.125rem;
    font-weight:700;
    color:#42519e;
  }

}

//다운로드 버튼타입
.btn-type-small{
  &.download{
    min-width: 0;
    font-family: spoqa, sans-serif;
    font-weight: 700;
  }
}

.ico{
  &.download:after{
    background-position:-68px -98px;
    width: 13px;
    height: 12px;
  }
}

//로그인스타일
.login1{
  &-box{
    height: 232px;
    border: 1px solid #d9d9d9;
    background: #f3f4f8;
    position: relative;
  }

  &-head{
    display: block;
    text-align: center;
    &-title{
      margin: 49px 0;
      font-family: spoqa, sans-serif;
      font-weight: 700;
      color: #444444;
    }
  }

  &-name {
    display: inline-block;
    margin: 0 auto;
    @extend %clearfix;

    &-label{
      float: left;
      margin-right: 50px;
      line-height: 58px;
    }

    &-txt {
      width: 259px;
      height: 58px;
      line-height:58px;
      padding: 0 15px;
      border: 1px solid #d9d9d9;
      border-right: 0;
      float: left;
      font-size:1rem;
    }
    &-btn {
      width: 108px;
      height: 58px;
      background: #42519e;
      text-align: center;
      color: #fff;
      font-size: 1.125rem;
      border: none;
      float: left;
    }
  }
}

//고객센터 검색 스타일
.search-phone{

  &-box{
    height: 98px;
    background: #f2f4f7;
    border: 1px solid #d9d9d9;
    position: relative;
  }

  &-head{
    display: block;
    text-align: center;
    width: 100%;
    @extend %clearfix;

    &-title{
      display: none;
    }
  }

  &-name {
    display: inline-block;
    margin: 19px auto;
    @extend %clearfix;

    &-label{
      float: left;
      margin-right: 31px;
      line-height: 58px;
      font-family: spoqa, sans-serif;
      font-weight: 900;
    }

    &-txt {
      width: 403px;
      height: 56px;
      padding: 0 15px;
      border: 1px solid #666666;
      border-right: 0;
      float: left;
    }
    &-btn {
      width: 62px;
      height: 58px;
      background: #323648;
      border: none;
      float: left;
      &:after{
        background-position:-74px -134px;
        width: 22px;
        height: 22px;
      }
    }
  }

}

//레이어팝업(주소검색)
.address-layer{
  &.layer-article{
    &.address{
      margin-bottom: 0;
      padding-bottom: 30px;
      border-bottom: 1px solid #d9d9d9;
    }
  }
  .search-address{

    &-head{
      display: block;
      text-align: center;
      width: 100%;
      @extend %clearfix;

      &-title{
        display: none;
      }
    }


    &-name {
      display: inline-block;
      margin: 15px auto;
      @extend %clearfix;

      &-label{
        float: left;
        margin-right: 31px;
        line-height: 58px;
        font-family: spoqa, sans-serif;
        font-weight: 900;
      }

      &-txt {
        width: 403px;
        height: 56px;
        padding: 0 15px;
        border: 1px solid #666666;
        border-right: 0;
        float: left;
      }
      &-btn {
        width: 62px;
        height: 58px;
        background: #323648;
        border: none;
        float: left;
        &:after{
          background-position:-74px -134px;
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  .layer-article-input.search-address{
    width: 360px;
    height: 50px;
    line-height:50px;
    padding: 0 20px;
    text-align: left;
    border: 1px solid #d9d9d9;
    border-right: 0;
    float: left;
  }

  .address-select {
    &-title {
      margin: 20px 0;
      font-weight: 700;
      color: #666;
      .number{
        color: #222;
      }
    }

    &-box {
      width: 100%;
      height: 320px;
      border: 1px solid #e2e5e9;
      overflow-y: scroll;
    }
    &-link{
      width: 100%;
      font-size: 1rem;
      display: inline-block;
      border: 1px solid #fff;

      @extend %clearfix;

      .address-code{
        float: left;
        padding: 10px;
      }
      .zip-code{
        float: right;
        padding: 20px;
      }
      &:hover{
        border: 1px solid #444;
      }
    }
  }
}

%gutter{
  .inner-col{
    padding:0 12px 0 0;

    &:last-child{
      padding:0 0 0 12px;
    }
  }
}

%normal-3{
  .inner-col{
    width:calc(33.33% - 16px)!important;
    margin-left:24px;
    &:first-child{
      margin-left:0;
    }
  }
}

.multi-col{
  position:relative;
  @extend %clearfix;

  .inner-col{
    float:left;
    text-align:justify;

    &.btn-right{
      position: absolute;
      right:0;
      bottom:0;
      text-align: right;
      .left{
        text-align: left;
      }
    }
  }

  &.double{
    .inner-col{
      width:50%;
      &.w-auto{
        width: auto;
        padding-right:24px;
      }
      &.w70{
        width: 70%;
        padding-right:24px;
      }
      &.w30{
        width: 30%;
      }

      &.w60{
        width: 60%;
      }

      &.w40{
        width: 40%;
        padding-left:27px;
      }

      &.w80{
        width: 80%;
      }
      &.w20{
        width: 20%;
      }
      &.wide{
        width: 100%;
      }
      &.calc-w466-l{
        width: calc(100% - 466px);
        padding-left:24px;
      }
      &.calc-w466-r{
        width: calc(100% - 466px);
        padding-right:24px;
      }
      &.w466{
        width: 466px;
        padding:0;
      }

      //&.login1{
      //  width:345px;
      //}
      //
      //&.login2{
      //  width:200px;
      //  padding-left:10px;
      //}
    }
  }

  &.triple{
    .inner-col{
      width:33.33%;
    }
  }

  &.line{
    &:before{
      content:"";
      display:block;
      width:1px;
      height:100%;
      background:#d9d9d9;
      position:absolute;
      top:0;
      left:50%;
    }
    @extend %gutter;
  }

  &.log-in{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
  }

  &.gutter{
    @extend %gutter;
  }

  &.normal-3{
    @extend %normal-3;
  }

}

.section-banner{
  height: 322px;
  padding-top: 85px;
  text-align: center;
  color: #fff;
  &-title{
    margin-bottom:20px;
    font-size:2rem;
    color: #fff;
    .big{
      font-size: 3.125rem;
      line-height:1;
    }
  }
  &-txt{
    margin-bottom:10px;
    .big{
      font-size: 3.125rem;
      line-height:1;
    }
  }
  &-link{
    border-radius: 30px;
    padding: 0 100px 0 20px;
  }
  &.faq1{
    background: url(/static/ap/images/bg_banner_faq_01.jpg ) no-repeat;
  }
  &.faq2{
    background: url(/static/ap/images/bg_banner_faq_02.jpg ) no-repeat;
  }
  &.commend{
    background: url(/static/ap/images/bg_banner_commend.jpg ) no-repeat;
  }
  &.wide{
    width: 100%;
  }
}

// 슬라이드형 게시판 목록
.board-slide{
  .board-list{
    //padding:0 30px;
    border-top:1px solid #d9d9d9;
    border-bottom:0;
    &:last-child{
      border-bottom:1px solid #d9d9d9;
    }
    // 활성화 스타일링
    &.on{
      border-bottom:1px solid #d9d9d9;
      border-top-color:#a5a7aa;
      &+.board-list{
        border-top:0;
      }
      .board-list-head{
        border-bottom:1px solid #d9d9d9;
        .board-list-tit{
          &:after{
            transform:rotate(180deg);
          }
        }
      }
      .board-list-body{
        display:block;
      }
    }
  }
  // 제목부분
  .board-list-head{

    .board-list-tit{
      width:100%;
      height:100%;
      padding:26px 0;
      display:block;
      font-size:1.25rem;
      text-indent:0;
      &:after{
        left:auto;
        right:30px;
        transition:all .4s;
      }
      &-inner{
        display:block;
        padding:0 80px 0 30px;
        line-height:1.5;

      }
      .board-list-category{
        width: 150px;
        line-height:1.5;
        font-size:1.25rem;
        text-align: center;
        display:inline-block;
        float: left;
      }
    }
  }
  // 내용부분
  .board-list-body{
    display:none;
    background:#f2f4f7;
    padding:30px;
    .board-list-desc{
      color:#444;
    }
    .board-list-link{
      color:#4674c9;
      line-height:1.7;
    }
  }
}

// 이벤트 게시판 상세
.borad-view{
  .view-head{
    padding:25px 30px;
    border-bottom:1px solid #a5a7aa;
    &-tit{
      display:inline;
      font-size:1.375rem;
      font-weight:900;
    }
    &-date{
      display:inline;
      float:right;
    }
    &-info{
      @extend %clearfix;
      margin-top:16px;
      font-size:1rem;
      .info-tit{
        float:left;
        margin-right:10px;
      }
      .info-desc{
        float:left;
        &:after{
          content: "";
          display: inline-block;
          width: 1px;
          height: 16px;
          margin: auto 20px;
          background: #d9d9d9;
          vertical-align:middle;
        }
        &:last-child:after{
          display:none;
        }
      }
    }
  }
  .view-body{
    padding:30px 30px 70px;
  }
  .view-file{
    @extend %clearfix;
    border-top:1px solid #d9d9d9;
    padding:30px;
    .file-group-text{
      float:left;
      width:124px;
      color:#002222;
      font-size:1rem;
      line-height:1.7;
    }
    .file-list{
      float:left;
      &-item{

      }
      &-link{
        color:#666;
        font-size:1rem;
      }
    }
    .crud-ico{
      text-indent:24px;
      &:after{
        right:auto;
        bottom:4px;
      }
    }
  }
  .reply-box{
    background:#f2f4f7;
    padding:40px;
    border:1px solid #d9d9d9;
    margin-bottom:30px;
    .reply-head{
      @extend %clearfix;
      margin-bottom:30px;
      &-tit{
        float:left;
        padding-left:20px;
        font-weight:900;
        text-indent:0;
        line-height:1;
        &:after{
          right:auto
        }
      }
      &-info{
        float:right;
        @extend %clearfix;
        font-size:1rem;
        .info-tit{
          float:left;
          margin-right:10px;
          color:#002222;
        }
        .info-desc{
          float:left;
          color:#444;
          &:after{
            content: "";
            display: inline-block;
            width: 1px;
            height: 16px;
            margin: auto 20px;
            background: #d9d9d9;
            vertical-align:middle;
          }
          &:last-child:after{
            display:none;
          }
        }
      }
    }
  }
}

//글작성 게시판 추가
.table{
  &.hr.writing{
    td{
      padding:10px 20px;
      height: 70px;
      line-height: 1;
      &.agreement-offer{
        padding:25px 20px;
      }
    }
  }
}

// 게시판내 사용되는 아이콘
.crud-ico{
  display:inline-block;
  position:relative;
  text-indent:-999em;
  &:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    background: url(/static/ap/images/spr_ico_crud.png) no-repeat;
  }

  &.file-hwp:after{
    background-position:-19px -18px;
    width: 14px;
    height: 17px;
  }

  &.file-txt:after{
    background-position:-44px -18px;
    width: 15px;
    height: 17px;
  }

  &.file-img:after{
    background-position:-70px -18px;
    width: 13px;
    height: 17px;
  }

  &.file-xlsx:after{
    background-position:-94px -18px;
    width: 14px;
    height: 17px;
  }

  &.file-ppt:after{
    background-position:-119px -18px;
    width: 14px;
    height: 17px;
  }

  &.file-pdf:after{
    background-position:-144px -18px;
    width: 14px;
    height: 17px;
  }

  &.arrow-reply:after{
    background-position:-19px -56px;
    width: 12px;
    height: 13px;
  }

  &.lock:after{
    background-position:-45px -52px;
    width: 13px;
    height: 17px;
  }

  &.good:after{
    background-position:-52px -89px;
    width: 24px;
    height: 24px;
  }

  &.bad:after{
    background-position:-16px -89px;
    width: 24px;
    height: 24px;
  }

}

// pagenation list
.pagenation{
  display: table;
  margin: 0 auto;
  @extend %clearfix;
  .ico{
    width:44px;
    height:44px;
    border:1px solid #d9d9d9;
    border-left:0;
    float:left;

    &.first{
      border-left:1px solid #d9d9d9;
      &:after{
        left:-1px
      }
    }

    &.prev{
      &:after{
        left:-1px
      }
    }

    &.next{
      border-left:1px solid #d9d9d9;
      &:after{
        right:-1px
      }
    }

    &.last{
      &:after{
        right:-1px
      }
    }

    // 더이상 페이지가 없을 때 클래스
    &.default{
      pointer-events:none;
      &:after{
        opacity:.5;
      }
    }

    &:hover{
      &:after{
        opacity:.5;
      }
    }
  }

  &-list{
    float:left;
    margin:0 20px;
    @extend %clearfix;
    &-item{
      &:first-child{
        border-left:1px solid #d9d9d9;
      }
      &:hover{
        background:#42519e;
        border-color:#42519e;
        .pagenation-list-link{
          color:#fff;
        }
      }
      // 활성화 클래스
      &.on{
        background:#42519e;
        border-color:#42519e;
        .pagenation-list-link{
          color:#fff;
        }
      }
      float:left;
      width:44px;
      height:44px;
      border:1px solid #d9d9d9;
      border-left:0;
      position:relative;
    }
    &-link{
      display:block;
      width:100%;
      height:100%;
      line-height:44px;
      text-align:center;
    }
  }
}

.faq-category{
  &-list{
    border:{
      top: 2px solid #222;
      right:1px solid #d9d9d9;
      bottom: 2px solid #222;
    }
    @extend %clearfix;
    &-item{
      width: 20%;
      float: left;
      .select-category{
        display: none;
        &-label{
          padding: 10px 20px;
          display: block;
          border-left:1px solid #d9d9d9;
          border-bottom:1px solid #d9d9d9;
          cursor: pointer;
          &.ico{
            text-indent: 0;
            &:after{
              background-position:-164px -32px;
              width: 13px;
              height: 11px;
              right:20px;
              left:auto;
            }
          }
        }
        &:checked + .select-category-label{
          background: #42519e;
          color: #fff;
          &.ico:after{
            background-position:-192px -32px;
            width: 13px;
            height: 11px;
            right:20px;
            left:auto;
          }
        }
      }
    }
  }
}

.today-box{
  padding: 20px 0;
  background: #f2f4f7;
  .praise, .inconvenience {
    height: 68px;
    line-height: 68px;
    text-align: center;
    position: relative;
    &-title{
      font-size: 1.25rem;
      display: block;
    }
    &-no{
      font-size: 2.25rem;
      position: relative;
      top:5px;
      &.red{
        color: #d43e41;
      }
    }
  }
  .emoticon:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right:0;
    left:0;
    bottom: 0;
    margin: auto;
    background: url(/static/ap/images/spr_big_emoticon.png) no-repeat;
  }
  .praise-title:after{
    background-position: -10px -10px;
    width: 50px;
    height: 58px;
    top:20px;
    left:150px;
    right:auto;
  }
  .inconvenience-title:after{
    background-position: -77px -10px;
    width: 50px;
    height: 58px;
    top:20px;
    left:150px;
    right:auto;
  }
}

//input
.user-text{
  width: 250px;
  height: 50px;
  line-height:50px;
  padding: 0 10px;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  &.wide{
    width: 100%;
  }
  &.height{
    height:200px;
    padding:15px;
  }
  &.email{
    width:140px;
    margin-left: 5px;
    margin-right: 5px;
  }
  &.email-wide{
    width: 85%;
    margin-bottom: 10px;
  }
  &.direct-input{
    width:296px;
    height:40px;
  }
  &.color-gr{
    background: #f2f2f2;
  }
}
/*파일 첨부, 주소 검색*/
.user{
  &-input{
    width:957px;
    &-text{
      width:800px;
      height:50px;
      font-size:1rem;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      float:left;
    }
    &-link{
      min-width:145px;
      height:50px;
      line-height: 50px;
      padding: 0 20px;
      background-color: #f2f2f2;
      border: 1px solid #d9d9d9;
      font-weight: 900;
      text-align: center;
      display: inline-block;
      &.small{
        min-width:84px;
        height:26px;
        line-height:26px;
        font-size: 0.8125rem;
        font-weight:700;
        color: #666;
      }
    }
    &.id{
      width: 410px;
      .user-input-text{
        width: 263px;
        padding: 0 10px;
        border-right: 0;
        float:left;
      }
    }
  }

}

/*select*/
.object-list{
  width:250px;
  height:50px;
  padding: 0 15px;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  vertical-align: top;
  &option{
    font-size: 1rem;
  }
  &.email{
    width: 157px;
    margin-right: 8px;
  }
}
/*이용일시*/
.timesetting-date{
  &.low{
    .timesetting-date-day,
    .timesetting-date-option{
      width: 220px;
      height:50px;
      box-sizing: border-box;
    }
    .timesetting-date-calendar
    {
      height:50px;
    }
  }
}


/*글상자*/
.text-box{
  width:100%;
  border: 1px solid #d9d9d9;
  padding:30px;

  &-headline{
    font-weight: 700;
    font-family:nanumsq, sans-serif;
  }

  &-headline-col{
    margin-bottom: 20px;
  }


  .headline-ico{
    float:left;
    margin-right: 10px ;
    width: 20px;
    height: 20px;

    &:after{
      width:20px;
      height:20px;
      background-position: -275px -135px;
    }

  }

  &-col{
    width:50%;
    float: left;
  }

  &-right{
    margin-left: 18px;
  }

}
/*글상자*/

.text{
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
    .left{
      text-align: left;
    }
  }
  &-center{
    text-align: center;
  }
}

.font18, %font18{
  font-size: 	1.125rem;
}

.font20, %font20{
  font-size: 1.25rem;
}

.font26, %font26{
  font-size: 1.625rem;
}

/*글작성 필수아이콘*/
.table {
  th, td {
    .important {
      display: inline-block;
      color: #666;
      &:after {
        content: "*";
        position: relative;
        top: 4px;
        right: -10px;
        color: #d43e41;
      }
    }
  }
}

button, a {
  cursor: pointer;
}

.relief{
  background: url(/static/ap/images/digr_relief_01.png) no-repeat;
  width: 1151px;
  height: 591px;
  .ir-technique{
    text-indent: -99999em;
  }
}



.lost-found{
  @extend %clearfix;

  .ir-technique{
    text-indent: -99999em;
  }

  .lost-box{
    width: 50%;
    height: 698px;

    &.found{
      float: left;
      background: url(/static/ap/images/digr_lost_and_found_01.png) no-repeat left;
    }

    &.belongings{
      float: left;
      background: url(/static/ap/images/digr_lost_and_found_02.png) no-repeat right;
    }
  }
}

.step-member{

  width:100%;
  height:59px;

  background:url(/static/ap/images/spr_bg_step_member.png) no-repeat;

  text-indent:-99999em;

  &.step-1{
    background-position:center 0;
  }

  &.step-2{
    background-position:center -69px;
  }

  &.step-3{
    background-position:center -138px;
  }

  &.step-4{
    background-position:center -207px;
  }

  &.step-5{
    background-position:center -276px;
  }
}


/*회원가입*/
.join{
  &-service{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    &-list{
      display: inline-block;
      @extend %clearfix;

      &-item{
        width: 214px;
        height: 214px;
        margin:0 20px 50px 0;
        padding-top: 160px;
        float: left;
        font-size: 1rem;
        position: relative;
        background: #f6f7fa;
        border-radius: 50%;
        color: #333649;
        &:last-child{
          margin-right: 0;
        }
        &.two{
          padding-top: 138px;
          line-height: 1.5;
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: auto;
          margin: auto;
          background:url(/static/ap/images/spr_ico_join_service.png) no-repeat;
        }
        &.sms:before{
          background-position: -10px -10px;
          width: 214px;
          height: 214px;
        }
        &.lost:before{
          background-position: -246px -10px;
          width: 214px;
          height: 214px;
        }
        &.tour:before{
          background-position: -482px -10px;
          width: 214px;
          height: 214px;
        }
        &.cs:before{
          background-position: -710px -10px;
          width: 214px;
          height: 214px;
        }
        &.application:before{
          background-position: -950px -10px;
          width: 214px;
          height: 214px;
        }
      }
    }
  }
  &-agree{

    &-article{
      border-bottom: 1px solid #d9d9d9;
      padding: 30px 20px;
    }
    &-all{
      padding: 30px 20px 0;
    }
  }

  &-membership{
    .password-change{
      width: 100px;
      display: inline-block;
    }
    .password-find{
      width: 140px;
      display: inline-block;
    }
  }

  &-ipin-btn{
    margin-top: 60px;
    text-align: center;
    .btn-type-normal{
      width: 355px;
    }
    &-simple{
      margin-top: 5px;
      .btn-type-normal{
        width: 177px;
        padding: 10px;
      }
    }
  }

  &-step-btn{
    margin-top: 40px;
    text-align: center;
    .btn-type-normal{
      min-width: 176px;
      &.left{
        padding: 0 20px 0 45px;
        text-align: right;
        &.ico:after {
          left: 18px;
          right: auto;
        }
      }
    }
  }

  &-step-procedure{
    height: 315px;
    padding:40px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    display: block;
    &-ico{
      padding-top:130px;
      text-align: center;
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: auto;
        margin: auto;
        background: url(/static/ap/images/spr_ico_join.png) no-repeat;

      }
      &.finish{
        &:before{
          background-position: -122px -10px;
          width: 112px;
          height:96px;
          top: 40px;
        }
      }
      &.certification{
        margin-top: 30px;
        position: relative;
        display: block;
        &:before{
          background-position: -12px -13px;
          width:90px;
          height:90px;
        }
      }
    }
  }
}

.personal-info{
  @extend %clearfix;
}



