// 780
@media screen and (max-width:780px) {
  .radio-type1 {
    &-label {
      height: 27px;
      padding: 0 20px 0 40px;
      font-size: 1rem;
      line-height: 1.7;
      color: #666;

      & + .radio-type1-radio {
        margin-left: 20px;
      }

      &.font18 {
        font-size: 1rem;
      }
    }
  }

  .radio-type2{
    &-label{
      &+.radio-type1-radio{
        margin-left:40px;
      }
      &.questionnaire{
        margin-right:0;
        display:block;
        margin-top:10px;
      }
    }
    .radio-box{
      display:inline-block;
      width:196px;
    }
  }

  .checkbox{
    display: none;
    &:checked {
      &+label{
        color:#222;
        &.ico:after {
          background-position:-271px -293px;
        }
      }
    }
    &-label{
      height: 27px;
      padding:0 20px 0 40px;
      font-size:0.825rem;
      line-height:27px;
      color: #666;
      &.ico{
        text-indent:0;
        &:after {
          background-position:-225px -293px;
          width: 27px;
          height: 27px;
          top:0;
          left:0;
          right:auto;
          display: block;
        }
      }
    }
  }


  .checkbox-type2{
    text-align: center;
    &-radio{
      display: none;
      &:checked {
        &+label{
          color:#222;
          &.ico:after {
            background-position:-82px -293px;
          }
        }
      }
    }
    &-label{
      &.ico{
        &:after {
        }
      }
      &+.checkbox-type2-radio{
        margin-left:40px;
      }
      &.font18{
        font-size: 0.825rem;
      }
    }
    &.left{

    }
  }
}


