
// 640
@media screen and (max-width:1024px) {
  .section3{
    width: 100%;
    height:auto;
    margin: 0 auto;
    position:static;
    background-size: cover;
    .main-guide {
      .heading-group{
        padding:35px 0;
        background-size:cover;
        .heading{

        }
      }
    }
    .main {
      &-content{
        width: 100%;
        padding:0 15px;
        position:static;
        transform:none;
        padding:35px 15px;
        &-heading{
          display: none;
        }
      }

      &-guide{
        width: 100%;
        background: none;
        border: none;
        display: block;
        text-align: center;

        &-item{
          width: 100%;
          padding: 15px;
          float: none;
          clear: both;
          display: inline-block;
          background: #fff;
          border: 1px solid #dee3eb;
          &+.main-guide-item{
            border-top: none;
          }
          .heading-group{
            width: 100%;
            height:auto;
          }
          .link-list{
            font-size: 0.75rem;
            &-item{
              padding-left: 65px;
              text-align: left;
              &:before{

              }

            }
          }
        }
        .link{
          &-list{
            &-item{
              &:before{

              }
            }
          }
        }
      }
    }
  }
  .footer-graft{
    background: #f2f4f7;

    .main-banner{
      width:740px;
      padding:20px 0 30px;

      &-list{

      }
      &-item{
        margin-right:10px;
        img{
          width: 100%;
        }
      }

      &-control{

        &-paging{
          margin-left:auto;
          transform:translateX(-50%);
          bottom:5px;
        }

        &-arrow{

          .arrow.prev{
            margin-left:-396px;
            transform: translateY(-55%);
          }
          .arrow.next{
            margin-left: 380px;
            transform: translateY(-55%);
          }
        }
      }
    }
  }


  .link-list-item-title{
    position:static!important;
    br{display:none}

  }

  .link-list-sub-link{
    padding-right:10px;

  }
}


@media screen and (max-width:800px) {
  .footer-graft{
    .main-banner{
      width:240px;
      padding:20px 0 30px;

      &-list{

      }
      &-item{
        margin-right:0;
        img{
          width: 100%;
        }
      }

      &-control{

        &-paging{
          margin-left:auto;
          transform:translateX(-50%);
          bottom:5px;
        }

        &-arrow{

          .arrow.prev{
            margin-left:-154px;
            transform: translateY(-55%);
          }
          .arrow.next{
            margin-left: 138px;
            transform: translateY(-55%);
          }
        }
      }
    }
  }
}