body {

  min-width:1330px;

}

.inner-section{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

#top-contents.contents{
  padding-top:101px;
}

%clearfix:after,
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.contents-sub{
  &-head{
    padding:62px 0 40px;
    text-align: center;

    &-title{
      font-size:2.875rem;
      font-family:nanumsq, sans-serif;

      &-lv3{
        font-size:2.875rem;
        font-weight:400;
        text-align:center;
        color: #fff;
      }
    }

    &.clip, &.clip-white{
      padding:40px 0 20px;
      &:after, &:before{
        content:'';
        display:block;
        width:2px;
        height:40px;
      }
      &.up{
        &:before{
          background:#666;
          margin:0 auto 30px;
        }
        &:after{
          display:none;
        }
      }
      &.down{
        padding:40px 0 30px;
        //&:after{
        //  background:#666;
        //  margin:30px auto 0;
        //}
        &:before{
          display:none;
        }
      }
    }
    &.clip-white{
      .contents-sub-head-title-lv3{
        color:#fff;
        font-size:3.125rem;
        font-weight: 300;
      }
      &.up{
        color:#fff;
        &:before{
          background:#fff;
          margin:0 auto 30px;
        }
        &:after{
          display:none;
        }
      }
      &.down{
        color:#fff;
        &:after{
          background:#fff;
          margin:28px auto 0;
        }
        &:before{
          display:none;
        }
        .contents-sub-head-title-lv3{
          color:#fff;
        }
      }
    }

    &-article{
      margin-top: 20px;
      color:#666;
      font-size: 1rem;
    }
  }
}

/* global sprite icon */
.ico{
  display:inline-block;
  position:relative;
  text-indent:-999em;
  &:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    background: url(/static/ap/images/spr_ico_global.png) no-repeat;
  }

  &.ig:after{
    background-position:-31px -28px;
    width: 20px;
    height: 20px;
  }

  &.fb:after{
    background-position:-69px -28px;
    width: 9px;
    height: 20px;
  }

  &.tt:after{
    background-position:-98px -29px;
    width: 21px;
    height: 19px;
  }

  &.yb:after{
    background-position:-133px -31px;
    width: 20px;
    height: 14px;
  }

  &.arrow_up:after{
    background-position:-35px -67px;
    width: 12px;
    height: 7px;
  }

  &.arrow_down:after{
    background-position:-67px -67px;
    width: 12px;
    height: 7px;
  }

  &.arrow-link-right:after{
    background-position:-351px -65px;
    width: 7px;
    height: 10px;
  }

  &.arrow-infolin-right_w:after{
    background-position:-186px -65px;
    width:6px;
    height:10px;
  }

  &.update-refresh:after{
    background-position:-31px -98px;
    width: 20px;
    height: 20px;
  }

  &.search-flight-detail-select-btn:after{
    background-position:-74px -134px;
    width: 22px;
    height: 22px;
  }

  &.congestion-quick-link:after{
    background-position:-121px -59px;
    width: 22px;
    height: 22px;
  }

  &.search-flight-search-btn:after{
    background-position:-74px -134px;
    width: 22px;
    height: 22px;
  }

  &.search-airline-name-btn:after{
    background-position:-74px -134px;
    width: 22px;
    height: 22px;
  }

  &.location-btn-minus:after{
    background-position:-192px -93px;
    width: 22px;
    height: 22px;
  }

  &.location-btn-plus:after{
    background-position:-238px -93px;
    width: 22px;
    height: 22px;
  }

  &.location-btn-print:after{
    background-position:-284px -93px;
    width: 22px;
    height: 22px;
  }

  &.location-bar-nav-item-link.home:after{
    background-position:-128px -93px;
    width: 22px;
    height: 22px;
  }
  &.location-bar-nav-item:after{
    background-position:-153px -93px;
    width: 22px;
    height: 22px;
  }

  &.arrow-normal-right:after{
    background-position:-101px -64px;
    width: 8px;
    height: 12px;
  }

  &.arrow-normal-left:after{
    background-position: -101px -64px;
    transform: rotate(180deg);
    width: 8px;
    height: 12px;
  }

  &.arrow-point-right:after{
    background-position:-129px -64px;
    width: 8px;
    height: 12px;
  }

  &.arrow-small-right:after{
    background-position:-158px -65px;
    width: 6px;
    height: 10px;
  }

  &.arrow-middle-right:after{
    background-position:-186px -65px;
    width: 6px;
    height: 10px;
  }

  &.arrow-down:after{
    background-position:-349px -99px;
    width: 19px;
    height: 11px;
  }

  &.arrow-up:after{
    background-position:-319px -99px;
    width: 19px;
    height: 11px;
  }

  &.nowlink:after{
    background-position:-313px -134px;
    width: 23px;
    height: 19px;
  }

  &.first:after{
    background-position:-236px -60px;
    width: 20px;
    height: 19px;
  }

  &.prev:after{
    background-position:-268px -60px;
    width: 11px;
    height: 19px;
  }

  &.next:after{
    background-position:-296px -60px;
    width: 11px;
    height: 19px;
  }

  &.last:after{
    background-position:-319px -60px;
    width: 20px;
    height: 19px;
  }

  &.arrow-w-down:after{
    background-position:-390px -66px;
    width: 12px;
    height: 8px;
  }

  &.arrow-w-up:after{
    background-position:-415px -66px;
    width: 12px;
    height: 8px;
  }

  &.outside-link:after{
    background-position:-383px -99px;
    width: 14px;
    height: 12px;
  }

  &.base-check:after{
    background-position:-225px -294px;
    width: 26px;
    height: 26px;
  }

  &.arrow-small-up:after{
    background-position:-437px -102px;
    width: 10px;
    height: 6px;
  }

  &.arrow-small-down:after{
    background-position:-416px -102px;
    width: 10px;
    height: 6px;
  }

  &.arrow-small-up-w:after{
    background-position:-460px -67px;
    width: 10px;
    height: 6px;
  }

  &.arrow-small-down-w:after{
    background-position:-440px -67px;
    width: 10px;
    height: 6px;
  }

  &.base-close:after{
    background-position:-143px -189px;
    width: 25px;
    height: 25px;
  }

  &.slide-right:after{
    background-position:-231px -185px;
    width: 16px;
    height: 33px;
  }

  &.slide-left:after{
    background-position:-193px -185px;
    width: 16px;
    height: 33px;
  }

  &.view-list:after{
    background-position:-317px -190px;
    width: 22px;
    height: 22px;
  }

  &.view-thumbnail:after{
    background-position:-359px -188px;
    width: 22px;
    height: 22px;
  }

  &.warning:after{
    background-position:-400px -136px;
    width: 24px;
    height: 24px;
  }

  &.search-black:after{
    background-position: -34px -134px;
    width: 22px;
    height: 27px;
  }
}

/* link type select box */
.select-link {
  // 아래서 위로 올라오는 경우  class="ico arrow_down" :: class="select-list up"
  // 위에서 아래로 내려가는 경우  class="ico arrow_up" :: class="select-list"
  // 포지셔닝은 class="select-link" 의 해당 위치에있는 별도 클래스로 지정.
  background: #fff;
  position: relative;

  &-default {
    width: 100%;
    height: 100%;
    background: none;
    padding: 0;
    color: #666;
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 0;
    text-align: left;
    text-indent: 10px;
    position: relative;
    border: 1px solid #d9d9d9;

    &.on {
      border-color: #666;
    }

    .ico {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      background: none;
      margin: auto;
      border: none;

      &:after {
        transition: transform .4s;
      }

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 18px;
        background: #d9d9d9;
      }
    }

    &.on .ico:after {
      transform: rotate(180deg);
    }
  }

  .select-list {
    display: none;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 31px;
    background: #fff;
    transition: height .4s;
    border: 1px solid #d9d9d9;
    z-index: 100;

    &.on {
      display: block;

      &.up {
        border-color: #666;
        border-bottom-color: #d9d9d9;
      }

      &.down {
        border-color: #666;
        border-top-color: #d9d9d9;
      }
    }

    &-item {
      line-height: 30px;
      text-indent: 10px;
    }
    &-link {
      display: block;
      width: 100%;
      height: 100%;
      color: #666;
      font-size: 0.8125rem;
      font-weight: 400;
      text-decoration: none;
      &:hover {
        background: #4674c9;
        color: #fff;
      }
    }
  }
  &.personal-info{
    float: right;
    width: 202px;
    height: 32px;
  }
}

mark{
  display:inline-block;
  color:#fff;
  font-size:1.125rem;
  font-weight:700;
  line-height:1;
  background:#323648;
  padding:3px 6px;
  margin-bottom:4px;
  &.color-r{
    background:#d43e41;
  }
  &.color-b{
    background:#515fa5;
  }
  &.color-g{
    background: #2c8279;
  }
}

strong{
  font-weight: 900;

  &.color-b{
    color:#41519e;
  }
  &.color-o{
    color:#ffae44;
  }
  &.color-r{
    color:#d43e41;
  }
}

em{
  font-style: normal;

  &.color-b{
    color:#41519e;
  }
  &.color-o{
    color:#ffae44;
  }
  &.color-r{
    color:#d43e41;
  }
  &.text-georgia{
    font-style: italic;
    font-family:georgia, sans-serif;
  }
}

.list1{
  &-item{
    padding-left:12px;
    margin-top:8px;
    position:relative;
    &:first-child{
      margin-top:0;
    }
    &:before{
      content: "·";
      font-size: 	1.625rem;
      position:absolute;
      top:-6px;
      left:0;
    }
  }
}

.list2{
  &-item{
    padding-left:12px;
    position:relative;

    &:before{
      content: "-";
      font-size: 	1rem;
      font-weight: 300;
      position:absolute;
      top:0;
      left:0;
    }
  }
}

.list3{
  &-item{
    padding-left:23px;
    position:relative;

    .number{
      position:absolute;
      top:0;
      left:0;
    }
  }
}

/*기존*/
.tblType02, .tblBus01{
  border-bottom:1px solid #a5a7aa;

  tbody{
    tr:first-child{
      td{
        border-top:0;
      }
    }
  }

  th{
    padding:18px 0 16px;
    font-size:1rem;
    font-weight:400;
    color:#fff;
    line-height:1.4;
    background:#323648;
    border-right:1px solid #474a5b;
    vertical-align:middle;

    &:last-child{
      border-right:0;
    }

    &.half{
      padding:12px;
    }

    &.sub{
      padding:6px 0 8px;
      border:{
        top:1px solid #212535;
        right:1px solid #212535;
      }
      background:#4d5164;
      font-size:0.875rem;
      &.point{
        background: #2f4985;
      }

      &:last-child{
        border-right:0;
      }
    }

  }

  td{
    padding:16px 20px;
    line-height:1.4;
    border-right:1px solid #f2f4f7;
    border-top:1px solid #d9d9d9;
    vertical-align:middle;
    word-break: keep-all;

    &.center{
      text-align:center;
    }

    &.top{
      vertical-align:top;
    }

    &:last-child{
      border-right:0;
    }
    .schedule {
      background: #2f4985;
      border:5px solid #2f4985;
      border-radius: 20px;
      font-size: 0;
      position: relative;
      top: -5px;
      &.weekend{
        background: #2c8179;
        border:5px solid #2c8179;
      }
    }
  }
  &.even{
    tbody{
      tr:nth-child(even){
        background: #f8f8f8;
      }
    }
  }
}

.table{
  width:100%;

  caption{
    display:none;
  }

  &.vt{
    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }
    &.border-no{
      border-top: none;
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }
    &.border-right{
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }

    tr.on{
      background:#f3f4f8;
    }

    th{
      padding:19px 0 16px;
      font-size:1rem;
      font-weight:700;
      position:relative;

      &:after{
        content:"";
        display:block;
        width:1px;
        height:16px;
        background:#a5a7aa;
        position:absolute;
        top:17px;
        right:0;
      }

      &:last-child:after{
        content:none;
      }
    }

    td{
      padding:19px 20px 16px;
      line-height:1.4;
      border:{
        right:1px solid #f2f4f7;
        top:1px solid #d9d9d9;
      }
      vertical-align:middle;

      &.center{
        text-align:center;
      }

      &.right{
        text-align:right;
      }

      &:last-child{
        border-right:0;
      }

      &.color-b{
        border-left: 4px solid #42519e;
      }
      &.color-g{
        border-left: 4px solid #2c8279;
      }
      &.color-o{
        border-left: 4px solid #dd7714;
      }

      & .board-list-link{
        font-size:1.125rem;
        transition:all .2s;
        &:hover{
          color:#999;
        }
        &.lock{
          &:after{
            content:"";
            display:inline-block;
            background:url(/static/ap/images/spr_ico_crud.png) no-repeat -45px -52px;
            width: 13px;
            height: 17px;
            margin-left:14px;
            vertical-align:-1px;
          }
        }

        &.good{
          &:before{
            content:"";
            display:inline-block;
            background:url(/static/ap/images/spr_ico_crud.png) no-repeat -52px -89px;
            width: 24px;
            height: 24px;
            margin-right:12px;
            vertical-align:-5px;
          }
        }

        &.bad{
          &:before{
            content:"";
            display:inline-block;
            background:url(/static/ap/images/spr_ico_crud.png) no-repeat -16px -89px;
            width: 24px;
            height: 24px;
            margin-right:12px;
            vertical-align:-5px;
          }
        }
      }
    }

    &.board-list{
      font-size:1rem;
      & td{
        border-right:0;
        padding:23px 20px;
        &.no-data-found{
          padding: 130px 20px;
        }
      }
    }

  }

  &.vt-dark{
    border-bottom:1px solid #a5a7aa;

    &.info{
      min-height: 300px;
    }

    tbody{
      tr:first-child{
        td{
          border-top:0;
        }
      }
    }

    tr {

      &.span{
        td{
          border-right: 1px solid #f2f4f7;
          &:first-child {
            border-left:0;
          }
        }
      }

      &.on {
        background: #f3f4f8;
      }
    }

    th{
      padding:18px 0 16px;
      font-size:1rem;
      font-weight:400;
      color:#fff;
      line-height:1.4;
      background:#323648;
      border-right:1px solid #474a5b;
      vertical-align:middle;

      &:last-child{
        border-right:0;
      }

      &.half{
        padding:12px;
      }

      &.sub{
        padding:6px 0 8px;
        border:{
          top:1px solid #212535;
          right:1px solid #212535;
        }
        background:#4d5164;
        font-size:0.875rem;
        &.point{
          background: #2f4985;
        }

        &:last-child{
          border-right:0;
        }
      }

    }

    td{
      padding:16px 20px;
      line-height:1.4;
      border-right:1px solid #f2f4f7;
      border-top:1px solid #d9d9d9;
      vertical-align:middle;
      word-break: keep-all;

      &.center{
        text-align:center;
      }

      &.top{
        vertical-align:top;
      }

      &:last-child{
        border-right:0;
      }
      .schedule {
        background: #2f4985;
        border:5px solid #2f4985;
        border-radius: 20px;
        font-size: 0;
        position: relative;
        top: -5px;
        &.weekend{
          background: #2c8179;
          border:5px solid #2c8179;
        }
      }
    }
    &.even{
      tbody{
        tr:nth-child(even){
          background: #f8f8f8;
        }
      }
    }
    &.table-pd{
      thead{
        tr{
          th{
            padding: 8px 0 8px;
          }
        }
      }
      tbody{
        tr{
          td{
            padding: 8px 0 8px;
          }
        }
      }
    }
  }



  &.hr{

    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }

    tr:first-child{
      th, td{
        border-top:0;
      }
    }

    th{
      min-width:150px;
      border-top:1px solid #d9d9d9;
      background:#f3f4f8;
      font-size:1rem;
      line-height:1.4;
      font-weight:700;
      vertical-align:middle;
      &.left{
        text-align: left;
        padding-left: 20px;
      }
    }

    td{
      padding:19px 20px 16px;
      border-top:1px solid #d9d9d9;
      border-right:1px solid #f2f4f7;
      line-height:1.4;
      vertical-align:middle;
      &.center{
        text-align:center;
      }
      &:last-child{
        border-right:0;
      }
    }

  }

  &.pop-up-table{
    width: 100%;
    border-top:1px solid #b3b3b3;
    border-bottom:1px solid #e3e3e3;
    font-size: 0.75rem;
    font-weight: 700;
    th{
      border-bottom:1px solid #b3b3b3;
      padding: 5px 0;
    }
    td{
      padding: 5px 12px;
      border-top:1px solid #e3e3e3;
      position: relative;
      vertical-align: middle;
    }
    .floor-number{
      font-size: 1.125rem;
      color: #6d6d6d;
    }
    .bg-blue1{
      background: #e8eaf6;
    }
    .bg-gray2{
      background: #f9f9f9;
    }
    .bg-blue{
      background: #42519e;
      color: white;
    }
    .color-b{
      color: #42519e;
    }
    .center{
      text-align: center;
      line-height: 1rem;
    }
    .line:after{
      content: '';
      display: block;
      background: url(/static/ap/images/ico_terminal_interconnection_line.png)no-repeat;
      background-size: 100%;
      width: 120px;
      height: 3px;
      position: absolute;
      top: 19px;
      left: -3px;
      z-index: 10;
    }
    .line2:after{
      content: '';
      display: block;
      background: url(/static/ap/images/ico_terminal_interconnection_line.png)no-repeat;
      background-size: 100%;
      width: 120px;
      height: 3px;
      position: absolute;
      top: 24px;
      left: -3px;
      z-index: 10;
    }
    .position{
      display: block;
      position: absolute;
      top: 13px;
      left: -68px;
      width: 82px;
      height: 18px;
      background: #7f7f7f;
      color: white;
      text-align: center;
      padding: 1px 0;
    }
    .right{
      text-align: right;
    }
    .icon{
      &:after{
        content: '';
        display: block;
        background: url(/static/ap/images/spr_terminal_interconnection.png)no-repeat;
      }
      &:before{
        content: '';
        display: block;
        background: url(/static/ap/images/spr_terminal_interconnection.png)no-repeat;
        position: absolute;
      }
      &.bus{
        &:before{
          top: 8px;
          left: 12px;
          width: 40px;
          height: 26px;
        }
      }
      &.ktx{
        &:after{
          width: 58px;
          height: 26px;
          background-position: -40px 0;
          margin: 0 auto;
        }
      }
      &.park{
        &:after{
          width: 15px;
          height: 26px;
          background-position: -100px 0;
          margin: 0 auto;
        }
      }
    }
    .padding{
      padding: 5px 0;
    }
  }
  &.pop-up-table2{
    width: 100%;
    border-top:1px solid #b3b3b3;
    border-bottom:1px solid #e3e3e3;
    font-size: 0.75rem;
    font-weight: 700;
    th{
      border-bottom:1px solid #b3b3b3;
      padding: 5px 0;
    }
    td{
      padding: 5px 12px;
      border-top:1px solid #e3e3e3;
      position: relative;
      vertical-align: middle;
    }
    tbody{
      tr:nth-child(4){
        height: 48px;
      }
    }
    .floor-number{
      font-size: 1.125rem;
      color: #6d6d6d;
    }
    .bg-blue1{
      background: #d9eeef;
    }
    .bg-gray2{
      background: #f9f9f9;
    }
    .bg-blue{
      background: #328486;
      color: white;
    }
    .color-b{
      color: #42519e;
    }
    .center{
      text-align: center;
      line-height: 1rem;
    }
    .line:after{
      content: '';
      display: block;
      background: url(/static/ap/images/ico_terminal_interconnection_line.png)no-repeat;
      background-size: 100%;
      width: 120px;
      height: 3px;
      position: absolute;
      top: 19px;
      left: -7px;
      z-index: 10;
    }
    .line2:after{
      content: '';
      display: block;
      background: url(/static/ap/images/ico_terminal_interconnection_line.png)no-repeat;
      background-size: 100%;
      width: 120px;
      height: 3px;
      position: absolute;
      top: 24px;
      left: -7px;
      z-index: 10;
    }
    .position{
      display: block;
      position: absolute;
      top: 13px;
      left: -68px;
      width: 82px;
      height: 18px;
      background: #7f7f7f;
      color: white;
      text-align: center;
      padding: 1px 0;
    }
    .right{
      text-align: right;
    }
    .icon{
      &:after{
        content: '';
        display: block;
        background: url(/static/ap/images/spr_terminal_interconnection.png)no-repeat;
      }
      &:before{
        content: '';
        display: block;
        background: url(/static/ap/images/spr_terminal_interconnection.png)no-repeat;
        position: absolute;
      }
      &.bus{
        &:before{
          top: 8px;
          left: 12px;
          width: 40px;
          height: 26px;
          background-position: 0 -28px;
        }
      }
      &.ktx{
        &:after{
          width: 58px;
          height: 26px;
          background-position: -40px 0;
          margin: 0 auto;
        }
      }
      &.park{
        &:after{
          width: 15px;
          height: 26px;
          background-position: -100px 0;
          margin: 0 auto;
        }
      }
    }
    .padding{
      padding: 5px 0;
    }
  }
}

//font-size
.font14, %font14{
  font-size: 0.875rem;
}
.font16, %font16{
  font-size:1rem;
}
.font24, %font24{
  font-size: 1.5rem;
}

// text margin-top:20px
.mt10, %mt10{
  margin-top:10px;
}

// margin-top:20px;
.mt20, %mt20{
  margin-top:20px;
}

// margin-top:25px;
.mt25, %mt25{
  margin-top:25px;
}

// text margin-top:40px;
.mt30, %mt30{
  margin-top:30px;
}

// margin-top:35px;
.mt35, %mt35{
  margin-top:35px;
}

// margin-top:40px;
.mt40, %mt40{
  margin-top:40px;
}

// margin-top:55px;
.mt55, %mt55{
  margin-top:55px;
}

// margin-top:60px;
.mt60, %mt60{
  margin-top:60px;
}

// margin-top:100px;
.mt100, %mt100{
  margin-top:100px;
}

.ml10, %ml10{
  margin-left: 10px;
}

// float
.f{
  &-left{
    float:left;
  }

  &-right{
    float:right;
  }
}

//article
.article{
  margin-bottom:60px;
  &:last-child{
    margin-bottom:0;
  }
  &-head{
    margin-bottom:20px;
    font-family:nanumsq, sans-serif;
    font-size:1.625rem;
    font-weight:400;
  }
}

button{
  border-radius: 0;
}

select{
  background-color:#fff;
  padding: 0 0 0 10px !important;
}

.filter-service-field.bd-control{
  border-bottom:0;
}

.f-spoqa{
  font-family: spoqa sans-serif;
}

.pop-share-box{
  margin-top:10px;
  &:first-child{
    margin-top:0px;
  }
  &.line{
    border-bottom:1px solid #d9d9d9;
    padding-bottom:20px;
  }

  &-desc{
    margin-bottom:10px;
  }
}
.capcha{
  width:150px;
  height:50px;
  border:1px solid #d9d9d9;
  font-size:1rem!important;
  position:relative;
  text-indent:24px;
  background:#fff;
  &:before{
    content:'';
    display:block;
    background: url(/static/ap/images/spr_service_ico.png) no-repeat;
    position:absolute;
    top:0;
    bottom:0;
    left:24px;
    margin:auto;
  }
  &.reflash{
    &:before{
      background-position:-29px -18px;
      width: 21px;
      height: 21px;
    }

  }
  &.sound{
    &:before{
      background-position: -68px -17px;
      width: 25px;
      height: 23px;
    }
  }
}
.input-align{
  clear: both;
  overflow:hidden;

  .capcha{
    float:left;
    &:nth-child(3){
      border-left:0;
    }
  }
  img{
    float:left;
  }
  .user-input-text{
    width:550px!important;
  }
  .capcha+.user-input-text{
    border-top:0!important;
  }
}

img.no-extend{
  width:100%;
}




// 라운지쿠폰 CSS
.layer{
  .coupon{
    .carnum {
      width : 180px;
      &.name{
        margin:0 40px 0 40px;
      }
    }
    .txt_coral {
      color:#ffae44;
    }
    padding:0 50px;
    &-number{
      padding-top: 0px;
      &:after{
        content:'';
        background:rgb(204, 204, 204);
        width:100%;
        height:1px;
        margin:20px 0;
        display:block;
      }
      label{
        width:180px;
        display:block;
        float:left;
      }
    }

    &-body{
      &:after{
        content:'';
        background:rgb(204, 204, 204);
        width:100%;
        height:1px;
        margin:20px 0;
        display:block;
      }

      &-email{
        text-align: left;
        margin-bottom: 18px;
        height:50px;
      }

      &-rdo{
        padding-top: 15px;
        float: left;
        width:180px;
      }
      &-ipt{

      }
    }
    &-search-btn{
      position:absolute;
      top:159px;
      right:51px;
      button{
        height: 50px;
        font-size:1rem!important;
      }
    }
  }
}


