

.section{
  height:1000px;
  position:relative;
  background-repeat:no-repeat;
  background-position:center top;
  background-size:cover;

  &.auto-height{
    height:auto;
  }

  //&.bg-fixed{
  //  background-attachment:fixed;
  //}
}

.top-big-popup{
  background:url(/static/ap/images/bg_top_big_popup.jpg) no-repeat center;

  &.none{
    display:none;
  }

  &-text{

    display:none;

  }

  &-close{
    display:block;
    width:90px;
    height:90px;
    border:0;
    background:url(/static/ap/images/bg_top_big_popup_arrow.png) no-repeat;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, 250%);
    -webkit-transform:translate(-50%, 250%);
    -moz-transform:translate(-50%, 250%);
    -ms-transform:translate(-50%, 250%);
    -o-transform:translate(-50%, 250%);
    text-indent:-99999em;

    &:after{
      content:"";
      display:block;
      width:43px;
      height:65px;
      background:url(/static/ap/images/scrolloff.gif) no-repeat;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      -webkit-transform:translate(-50%, -50%);
      -moz-transform:translate(-50%, -50%);
      -ms-transform:translate(-50%, -50%);
      -o-transform:translate(-50%, -50%);
    }
  }

  &.mobile{
    width:100%;
    height:100vh!important;
    position:fixed;
    top:0;
    left:0;
    z-index:999999;
    background:url(/static/ap/images/bg_mobile_top_big_popup.jpg) no-repeat center top;
    background-size:cover;

    &.none{
      display:none;
    }
  }

}

.full-page-wrapper{
  overflow:hidden;
}

.main{

  &-visual{
    position:relative;
    overflow:hidden;
    //height:1000px;

    &-wrap{
      height:100%;

      position:relative;

      z-index:90;
      overflow:hidden;

      &:after{
        content:"";
        display:block;
        width:100%;
        height:100%;
        background:url(/static/ap/images/bg_dimmed_gradient.png) repeat-x 0 0;
        position:absolute;
        top:0;
        left:0;
      }
    }

    &-item{
      width:100%;
      height:100%;

      position:absolute;
      top:0;
      left:0;

      background-position:center;
      background-size:cover;

      &.text-ir{
        text-indent:-99999em;
      }

      .visual{
        &-text{
          &.text-right{
            //position:absolute;
            right:270px;
          }

          &.text-left{
            //position:absolute;
            left:270px;
          }

          &-box{
            text-align:center;
            position:relative;
            top:calc(50% - 55px);
            transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            -ms-transform:translateY(-50%);
            -o-transform:translateY(-50%);
            &.open{
              padding: 20px;
              background: rgba( 51, 54, 73, 0.5 );
            }
            &:nth-child(3){
              &:after{
                content:"";
                display:block;
                width:50px;
                height:1px;
                background:#fff;
                position:absolute;
                top:0;
                left:50%;
                transform:translateX(-50%);
                -webkit-transform:translateX(-50%);
                -moz-transform:translateX(-50%);
                -ms-transform:translateX(-50%);
                -o-transform:translateX(-50%);
              }
            }
            &:nth-child(4) {
              margin-top: 60px;
              line-height: 1.7;
                &:after{
                content:"";
                display:block;
                width:50px;
                height:1px;
                background:#fff;
                position:absolute;
                top:0;
                left:50%;
                transform:translateX(-50%);
                -webkit-transform:translateX(-50%);
                -moz-transform:translateX(-50%);
                -ms-transform:translateX(-50%);
                -o-transform:translateX(-50%);
              }
            }
          }

          &:nth-child(1){
            position:relative;
            top:-20px;

            font-size:45rem;
            font-family:exo, sans-serif;
            font-weight:900;
            margin-bottom:10px;
            opacity:0;
          }
          &:nth-child(2){
            position:relative;
            top:-20px;
            font-size:2.125rem;
            font-family:nanumsq, sans-serif;
            font-weight:300;
            opacity:0;
            margin-bottom:20px;
          }

          &:nth-child(3){
            //margin-top:30px;
            //padding-top:30px;
            position:relative;
            opacity:0;
            //
            //&:after{
            //  content:"";
            //  display:block;
            //  width:50px;
            //  height:1px;
            //  background:#fff;
            //  position:absolute;
            //  top:0;
            //  left:50%;
            //  transform:translateX(-50%);
            //}
          }
          &:nth-child(4) {
            margin-top: 60px;
            line-height: 1.7;
          }
          &.white{
            color:#fff;
          }

          &.black{
            color:#000;
          }

          &.blue{
            color:#42519e;
          }
        }
      }
    }

    &-control{

      &-arrow{
        width:100%;
        position:absolute;
        top:50%;
        left:0;
        z-index:100;

        >.arrow{
          width:74px;
          height:74px;
          padding:0;
          border:none;
          background:url(/static/ap/images/spr_main_visual_arrow.png) no-repeat;

          position:absolute;
          top:calc(50% - 55px);
          transform:translateY(-50%);
          -webkit-transform:translateY(-50%);
          -moz-transform:translateY(-50%);
          -ms-transform:translateY(-50%);
          -o-transform:translateY(-50%);

          text-indent:-99999em;

          &.prev{
            left:80px;
          }

          &.next{
            background-position:-84px 0;
            right:80px;
          }
        }
      }

      &-paging{
        position:absolute;
        bottom:250px;
        left:50%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        z-index:100;

        @extend %clearfix;

        .play-button{
          display:block;
          width:11px;
          height:11px;
          padding:0;
          border:none;
          border-radius:0;

          float:left;

          background:url(/static/ap/images/spr_ico_main_visual_play.png) no-repeat;

          text-indent:-99999em;

          &.play{
            background-position:-16px 0;
          }

        }

        .paging{

          &-visual{
            float:left;
            @extend %clearfix;
          }

          &-item{
            float:left;
            margin-right:10px;
            width:11px;
            height:11px;
            border:2px solid #333;
            border-radius:50%;
            position:relative;
            overflow:hidden;
          }
          &-link{
            display:block;
            width:11px;
            //height:11px;
            height:100%;
            //border:2px solid #333;
            //border-radius:50%;
            text-indent:-99999em;
            position:absolute;
            left:-2px;
            bottom:0;

            &.on{
              background:#333333;
            }
          }
        }
      }

      &-bar{
        width:0;
        height:3px;
        background:#ffae44;
        position:absolute;
        bottom:207px;
        left:0;
        z-index:110;
      }
    }

    &-search{
      width:100%;
      height:160px;
      padding-top:33px;
      background:url(/static/ap/images/bg_main_flight_search.png) no-repeat;

      position:absolute;
      bottom:0;
      left:0;

      color:#fff;
      text-align:center;

      //overflow:hidden;

      z-index:100;

      @extend %clearfix;

      transition:all .3s ease-out;

      &.on{
        height:230px;

        .airplane-info-more{
          display:block;
        }

        .airplane-info-close{
          display:block;
        }
      }

      &-inner{
        display:inline-block;
        width:882px;
        @extend %clearfix;
      }

      &-title{
        margin:43px 50px auto auto;
        font-size:1.75rem;
        font-weight:300;
        float:left;
        cursor:pointer;
      }

      &-flight{
        width:520px;
        padding-top:35px;
        float:left;
        position:relative;

        &-area{
          //position:relative;

          .area{
            &-tab{
              width:257px;
              height:30px;
              padding-right:15px;
              border-bottom:1px solid #aec5fb;

              position:absolute;
              top:0;

              font-size:1.25rem;
              font-weight:300;
              color:#aec5fb;
              text-align:center;

              &.on{
                border-color:#fff;
                color:#fff;
              }

              &:before{
                content:"";
                display:inline-block;
                width:37px;
                height:15px;
                background:url(/static/ap/images/spr_ico_main_visual_search_flight.png) no-repeat;
              }

              &.departure{
                left:0;

                &.on:before{
                  background-position:0 0;
                }

                &:before{
                  margin-right:5px;
                  background-position:0 -25px;
                }
              }

              &.arrival{
                right:0;

                &.on:before{
                  background-position:-51px 0;
                }

                &:before{
                  margin-right:5px;
                  background-position:-51px -23px;
                }
              }
            }

            &-form{
              display:none;
              position:relative;
              padding-bottom:5px;
              border-bottom:1px solid #fff;

              &.on{
                display:block;
              }

              &-input{
                display:block;
                width:100%;
                height:40px;
                line-height:40px;
                background:transparent;
              //url(/static/ap/images/bg_search_flight_place_holder.png) no-repeat 20px center;
                border:none;

                font-size:1rem;
                font-weight:300;
                color:#fff;

                &:focus{
                  background-image:none;
                }

                &::-webkit-input-placeholder{
                  color:#fff;
                }
                &::-moz-placeholder{
                  color:#fff;
                }
                &:-ms-input-placeholder{
                  color:#fff;
                }
                &:-moz-placeholder{
                  color:#fff;
                }
              }

              &-button{
                width:25px;
                height:25px;

                position:absolute;
                top:8px;
                right:0;

                background:transparent url(/static/ap/images/ico_main_visual_search.png) no-repeat;
                border:0;

                text-indent:-99999em;
              }

            }
          }
        }
      }

      &-weather{
        position:absolute;
        top:65px;
        left:50%;
        transform:translateX(310px);
        -webkit-transform:translateX(310px);
        -moz-transform:translateX(310px);
        -ms-transform:translateX(310px);
        -o-transform:translateX(310px);

        padding-left:40px;

        @extend %clearfix;

        .weather{
          &-image{
            float:left;
          }

          &-temperature{
            float:left;
            margin:16px auto auto 15px;
          }
        }

        &:before{
          content:"";
          display:block;
          width:1px;
          height:30px;
          background:#fff;
          position:absolute;
          top:50%;
          left:0;
          opacity:0.2;
          transform:translateY(-50%);
          -webkit-transform:translateY(-50%);
          -moz-transform:translateY(-50%);
          -ms-transform:translateY(-50%);
          -o-transform:translateY(-50%);
        }
      }

      &-desc{
        margin-top:100px;
        font-size:0.8125rem;
        color:#a0a5be;
        text-align:initial;
        position:relative;
        clear:both;

        .airplane{
          font-size:0.8825rem;
          color:#fff;
          margin-bottom:10px;

          &-terminal{
            display:inline-block;
            width:150px;
            color:#fff193;
          }

          &-number{
            display:inline-block;
            width:200px;
            color:#fff;
          }

          &-destination{
            display:inline-block;
            width:200px;
            color:#fff;

            .city{
              color:#ffae44;
            }
          }

          .situation-info {
            width: auto;
            height: 21px;
            padding:0 10px;
            //margin-left:20px;
            line-height: 21px;
            display: inline-block;
            color: #fff;
            font-size: 0.875rem;
            border-radius: 5px;
            text-align:center;

            &.delay,
            &.type-red{
              background: #d43e41;
            }
            &.boarding-on,
            &.type-blue{
              background: #42519e;
            }
            &.boarding-closing,
            &.type-cyan{
              background: #2c8179;
            }
            &.type-gray{
              background: #999;
            }

          }

          .date{
            display:inline-block;
            //margin-left:128px;
            width:130px;
          }

          &-info-more{
            display:none;
            //width:22px;
            height:30px;
            //padding-top:20px;
            border:1px solid #fff193;
            background:none;
            position:absolute;
            top:47px;
            right:0;
            font-size:0.875rem;
            color:#fff193;
            //text-indent:-99999em;
          }

          &-info-close{
            display:none;
            width:22px;
            height:22px;
            border:0;
            background:url(/static/ap/images/ico_airplane_info_close.png) no-repeat;
            position:absolute;
            top:0;
            right:0;
            text-indent:-99999em;
          }
        }
      }
    }

  }

  &-content{

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);


    &-heading{
      //color:#222;
      font-size:2.5rem;
      font-weight:300;
      text-align:center;
      margin-bottom:72px;

      position:relative;

      &.sub-script:after{
        content:"Manual For Passenger";
        display:block;

        width:100%;
        position:absolute;
        bottom:-30px;

        text-align:center;
        font-family:roboto, sans-serif;
        font-size:1.5rem;
        font-weight:400;
        color:#42519e;
      }

      &.white{
        color:#fff;
      }

    }

  }

  &-block{

    width:1152px;
    @extend %clearfix;
    &-item{

      width:368px;
      float:left;
      margin-right:24px;

      &:last-child{
        margin-right:0;
      }

      .heading{
        &-group{
          width:100%;
          height:200px;
          padding:70px 10px 0;
          text-align:center;
          font-family:nanumsq, sans-serif;

          &.prepare{
            background:url(/static/ap/images/bg_main_block_item_01.jpg) no-repeat;
          }

          &.airport{
            background:url(/static/ap/images/bg_main_block_item_02.jpg) no-repeat;
          }

          &.transfer{
            background:url(/static/ap/images/bg_main_block_item_03.jpg) no-repeat;
          }
        }

        color:#fff;
        font-size:1.875rem;
        font-weight:400;
        margin-bottom:8px;

        &-desc{
          color:#fff;
          font-size:0.875rem;
          font-weight:300;
          letter-spacing:1px;
        }

      }

      .guide-wrap{
        width:100%;
        height:310px;
        padding:20px;
        border:1px solid #dee3eb;
        border-top:0;
        background:#fff;
        .guide-box{
          margin-bottom:30px;
          @extend %clearfix;
          &:first-child{
            height:80px;
          }
          .box-left{
            float:left;
            width:40%;
            .guide-tit{
              margin-bottom:5px;
              font-family:nanumsq, sans-serif;
              font-size:1.125rem;
              font-weight:700;
              color:#222;
              line-height:1.4;
            }
          }
          .box-right{
            float:right;
            width:60%;
          }
          .guide-list{
            &-item{
              position:relative;
              padding-left:7px;
              line-height: 1.2;
              margin-bottom:6px;
              &.layout-div{
                width:40%;
                display:inline-block;
                margin-right:10px;
              }
              &:after{
                content:"";
                display:block;
                width:2px;
                height:2px;
                border-radius:2px;
                background:#222;
                position:absolute;
                top: 12px;
                left: 0;
              }
            }
            &-link{
              font-size:0.875rem;
              color:#666;
              &:hover{
                color:#439096;
                border-bottom:1px solid #439096;
              }
            }
          }
        }
      }

      .link-list{
        width:100%;
        height:325px;
        padding:25px 20px;
        border:1px solid #dee3eb;
        border-top:0;
        background:#fff;

        &-item{

          margin-bottom:5px;
          position:relative;

          @extend %clearfix;

          &-title{
            //position:absolute;
            //top:0;
            //left:0;

            margin-bottom:5px;
            font-family:nanumsq, sans-serif;
            font-size:1.125rem;
            font-weight:400;
            color:#222;
          }

        }

        &-sub{
          //padding-left:130px;
          float:left;

          @extend %clearfix;

          &-item{
            float:left;
            margin-right:10px;
            position:relative;
            padding-left:7px;

            &:first-child{
              //width:130px;
            }

            &:after{
              content:"";
              display:block;
              width:2px;
              height:2px;
              border-radius:2px;
              background:#222;
              position:absolute;
              top:50%;
              left:0;
              margin-top:-4px;
            }
          }

          &-link{
            font-size:0.875rem;
            color:#666;
            position:relative;
            top:-3px;

            &:hover{
              color:#439096;
              border-bottom:1px solid #439096;
            }
          }
        }

      }

    }

  }

  &-guide{
    width:1004px;
    border:1px solid #dee3eb;
    background:#fff;

    @extend %clearfix;

    &-item{
      width:50%;
      padding:30px;
      float:left;

      &:last-child{
        border-left:1px solid #dee3eb;
      }
    }

    .heading{

      &-group{
        width:440px;
        height:174px;
        padding-top:70px;

        &.t1{
          background:url(/static/ap/images/bg_main_guide_item_t1.jpg) no-repeat;
        }

        &.t2{
          background:url(/static/ap/images/bg_main_guide_item_t2.jpg) no-repeat;
        }
      }

      padding-top:10px;
      position:relative;
      text-align:center;
      font-family:nanumsq, sans-serif;
      font-size:1.75rem;
      font-weight:400;

      &:before{
        content:"";
        display:block;
        width:36px;
        height:1px;
        background:#222;
        position:absolute;
        top:0;
        left:50%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        -o-transform:translateX(-50%);
      }

    }

    .link{

      &-list{

        @extend %clearfix;

        &-item{
          width:50%;
          height:60px;
          padding-left:75px;
          margin-top:20px;
          float:left;
          position:relative;
          line-height:60px;

          a{
            &:before{
              content:"";
              display:block;
              width:60px;
              height:60px;
              position:absolute;
              top:0;
              left:0;
            }
          }


          &.shopping{

            &.t1 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat 0 0;
            }

            &.t2 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -140px 0;
            }

          }

          &.restaurant{

            &.t1 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -70px 0;
            }

            &.t2 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -210px 0;
            }

          }

          &.facilities{

            &.t1 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat 0 -80px;
            }

            &.t2 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -140px -80px;
            }

          }

          &.convenience{

            &.t1 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -70px -80px;
            }

            &.t2 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -210px -80px;
            }

          }

          &.information{

            &.t1 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat 0 -160px;
            }

            &.t2 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -140px -160px;
            }

          }

          &.currency{

            &.t1:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -70px -160px;
            }

            &.t2:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -210px -160px;
            }

          }
          &.d-shopping{

            &.t1 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat 0 -240px;
            }

            &.t2 a:before{
              background:url(/static/ap/images/spr_ico_main_guide.png) no-repeat -140px -240px;
            }

          }
        }
      }

    }
  }

  &-banner{
    width:990px;
    padding:30px 0 50px;
    margin:0 auto;
    position:relative;
    overflow:hidden;

    &-wrap{
      position:relative;
    }

    &-list{
      position:relative;
      top:0;
      left:0;
      white-space: nowrap;
      @extend %clearfix;
    }

    &-item{
      margin-right:10px;
      float:left;
      position:relative;
    }

    &-link{
      display:block;

      img{
        display:block;
      }
    }

    &-control{

      &-arrow{
        width:100%;
        position:absolute;
        top:50%;
        left:0;
        z-index:100;

        >.arrow{
          width:16px;
          height:33px;
          padding:0;
          border:none;
          background:url(/static/ap/images/spr_main_banner_arrow.png) no-repeat;

          position:absolute;
          top:50%;
          left:50%;
          transform:translateY(-85%);
          -webkit-transform:translateY(-85%);
          -moz-transform:translateY(-85%);
          -ms-transform:translateY(-85%);
          -o-transform:translateY(-85%);


          text-indent:-99999em;

          &.prev{
            margin-left:-541px;

            &.end{
              opacity:0.2;
            }
          }

          &.next{
            background-position:-26px 0;
            margin-left:525px;

            &.end{
              opacity:0.2;
            }
          }
        }
      }

      &-paging{
        position:absolute;
        bottom:20px;
        left:50%;
        margin-left:451px;
        z-index:100;

        @extend %clearfix;

        .play-button{
          display:block;
          width:20px;
          height:19px;
          padding:0;
          border:none;
          border-radius:0;

          float:left;

          background:url(/static/ap/images/spr_ico_main_banner_play_pause.png) no-repeat;

          text-indent:-99999em;

          &.play{
            background-position:0 0;
            margin-right:4px;
          }

          &.pause{
            background-position:-24px 0;
          }

        }

        .paging{

          &-visual{
            float:left;
            @extend %clearfix;
          }

          &-item{
            float:left;
            margin-right:10px;
            width:11px;
            height:11px;
            border:2px solid #333;
            border-radius:50%;
            position:relative;
            overflow:hidden;

          }
          &-link{
            display:block;
            width:11px;
            //height:11px;
            height:100%;
            //border:2px solid #333;
            //border-radius:50%;
            text-indent:-99999em;
            position:absolute;
            left:-2px;
            bottom:0;

            &.on{
              background:#333333;
            }
          }
        }
      }

    }
  }

}

//.section2:after{
//  content:'';
//  display:block;
//  width:100%;
//  height:100%;
//  background:rgba(0,0,0,0.4);
//}


