

.contact-list{
  width:1152px;
  margin: 0 auto;
}

.sub-menu-tab{
  &-iconlist{
    &-link{
      &.contact-us{

        &:before{
          background-position: 0px -159px;
          width: 52px;
          height: 52px;
        }

        &:hover:before {
          background-position:0px -102px;
        }

      }

      &.complain{
        &:before{
          background-position: -67px -159px;
          width: 50px;
          height: 52px;
        }

        &:hover:before,
        &.on:before{
          background-position:-67px -103px;
        }
      }

    }
  }
}

.mypage-pagenation{
  margin-top:40px;
  margin-bottom: 60px;
}

.mypage-text-box{
  width: 1152px;
  height: 171px;
  margin: 0 auto;
}

.complain-arrow{
  right: -931px;
  width: 190px;
  height: 50px;
  margin-bottom: 60px;
}

.sub-menu-tab{
  &-iconlist{
    &-link{

      &.complain{
        &:before{
          background-position: -67px -159px;
          width: 50px;
          height: 52px;
        }

        &:hover:before{
          background-position:-67px -103px;
        }
      }

      &.privacy{
        &:before{
          background-position: -129px -161px;
          width: 49px;
          height: 54px;
        }

        &:hover:before,
        &.on:before{
          background-position:-129px -104px;
        }
      }

    }
  }
}

.search-customer-text{
   &.privacy-text{
     width:50%;
   }
 }

.select-link{
  &.privacy-link{
    width:131px;
    height: 50px;
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
  }
}

.sub-menu-tab{
  &-iconlist{
    &-link{

      &.privacy{
        &:before{
          background-position: -129px -161px;
          width: 49px;
          height: 54px;
        }

        &:hover:before {
          background-position:-129px -104px;
        }
      }

      &.delete-member{
        &:before{
          background-position: -192px -160px;
          width: 52px;
          height: 54px;
        }

        &:hover:before,
        &.on:before{
          background-position:-192px -103px;
        }
      }
    }
  }
}

.user-text{
  &.privacy-text{
    width:403px;
    height: 50px;
  }
}

.password-change{
  font-size: 1rem;
  margin-right: 15px;
}

.password-change-text1{

  width: 290px;
  height: 50px;
}

.password-change-text2{
  margin-left: 15px;
  width: 290px;
  height: 50px;
}

.password-info{
  font-size: 0.875rem;
  color: #666;
}

.find-info{
  &-list{
    margin: 10px 0;
    @extend %clearfix;
  }

  &-item{
    float:left;
  }

  &-link{
    font-size: 1rem;
    color:#444;

    &.id{
      margin-right: 5px;

    }

    &.pw{
      padding-left: 5px;
    }
  }
}

.sign-in{
  padding-bottom: 20px;

  &-title{
    font-size: 1.125rem;
    color: #444;
  }

  &-txt{
    font-size: 1rem;
    color: #444;
  }

  &-btn{
    width: 99px;
    height: 40px;
    background-color: #fff;
    color: #666;
    border: 1px solid #a6a7ab;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 10px;
  }

  &-col1{
    float: left;
  }

  &-col2{
    float: left;

  }
}

//.user-text{
//  &.email-wide{
//    width: 85%;
//    margin-bottom: 10px;
//  }
//}

.contents{
  &.border{

    border-bottom: 1px solid #b7c0ce;
  }

}








