

//.contact-list{
//  width:1152px;
//  margin: 0 auto;
//}

.sub-menu-tab{
  &-iconlist{
    &-link{
      &.contact-us{

        &:before{
          background-position: 0px -159px;
          width: 52px;
          height: 52px;
        }

        &:hover:before {
          background-position:0px -102px;
        }

      }

      &.complain{
        &:before{
          background-position: -67px -159px;
          width: 50px;
          height: 52px;
        }

        &:hover:before,
        &.on:before{
          background-position:-67px -103px;
        }
      }

    }
  }
}

.mypage-pagenation{
  margin-top:40px;
  margin-bottom: 60px;
}

.mypage-text-box{
  width: 1152px;
  height: 171px;
  margin: 0 auto;
}

.complain-arrow{
  right: -931px;
  width: 190px;
  height: 50px;
  margin-bottom: 60px;
}

.sub-menu-tab{
  &-iconlist{
    &-link{

      &.complain{
        &:before{
          background-position: -67px -159px;
          width: 50px;
          height: 52px;
        }

        &:hover:before{
          background-position:-67px -103px;
        }
      }

      &.privacy{
        &:before{
          background-position: -129px -161px;
          width: 49px;
          height: 54px;
        }

        &:hover:before,
        &.on:before{
          background-position:-129px -104px;
        }
      }

    }
  }
}

.search-customer-text{
   &.privacy-text{
     width:50%;
   }
 }

.select-link{
  &.privacy-link{
    width:131px;
    height: 50px;
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
  }
}

.sub-menu-tab{
  &-iconlist{
    &-link{

      &.privacy{
        &:before{
          background-position: -129px -161px;
          width: 49px;
          height: 54px;
        }

        &:hover:before {
          background-position:-129px -104px;
        }
      }

      &.delete-member{
        &:before{
          background-position: -192px -160px;
          width: 52px;
          height: 54px;
        }

        &:hover:before,
        &.on:before{
          background-position:-192px -103px;
        }
      }
    }
  }
}

.user-text{
  &.privacy-text{
    width:403px;
    height: 50px;
  }
}

.password-change{
  font-size: 1rem;
  margin-right: 15px;
}

.password-change-text1{

  width: 290px;
  height: 50px;
}

.password-change-text2{
  margin-left: 15px;
  width: 290px;
  height: 50px;
}

.password-info{
  font-size: 0.875rem;
  color: #666;
}

.find-info{
  &-list{
    margin: 10px 0;
    @extend %clearfix;
  }

  &-item{
    float:left;
    position: relative;
    &:first-child{
      padding-right: 10px;
      &:after{
        content: '';
        display: block;
        width: 1px;
        height: 15px;
        position: absolute;
        top: 4px;
        right: 0;
        background: #666;
      }
    }
  }

  &-link{
    font-size: 1rem;
    color:#444;

    //&.id{
    //  margin-right: 5px;
    //}

    &.pw{
      padding-left: 10px;
    }
  }
}

.sign-in{
  padding-bottom: 20px;

  &-title{
    font-size: 1.125rem;
    color: #444;
  }

  &-txt{
    font-size: 1rem;
    color: #444;
  }

  &-btn{
    width: 99px;
    height: 40px;
    background-color: #fff;
    color: #666;
    border: 1px solid #a6a7ab;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 10px;
  }

  &-col1{
    float: left;
  }

  &-col2{
    float: left;

  }
}

//.user-text{
//  &.email-wide{
//    width: 85%;
//    margin-bottom: 10px;
//  }
//}

.contents{
  &.border{

    border-bottom: 1px solid #b7c0ce;
  }

}

.route-list{

  &-item{
    height:60px;
    position:relative;
    margin-bottom:2px;
    .multi-col{
      .route-list-item{
        .route-name{
          width:40%;
        }
        .route-desc{
          width:60%;
        }

        &.moving{
          .route-desc{
            line-height:1.4;
            font-size:1rem;
            padding-top:9px;
            letter-spacing:-1px;
          }
        }
      }
    }

    &:after{
      content:"";
      display:block;
      width:4px;
      height:100%;
      position:absolute;
      top:0;
      left:0;
    }

    &.double-row{
      height:122px;
      .route-name{
        height:122px;
        line-height:122px;

        .move{
          top:50%;
          transform:translateY(-50%);
        }
      }

      .route-desc{
        height:122px;
        line-height:122px;
      }
    }

    &.general{
      &:after{
        background:#a87b50;
      }
    }

    &.departure{
      &:after{
        background:#132d5b;
      }
    }

    &.moving{
      &:after{
        background:#b34b58;
      }
    }

    &.tax-free{
      &:after{
        background:#6182c0;
      }
    }

    &.arrival{
      &:after{
        background:#42519e;
      }
    }

    .route{
      &-name{
        width:20%;
        height:60px;
        padding-left:25px;
        border:{
          top:1px solid #d9d9d9;
          bottom:1px solid #d9d9d9;
          right:1px solid #d9d9d9;
        }
        float:left;
        font-size:1.25rem;
        font-weight:700;
        line-height:60px;
        position:relative;

        .move{
          font-size:0.85rem;
          font-weight:400;
          position:absolute;
          top:10px;
          right:20px;
          line-height:normal;
          padding-bottom:16px;

          &:after{
            content:"";
            display:block;
            width:0;
            height:0;
            position:absolute;
            top:19px;
            left:2px;
          }

          &.general{
            &:after{
              border:{
                top:14px solid #a97c50;
                left:10px solid transparent;
                right:10px solid transparent;
              }
            }
          }

          &.departure{
            &:after{
              border:{
                top:14px solid #132d5b;
                left:10px solid transparent;
                right:10px solid transparent;
              }
            }
          }

          &.tax-free{
            &:after{
              border:{
                top:14px solid #6182D1;
                left:10px solid transparent;
                right:10px solid transparent;
              }
            }
          }

          &.moving{
            &:after{
              border:{
                top:14px solid #b34b58;
                left:10px solid transparent;
                right:10px solid transparent;
              }
            }
          }
        }
      }

      &-desc{
        width:80%;
        height:60px;
        padding-left:33px;
        border:{
          top:1px solid #d9d9d9;
          bottom:1px solid #d9d9d9;
          right:1px solid #d9d9d9;
        }
        float:left;
        font-size:1.125rem;
        line-height:60px;

        &.small{
          font-size:1rem;
          line-height:1.4;
          padding:9px 33px 0;
        }
      }
    }

  }

}





