.step * {box-sizing: border-box}







//---------------------------------구분 테스트


.section-bg *{box-sizing:border-box}
.section-bg{
  height:510px;
  background:url(../images/bg_tourinfo.jpg);
  margin-top:40px;
}

.split-group{
  height:100%;
  @extend %clearfix;
  .split{
    width:50%;
    height:100%;
    float:left;
    display:table;
    &.color{
      background:rgba(66,81,158,.6);
      padding-left:108px;
    }
    &-inner{
      display:table-cell;
      vertical-align:middle;
    }
    &-head{
      font-family: nanumsq, sans-serif;
      color:#fff;
      font-size:2.875rem;
      font-weight:300;
      text-align:center;
      &:after{
        content:'';
        display:block;
        width:40px;
        height:2px;
        background:#fff;
        margin:30px auto;
      }
    }
    &-desc{
      color:#fff;
      font-size:1.125rem;
      line-height:1.5;
      text-align:center;

      &.left{
        text-align:left;
      }
      .desc-bold{
        color:#ffae44;
        font-weight:700;
      }
    }

    &-list{
      color:#fff;
      &-tit{
        font-size:1.375rem;
        font-weight:400;
        margin-top:20px;
      }
      &-desc{
        padding-top:8px;
        line-height:1.5;
      }
    }

    .btn-type-infolink{
      margin-bottom:30px;
    }
  }
}

// 아티클 소제목 현재 레이어팝업에서도 같은스타일 title 존재
.article{
  margin-bottom:60px;
  .article-head{
    font-size:1.625rem;
    font-weight:400;
    margin-bottom:20px;
  }
}

.table-desc{
  color:#444;
  font-size:1.125rem;
  line-height:1.8;
  margin-bottom:8px;
}

//.aa td{
//  @extend %cell-left;
//}

.txt-indent{
  display:block;
  padding: 4px 0 4px 10px
}
