.sub-menu-tab{
  &-iconlist{
   margin: 0 auto;

    &.mypage-iconlist{
      width: 622px;


    }


    &-link{
      &.contact-us{
        &.on{

        }

        &:before{
          background-position: 0px -159px;
          width: 52px;
          height: 52px;
        }

        &:hover:before{
          background-position:0px -102px;
        }
      }

      &.complain{
        &:before{
          background-position: -67px -159px;
          width: 50px;
          height: 52px;
        }

        &:hover:before{
          background-position:-67px -103px;
        }
      }

      &.privacy{
        &:before{
          background-position: -129px -161px;
          width: 49px;
          height: 54px;
        }

        &:hover:before{
          background-position:-129px -104px;
        }
      }

      &.delete-member{
        &:before{
          background-position: -192px -160px;
          width: 52px;
          height: 54px;
        }

        &:hover:before{
          background-position:-192px -103px;
        }
      }


    }
  }
}


.contact-list{
  width:1152px;
  margin: 0 auto;
}


.mypage-pagenation{
  margin-top:40px;
}

.mapage-text-box{
  width: 1152px;
  height: 171px;
  margin: 60px  auto;
}

