.footer *{box-sizing: border-box;}

.footer{
  background: #fff;
  padding:24px 0;
  border-top:1px solid #dcdfe4;
  &-inside{
    @extend %clearfix;
  }
  &-align.left{
    float:left
  }
  .fnb{
    &-list{
      font-size:0;
      &-item{
        margin-left:10px;
        display:inline-block;
        &:before{
          content:'';
          display:inline-block;
          width:1px;
          height:11px;
          background:#ccc;
          margin-right:10px;
        }

        &:first-child{
          margin-left:0;
        }

        &:first-child:before{
          display:none;
        }
      }
      &-link{
        color:#222;
        font-size:14px;
        font-weight:400;
        text-decoration:none;
        &:hover{
          opacity:.5
        }
      }
    }
  }
  &-call{
    font-size:18px;
    margin:28px 0 20px 0;
    &-num{
      color:#2c8179;
      font-weight:400;
    }
  }

  &-contact{
    margin-bottom:12px;
    font-size:0;
    &-item{
      display:inline-block;
      color:#666;
      font-size:14px;
      margin-right:10px;
      &:before{
        content:'';
        display:inline-block;
        width:1px;
        height:11px;
        background:#ccc;
        margin-right:10px;
      }
      &:first-child{
        margin-left:0px;
      }
      &:first-child:before{
        display:none;
      }
    }
  }

  &-copyright{
    color:#666;
    font-size:12px;
    letter-spacing:.3px;
  }

  &-align.right{
    float:right;
    margin-top:-16px;
  }

  .sns{
    @extend %clearfix;
    &-list{
      float:right;
      margin-right:-11px;
      font-size:0;
      &-item{
        display:inline-block;
        margin-right:10px;
      }
      &-link{
        width:22px;
        height:22px;
        &:hover{
          opacity:.5;
        }
      }
    }
  }
  .relsite{
    float:right;
    width:202px;
    height:32px;
    margin:20px 0 12px 0;
    .select-list{
      top:-391px;
      width:202px;
      max-height:392px;
    }
  }

  .incheon-etc{
    @extend %clearfix;
    .web-mark{
      float:left;
      margin-right:20px;
    }
    .footer-shortcut{
      float:right;
      margin-top:2px;
      &-link{
        color:#222;
        font-size:14px;
        line-height:22px;
        text-decoration:none;
        &:hover{
          opacity:.5;
        }
        .link-tit{
          display:inline-block;
          width:96px;
        }
      }
    }

  }

}


.footer .ico{
  &:after{
    background: url(../images/spr_ico_sns_arrow.png) no-repeat;
  }
}







