%clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.section{
  margin:120px 0;
}

.inner-section{
  width:1200px;
  margin:0 auto;
}

.top-contents-wrap{
  margin-bottom:30px;
  @extend %clearfix;
}

.heading{

  &-wrap{
    margin-bottom:30px;
  }

  &-level1{
    width:300px;
    padding-bottom:15px;
    margin-bottom:20px;
    font-family: nanumsq, sans-serif;
    font-weight:300;
    font-size:50px;
    color:#4674c9;
    position:relative;

    &:after{
      content:"";
      display:block;
      width:100%;
      height:2px;
      background:#d9d9d9;
      position:absolute;
      bottom:0;
      left:0;
    }
  }

  &-level2{
    padding-bottom:17px;
    position:relative;
    font-family: nanumsq, sans-serif;
    font-weight:300;
    font-size:30px;
    color:#dd7714;
  }

  &-desc{
    font-size:16px;
    color:#666;
  }
}

.progress{
  &-wrap{
    display:inline-block;
    width:80%;
    height:70px;
    background:#ddd;
    position:relative;
  }
  &-bar{
    width:0;
    height:70px;
    line-height:70px;
    background:#ffae44;
  }

  &-percent{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn-type-small{
  min-width:146px;
  height:20px;
  background:#ddd;
  padding:0 12px;
  line-height:20px;
  border:1px solid #d9d9d9;
  border-radius:50px;
  font-size:0.75rem;
  font-weight:400;
  transition:all .4s;
  &.point{
    background:#f2f2f2;
  }
  &.under{
    background:none;
    color:#fff;
  }
  &:hover{

  }
  &.ico{
    text-indent:0;
    &:after{
      left:auto;
      right:14px;
    }
  }
}

.back-to-top{
  width:50px;
  height:50px;
  border:1px solid #aaa;
  background:#fff url(../images/ico_top_arrow.png) no-repeat -1px 0;
  position:fixed;
  bottom:-1px;
  right:30px;
  font-family: nanumsq, sans-serif;
  font-weight:700;
  color:#fff;
  text-indent:-99999em;
  border-radius:5px 5px 0 0;
}

table{
  width:100%;

  &.vt-dark{
    border-bottom:1px solid #a5a7aa;

    tbody{
      tr {

        &.category{
          background:#999;
        }

        &.cancel{
          background:orange;
        }

        &.link-category{
          background:skyblue;
        }

        &:hover{
          background:#ffae44;
          cursor:pointer;
        }

        &.hide{
          display:none;
        }

        &:first-child {
          td {
            border-top: 0;
          }
        }
      }
    }

    th{
      padding:10px 0 8px;
      font-size:0.625rem;
      color:#fff;
      background:#323648;
      border-right:1px solid #474a5b;
      vertical-align:middle;

      &:last-child{
        border-right:0;
      }

      &.half{
        padding:12px;
      }

      &.sub{
        padding:6px 0 8px;
        border:{
          top:1px solid #212535;
          right:1px solid #212535;
        }
        background:#4d5164;
        font-size:0.625rem;

        &:last-child{
          border-right:0;
        }
      }

    }

    td{
      padding:10px 5px 8px;
      font-size:0.625rem;
      font-weight:700;
      line-height:1.4;
      border-right:1px solid #f2f4f7;
      border-top:1px solid #d9d9d9;
      vertical-align:middle;

      &.center{
        text-align:center;
      }

      &.cancel{
        background:#aaa;
        //display:none;
      }

      &:last-child{
        border-right:0;
      }
    }
  }

  &.vt{
    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }

    &.border-no{
      border-top: none;
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }

    &.border-right{
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }

    th{
      padding:7px 0 6px;
      font-size:0.75rem;
      font-weight:700;
      position:relative;

      &:after{
        content:"";
        display:block;
        width:1px;
        height:16px;
        background:#a5a7aa;
        position:absolute;
        top:9px;
        right:0;
      }

      &:last-child:after{
        content:none;
      }
    }

    td{
      padding:7px 20px 6px;
      font-size:0.75rem;
      line-height:1.4;
      border:{
        right:1px solid #f2f4f7;
        top:1px solid #d9d9d9;
      }
      vertical-align:middle;

      &.center{
        text-align:center;
      }

      &.right{
        text-align:right;
      }

      &:last-child{
        border-right:0;
      }

      &.number{
        color:red;
        font-weight:900;
      }

      &.color-b{
        border-left: 4px solid #42519e;
      }
      &.color-g{
        border-left: 4px solid #2c8279;
      }
      &.color-o{
        border-left: 4px solid #dd7714;
      }
    }

  }
}

%gutter{
  .inner-col{
    padding:0 12px 0 0;

    &:last-child{
      padding:0 0 0 12px;
    }
  }
}

.multi-col{
  position:relative;
  @extend %clearfix;

  .inner-col{
    float:left;
    text-align:justify;

    &.btn-right{
      position: absolute;
      right:0;
      bottom:0;
      text-align: right;
    }
  }

  &.double{
    .inner-col{
      width:50%;
      &.w-auto{
        width: auto;
        padding-right:24px;
      }
      &.w70{
        width: 70%;
        padding-right:24px;
      }
      &.w30{
        width: 30%;
      }
      &.calc-w466-l{
        width: calc(100% - 466px);
        padding-left:24px;
      }
      &.calc-w466-r{
        width: calc(100% - 466px);
        padding-right:24px;
      }
      &.w466{
        width: 466px;
        padding:0;
      }
    }
  }

  &.triple{
    .inner-col{
      width:33.33%;
    }
  }

  &.gutter{
    @extend %gutter;
  }

}

.footer{
  border-top:1px solid #d9d9d9;
  text-align:center;
}

.list-link{
  font-weight:900;
  color:red;
  &:hover{
    text-decoration:underline;
  }
}