.skip-navigation-link{
  position:absolute;
  left:-99999%;
  text-decoration:none;

  &:focus{
    display:block;
    left:0;
    top:0;
    z-index:99999;
    width:100%;
    height:30px;
    line-height:30px;
    background:#000;
    color:#fff;
    text-align:center;
    font-weight:bold;
  }
}

.header{

  width:100%;
  height:126px;
  border-bottom:1px solid #ddd;
  padding-top:24px;
  box-sizing:border-box;
  background:#fff;
  position:fixed;
  top:0;
  left:0;
  z-index:99999;
  overflow:hidden;

  &:after{
    content:"";
    display:block;
    width:100%;
    height:1px;
    background:#ddd;
    position:absolute;
    top:125px;
    left:0;
  }

  &:hover{
    height:363px;
  }

  &-site{

    position:absolute;
    top:24px;
    left:24px;
    @extend %clearfix;

    &-item{
      float:left;
      &:first-child{
        margin-right:-1px;
      }
    }

    &-link{
      display:block;
      width:132px;
      height:32px;
      text-align:center;
      line-height:32px;
      font-size:0.8125rem;
      color:#666;
      border:1px solid #b7c0ce;
      position:relative;

      &.on{
        z-index:10;
        color:#5171b3;
        border:1px solid #4674c9;
      }
    }

  }

  &-util{

    position:absolute;
    top:24px;
    right:24px;
    @extend %clearfix;

    &-cs{
      float:left;
      line-height:32px;
      margin-right:16px;

      &-item{
        float:left;
        padding-right:16px;
        position:relative;

        &:last-child{
          padding-right:0;

          &:after{
            content:none;
          }
        }

        &:after{
          content:"";
          display:block;
          width:2px;
          height:2px;
          background:#666;
          position:absolute;
          top:50%;
          right:6px;
          margin-top:-1px;
        }
      }

      &-link{
        font-size:0.8125rem;
        color:#666;

        &.strong{
          color:#222;
        }
      }
    }

    &-lang{
      float:left;
      width:120px;
      height:32px;
      box-sizing:border-box;

      .select-list{
        width:120px;
        box-sizing:border-box;
      }

      .ico{
        &:after{
          background: url(../images/spr_ico_sns_arrow.png) no-repeat;
        }
      }
    }

  }

  &-logo{
    width:215px;
    margin:0 auto;

    *{
      display:block;
    }
  }

  .gnb{

    width:907px;
    margin:35px auto 0;

    &-depth1{

      @extend %clearfix;

      &-item{
        width:151px;
        padding-left:20px;
        float:left;
        box-sizing:border-box;

        &:first-child{
          width:152px;
        }
      }

      &-link{
        font-family:nanumsq, sans-serif;
        font-size:20px;
        font-weight:400;
      }

    }

    &-depth2{
      margin-top:37px;
    }



  }

}