@media screen and (max-width:1080px){

  .ch{

    .contents-visual{
      padding-top:30px;
    }
    // 출/도착시간표 자세히보기 언어변경
    .contents{
      &.dep{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'德塔耶';
              }
            }
          }
        }
      }
    }
    .contents{
      &.arr{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'德塔耶';
              }
            }
          }
        }
      }
    }
    * {
      font-family: 'Noto Sans SC', roboto, spoqa ,sans-serif!important;
    }

    .top-big-popup-text{
      background: url(/static/ap/images/bg_mobile_top_big_popup_ch.png) no-repeat center top;
      background-size:contain;
    }


  }

  .en{
    .boxmodel-list-head{
      font-size: 1.25rem;
    }
    .contents-visual{
      padding-top:30px;
    }

    .local-town-item-link{
      padding:0 20px;
    }

    .route-bus-line-list-article > p{
      width:auto;
      background:none;
      padding:0;
      display: inline-block;
      font-size:0.75rem;

    }





    .section-bg-contents2{
      width:100%;
    }
    .logo-list{
      width: 100%;
      .section-bg-head2{
        margin-bottom:10px;
      }
      .logo-list-item{
        margin-right:20px;
        margin-bottom:10px;
        margin-left:0;
        border:0;
        &:nth-child(odd){
          border-left:0;
        }
      }
    }

    .route-list{

      &-item{
        margin-bottom:20px;
        &.h80{
          height:auto;
          .route-name{
            height:auto;
          }
          .route-desc{
            height:auto;
            padding: 10px 25px;
          }
          .route-list-item{
            height:auto;
          }
        }
        height:auto;
        .multi-col{
          .route-list-item{

            .route-name{
              width:100%;
              line-height:60px;
            }
            .route-desc{
              width:100%;
              padding: 10px 25px;
            }

          }
        }

        &.double-row{
          height:auto;
          .route-name{
            height:auto;
            line-height:inherit;
          }

          .route-desc{
            height:auto;
            line-height:inherit;
            padding: 10px 25px;
          }
        }

        &.arrival{
          .route{
            &-name{
              width:100%;
            }
            &-desc{
              width:100%;
              padding: 10px 25px;
            }
          }
        }

        .route{
          &-name{
            width:100%;
          }
          &-desc{
            width:100%;
            height:auto;
            float:none;
          }
        }

      }

    }


    // 출/도착시간표 자세히보기 언어변경
    .contents{
      &.dep{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'Details';
              }
            }
          }
        }
      }
    }
    .contents{
      &.arr{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'Details';
              }
            }
          }
        }
      }
    }

    .top-big-popup-text{
      background: url(/static/ap/images/bg_mobile_top_big_popup_en.png) no-repeat center top;
      background-size:contain;
    }

  }

  .ja{
    .digr-way-bus-list-item{
      font-size:0.5rem;
    }
    .field .field-radiomain + .field-radiomain-label{
      font-size:0.5rem;
    }
    .field .field-radio + .field-radio-label{
      font-size: 0.5rem;
      padding: 5px 0;
    }
    .header-util-cs-item{
      font-size: 0.75rem;
      letter-spacing: -2px;
    }

    .top-notice{
      margin:0;
    }

    .contents-visual{
      padding-top:30px;
    }

    // 출/도착시간표 자세히보기 언어변경
    .contents{
      &.dep{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'デタイユ';
              }
            }
          }
        }
      }
    }
    .contents{
      &.arr{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'デタイユ';
              }
            }
          }
        }
      }
    }

    * {
      font-family: 'Noto Sans JP', roboto, spoqa, sans-serif!important;
    }

    .top-big-popup-text{
      background: url(/static/ap/images/bg_mobile_top_big_popup_ja.png) no-repeat center top;
      background-size:contain;
    }

  }

}