.ch{

  * {
    font-family: 'Noto Sans SC', roboto, spoqa ,sans-serif!important;
  }
  .logo-list{
    @extend %clearfix;
    &-item{
      float: left;
      font-size: 0.875rem;
      text-indent: -99999em;
      display: block;
      background: url(/static/ap/images/spr_departure_procedures_logo.png)no-repeat;
      color: #fff;
      margin-left: 20px;
      &:first-child{
        margin-left: 0;
      }
      &.asiana{
        width: 93px;
        background-position: 0 0;
      }
      &.jejuair{
        width: 53px;
        background-position: -108px 0;
      }
      &.jinair{
        width: 67px;
        background-position: -186px 0;
      }
      &.tway{
        width: 30px;
        background-position: -276px 0;
      }
      &.eastar{
        width: 64px;
        background-position: -334px 0;
      }
      &.airseoul{
        width: 76px;
        background-position: -423px 0;
      }
      &.koreanair{
        width: 85px;
        background-position: 0 -27px;
      }
      &.airfrance{
        width: 92px;
        background-position: -98px -28px;
      }
      &.klm{
        width: 28px;
        background-position: -208px -28px;
      }
      &.delta{
        width: 70px;
        background-position: -249px -27px;
      }
    }
  }

}

.en{

  .gnb.bg .header-search-item.gnb-search{
    width:83px;

    &.on{
      width:350px;
    }
  }

  .gnb.bg .header-search{
    padding-right:90px;
  }

  .step2-list {
    &.col-4 {
      .step2-list-item {
        min-height: 570px;
      }
      &.white{
        .step2-list-item {
          min-height: 316px;
        }
      }
    }

    &.col-6 {
      &.white{
        .step2-list-item {
          min-height: 320px;
        }
      }
    }

    &.white{
      .btn-type-small{
        height: auto;
        line-height: 1.4;
        padding: 5px 30px 5px 15px;
      }
    }
  }

  .layer{
    &-article{
      margin-bottom:20px;
      position: relative;
      @extend %clearfix;
      .textarea{
        width: 100%;
        height: 200px;
        padding: 0 10px;
        line-height: 1.7;
        text-align: left;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        color: #666;
        font-family: roboto, spoqa, sans-serif;
      }
    }

    .inner-tab{
      .btn-type-tab{
        padding:0 20px;
      }
    }
  }

  .step-member{

    width:100%;
    height:59px;

    background:url(/static/ap/images/spr_bg_step_member_en.png) no-repeat;

    text-indent:-99999em;

    &.step-2{
      background-position:center 0;
    }

    &.step-4{
      background-position:center -69px;
    }

    &.step-5{
      background-position:center -138px;
    }
  }

  .find-info{
    &-item{
      float:left;
      position: relative;
      line-height: 3;
      &:first-child{
        &:after{
          top: 14px;
        }
      }
    }
  }

  .sign-in{

    &-btn{
      width: 190px;
      height: 40px;
      background-color: #323648;
      color: white;
      border: 0;
      font-weight: 700;
      font-size: 1rem;
      margin-left: 13px;
      margin-top: 0;
      margin-right: 4px;
      box-sizing: border-box;
      position: relative;
      text-align: left;
      padding-left: 19px;
      &:after{
        content: '';
        display: block;
        width: 8px;
        height: 12px;
        background: url(/static/ap/images/spr_ico_global.png) no-repeat -129px -64px;
        position: absolute;
        top: 14px;
        right: 17px;
      }
    }
  }

  .f-spoqa{
    font-family: roboto, spoqa, sans-serif;
  }

  .logo-list{
    @extend %clearfix;
    &-item{
      float: left;
      font-size: 0.875rem;
      text-indent: -99999em;
      display: block;
      background: url(/static/ap/images/spr_departure_procedures_logo.png)no-repeat;
      color: #fff;
      margin-left: 20px;
      &:first-child{
        margin-left: 0;
      }
      &.asiana{
        width: 93px;
        background-position: 0 0;
      }
      &.jejuair{
        width: 53px;
        background-position: -108px 0;
      }
      &.jinair{
        width: 67px;
        background-position: -186px 0;
      }
      &.tway{
        width: 30px;
        background-position: -276px 0;
      }
      &.eastar{
        width: 64px;
        background-position: -334px 0;
      }
      &.airseoul{
        width: 76px;
        background-position: -423px 0;
      }
      &.koreanair{
        width: 85px;
        background-position: 0 -27px;
      }
      &.airfrance{
        width: 92px;
        background-position: -98px -28px;
      }
      &.klm{
        width: 28px;
        background-position: -208px -28px;
      }
      &.delta{
        width: 70px;
        background-position: -249px -27px;
      }
      &.etc{
        background: none;
        text-indent: 0;
        margin-top: 3px;
      }
    }
  }

  .search-flight-search-btn.ico:after {
    right: 77px;
    top: -2px;
  }

  .search-flight-detail-option input[type="radio"].radio+.search-option-btn {
    min-width: 58px;
    text-align: center;
    padding: 0 6px;
  }

  /*footer*/
  .footer{
    &-call {
      margin: 20px 0 15px;
    }
    &-contact{
      &-item{
        display: block;
        &:before{
          width:0;
          margin-right:0;
        }
      }
    }
  }

}

.ja{
  * {
    font-family: 'Noto Sans JP', roboto, spoqa, sans-serif!important;
  }

  .logo-list{
    @extend %clearfix;
    &-item{
      float: left;
      font-size: 0.875rem;
      text-indent: -99999em;
      display: block;
      background: url(/static/ap/images/spr_departure_procedures_logo.png)no-repeat;
      color: #fff;
      margin-left: 20px;
      &:first-child{
        margin-left: 0;
      }
      &.asiana{
        width: 93px;
        background-position: 0 0;
      }
      &.jejuair{
        width: 53px;
        background-position: -108px 0;
      }
      &.jinair{
        width: 67px;
        background-position: -186px 0;
      }
      &.tway{
        width: 30px;
        background-position: -276px 0;
      }
      &.eastar{
        width: 64px;
        background-position: -334px 0;
      }
      &.airseoul{
        width: 76px;
        background-position: -423px 0;
      }
      &.koreanair{
        width: 85px;
        background-position: 0 -27px;
      }
      &.airfrance{
        width: 92px;
        background-position: -98px -28px;
      }
      &.klm{
        width: 28px;
        background-position: -208px -28px;
      }
      &.delta{
        width: 70px;
        background-position: -249px -27px;
      }
    }
  }
}