@media screen and (max-width:1080px){

  .ch{

    .contents-visual{
      padding-top:30px;
    }
    // 출/도착시간표 자세히보기 언어변경
    .contents{
      &.dep{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'德塔耶';
              }
            }
          }
        }
      }
    }
    .contents{
      &.arr{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'德塔耶';
              }
            }
          }
        }
      }
    }
    * {
      font-family: 'Noto Sans SC', roboto, spoqa ,sans-serif!important;
    }

    .top-big-popup-text{
      background: url(/static/ap/images/bg_mobile_top_big_popup_ch.png) no-repeat center top;
      background-size:contain;
    }


  }

  .en{
    .global-search-result .multi-col.line:before{
      display:none;
    }
    .step-member{
      display:none;
    }

    .find-info-item{
      &:last-child{
        width:100%;
        .sign-in-btn{
          width: 100%;
          margin-left: 0;
          margin-right:0;
          padding-left:33px;
        }
      }
    }


    .site-map-list-depth1-item.wide-row{
      width:100%;
    }
    .lost-found .lost-box.found{
      background: url(/static/ap/images/digr_lost_and_found_01_en.png) no-repeat left;
      height: 500px;
      background-size: contain !important;
      margin-bottom:0;
    }
    .lost-found .lost-box.belongings {
      background: url(/static/ap/images/digr_lost_and_found_02_en.png) no-repeat right;
      height: 500px;
      background-size: contain !important;
      margin-bottom:0;
    }

    .map{
      .tab-nav-list-link{
        padding:5px 20px;
      }
    }
    .filter-terminal-search-depth2{
      .field .field-radio + .field-radio-label{
        width: auto;
        margin-right: 0;
        border-left: 0;
        text-align: center;
        border-right: 0;
        font-size: 0.5rem;
        margin-bottom: -1px;
        letter-spacing: 0;
      }
    }

    .digr-airport-kal-route-en{
      height:200px;
    }
    .maglev-train-line-list-article-link{
      font-size:0.5rem;
      letter-spacing:-0.5px;
    }
    .local-list-item{
      padding: 10px 0;
      font-size: 0.5rem;
    }

    .local-town-item{

    }
    .local-town-item{
      width: 33.33%;
      font-size: 0.75rem;
      border-right:0;
      padding: 0 20px;
      height: auto!important;
      width: auto;
      margin-right: 10px;
      font-size: 0.75rem;
      letter-spacing: 0;
      word-wrap: break-word;
    }


    .boxmodel-list-head{
      font-size: 1.25rem;
    }
    .contents-visual{
      padding-top:30px;
    }

    .local-town-item-link{

    }

    .route-bus-line-list-article > p{
      width:auto;
      background:none;
      padding:0;
      display: inline-block;
      font-size:0.75rem;

    }





    .section-bg-contents2{
      width:100%;
    }
    .logo-list{
      width: 100%;
      .section-bg-head2{
        margin-bottom:10px;
      }
      .logo-list-item{
        margin-right:20px;
        margin-bottom:10px;
        margin-left:0;
        border:0;
        &:nth-child(odd){
          border-left:0;
        }
      }
    }

    .route-list{

      &-item{
        margin-bottom:20px;
        &.h80{
          height:auto;
          .route-name{
            height:auto;
          }
          .route-desc{
            height:auto;
            padding: 10px 25px;
          }
          .route-list-item{
            height:auto;
          }
        }
        height:auto;
        .multi-col{
          .route-list-item{

            .route-name{
              width:100%;
              line-height:60px;
            }
            .route-desc{
              width:100%;
              padding: 10px 25px;
            }

          }
        }

        &.double-row{
          height:auto;
          .route-name{
            height:auto;
            line-height:inherit;
          }

          .route-desc{
            height:auto;
            line-height:inherit;
            padding: 10px 25px;
          }
        }

        &.arrival{
          .route{
            &-name{
              width:100%;
            }
            &-desc{
              width:100%;
              padding: 10px 25px;
            }
          }
        }

        .route{
          &-name{
            width:100%;
          }
          &-desc{
            width:100%;
            height:auto;
            float:none;
          }
        }

      }

    }


    // 출/도착시간표 자세히보기 언어변경
    .contents{
      &.dep{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'Details';
              }
            }
          }
        }
      }
    }
    .contents{
      &.arr{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'Details';
              }
            }
          }
        }
      }
    }

    .top-big-popup-text{
      background: url(/static/ap/images/bg_mobile_top_big_popup_en.png) no-repeat center top;
      background-size:contain;
    }

  }

  .ja{
    .main-visual-search-desc{
      font-size:0.5rem;
      letter-spacing:-1px;
    }

    .flight-info-basic .situation-info{
      font-size:0.5rem;
    }
    .digr-way-bus-list-item{
      font-size:0.5rem;
    }
    .field .field-radiomain + .field-radiomain-label{
      font-size:0.5rem;
    }
    .field .field-radio + .field-radio-label{
      font-size: 0.5rem;
      padding: 5px 0;
    }
    .header-util-cs-item{
      font-size: 0.75rem;
      letter-spacing: -2px;
    }

    .top-notice{
      margin:0;
    }

    .contents-visual{
      padding-top:30px;
    }

    // 출/도착시간표 자세히보기 언어변경
    .contents{
      &.dep{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'デタイユ';
              }
            }
          }
        }
      }
    }
    .contents{
      &.arr{
        .flight-info{
          &-basic{
            &-link{
              &:after{
                content:'デタイユ';
              }
            }
          }
        }
      }
    }

    * {
      font-family: 'Noto Sans JP', roboto, spoqa, sans-serif!important;
    }

    .top-big-popup-text{
      background: url(/static/ap/images/bg_mobile_top_big_popup_ja.png) no-repeat center top;
      background-size:contain;
    }

  }

}