// 1740 <
@media all and (max-width:1739px) {

}


// 1560 <
@media all and (max-width:1559px) {
  // step3
  .departure-step{
    &-list{
      min-height:inherit;
      margin:auto;
      padding:30px;
      width: 100%!important;
      .departure-step-list-article {
        height:200px;
      }
      &.check-in{
        .departure-step-list-article{
          width:33.33%;
        }
      }
      &.self{
        .departure-step-list-article{
          width:20%;
        }
      }
      &.quarantine{
        .departure-step-list-article{
          width:25%;
        }
      }
      &.self-checkin{
        .departure-step-list-article{
          width:20%;
        }
      }
      &-article{
        color: #fff;
        font-size: 1.25rem;
      }
    }
  }
}


// 1260 <
@media all and (max-width:1259px) {

}


// 1024 <
@media all and (max-width:1024px) {

}


// 780 <
@media all and (max-width:780px) {
  // step3
  .departure-step{
    background-size: cover;
    &-list{
      padding: 30px 10px 0;
      .departure-step-list-article {
        width:50%!important;
        font-size:0.925rem;
        height:130px;

      }
      &.check-in{
        .departure-step-list-article{
          &.step-3{
            height:122px;
          }
          &:before{
            width:58px;
            height:58px;
            background-size: 213px 75px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
        }
      }
      &.self{
        .departure-step-list-article{
          &.step-5{
            height:152px;
          }
          &:before{
            width:58px;
            height:58px;
            background-size: 213px 142px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
          &.step-4:before{
            background-position: -8px -76px;
          }
          &.step-5:before{
            background-position: -77px -76px;
          }
        }
      }
      &.quarantine{
        .departure-step-list-article{
          &.step-3{
            height:122px;
          }
          &.step-4{
            height:142px;
          }

          &:before{
            width:58px;
            height:58px;
            background-size: 213px 142px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
          &.step-4:before{
            background-position: -8px -76px;
          }
        }
      }
      &.self-checkin{
        .departure-step-list-article{
          &.step-5{
            height:142px;
          }

          &:before{
            width:58px;
            height:58px;
            background-size: 213px 142px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
          &.step-4:before{
            background-position: -8px -76px;
          }
          &.step-5:before{
            background-position: -77px -76px;
          }
        }
      }
    }
  }
}