.skip-navigation-link{
  position:absolute;
  left:-99999%;
  text-decoration:none;

  &:focus{
    display:block;
    left:0;
    top:0;
    z-index:999999;
    width:100%;
    height:30px;
    line-height:30px;
    background:#000;
    color:#fff;
    text-align:center;
    font-weight:bold;
  }
}


.ja{
  .gnb-link{
    font-size:1rem;
  }
}

.header{
  width:30%;
  max-width:500px;
  height:100%;
  padding:232px 20px 0 20px;
  background-size:cover!important;
  box-sizing:border-box;
  position:fixed;
  top:0;
  left:0;
  overflow:auto;
  z-index:99999;




  &.start{ // 출발
    background:url(/static/ap/images/bg_layer_header_01.jpg) no-repeat left bottom;
    &.checkin{//체크인카운터
      background:url(/static/ap/images/bg_layer_header_ac_01_01.jpg) no-repeat left bottom;
    }
    &.security{//보안검색
      background:url(/static/ap/images/bg_layer_header_ac_04_01.jpg) no-repeat left bottom;
    }
    &.immigration.sub1{//유인심사
      background:url(/static/ap/images/bg_layer_header_ac_05_01.jpg) no-repeat left bottom;
    }
    &.immigration.sub2{//자동출입
      background:url(/static/ap/images/bg_layer_header_ac_05_02.jpg) no-repeat left bottom;
    }
    //&.declaring.sub1{//안내/신고-정부종합
    //  background:url(/static/ap/images/bg_layer_header_ac_03_01.jpg) no-repeat left bottom;
    //}
    //&.declaring.sub3{//부가세 환급
    //  background:url(/static/ap/images/bg_layer_header_tax_refund.jpg) no-repeat left bottom;
    //}
    //&.declaring.sub4{//검역안내
    //  background:url(/static/ap/images/bg_layer_header_ac_03_03.jpg) no-repeat left bottom;
    //}
  }
  &.arrive {
    // 도착
    background: url(/static/ap/images/bg_layer_header_02.jpg) no-repeat left bottom;
    &.immigration.sub1 {
      //유인심사
      background: url(/static/ap/images/bg_layer_header_bc_02.jpg) no-repeat left bottom;
    }
    &.immigration.sub2 {
      //자동심사
      background: url(/static/ap/images/bg_layer_header_bc_02_2.jpg) no-repeat left bottom;
    }
    &.baggage {
      background: url(/static/ap/images/bg_layer_header_bc_03.jpg) no-repeat left bottom;
    }
    //&.report.sub1 {
    //  //검역안내
    //  background: url(/static/ap/images/bg_layer_header_bc_04_03.jpg) no-repeat left bottom;
    //}
    //&.report.sub2 {
    //  //새관신고
    //  background: url(/static/ap/images/bg_layer_header_bc_04_02.jpg) no-repeat left bottom;
    //}
  }
  &.traffic-parking{ // 교통/주차
    background:url(/static/ap/images/bg_layer_header_03.jpg) no-repeat left bottom;
  }
  &.traffic-bus{ // 버스
    background:url(/static/ap/images/bg_layer_header_bus_stop.jpg) no-repeat left bottom;
  }
  &.ktx{ //ktx
    background:url(/static/ap/images/bg_layer_header_ktx.jpg) no-repeat left bottom;
  }
  &.maglev{ //자기부상열차
    background:url(/static/ap/images/bg_layer_header_maglev.jpg) no-repeat left bottom;
  }
  &.parking-lot{ // 주차장
    background:url(/static/ap/images/bg_layer_parking_lot_01.jpg) no-repeat left bottom;
  }
  &.shopping-restaurant{ // 쇼핑/식당
    background:url(/static/ap/images/bg_layer_header_04.jpg) no-repeat left bottom;
  }
  &.airport-services{ // 공항서비스
    background:url(/static/ap/images/bg_layer_header_05.jpg) no-repeat left bottom;
    &.sub1{
      background:url(/static/ap/images/bg_layer_header_fc_01.jpg) no-repeat left bottom;
    }
    &.sub2{
      background:url(/static/ap/images/bg_layer_header_fc_02.jpg) no-repeat left bottom;
    }
    &.sub3{
      background:url(/static/ap/images/bg_layer_header_fc_04.jpg) no-repeat left bottom;
    }
  }

  &.airport-services2{ // 공항즐기기
    background:url(/static/ap/images/bg_layer_airport_services_01.jpg) no-repeat left bottom;
  }

  &.cyber-airport{ // 사이버에어포트
    background:url(/static/ap/images/bg_layer_header_cyber_airport.jpg) no-repeat left bottom;
    &.sub2{
      background:url(/static/ap/images/bg_layer_header_cyber_airport_ja.jpg) no-repeat left bottom;
    }
  }

  &.transfer{ // 환승
    background:url(/static/ap/images/bg_layer_header_ca_01_01.jpg) no-repeat left bottom;
  }
  &.airport-map, &.airport-service{ //공항지도
    background:url(/static/ap/images/bg_layer_header_06.jpg) no-repeat left bottom;
  }

  &.full-screen{
    left:-100% !important;
  }


  &-heading{
    margin-bottom:75px;
    font-family:nanumsq, sans-serif;
    font-size:2.5rem;
    font-weight:400;
    color:#fff;
    text-align:center;
    line-height:1.4;

    &-sub{
      font-size:1.75rem;
    }

    br{
      display:none;
    }
  }
}

.gnb{

  &-item{
    margin-bottom:32px;
    text-align:center;
  }

  &-link{
    display:inline-block;
    //height:28px;
    font-size:1.25rem;
    font-weight:300;
    color:#fff;
    position:relative;

    &.on{
      font-weight:700;

      &:after{
        content:"";
        display:block;
        width:100%;
        height:3px;
        margin-top:5px;
        background:#fff;
        position:absolute;
        bottom:0;
        left:0;
      }
    }
    &:hover{
      color:rgba(255,255,255,.5);
    }
  }

  &-depth2{

    &-item{
      margin-top:13px;
    }

    &-link{
      font-size:1rem;
      font-weight:300;
      color:#fff;

      &.on{
        font-weight:700;
      }
    }

  }

}


// mobile button open / close
.layer-gnb{
  &-mobile-btn{
    display:none;
  }
  &-mobile-btn-close{
    display:none;
  }
}



//.lnb-top{
//width: 284px;
//  position:absolute;
//    top:50px;
//  left:0;
//  right:0;
//    display: block;
//    margin: 0 auto;
//    text-align: center;
//  &-list{
//    width:auto;
//    padding:12px;
//    //border: 2px solid rgba(255,255,255, 0.3);
//    border:2px solid rgba(255,255,255,0.1);
//    border-radius:80px;
//    text-align: center;
//    display: inline-block;
//    @extend %clearfix;
//    &-item{
//      min-width: 90px;
//      margin: 0 20px;
//      float: left;
//      .layer-terminal-check-btn{
//        color:#ffae43;
//        font-size:1.125rem;
//        border: none;
//        background:none;
//        &:before{
//          content:'';
//          display:block;
//          width:31px;
//          height:38px;
//          margin:0 auto 8px;
//          background:url(/static/ap/images/ico_lp_lnb_button.png) no-repeat;
//        }
//        &:hover{
//          &:before{
//            position:relative;
//            top:2px;
//            opacity:.5;
//          }
//        }
//      }
//      &-link{
//        color: #ffae43;
//        font-size: 1.125rem;
//        display: block;
//        &:before{
//          content:'';
//          display:block;
//          width:31px;
//          height:38px;
//          margin:0 auto 8px;
//          background:url(/static/ap/images/ico_lp_lnb_home_button.png) no-repeat;
//        }
//
//        &.home {
//          opacity: .5;
//          font-size:0.825rem;
//          height:50px;
//          margin-top:16px;
//          &:before{
//            background-position: -21px -8px;
//            width: 23px;
//            height: 20px;
//          }
//        }
//        &.back{
//          opacity: .5;
//          font-size:0.825rem;
//          height:50px;
//          margin-top:16px;
//          &:before{
//            background-position: -66px -9px;
//            width: 13px;
//            height: 19px;
//          }
//        }
//
//        &:hover{
//          &:before{
//            position:relative;
//            top:2px;
//            opacity:.5;
//          }
//        }
//      }
//    }
//  }
//}

.location{
  &-btn{
    display:none;
    & button{
      width: 44px;
      height: 22px;
      border: none;
      background:#fff;
      &+ button{
        border-left: 1px solid #f2f2f2;
      }
    }
  }
  &-bar{
    position:absolute;
    top:20px;
    left:20px;

    &-nav{
      display:block;
      @extend %clearfix;

      &-item {
        padding-left: 20px;
        float: left;
        line-height:1.7;
        &:first-child{
          padding-left:0;
          &.ico{
            &:after{
              display:none;
            }
          }
        }

        &:last-child{
          position:relative;

            &:after{
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              margin: auto;
              background-position: -170px -93px !important;
              width: 5px !important;
              height: 22px !important;
              top: 1px;
              left: 9px;
              right: auto;
              background: url(/static/ap/images/spr_ico_global.png) no-repeat;
            }

        }

        &.ico{
          text-indent: 0;
          &:after{
            background-position: -170px -93px!important;
            width:5px!important;
            height:22px!important;
            top:1px;
            left:9px;
            right:auto;
          }
        }
        .home{
          width:18px;
          height:22px;
          &.ico{
            &:after{
              top: -2px;
              left: auto;
              right: 0;
            }
          }
        }
        &-link{
          color: rgba(255,255,255,.9);
          font-size:0.875rem;
          z-index: 1;
        }

      }
    }
  }
}
.layer-terminal-check-btn{
  position:absolute;
  top:84px;
  left:0;
  right:0;
  display: block;
  margin: 0 auto;
  width:80%;
  max-width:284px;
  border:2px solid rgba(255,255,255,0.1);
  padding: 14px 0;

  //margin-left:-142px;
  border-radius:50px;
  color:#ffae43;
  font-size:1.125rem;
  background:none;
  & span{
    //웹점근성임시방편
    color:#fff;
    font-size:1rem;
  }
  &:before{
    content:'';
    display:block;
    width:31px;
    height:38px;
    margin:0 auto 8px;
    background:url(/static/ap/images/ico_lp_lnb_button.png) no-repeat;
  }
  &:hover{
    &:before{
      position:relative;
      top:2px;
      opacity:.5;
    }
  }
}
//.lnb-top{
//  position:relative;
//  top:-146px;
//  display: block;
//  margin: 0 auto;
//  text-align: center;
//  &-list{
//    width: auto;
//    padding-bottom: 10px;
//    border-bottom: 1px solid rgba(255,255,255, 0.3);
//    text-align: center;
//    display: inline-block;
//    @extend %clearfix;
//    &-item{
//      min-width: 90px;
//      margin: 0 20px;
//      float: left;
//      .layer-terminal-check-btn{
//        color:#ffae43;
//        font-size:1.125rem;
//        border: none;
//        background:none;
//        &:before{
//          content:'';
//          display:block;
//          width:31px;
//          height:38px;
//          margin:0 auto 8px;
//          background:url(/static/ap/images/ico_lp_lnb_button.png) no-repeat;
//        }
//        &:hover{
//          &:before{
//            position:relative;
//            top:2px;
//            opacity:.5;
//          }
//        }
//      }
//      &-link{
//        color: #ffae43;
//        font-size: 1.125rem;
//        display: block;
//        &:before{
//          content:'';
//          display:block;
//          width:31px;
//          height:38px;
//          margin:0 auto 8px;
//          background:url(/static/ap/images/ico_lp_lnb_home_button.png) no-repeat;
//        }
//
//        &.home:before{
//          width: 42px;
//        }
//        &.back:before{
//          background-position: -57px 0;
//          width: 42px;
//        }
//        &:hover{
//          &:before{
//            position:relative;
//            top:2px;
//            opacity:.5;
//          }
//        }
//      }
//    }
//  }
//}


