// 1740
@media all and (max-width:1739px) {
  // basic
  //img{
  //  width:100%;
  //}

  // layout
  .contents{
    min-width:calc(100% - 330px);
  }
}


// 1560
@media all and (max-width:1559px) {
  // layout
  .inner-contents{
    width:860px;
  }
  .multi-col{
    .inner-col{
      p{
        br{
          display:none;
        }
      }

      &.search-map-left{
        width: 70%;
      }
      &.search-map-right{
        width: 30%;
        text-align: right;
      }
    }
    &.double{
      .inner-col{
        &.w-auto{
          width: 100%;
          padding-right:0;
        }
        &.w30{
          &.full{
            width:30%;
            margin-top:0;
            img{
              width:100%;
              vertical-align:top;
            }
          }
          margin-top: 10px;
          width: 100%;
          img{
            width: 50%;
            float: left;
            margin-top: 0;
          }
        }
      }
    }

    &.triple{
      &.normal-3{
        .inner-col{
          &:last-child{
            margin-top:0;
          }
        }
      }

      .inner-col{
        width:50%;
        &:last-child{
          margin-top:20px;
        }
      }
    }

  }

  // step2
  .step2-list{
    &.col-3{
      .step2-list-item{
        width: calc(33.33% - 8px);
        min-height:380px;
      }
    }
    &.col-4{
      .step2-list-item{
        width: calc(25% - 9px);
        min-height:592px;
      }
      &.white{
        .step2-list-item{
          min-height:300px;
        }
      }
    }
    &-item{
      margin-left:12px;
      .step2-list-head{
        text-align:center;
        .article-tit{
          font-size:1.375rem;
        }
      }
      .step2-list-body{
        text-align:center;
        .article-desc{
          br{
            display:none;
          }
        }
      }

    }
  }

  // stuff box
  .stuff{
    &-block{
      padding: 90px 18px 18px;
      &:after{
        height:58px;
        background-size: 537px 271px;
        top:15px;
        left:15px;
      }
      &.medicine:after{
        width:243px;
      }
      &.food:after{
        width:119px;
        background-position:-294px 0;
      }
      &.knife:after{
        background-position:0 -71px;
        width:243px;
      }
      &.weapon:after{
        width:181px;
        background-position:-294px -71px;
      }
      &.tool:after{
        width:181px;
        background-position:0 -142px;
      }
      &.battery:after{
        width:119px;
        background-position:0 -213px;
      }
      &.flammable:after{
        width:243px;
        background-position:-294px -213px;
      }
    }
  }

  // guide box
  .guidebox {
    &-col {
      width: 33.33%;
      &.col-1 {
        width: 25%;
        padding: 20px 20px 0;
      }

      &.col-2 {
        padding: 20px;
        width: 43%;
        &.wide{
          width:75%;
        }
      }

      &.col-3 {
        width: 32%;
        a {
          min-width: 170px;
        }
      }
    }
  }
  // banner
  .banner{
    width: 100%;
    padding: 25px;
    min-height: inherit;
    &-title{
      width: 100%;
      font-size: 2.75rem;
      padding-top: 0;
      margin: 0 auto;
      text-align: center;
      strong{
        display: inline-block;
      }
      &:after{
        top: 115px;
      }
    }
    &-text{
      br{
        display: none;
      }
    }
  }

  .icontxt{
    br{
      display:none;
    }
    .icontxt-info{
      padding-right:20px;
    }
  }

  p.icontxt{
    padding: 10px 30px 0 90px;
  }

  .table{
    &.hr{
      br{
        display: none;
      }
    }
  }

  .heading{

    &-level2{
      &.point{
        width:calc(100% - 5px);
      }
      &.half{
        width:calc(50% - 8px);
      }
    }

  }
}


// 1260
@media all and (max-width:1259px) {
  // common
  table{
    .btn-type-small{
      min-width:inherit;
    }
  }
  // layout
  .contents{
    min-width:calc(100% - 260px);
  }
  .inner-contents{
    width:740px;
  }

  // guide box
  .guidebox {
    &-col {
      width: 33.33%;
      &.col-1 {
        width: 25%;
        padding: 20px 20px 0;
      }

      &.col-2 {
        padding: 20px;
        width: 43%;
      }

      &.col-3 {
        width: 32%;
        a{
          min-width: 155px;
          font-size: 0.875rem;
        }
      }
    }
    &-list{
      .list1-item{
        font-size:1rem;
        &:before{
          font-size:1rem;
        }
      }
    }
    &-desc{
      color:#fff;
      font-size:1rem;
      font-weight:600;
      margin-bottom:18px;
      white-space:nowrap;
    }
  }

  .table-col{
    width:100%!important;
    padding:0!important;
    &:first-child{
      margin-bottom:20px;
    }
  }

  p.icontxt,.icontxt{
    padding:0 20px 0 90px
  }

  .banner-hotels{
    background-size:cover;
    height:auto;
    padding:30px;
  }

  &.search-map-contents.full-screen{
    width:80% !important;
  }

}


// 1024
@media all and (max-width:1024px) {
  // layout
  .inner-contents{
    padding:65px 15px 30px;
  }


}


// 780
@media all and (max-width:780px) {

  // reset font
  article, aside, details, figcaption, figure,
  footer, header, menu, nav, section {
    font-size:1rem;
  }

  .include-video{
    height: 163px;
  }

  // layer popup
  .layer{
    padding:15px;
    &.find-my-terminal{
      br{
        display:none;
      }
      min-width:100%;
      border: none;
      padding: 40px 15px 0;
      .layer-area{
        text-align:center;
        padding:0;
      }
      .layer-title{
        font-size:1.5rem;
        &:before{
          margin:0 auto 15px;
        }
      }
      .layer-article{
        margin-bottom:0;
      }

      .layer-check{
        width:100%;
        height:50px;
        font-size: 1rem;
        line-height:50px;
      }
      .layer-search{
        width:100%;
        height:50px;
        line-height:50px;
        border: 0;
        font-size: 1rem;
      }
      .layer-inputbox{
        display:inline-block;
        width:100%;
        &-desc{
          color:#fff;
          margin:10px 0;
        }
      }
      .layer-inputbox-btn{
        padding:16px;
        margin-bottom:10px;
        display:block;
        width:100%;
        font-size:1rem;
      }

    }
    &.system{
      min-width:100%;
      border: none;
      padding: 40px 15px 0;
      br{
        display:none;
      }

      .layer-system-list{
        &:last-child{
          margin:0 auto 15px auto;
        }
        &-tit{

        }
        &-desc{
          color:#fff;
          text-align:left;
          line-height:1.7;
        }
      }

      .layer-system-desc{
        color:#fff;
        margin-bottom:20px;
        &.point{
          margin-bottom:20px;
        }
        &.systemico:after{
          margin:20px auto 50px;
        }
      }
      .layer-title{
        font-size:1.5rem;
        &:after{
          margin: 15px auto 15px;
        }
      }

      .btn-group{
        margin-top:20px;
      }
      .layer-inputbox-btn{
        min-width:100%;
        margin-left:0;
        padding:10px;
        border-radius:50px;
        margin-top:10px;
        font-size:1rem;
        &:first-child{
          margin-left:0;
        }

        &:after{
          content:'';
          display:block;
          width:6px;
          height:10px;
          background:url(/static/ap/images/ico_system_arrow.png ) center no-repeat;
          position:absolute;
          right:10px;
          top:0;
          bottom:0;
          margin:auto;
        }
      }

    }
    .list1-item{
      br{
        display:none;
      }
    }
    width: 100%;
    height:100%;
    border:0;
    position:fixed;
    top:0;
    left:0;
    transform:none;
    overflow:auto;
    &-wrap{
      position:absolute;
    }
    &-area{
      padding:0;
    }
    &.find-my-terminal{
      min-width:100%;
    }
    &-inputbox{
      display:inline-block;
      width:100%;
      &-desc{
        text-align:center;
        font-size:0.825rem;
      }
    }
    &-search{
      width:100%;
      height:50px;
      line-height:50px;
      font-size: 1rem;
      padding:0 15px;
    }
    &-check{
      width:100%;
      height:50px;
      font-size: 1rem;
      line-height:50px;
    }
    &-title{
      font-size:1.25rem;
    }
    &-close{
      width: 16px;
      height: 16px;
      top: 16px;
      right: 15px;
    }
  }


  // layout
  .contents{
    padding-top:100px;
    width:100%;
    float:none;
  }
  .inner-contents{
    width:100%;
    padding:0 15px 15px;
  }
  .multi-col{
    .inner-col{
      width: 100%!important;
      float:none;
      &.btn-right{
        position: static;
        text-align: left;
      }

      &.search-map-left{
        display:inline-block;
        .search-map-input-select{
          margin-top:10px;
          &:first-child{

          }
        }
      }
      &.search-map-right{
        display:inline-block;
        .checkbox{
          &-label{
            margin-top:10px;
          }
        }
      }
    }
    &.double{
      p{
        text-align:left;
      }
      .inner-col{
        width:100%;
        &:last-child{
          margin-top:20px;
        }
        &.w30{
          margin-top: 10px;
          img{
            width: 100%;
            &:last-child{
              margin-top: 10px;
            }
          }
        }
      }
    }

    &.triple{
      &.normal-3{
        .inner-col{
          width:100%!important;
          &:last-child{
            margin-top:20px;
          }
        }
      }

      .inner-col{
        width:100%;
        &:first-child{
          margin-bottom:20px;
        }
        &:last-child{
          margin-top:20px;
        }
      }
    }

    &.line{
      .inner-col {
        &:first-child {
          border-bottom: 1px solid #d9d9d9;
          padding-bottom:10px;
        }
        &:last-child {
          margin-top:16px;
        }
      }
      &:before{
        display:none;
      }
    }
  }
  %gutter{
    .inner-col{
      padding:0;

      &:last-child{
        padding:0;
      }
    }
  }
  %normal-3{
    .inner-col{
      width:100%;
      margin-left:0;
      &:first-child{
        margin-left:0;
      }
    }
  }

  p{
    span{
      display: inline-grid;
    }
    a,button{
      display:inline-block;
      margin:10px 0;
    }
    .ml20{
      margin-left:0;
    }
  }

  .tab{
    &-nav{
      &-list{
        &-link{
          border-bottom-color:#d9d9d9;
          font-size:1rem;
          border-width:2px;
          &.on{
            border-bottom:2px solid #42519e;
          }
          &.active{
            height:74px;
            padding:14px 10px;
            line-height:1.4;
          }
        }
      }
      &.transit{
        .tab-nav-list{
          &-item{
            .tab-nav-list-link {
              border-bottom: 2px solid #2c8279;
              &.on {
                border-bottom-color: #2c8279;
              }
            }
            &:first-child{
              .tab-nav-list-link{
                border-bottom:2px solid #4674c9;
                &.on{
                  border-bottom-color:#4674c9;
                }
              }
            }
            &:last-child{
              .tab-nav-list-link{
                border-bottom:2px solid #dd7713;
                &.on{
                  border-bottom-color:#dd7713;
                }
              }
            }
          }
        }
      }
    }
    &-area{
      &-heading{
        border-bottom-color:#d9d9d9;
        font-size:1rem;
        &.on{
          border-bottom:2px solid #42519e;
        }
      }
    }
  }

  // list
  .list1,
  .list2,
  .list3 {
    br{
      display:none;
    }

    a,button{
      display:table;
      margin:10px 0;
    }
    .ml20{
      margin-left:0;
    }
  }


  // button
  .btn-type-normal{
    width:100%;
    min-width:192px;
    padding:0;
    line-height:50px;
    text-align:center!important;
    &.ico{
      text-indent:0;
      &:after{
        left:auto;
        right:10px;
      }
    }
  }
  .btn-type-small{
    min-width:100%;
    height:40px;
    line-height:40px;;
    font-size:1rem;
    font-weight:600;
    padding:0;
    text-align:center;
  }

  .btn-type-event{
    min-width:100%;
    font-weight:600;
    padding:0;
    text-align:center;
  }

  // guide text
  .guide-desc{
    font-size:0.825rem;
    &.mark{
     text-indent:0;
      padding-left:0;
    }
  }

  // icon text
  .icontxt {
    &-title {
      font-size:1rem;
      font-weight: 900;
      &.list1-item{
        line-height:1.3;
      }
    }
    &-info {
      font-weight: 400;
      line-height: 1.4;
      &.list1-item{
        line-height:1.3;
      }
    }
  }

  // table
  .table{
    &.table-block{
      display:table!important;
      white-space: normal!important;
    }
    &.vt{
      &.board-list{
        overflow: visible;
        white-space: normal;
        display: table;
        td{
          span{
            font-size:0.8125rem;
          }
          padding: 8px 0;
          & .board-list-link{
            font-size:1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 86%;
            display: block;
            &.lock{
              &:after{
              }
            }
            &.good{
              &:before{
              }
            }
          }
        }

        th{
          font-size: 0.815rem;
        }
        colgroup {
          col{
            &:first-child{
              width:20%!important;
            }
            &:last-child{
              width:20%!important;
            }
            width:60%!important;
          }
        }
        .mobile{
          display:none;
        }
      }
    }
    &.vt,
    &.vt-dark{
      overflow-x:auto;
      overflow-y: hidden;
      white-space: nowrap;
      display: inline-block;
      th{
        text-align: left;
        padding:10px;
      }
      td{
        padding: 10px;
      }
      td.center{
        text-align: left;
      }
    }
    &.hr{
      display:block;
      overflow-x:auto;
      .radio-box{
        margin-top:10px;
        &:first-child{
          margin-top:0;
        }

      }
      br{
        display:none;
      }
      th{
        min-width:80px;
        line-height:1.4;
        letter-spacing: -1px;
        font-weight:900;
        padding:0 11px;
        font-size:1rem;
        padding:10px;
        text-align:left;
      }
      td{
        padding: 10px;
        font-size:1rem;
      }
    }
  }

  // guide box
  .guidebox{
    display:table;
    width:100%;

    &-col{
      display:table-cell;
      width:33.33%;

      &.col-1{
        display: block;
        float: left;
        width: 100%;
        padding: 20px;
        border-bottom:none;
        border-right: 1px solid #d9d9d9;
      }

      &.col-2{
        display: block;
        float: left;
        width: 100%;
        padding:0 20px 20px;
        border: 1px solid #d9d9d9;
        border-top:none;
        border-bottom:none;
        &.wide{
          width:100%;
          border-bottom:1px solid #d9d9d9;
        }
      }

      &.col-3{
        width: 100%;
        float: left;
        padding: 40px;
        display: block;
        background:#333649;
        &.fix{
          padding: 0;
          .guidebox-col-row{
            height:154px;
          }
        }
      }

      &-row{
        width:100%;
        height:50%;
        position:absolute;
        top:0;
        left:0;

        &:last-child{
          border-top:1px solid #484a5c;
          top:auto;
          bottom:0;
        }

        &-inner{
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
        }
      }

    }

    &-tit{
      font-family: nanumsq, sans-serif;
      font-size:1.125rem;
      font-weight:600;
      line-height: 1.5;
    }

    &-list{
      .list1-item{
        margin-bottom:8px;
        font-size:1rem;

        &:last-child{
          margin-bottom:0;
        }

        &:before{
          font-size:1.25rem;
          top:-4px;
        }
      }
    }

    &-desc{
      color:#fff;
      font-size:1.25rem;
      font-weight:600;
      margin-bottom:18px;
      white-space:nowrap;
    }

  }

  // link box
  .linklist{
    &-img{
      float:none;
      width:100%;
      height:auto;
      margin-right:0;
      text-align:center;
      &-item{
        width:50%;
      }
    }
    &-article{
      display:block;
      float:none;
      width:100%;
      &-desc{
        margin-top:10px;
        text-align:center;
        margin-bottom:0;
      }
    }
    .btn-type-small{
      margin-top:10px;
    }
  }

  // title
  .heading{
    &-level1{
      margin-bottom:20px;
      font-size:1.563rem;
      font-weight:400;
      line-height:1.4;
    }
    &-level2{
      font-size:1.25rem;
      letter-spacing: -0.03rem;
      line-height:1.4;
      &.point{
        width:100%;
      }
      &.half{
        width:100%;
      }

    }
    &-level3{
      margin-bottom:10px;
      font-size:1.125rem;
      font-weight:900;
      line-height:1.4;
    }
    &-level4{
      margin-bottom:10px;
      font-size:1rem;
    }
  }



  // stuff box
  .stuff{
    &-block{
      width:100%;
      margin-top:10px;
      &:first-child{
        margin-top:0;
      }
    }
  }

  // step1
  .step1{
    &-list{
      overflow: hidden;
      &-item{
        float:none;
        width:100%;
        margin-right:0;
        .list-img{
          display:block;
          width:100%;
        }
        .list-article{
          padding:18px 0 8px;
          margin:0 14px;
          top:-24px;
          font-size:1.125rem;
          .article-num{
            font-weight:900;
            margin-bottom:4px;
          }
          .article-desc{
            font-size:1rem;
            line-height:1.4;
          }
        }
        &.wide {
          img{
            width: 200%;
          }
          .list-article{
            font-size: 1rem;
          }
        }
      }
    }
  }

  // step2
  .step2-list{
    &.col-3{
      .step2-list-item{
        width:100%;
        min-height:inherit;
      }
    }
    &.col-4{
      .step2-list-item{
        width:100%;
        min-height:inherit;
      }
    }
    &.col-5{
      &.white{
        .step2-list-item {
          width:100%;
          min-height:inherit;
        }
      }
    }
    &.col-6{
      &.white{
        .step2-list-item {
          width:100%;
          min-height:inherit;

        }
      }
    }
    &-item{
      float:none;
      margin-left:0;
      margin-top:24px;
      padding:24px 20px 20px;
      &:first-child{
        margin-top:0;
      }
      .step2-list-head{
        text-align:center;
        .article-tit{
          font-size:1.125rem;
        }
        .article-num-box{
          height:10px;
          margin-bottom:14px;
        }
      }
      .step2-list-body{
        text-align:center;
        .article-desc{
          color:#fff;
          font-size:1rem;
          line-height:1.6;
          font-weight:300;
          br{
            display:none!important;
          }
        }
        .step2-guide-desc{
          color:#a6a7ab;
          font-size:1rem;
          line-height:1.6;
          font-weight:300;
        }
      }
    }
    &.white{
      .step2-list-item{
        width:100%;
        min-height:inherit!important;
        margin-left:0!important;
      }
      .step2-list-head{
        .article-tit{
          color:#5d6279;
        }
      }
      .article-desc{
        color: #222;
        font-weight: 600;
      }
    }
  }

  // board accordion
  .board-slide{
    .board-list-head{
      .board-list-tit{
        padding:10px 0;
        font-size:1rem;
        font-weight:600;
        height:64px;
        &:after{
          right:10px;
        }
        &-inner{
          padding:0 40px 0 10px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          line-height:44px;
        }
      }
    }
    .board-list-body{
      padding:10px;
      .board-list-desc{
        font-size:1rem;
        font-weight:600;
      }
    }
  }

  // board view
  .borad-view{
    overflow: visible!important;
    white-space: normal!important;
    display: table!important;
    .view-head{
      padding:25px 0;
      &-tit{
        display:block;
        font-size:1.125rem;
      }
      &-date{
        display:block;
        float:none;
      }
      &-info {
        .info-tit {
          position: relative;
          float: left;
          margin-right: 0;
          width: 25%;
          margin-top: 10px;
          font-size: 0.8125rem;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            width: 1px;
            height: 16px;
            margin: auto 20px;
            background: #d9d9d9;
            vertical-align: middle;
          }
        }
        .info-desc {
          margin-top: 10px;
          float: left;
          width: 25%;
          font-size: 0.8125rem;
          &:after {
            display: none;
          }
        }
      }
    }
    .view-body{
      padding:25px 0 30px;
    }
    .view-file{
      padding: 15px 0;
      .file-group-text{
        float:none;
        margin-bottom:10px;
        font-size:1.125rem;
        font-weight:700;
      }
      .crud-ico{
        font-size:0.825rem;
        &:after{
          margin: 0;
        }
      }
      .file-list{
        &-item{
          margin-bottom:8px;
        }
      }
    }
    .reply-box{
      padding: 40px 20px 20px;
      .reply-head{
        &-info{
          width: 100%;
          margin-top:10px;
          .info-tit {
            position: relative;
            float: left;
            margin-right: 0;
            width: 30%;
            margin-top: 10px;
            font-size:0.825rem;
            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              display: inline-block;
              width: 1px;
              height: 16px;
              margin: auto 20px;
              background: #d9d9d9;
              vertical-align: middle;
            }
          }

          .info-desc {
            margin-top: 10px;
            font-size:0.825rem;
            float: left;
            width: 70%;
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  // pagenation
  .pagenation{
    width:100%;
    height:30px;
    position:relative;
    .ico{
      width:30px;
      height:30px;
      position:absolute;
      &.first{
        left:0;
      }
      &.prev{
        left:30px;
      }
      &.next{
        right:30px;
      }
      &.last{
        right:0;
      }
    }
    &-list{
      float:none;
      position: absolute;
      left: 0;
      right: 0;
      margin:auto;
      width: 90px;
      &-link{
        line-height:30px;
      }
      &-item{
        width:30px;
        height:30px;
        &:first-child{
          border-left:1px solid #d9d9d9;
        }
        &:nth-child(n+4){
          display:none;
        }
        &:hover{
          background:#42519e;
          border-color:#42519e;
          .pagenation-list-link{
            color:#fff;
          }
        }
      }
    }
  }

  // banner
  .banner{
    position:relative;
    width: 100%;
    padding: 25px;
    min-height: inherit;
    &-title{
      width: 100%;
      font-size: 2.5rem;
      padding-top: 0;
      margin: 0 auto;
      text-align: center;
      strong{
        display: inline-block;
      }
      &:after{
        top: 115px;
      }
    }
    &-text{
      position: relative;
      display: block;
      font-size: 1rem;
      font-weight:400;
      br{
        display: none;
      }
    }
  }


  .text-color-o,.text-color-g,.text-color-b{
    font-size:0.825rem;
  }


  .board-list{
    th{
      text-align: center!important;
      padding:19px 0 16px 0!important;
    }
    td.center{
      text-align: center!important;
    }
  }

  .btn-box{
    a, button{
      margin-top:10px;
    }
    &:first-child{
      margin-top:0;
    }
  }

  .banner-hotels{
    padding:15px;

    &-tit{
      font-size: 2rem;
      padding-top:30px;
      line-height:1.4;
    }
    &-desc{
      font-size: 1rem;
    }
    &-point{
      font-size: 1.125rem;
    }
    &-img{
      width:50%;
      display:block;
      margin:20px auto;
    }
  }

  .imgbox-extend{
    overflow-x:auto;
    height:300px;
    .imgbox{
      width:800px;
    }
  }

  .traffic-parking+.mobile-header+.contents{
    .multi-col{
      .imgbox-extend{
        overflow-x:auto;
        height:auto;
        .imgbox{
          width:100%;
        }
      }
    }

  }

  img.no-extend{
    width:100%;
  }

  .input-align{
    width:100%;
    .capcha{
      width:50%;
      float:left;
      &:first-child{
        border-right:0!important;
      }
      &:nth-child(3){
        border-left:1px solid #d9d9d9;
      }
    }
    img{
      float:none;
      width:100%;
    }
    .user-input-text{
      width:100%!important;
    }
  }



}
