// 1740
@media screen and (max-width:1739px) {
  .header{
    max-width:330px;

    &-heading br{
      display:block;
    }
  }
  .lnb-top{
    &-list{
      &-item{
        min-width: 60px;
        margin: 0;
      }
    }
  }
}


// 1260
@media screen and (max-width:1259px) {
  .header{
    max-width:260px;
    &-heading{
      margin-bottom:75px;
      font-family:nanumsq, sans-serif;
      font-size:2.125rem;
      font-weight:400;
      color:#fff;
      text-align:center;

      &-sub{
        font-size:1.75rem;
      }
    }
  }

  .layer-terminal-check-btn.one{
    width:200px;
    max-width:200px;
    margin-left:-100px;
  }

  .lnb-top{
    &-list{
      .layer-terminal-check-btn{
        //   width:200px;
        //   max-width:200px;
        //   margin-left:-100px;
        text-indent: -999em;
        font-size: 0;
      }
      &-item{
        min-width: 60px;
        margin: 0;
        height:42px;
        &-link{
          display: inline-block;
          position: relative;
          text-indent: -999em;
          font-size: 0;

          &.home {
            text-indent: -999em;
            font-size: 0;
            height:auto;
            margin-top:10px;
          }
          &.back{
            text-indent: -999em;
            font-size: 0;
            height:auto;
            margin-top:10px;
          }

        }



      }
    }
  }
}


// 780
@media screen and (max-width:780px) {
  .lnb-top{
    top:-20px;
    &-list{
      border-bottom:0;
      border:none;
    }

  }
  .layer-terminal-check-btn.one{
    border:none;
    span{
      display:none;
    }
  }

  .header{
    width:70%;
    padding-top: 66px;
    max-width:70%;
    min-width:260px;

    //left:-100%;
    z-index:9999;
    &-heading{
      margin-bottom:36px;
      font-size:2.125rem;
      &-sub{
        display:block;
        margin-top:10px;
        font-size:1.325rem;
      }
    }

  }
  .gnb{
    &-item{
      margin-bottom:18px;
    }
    &-link{
      font-size:1.125em;
    }
  }
  // mobile gnb...
  .mobile-header{
    width:100%;
    height:70px;
    background:#fff;
    position:fixed;
    left:0;
    top:0;
    z-index:9998;
    &.active{
      &:after{
        display:block;
        content:'';
        width:100%;
        height:100%;
        background:rgba(0,0,0,.5);
        position:fixed;
        left:0;
        top:0;
        z-index:999;
      }
    }
  }
  // mobile button open / close
  .layer-gnb{
    &-mobile-btn{
      display:block;
      width:25px;
      height:20px;
      padding:0;
      border:none;
      background:none;
      text-indent:-99999em;
      position:relative;
      top:22px;
      left:15px;

      &:before, &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #222;
        position:absolute;
        top:0;
        left:0;
      }

      &:after{
        top:9px;
      }

      span{
        display:block;
        width:13px;
        height:2px;
        background:#222;
        text-indent:-99999em;
        position:absolute;
        bottom:0;
        left:0;
      }
    }

    &-mobile-btn-close{
      display:block;
      width:25px;
      height:25px;
      background:url(/static/ap/images/spr_ico_global.png) no-repeat -95px -188px;
      border:none;
      position:absolute;
      top:20px;
      right:15px;
      text-indent:-99999em;
    }
  }



  .layer-terminal-check-btn{
    position:static;
    width:80%;
    max-width:284px;
    border:none;
    padding: 14px 0;
    font-size:1.125rem;

  }
}