%clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.contents{
  width:70%;
  min-width:calc(100% - 500px);
  float:right;

  &.full-screen{
    width:100% !important;
  }
}

.inner-contents{
  width:1152px;
  padding:65px 0 100px;
  margin:0 auto;

  &.full-screen{
    width:100% !important;
  }
}

.article{
  margin-bottom:60px;

  &:last-child{
    margin-bottom:0;
  }
}



.heading{

  &-level1{
    margin-bottom:40px;
    font-family:nanumsq, sans-serif;
    font-size:2.375rem;
    font-weight:300;
  }

  &-level2{
    margin-bottom:20px;
    font-family:nanumsq, sans-serif;
    font-size:1.5rem;
    font-weight:400;
    &.point{
      background:#323648;
      color:#fff;
      text-align:center;
      padding:19px 0;
      margin-bottom:10px;
      width:calc(100% - 2px);
    }
    &.half{
      width:calc(50% - 6px);
    }
    .color-o{
      color:#ffae44;
    }
  }

  &-level3{
    margin-bottom:20px;
    font-size:1.25rem;
    font-weight:700;
  }

  &-level4{
    margin-bottom:20px;
    font-size:1.125rem;
    font-weight:700;
    color:#42519e;

    &.black{
      color: #222;
    }
  }

  &-level5{
    font-size: 1rem;
    font-weight:900;
    margin-bottom:20px;
  }

}

.table{
  width:100%;

  caption{
    display:none;
  }

  &.vt{
    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }
    &.border-no{
      border-top: none;
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }
    &.border-right{
      td:last-child{
        border-right: 1px solid #d9d9d9;
      }
    }

    tr {

      &.span{
        td{
          border-right: 1px solid #f2f4f7;
        }
      }

      &.on {
        background: #f3f4f8;
      }
    }

    th{
      padding:19px 0 16px;
      font-size:1rem;
      font-weight:700;
      position:relative;

      &:after{
        content:"";
        display:block;
        width:1px;
        height:16px;
        background:#a5a7aa;
        position:absolute;
        top:17px;
        right:0;
      }

      &:last-child:after{
        content:none;
      }
    }

    td{
      padding:19px 20px 16px;
      line-height:1.4;
      border:{
        right:1px solid #f2f4f7;
        top:1px solid #d9d9d9;
      }
      vertical-align:middle;

      &.center{
        text-align:center;
      }

      &.right{
        text-align:right;
      }

      &:last-child{
        border-right:0;
      }

      &.color-b{
        border-left: 4px solid #42519e;
      }
      &.color-g{
        border-left: 4px solid #2c8279;
      }
      &.color-o{
        border-left: 4px solid #dd7714;
      }

      & .board-list-link{
        font-size:1.125rem;
        transition:all .2s;
        &:hover{
          color:#999;
        }
        &.lock{
          &:after{
            content:"";
            display:inline-block;
            background:url(/static/ap/images/spr_ico_crud.png) no-repeat -45px -52px;
            width: 13px;
            height: 17px;
            margin-left:14px;
            vertical-align:-1px;
          }
        }

        &.good{
          &:before{
            content:"";
            display:inline-block;
            background:url(/static/ap/images/spr_ico_crud.png) no-repeat -52px -89px;
            width: 24px;
            height: 24px;
            margin-right:12px;
            vertical-align:-5px;
          }
        }

        &.bad{
          &:before{
            content:"";
            display:inline-block;
            background:url(/static/ap/images/spr_ico_crud.png) no-repeat -16px -89px;
            width: 24px;
            height: 24px;
            margin-right:12px;
            vertical-align:-5px;
          }
        }
      }
    }

    &.board-list{
      font-size:1rem;
      & td{
        border-right:0;
        padding:23px 20px;
      }
    }

  }

  &.vt-dark{
    border-bottom:1px solid #a5a7aa;

    tbody{
      tr:first-child{
        td{
          border-top:0;
        }
      }
    }

    tr {

      &.span{
        td{
          border-right: 1px solid #f2f4f7;
        }
      }

      &.on {
        background: #f3f4f8;
      }
    }

    th{
      padding:18px 0 16px;
      font-size:1rem;
      font-weight:400;
      color:#fff;
      background:#323648;
      border-right:1px solid #474a5b;
      vertical-align:middle;

      &:last-child{
        border-right:0;
      }

      &.half{
        padding:12px;
      }

      &.sub{
        padding:6px 0 8px;
        border:{
          top:1px solid #212535;
          right:1px solid #212535;
        }
        background:#4d5164;
        font-size:0.875rem;

        &:last-child{
          border-right:0;
        }
      }

    }

    td{
      padding:19px 20px 16px;
      line-height:1.4;
      border-right:1px solid #f2f4f7;
      border-top:1px solid #d9d9d9;
      vertical-align:middle;
      word-break: keep-all;

      &.center{
        text-align:center;
      }

      &:last-child{
        border-right:0;
      }
      &.no-padding{
        padding:19px 0 16px;
      }
      &.color-b{
        color:#42519e;
      }
      p.color-b{
        color:#42519e;
      }
    }
  }

  &.hr{
    &.info{
      tr:last-child{
        height:140px;
      }
    }

    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }

    tr{
      &:first-child{
        th, td{
          border-top:0;
        }
      }
      &.span{
        td{
          border-right: 1px solid #f2f4f7;
        }
      }
    }


    th{
      min-width:150px;
      border-top:1px solid #d9d9d9;
      background:#f3f4f8;
      font-size:1rem;
      line-height:1.4;
      font-weight:700;
      vertical-align:middle;
      &.left{
        text-align: left;
        padding-left: 20px;
      }
    }

    td{
      padding:19px 20px 16px;
      border-top:1px solid #d9d9d9;
      border-right:1px solid #f2f4f7;
      line-height:1.4;
      vertical-align:middle;
      &.center{
        text-align:center;
      }
      &:last-child{
        border-right:0;
      }
      &.bold{
        font-weight: bold;
      }
    }

  }

}


.tab{

  &-nav{

    &-list{
      @extend %clearfix;

      &-item{
        width:25%;
        float:left;
        cursor:pointer;
      }

      &-link{
        display:block;
        padding:10px 5px;
        line-height:1.5;
        background:#f2f2f2;
        border:1px solid #d9d9d9;
        border-bottom-color:#42519e;
        font-size:1.25rem;
        font-weight:300;
        color:#666;
        text-align:center;

        &.on{
          border:2px solid #42519e;
          border-bottom:none;
          background:#fff;
          font-weight:700;
          color:#42519e;
        }
      }
    }
    &.long-word{
      .tab-nav-list-link{
        height: 90px;
      }
    }
    &.transit{
      .tab-nav-list{
        &-item{
          .tab-nav-list-link{
            border:2px solid #2c8279;
            border-bottom: 0;
            background: #2c8279;
            color: #fff;
            &.on{
              background: #fff;
              color:#2c8279;
              border-bottom: 0;
            }
          }
          &:first-child{
            .tab-nav-list-link{
              border:2px solid #4674c9;
              border-bottom: 0;
              background: #4674c9;
              &.on{
                border-bottom: 0;
                background: #fff;
                color:#4674c9;
              }
            }
          }
          &:last-child{
            .tab-nav-list-link{
              border:2px solid #dd7713;
              border-bottom: 0;
              background: #dd7713;
              &.on{
                border-bottom: 0;
                background: #fff;
                color:#dd7713;
              }
            }
          }
        }
      }
    }
  }

  &-area{
    position:relative;

    &-heading{
      display:block;
      height:54px;
      background:#f2f2f2;
      border:1px solid #d9d9d9;
      border-bottom-color:#42519e;

      position:absolute;
      top:0;

      font-size:1.25rem;
      font-weight:300;
      color:#666;
      line-height:54px;
      text-align:center;
      cursor:pointer;

      &.on{
        border:2px solid #42519e;
        border-bottom:none;
        background:#fff;
        font-weight:700;
        color:#42519e;
      }
    }

    &-content{
      display:none;
      padding-top:54px;

      &.on{
        display:block;
      }
    }
  }

}

.stuff{

  &-wrap{
    @extend %clearfix;
  }

  &-block{

    width:calc(50% - 12px);
    padding:177px 40px 40px;
    border:1px solid #dde3ed;
    margin-right:24px;
    float:left;
    position:relative;

    &:nth-child(even){
      margin-right:0;
    }

    &:after{
      content:"";
      display:block;
      height:116px;
      background:url(/static/ap/images/spr_ico_stuff.png) no-repeat;
      position:absolute;
      top:40px;
      left:40px;
    }

    &.medicine:after{
      width:485px;
      background-position:0 0;
    }

    &.food:after{
      width:238px;
      background-position:-587px 0;
    }

    &.knife:after{
      width:485px;
      background-position:0 -142px;
    }

    &.weapon:after{
      width:361px;
      background-position:-587px -142px;
    }

    &.tool:after{
      width:361px;
      background-position:0 -285px;
    }

    &.battery:after{
      width:485px;
      background-position:0 -426px;
    }

    &.flammable:after{
      width:485px;
      background-position:-587px -426px;
    }


  }

  &-icon{
    display:inline-block;
    width:15px;
    height:15px;
    margin-left:8px;
    background:url(/static/ap/images/spr_ico_ox.png) no-repeat;
    position:relative;
    top:7px;
    text-indent:-99999em;

    &.yes{
      background-position:0 0;
    }

    &.no{
      background-position:0 -16px;
    }
  }

}

// 기존 버튼 디자인
.ico{
  display:inline-block;
  position:relative;
  text-indent:-999em;
  &:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    background: url(/static/ap/images/spr_ico_global.png) no-repeat;
  }
  &.location-bar-nav-item-link.home:after{
    background-position:-216px -31px;
    width: 18px;
    height: 14px;
  }
  &.location-bar-nav-item:after{
    background-position:-153px -93px;
    width: 22px;
    height: 22px;
  }
  &.arrow-normal-right:after{
    background-position:-101px -64px;
    width: 8px;
    height: 12px;
  }

  &.arrow-point-right:after{
    background-position:-129px -64px;
    width: 8px;
    height: 12px;
  }

  &.arrow-small-right:after{
    background-position:-158px -65px;
    width: 6px;
    height: 10px;
  }

  &.arrow-middle-right:after{
    background-position:-186px -65px;
    width: 6px;
    height: 10px;
  }

  &.arrow-down:after{
    background-position:-349px -99px;
    width: 19px;
    height: 11px;
  }

  &.arrow-up:after{
    background-position:-319px -99px;
    width: 19px;
    height: 11px;
  }

  &.nowlink:after{
    background-position:-313px -134px;
    width: 23px;
    height: 19px;
  }

  &.first:after{
    background-position:-236px -60px;
    width: 20px;
    height: 19px;
  }

  &.prev:after{
    background-position:-268px -60px;
    width: 11px;
    height: 19px;
  }

  &.next:after{
    background-position:-296px -60px;
    width: 11px;
    height: 19px;
  }

  &.last:after{
    background-position:-319px -60px;
    width: 20px;
    height: 19px;
  }

  &.update-refresh:after{
    background-position:-31px -98px;
    width: 20px;
    height: 20px;
  }
  &.search-area-btn:after {
    background-position: -74px -134px;
    width: 22px;
    height: 22px;
  }
  &.btn-download:after {
    background-position: -68px -98px;
    width: 22px;
    height: 22px;
  }
  &.btn-download.big:after {
    background-position: -355px -136px;
    width: 28px;
    height: 22px;
  }
  &.bus-stop:after {
    background-position: -89px -63px;
    width: 22px;
    height: 22px;
  }

}

.btn-type-normal{
  min-width:192px;
  height:50px;
  background:#fff;
  padding:0 45px 0 20px;
  line-height:50px;
  border:1px solid #666;
  font-weight:600;
  transition:all .4s;
  &.point{
    background:#42519e;
    border:none;
    color:#fff;
  }
  &:hover{

  }
  &.ico{
    text-indent:0;
    &:after{
      left:auto;
      right:18px;
    }
  }
  &.left{
    text-align: left;
  }
}

.btn-type-event{
  min-width:166px;
  height:40px;
  color:#fff;
  background:#333649;
  padding:0 45px 0 16px;
  line-height:40px;
  border:none;
  font-size:1rem;
  &.ico{
    text-indent:0;
    &:after{
      left:auto;
      right:18px;
    }
  }
}

.btn-type-small{
  min-width:146px;
  height:30px;
  background:#fff;
  padding:0 32px 0 12px;
  line-height:30px;
  border:1px solid #d9d9d9;
  border-radius:50px;
  font-size:0.875rem;
  font-weight:400;
  transition:all .4s;
  &.point{
    background:#f2f2f2;
  }
  &.under{
    background:none;
    color:#fff;
  }
  &:hover{

  }
  &.ico{
    text-indent:0;
    &:after{
      left:auto;
      right:14px;
    }
  }
}

.guide-desc{
  display:block;
  color:#666;
  font-size:1rem;
  line-height:1.6;
  &.color{
    color:#d43e41;
  }
  &.mark{
    text-indent:-20px;
    padding-left:20px;

    &:before{
      content:"※";
    }
  }
  &.mark2{
    text-indent:-20px;
    padding-left:20px;

    &:before{
      content:"*";
    }
  }
}

strong{
  font-weight: 900;
  &.color{
    color:#41519e;
  }
}

em{
  font-style: normal;
  color:#41519e;
  &.color{
    color:#d43e41;
  }
}

.font-normal{
  font-weight:400;
  &.color{
    color:#41519e;
  }
}

.guidebox{
  display:table;
  width:100%;
  @extend %clearfix;
  &-col{
    display:table-cell;
    width:33.33%;

    &.col-1{
      padding:40px 40px 0;
      border:1px solid #d9d9d9;
      border-right:none;
    }

    &.col-2{
      padding:40px 0;
      border-top:1px solid #d9d9d9;
      border-bottom:1px solid #d9d9d9;
      &.wide{
        width:66.666%;
        border-right:1px solid #d9d9d9;
      }
    }

    &.col-3{
      background:#333649;
      text-align:center;
      position:relative;
      vertical-align:middle;

      &.fix{
        .guidebox-col-row{
          position:relative;
          height:135px;
        }
      }
    }

    &-row{
      width:100%;
      height:50%;
      position:absolute;
      top:0;
      left:0;


      &:last-child{
        border-top:1px solid #484a5c;
        top:auto;
        bottom:0;
      }

      &-inner{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
      }
    }

  }

  &-tit{
    font-family: nanumsq, sans-serif;
    font-size:1.25rem;
    font-weight:600;
    line-height: 1.5;
  }

  &-list{
    .list1-item{
      margin-bottom:8px;
      font-size:1rem;

      &:last-child{
        margin-bottom:0;
      }

      &:before{
        font-size:1.25rem;
        top:-4px;
      }
    }
  }

  &-desc{
    color:#fff;
    font-size:1.25rem;
    font-weight:600;
    margin-bottom:18px;
    white-space:nowrap;
  }

}

.linklist{
  @extend %clearfix;
  &-img{
    float:left;
    width:268px;
    height:118px;
    border:1px solid #d9d9d9;
    margin-right:34px;
  }
  &-article{
    float:left;
    &-desc{
      line-height:1.8;
      margin-bottom:4px;
    }
  }
}

.step1{
  &-list{
    @extend %clearfix;

    &-item{
      float:left;
      position:relative;
      width:calc(50% - 12px);
      margin-right:24px;
        &.wide{
          float: none;
          width: 100%;
          margin-right: 0;
          .list-article{
            top:0;
            margin-top: 0;
            margin-bottom:40px;
          }
        }
        &:nth-child(even){
        margin-right:0;
      }
      .list-img{
        display:block;
        width:100%;
        //position:absolute;
        //left:0;
        //top:0;
        //width:100%;
        //height:260px;
        //background:#b7c0ce;
        //z-index:-1;
      }
      .list-article{
        background:#fff;
        padding: 32px 0 60px;
        //padding:42px 0 16px;
        margin:0 20px;
        //height:182px;
        //margin-top:-40px;
        text-align:center;
        position:relative;
        //top:-40px;
        &.left{
          text-align: left;
        }

        .article-num{
          display:block;
          color:#333649;
          font-weight:600;
          text-transform:uppercase;
          margin-bottom:24px;
        }
        .article-desc{
          color:#666;
          line-height:1.4;
        }
      }
    }
  }
}

.list1{
  &-item{
    padding-left:12px;
    margin-top:8px;
    position:relative;
    &:first-child{
      margin-top:0
    }

    &:before{
      content: "·";
      font-size: 	1.625rem;
      position:absolute;
      top:-8px;
      left:0;
    }
  }
}

.list2{
  &-item{
    padding-left:12px;
    position:relative;

    &:before{
      content: "-";
      font-size: 	1rem;
      font-weight: 300;
      position:absolute;
      top:0;
      left:0;
    }
  }
}

.list3{
  &-item{
    padding-left:23px;
    position:relative;

    .number{
      position:absolute;
      top:0;
      left:0;
    }
  }
}

.imgbox{
  width: 100%;
  vertical-align:top;
  &.level2{
    background: #42519e;
  }
  &.level4{
    background: #d43e41;
  }
  &.level3{
    background: #dd7714;
  }
  &.level1{
    background: #2c8179;
  }
}

p.icontxt{
  padding:0 0 0 90px;
}
.icontxt {
  display:block;
  min-height:74px;
  padding:15px 0 0 90px;
  position:relative;

  &:after {
    content:"";
    display: block;
    width: 74px;
    height: 74px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background: url(/static/ap/images/spr_ico_text.png) no-repeat;
  }


  &.icon {
    &-type1{
      &:after {
        background-position: -11px -10px;
      }
    }

    &-type2{
      margin-left: 10px;
      &:after {
        background-position: -105px -10px;
      }
    }

    &-type3{
      &:after {
        background-position: -199px -10px;
      }
    }

    &-type4{
      &:after {
      background-position: -11px -105px;
      }
    }

    &-type5{
      &:after {
        background-position: -105px -105px;
      }
    }

    &-type6{
      &:after {
        background-position: -199px -105px;
      }
    }

    &-type7{
      &:after {
        background-position: -11px -199px;
      }
   }

    &-type8{
      &:after {
        background-position: -105px -199px;
      }
    }

    &-type9{
      &:after {
        background-position: -199px -199px;
      }
    }

    &-type10{
      &:after {
        background-position: -198px -575px;
      }
    }

    &-type11{
      &:after {
        background-position: -198px -762px;
      }
    }

    &-type12{
      &:after {
        background-position: -10px -853px;
      }
    }

    &-koreanair{
      &:after {
        background-position: -11px -293px;
      }
    }

    &-asiana{
      &:after {
        background-position: -105px -293px;
      }
    }

    &-another{
      &:after {
        background-position: -199px -293px;
      }
    }

    &-maglev-train1{
      &:after {
        background-position: -11px -387px;
      }
    }

    &-maglev-train2{
      &:after {
        background-position: -105px -387px;
      }
    }

    &-maglev-train3{
      &:after {
          background-position: -199px -387px
      }
    }

    &-maglev-train4{
      &:after {
        background-position: -11px -481px;
      }

    }

    &-aquatic-product1{
      &:after{
        background-position: -104px -481px;
      }
    }

    &-aquatic-product2{
      &:after{
        background-position: -199px -481px;
      }
    }

    &-aquatic-product3{
      &:after{
        background-position: -10px -575px;
      }
    }

    &-aquatic-product4{
      &:after{
        background-position: -105px -575px;
      }
    }

    &-animal-product1{
      &:after{
        background-position: -10px -668px;
      }
    }

    &-animal-product2{
      &:after{
        background-position: -106px -669px;
      }
    }

    &-animal-product3{
      &:after{
        background-position: -198px -668px;
      }
    }

    &-animal-product4{
      &:after{
        background-position: -10px -761px;
      }
    }

    &-animal-product5{
      &:after{
        background-position:-105px -762px;
      }
    }

  }

  &-title {
    font-weight: 700;
    margin-bottom: 10px;

    &.list1-item{
      line-height:1;
    }
  }
  &-info {
    font-weight: 400;

    &.list1-item{
      line-height:1;
    }
  }
}

.banner{
  //width: 1152px;
  min-height: 240px;
  text-align: center;
  background: url(/static/ap/images/bg_sub_layer_banner_bg_01.jpg) no-repeat center;
  background-size: cover;

  &-title{
    color: #ffae44;
    font-size: 3.75rem;
    font-weight: 300;
    padding-top: 55px;
  }

  &-text{
    margin-top:25px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    text-align:center;
    position:relative;
    &:after{
      content:"";
      display:block;
      border-top: 1px solid #b7b2a9;
      width: 50px;
      position:absolute;
      top:-15px;
      left:50%;
      margin-left:-25px;
    }
  }

  &.bg2{
    background:url(/static/ap/images/bg_sub_layer_banner_bg_00.jpg) no-repeat center;
    background-size: cover;
  }

  &.bg3{
    background:url(/static/ap/images/bg_sub_layer_banner_bg_02.jpg) no-repeat center;
    background-size: cover;
  }

  &.bg4{
    background:url(/static/ap/images/bg_sub_layer_banner_bg_03.jpg) no-repeat center;
    background-size: cover;
  }

  &.bg5{
    background:url(/static/ap/images/bg_sub_layer_banner_bg_04.jpg) no-repeat center;
    background-size: cover;
  }

  &.bg7{
    background:url(/static/ap/images/bg_sub_layer_banner_bg_06.jpg) no-repeat center;
    background-size: cover;
  }
  &.government-center{
    background:url(/static/ap/images/bg_sub_layer_banner_government_center.jpg) no-repeat center;
    background-size: cover;
  }

  &.bg6{
    background:url(/static/ap/images/bg_sub_layer_banner_bg_05.jpg) no-repeat center;
  }

  &.bg8{
    background:url(/static/ap/images/bg_sub_layer_banner_bg_08.jpg) no-repeat center;
    background-size: cover;
  }

}

%gutter{
  .inner-col{
    padding:0 12px 0 0;

    &:last-child{
      padding:0 0 0 12px;
    }
  }
}

%normal-3{
  .inner-col{
    width:calc(33.33% - 16px)!important;
    margin-left:24px;
    &:first-child{
      margin-left:0;
    }
  }
}

.multi-col{
  .detail-mark{
    position:absolute;
    top:0;
    left:0;
  }

  &.heading-btn-align{
    margin-bottom:40px;
    @extend %clearfix;
    .heading-level1{
      margin-bottom:0;
    }
  }
  position:relative;
  @extend %clearfix;

  .inner-col{
    float:left;
    text-align:justify;

    &.btn-right{
      position: absolute;
      right:0;
      bottom:0;
      text-align: right;
    }
    &.img-center{
      display: inline-block;
      text-align: center;
    }

    &.search-map-left{
      float:left;
      width: 902px;
    }
    &.search-map-right{
      float:right;

    }

    .img-auto{
      width:auto;
    }
    .img-caption{
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 1rem;
    }
  }

  &.double{
    .inner-col{
      width:50%;
      &.w-auto{
        width: auto;
        padding-right:24px;
      }
      &.w70{
        width: 70%;
        padding-right:24px;
      }
      &.w30{
        width: 30%;
      }
      &.w80{
        width: 80%;
        padding-right:24px;
      }
      &.w20{
        width: 20%;
      }
      &.w65{
        width: 65%;
        padding-left: 25px;
      }
      &.w35{
        width: 35%;
      }
      &.w75{
        width: 75%;
      }
      &.w25{
        width: 25%;
      }
      &.calc-w466-l{
        width: calc(100% - 466px);
        padding-left:24px;
      }
      &.calc-w466-r{
        width: calc(100% - 466px);
        padding-right:24px;
      }
      &.w466{
        width: 466px;
        padding:0;
      }
    }
  }

  &.triple{
    .inner-col{
      width:33.33%;
    }
  }

  &.line{
    &:before{
      content:"";
      display:block;
      width:1px;
      height:100%;
      background:#d9d9d9;
      position:absolute;
      top:0;
      left:50%;
    }
    @extend %gutter;
  }

  &.gutter{
    @extend %gutter;
  }

  &.normal-3{
    @extend %normal-3;
  }

}

// margin-bottom:13px;
.mb7, %mb7{
  margin-bottom:7px;
}

// text margin-top:20px
.mt10, %mt10{
  margin-top:10px;
}

// margin-top:20px;
.mt20, %mt20{
  margin-top:20px;
}

// text margin-top:40px;
.mt30, %mt30{
  margin-top:30px;
}

// margin-top:40px;
.mt40, %mt40{
  margin-top:40px;
}

// margin-top:40px;
.mt60, %mt60{
  margin-top:40px;
}

.ml10, %ml10{
  margin-left:10px;
}
// element img text
.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
    .btn-type-normal {
      text-align: left;
    }
  }
}


// pagenation list
.pagenation{
  display: table;
  margin: 0 auto;
  @extend %clearfix;
  .ico{
    width:44px;
    height:44px;
    border:1px solid #d9d9d9;
    border-left:0;
    float:left;

    &.first{
      border-left:1px solid #d9d9d9;
      &:after{
        left:-1px
      }
    }

    &.prev{
      &:after{
        left:-1px
      }
    }

    &.next{
      border-left:1px solid #d9d9d9;
      &:after{
        right:-1px
      }
    }

    &.last{
      &:after{
        right:-1px
      }
    }

    // 더이상 페이지가 없을 때 클래스
    &.default{
      pointer-events:none;
      &:after{
        opacity:.5;
      }
    }

    &:hover{
      &:after{
        opacity:.5;
      }
    }
  }

  &-list{
    float:left;
    margin:0 20px;
    @extend %clearfix;
    &-item{
      &:first-child{
        border-left:1px solid #d9d9d9;
      }
      &:hover{
        background:#42519e;
        border-color:#42519e;
        .pagenation-list-link{
          color:#fff;
        }
      }
      // 활성화 클래스
      &.on{
        background:#42519e;
        border-color:#42519e;
        .pagenation-list-link{
          color:#fff;
        }
      }
      float:left;
      width:44px;
      height:44px;
      border:1px solid #d9d9d9;
      border-left:0;
      position:relative;
    }
    &-link{
      display:block;
      width:100%;
      height:100%;
      line-height:44px;
      text-align:center;
    }
  }
}


// 슬라이드형 게시판 목록
.board-slide{
  .board-list{
    //padding:0 30px;
    border-top:1px solid #d9d9d9;
    border-bottom:0;
    &:last-child{
      border-bottom:1px solid #d9d9d9;
    }
    // 활성화 스타일링
    &.on{
      border-bottom:1px solid #d9d9d9;
      border-top-color:#a5a7aa;
      &+.board-list{
        border-top:0;
      }
      .board-list-head{
        border-bottom:1px solid #d9d9d9;
        .board-list-tit{
          &:after{
            transform:rotate(180deg);
          }
        }
      }
      .board-list-body{
        display:block;
      }
    }
  }
  // 제목부분
  .board-list-head{
    .board-list-tit{
      display:block;
      width:100%;
      height:100%;
      padding:26px 0;
      font-size:1.25rem;
      text-indent:0;
      &:after{
        left:auto;
        right:30px;
        transition:all .4s;
      }
      &-inner{
        display:block;
        padding:0 80px 0 30px;
        line-height:1.5;
      }
    }
  }
  // 내용부분
  .board-list-body{
    display:none;
    background:#f2f4f7;
    padding:30px;
    .board-list-desc{
      color:#444;
    }
    .board-list-link{
      color:#4674c9;
      line-height:1.7;
    }
  }
}


// 절차 step2


.step2-list{
  &.col-3{
    .step2-list-item{
      width:calc(33.33% - 16px);
      min-height:250px;
    }
  }
  &.col-4{
    .step2-list-item{
      width:calc(25% - 18px);
      min-height:480px;
    }
  }
  &.col-5{
    &.white{
      .step2-list-item {
        min-height: 280px;
        width:calc(20% - 10px);
        margin-left: 12px;
      }
    }
  }
  &.col-6{
    &.white{
      .step2-list-item {
        min-height: 280px;
        width:calc(16.666% - 10px);
        margin-left: 12px;
      }
    }
  }
  @extend %clearfix;
  &-item{
    background:#333649;
    padding:40px 15px 21px;
    margin-left:24px;
    float:left;
    &:first-child{
      margin-left:0;
    }
    .step2-list-head{
      text-align:center;
      .article-tit{
        font-size:1.5rem;
        color:#ffae43;
        line-height:1;
        letter-spacing: -1px;
      }
      .article-num-box{
        display:block;
        width:100%;
        height:33px;
        margin-bottom:26px;
        border-bottom:1px solid #666;
        position:relative;
        .article-num{
          display:block;
          height:33px;
          color:#666;
          font-size:2.5rem;
          font-weight:700;
          line-height:1;
          position:absolute;
          right:-1px;
          bottom:0;
        }
      }
    }
    // left 클래스추가시 텍스트 왼쪽정렬
    .step2-list-body{
      text-align:center;
      &.left{
        text-align:left;
      }

      .article-desc{
        color:#fff;
        font-size:1rem;
        line-height:1.6;
        font-weight:300;
        letter-spacing: -1px;
      }

      .step2-guide-desc{
        color:#a6a7ab;
        font-size:1rem;
        line-height:1.6;
        font-weight:300;
      }

      .list1-item{
        margin-bottom:10px;
        color:#fff;
        font-size:1rem;
        line-height:1.3;
        font-weight:300;
      }
      .list2-item{
        color:#a6a7ab;
        font-size:0.875rem;
        font-weight:300;
        &:first-child{
          margin-top:6px;
        }
      }
    }
  }
  &.white{
    .step2-list-item:first-child {
      margin-left: 0;
    }
    .step2-list-item{
      width: calc(25% - 8px);
      min-height: 276px;
      background:#fff;
      border: 1px solid #d9d9d9;
      margin-left:10px;
    }
    .step2-list-head{
      .article-tit{
        color:#5d6279;
        font-weight: 800;
      }
    }
    .article-num-box {
      border-bottom: 1px solid #dde3ed;
      .article-num{
        color: #dde3ed;
      }
    }
    .article-desc{
      color: #222;
      font-weight: 600;
    }
  }
}

.text-color-o{
  color:#dd7714;
}
.text-color-g{
  color:#2c8279;
}
.text-color-b{
  color:#41519e;
}
b.text-bold{
  font-weight:900;
}

// 이벤트 게시판 상세

.borad-view{
  .view-head{
    padding:25px 30px;
    border-bottom:1px solid #a5a7aa;
    &-tit{
      display:inline;
      font-size:1.375rem;
      font-weight:900;
    }
    &-date{
      display:inline;
      float:right;
    }
    &-info{
      @extend %clearfix;
      display: block;
      margin-top:16px;
      font-size:1rem;
      .info-tit{
        float:left;
        margin-right:10px;
      }
      .info-desc{
        float:left;
        &:after{
          content: "";
          display: inline-block;
          width: 1px;
          height: 16px;
          margin: auto 20px;
          background: #d9d9d9;
          vertical-align:middle;
        }
        &:last-child:after{
          display:none;
        }
      }
    }
  }
  .view-body{
    padding:30px 30px 70px;
  }
  .view-file{
    @extend %clearfix;
    border-top:1px solid #d9d9d9;
    padding:30px;
    .file-group-text{
      float:left;
      width:124px;
      color:#002222;
      font-size:1rem;
      line-height:1.7;
    }
    .file-list{
      float:left;
      &-item{

      }
      &-link{
        color:#666;
        font-size:1rem;
      }
    }
    .crud-ico{
      text-indent:24px;
      &:after{
        right:auto;
        bottom:4px;
      }
    }
  }
  .reply-box{
    background:#f2f4f7;
    padding:40px;
    border:1px solid #d9d9d9;
    margin-bottom:30px;
    position: relative;
    .reply-head{
      @extend %clearfix;
      margin-bottom:30px;
      &-tit{
        float:left;
        padding-left:20px;
        font-weight:900;
        text-indent:0;
        line-height:1;
        &:after{
          right:auto
        }
      }
      &-info{
        float:right;
        @extend %clearfix;
        font-size:1rem;
        .info-tit{
          float:left;
          margin-right:10px;
          color:#002222;
        }
        .info-desc{
          float:left;
          color:#444;
          &:after{
            content: "";
            display: inline-block;
            width: 1px;
            height: 16px;
            margin: auto 20px;
            background: #d9d9d9;
            vertical-align:middle;
          }
          &:last-child:after{
            display:none;
          }
        }
      }
    }
  }
}

// 게시판내 사용되는 아이콘
.crud-ico{
  display:inline-block;
  position:relative;
  text-indent:-999em;
  &:after{
    content:'';
    display:block;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    background: url(/static/ap/images/spr_ico_crud.png) no-repeat;
  }

  &.file-hwp:after{
    background-position:-19px -18px;
    width: 14px;
    height: 17px;
  }

  &.file-txt:after{
    background-position:-44px -18px;
    width: 15px;
    height: 17px;
  }

  &.file-img:after{
    background-position:-70px -18px;
    width: 13px;
    height: 17px;
  }

  &.file-xlsx:after{
    background-position:-94px -18px;
    width: 14px;
    height: 17px;
  }

  &.file-ppt:after{
    background-position:-119px -18px;
    width: 14px;
    height: 17px;
  }

  &.file-pdf:after{
     background-position:-144px -18px;
     width: 14px;
     height: 17px;
   }

  &.arrow-reply:after{
    background-position:-19px -56px;
    width: 12px;
    height: 13px;
  }

  &.lock:after{
    background-position:-45px -52px;
    width: 13px;
    height: 17px;
  }

  &.good:after{
    background-position:-52px -89px;
    width: 24px;
    height: 24px;
  }

  &.bad:after{
    background-position:-16px -89px;
    width: 24px;
    height: 24px;
  }

}

// float
.f{
  &-left{
    float:left;
  }

  &-right{
    float:right;
  }
}

.overflow{
  position: relative;
  max-width: 1152px;
  height: 400px;
  overflow-x: auto;
  overflow-y:hidden;
}

button{
  border-radius: 0;
}


// layer popup
.layer{
  &.find-my-terminal{
    min-width:642px;
    overflow-y:auto;
    border: 4px solid #fefefe;
    padding: 36px 36px 70px;
    background:url(/static/ap/images/bg_lp_modal.jpg ) center no-repeat;
    background-size:cover;
    .layer-area{
      text-align:center;
      padding:0;
    }
    .layer-title{
      font-size:2.125rem;
      font-family:exo, sans-serif;
      font-weight:700;
      color: #ffae43;
      text-align:center;
      border-bottom:0;
      margin-bottom:0;
      padding-bottom:0;
      &:before{
        content:'';
        display:block;
        width:49px;
        height:60px;
        background:url(/static/ap/images/ico_find_my_termimal.png ) center no-repeat;
        margin:0 auto 26px;
      }
      &:after{
        content:'';
        display:block;
        height:2px;
        width:44px;
        background:rgba(255,255,255,0.4);
        margin: 26px auto 24px;
      }
    }
    .layer-article{
      margin-bottom:0;
    }
    .layer-close{
      display: block;
      width: 25px;
      height: 25px;
      background:url(/static/ap/images/ico_lp_modal_close.png ) center no-repeat;
      border:0;
      text-indent: -99999em;
      position:absolute;
      z-index: 99999;
      top: 20px;
      right: 20px;
      padding:0;
      &:hover{
        opacity:.7;
      }
    }
    .layer-check{
      float:left;
      width:140px;
      height:56px;
      background:#323648;
      color:#fff;
      font-size: 1.25rem;
      line-height:56px;
      border:0;
    }
    .layer-search{
      float:left;
      width:calc(100% - 140px);
      height:56px;
      line-height:56px;
      border: 0;
      font-size: 1.125rem;
      color: #666;
      padding:0 30px;
    }
    .layer-inputbox{
      display:inline-block;
      width:100%;
      @extend %clearfix;
      &-desc{
        color:#fff;
        margin:10px 0;
      }
    }
    .layer-inputbox-btn{
      background:#323648;
      padding:6px 10px;
      border-radius:50px;
      font-size:0.825rem;
      color:#fff;
      transition:all .2s;
    }

  }
  display:none;
  width: 550px;
  //max-height: 684px;
  border: 4px solid #42519e;
  background:#fff;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  overflow-y:auto;
  z-index:10;

  &.on{
    display:block;
  }

  &-wrap{
    display:none;
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    z-index:99999;

    &.on{
      display:block;
    }

    &:after{
      content:"";
      display:block;

      width:100%;
      height:100%;
      background:rgba(0,0,0,0.90);

      position:absolute;
      top:0;
      left:0;

    }

  }

  &.size{
    width: 912px;
    //max-height: 827px;
    &.max-height{
      max-height: 890px;
    }
  }

  &.address-layer{
    width: 600px;
    &.size{
      width: 912px;
    }
    &.max-size{
      width: 1145px;
      &.max-height{
        max-height: 890px;
      }
    }
  }

  &.login-area{
    width: 600px;
  }

  &.questionnaire{
    width:1152px;
  }

  &-area{
    padding: 20px;
    position: relative;
  }

  &-title{
    padding-bottom: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #42519e;
    font-size: 1.5rem;
    font-family:nanumsq, sans-serif;
    color: #42519e;
    &.title2{
      padding: 0;
      border: 0;
    }

    &.login{
      font-size: 2.75rem;
      margin-top: 40px;
      text-align: center;
      font-family:nanumsq, sans-serif;
      color: #222;
      padding:0;
      border:none;
    }
  }

  &-sub{
    font-size:1.125rem;
    font-weight: 900;
    text-align: center;
  }

  &-input-text.user-text{
    width:345px;
    height: 50px;
  }

  &-close{
    display: block;
    width: 25px;
    height: 25px;
    background:url(/static/ap/images/ico_layer_close.png ) center no-repeat;
    border:0;
    text-indent: -99999em;
    position:absolute;
    z-index: 99999;
    top: 20px;
    right: 30px;
    padding:0;

    &.close2{
      width: 26px;
      height: 26px;
    }

    &.login{
      display: block;
      width: 31px;
      height: 31px;
      background: url(/static/ap/images/ico_layer_close.png) center no-repeat;
      text-indent: -99999em;
      position: absolute;
      top: -45px;
      left: 95%;

    }
  }

  &-article{
    margin-bottom:20px;
    position: relative;
    @extend %clearfix;
    .textarea{
      width: 100%;
      height: 100px;
      padding: 0 10px;
      line-height: 1.7;
      text-align: left;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      color: #666;
      font-family: roboto, spoqa, sans-serif;
    }
    &.mb60{
      margin-bottom: 60px;
    }

    &-title{
      margin-bottom: 20px;
      font-size:1.125rem;
      font-weight: 900;
      &.float{
        margin: 0;
        float: left;
        line-height: 32px;
      }
    }
    &-input{
      width: 100%;
      height: 50px;
      font-size: 1rem;
      text-align: center;
      color: #666;
      background: #fcfbe8;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
    }
    &-box{
      width: 500px;
      height: 148px;
      padding: 20px 15px;
      border: 1px solid #e2e5e9;
      background: #f5f6f7;
      overflow-y: scroll;
      &-sub{
        margin-bottom: 7px;
        font-size:0.875rem;
      }
      &-txt{
        font-size:0.875rem;
      }
    }
    p{
      font-size: 1rem;
      &.font18{
        font-size:1.125rem;
      }
      &.font20{
        font-size:1.25rem;
      }
    }
    button{
      height: 50px;
      font-size: 1.5rem;
    }
    &.article2{
      margin-bottom: 10px;
      margin-top: 15px;
    }
  }

  .list1{
    font-size:0.875rem;
    letter-spacing:-0.02rem;
    &-item {
      &.font14{
        line-height: 50px;
        &:before {
          top: -16px;
        }
      }
    }

    &-item{
      &:before {
        top: -12px;
      }
    }
  }

  .radio-type1{
    &-label{
      font-size: 1rem;
    }
  }

  .info-desc{
    font-size: 0.875rem;
  }

  &-btn{
    float: left;
    &-login{
      width:190px;
      height: 110px;
      //margin-left: 81px;
      background: #42519e;
      border: none;
      color: #fff;
      font-size: 1.5rem;
    }
  }

}

//// layer popup
//.layer{
//  &.find-my-terminal{
//    min-width:642px;
//  }
//  display:none;
//  border: 4px solid #fefefe;
//  padding: 36px 36px 70px;
//  background:url(/static/ap/images/bg_lp_modal.jpg ) center no-repeat;
//  background-size:cover;
//  position:absolute;
//  top:50%;
//  left:50%;
//  transform:translate(-50%, -50%);
//  overflow-y:auto;
//  z-index:10;
//  &.on{
//    display:block;
//  }
//  &-wrap{
//    display:none;
//    position:fixed;
//    top:0;
//    left:0;
//    width:100%;
//    height:100%;
//    z-index:99999;
//    &.on{
//      display:block;
//    }
//    &:after{
//      content:"";
//      display:block;
//      width:100%;
//      height:100%;
//      background:rgba(0,0,0,0.90);
//      position:absolute;
//      top:0;
//      left:0;
//    }
//  }
//  &-area{
//    text-align:center;
//  }
//  &-inputbox-btn{
//    background:#323648;
//    padding:6px 10px;
//    border-radius:50px;
//    font-size:0.825rem;
//    color:#fff;
//    transition:all .2s;
//  }
//  &-inputbox{
//    display:inline-block;
//    width:100%;
//    @extend %clearfix;
//    &-desc{
//      color:#fff;
//      margin:10px 0;
//    }
//  }
//  &-search{
//    float:left;
//    width:calc(100% - 140px);
//    height:56px;
//    line-height:56px;
//    border: 0;
//    font-size: 1.125rem;
//    color: #666;
//    padding:0 30px;
//  }
//  &-check{
//    float:left;
//    width:140px;
//    height:56px;
//    background:#323648;
//    color:#fff;
//    font-size: 1.25rem;
//    line-height:56px;
//    border:0;
//  }
//  &-title{
//    font-size:2.125rem;
//    font-family:exo, sans-serif;
//    font-weight:700;
//    color: #ffae43;
//    text-align:center;
//    &:before{
//      content:'';
//      display:block;
//      width:49px;
//      height:60px;
//      background:url(/static/ap/images/ico_find_my_termimal.png ) center no-repeat;
//      margin:0 auto 26px;
//    }
//    &:after{
//      content:'';
//      display:block;
//      height:2px;
//      width:44px;
//      background:rgba(255,255,255,0.4);
//      margin: 26px auto 24px;
//    }
//  }
//  &-close{
//    display: block;
//    width: 25px;
//    height: 25px;
//    background:url(/static/ap/images/ico_lp_modal_close.png ) center no-repeat;
//    border:0;
//    text-indent: -99999em;
//    position:absolute;
//    z-index: 99999;
//    top: 20px;
//    right: 20px;
//    padding:0;
//    &:hover{
//      opacity:.7;
//    }
//  }
//}

.banner-hotels{
  background:url(/static/ap/images/img_banner_hotelsdotcom.jpg);
  height:476px;

  &-tit{
    font-family:nanumsq, sans-serif;
    color:#ffae44;
    font-size: 2.75rem;
    font-weight:300;
    text-align:center;
    padding-top:90px;
    &:after{
      content:'';
      display:block;
      margin:20px auto;
      width: 40px;
      height:1px;
      background:#fff;
    }
  }
  &-desc{
    font-family:nanumsq, sans-serif;
    color:#fff;
    font-size: 1.25rem;
    font-weight:300;
    text-align:center;

  }
  &-point{
    display:block;
    font-family:nanumsq, sans-serif;
    color:#fff;
    font-size: 1.5rem;
    font-weight:300;
    text-align:center;
    margin-top:20px;
  }
  &-img{
    display:block;
    margin:80px auto;
  }
}

//select.mac{
//  -webkit-border-radius: 0;
//  -moz-border-radius: 0;
//  -ms-border-radius: 0;
//  border-radius: 0;
//
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  -ms-appearance: none;
//  appearance: none;
//
//  background:url(/static/ap/images/ico_mac_arrow.png) no-repeat 94% center #fff;
//}

select{
  padding: 0 0 0 10px !important;
}

// bg-movie
//.include-video{
//  height:621px;
//  &-inner{
//    display:table;
//    width:100%;
//    height:100%;
//    text-align:center;
//    &-box{
//      display:table-cell;
//      vertical-align: middle;
//    }
//  }
//  &-video{
//    width:854px;
//    height:480px;
//    margin:auto;
//    background:#000;
//    &-iframe{
//      width:854px;
//      height:480px;
//    }
//  }
//}

.contents.checkin{

}
.boxsing {
  border: 1px solid #d0d0d0;
  padding: 50px;
  margin-bottom:60px;
}

.article.line{
  padding-bottom: 60px;
  border-bottom: 1px solid #d9d9d9;
}


.include-video{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 480px;
  &-iframe{
    width: 100%;
    height: 100%;
  }
}

