// 1560
@media screen and (max-width:1559px) {
  // step3
  .departure-step{
    &-list{
      min-height:inherit;
      margin:auto;
      padding:30px;
      width: 100%!important;
      .departure-step-list-article {
        height:200px;
        &.ico{
          &:after{
            display:none;
          }
        }
      }
      &.check-in{
        .departure-step-list-article{
          width:33.33%;
        }
      }
      &.self{
        .departure-step-list-article{
          width:20%;
        }
      }
      &.quarantine{
        .departure-step-list-article{
          width:25%;
        }
      }
      &.self-checkin{
        .departure-step-list-article{
          width:20%;
        }
      }
      &-article{
        color: #fff;
        font-size: 1.25rem;
      }
    }
  }


  // date time setting
  .timesetting{
    &-date{
      .timesetting-subtit{
        margin-top:10px;
      }
      &.f-left,
      &.f-right{
        float:none;
      }
      &-day{
        width:calc(33.333% - 46px);
      }
      &-calendar{
        width: 46px;
      }
      &-option{
        width: 33.333%;

      &.resize{
        width:100%;
      }

      }
    }
    &-dash{
      float:none;
    }

  }
  .btn-pos-box{
    position:static;
    .btn-type-small{
      position: static;
    }
  }
  .btn-center{
    display:block;
    padding:20px 0;

    .btn-type-small{
      min-width:100%;
    }
    .btn-type-normal{
      font-size:1rem;
    }
    .btn-type-small{
      &.download{
      }
    }
  }


  .maglev-train{
    &-line{
      &-list {
        &:before {
          left: 100px;
        }
        &-article{
          &-link {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .bussearch{
    padding:15px 0;
    &-title{
      display:block;
      padding-right:0;
      width:100%;
    }
    .search-area{
      width:100%;
      &-txt{
        width:calc(100% - 132px);
        font-size:1rem;
      }
      &-btn{
        &.ico:after{
          top:0;
          right:66px;
        }
      }
    }
  }



  //버스 지역
  .local {
    &-town {
      &-item {
        width:16.666%;
        &:nth-child(6n){
          border-right:0;
        }
        &:nth-child(8n){
          border-right:1px solid #a5a7aa;
        }
      }
    }
  }
  //.local {
  //  &-list {
  //    &-item {
  //      width:9.09%;
  //      &:last-child{
  //      }
  //      &-link {
  //        &.on {
  //          &:after{
  //
  //          }
  //        }
  //      }
  //    }
  //  }
  //  &-town {
  //    &-item {
  //      &:nth-child(8){
  //        border-right: none;
  //      }
  //      &:last-child{
  //        border-right: none;
  //      }
  //      &-link {
  //        &.on {
  //        }
  //      }
  //    }
  //  }
  //}
  //.route-bus-stop{
  //  width: 100%;
  //  height: 400px;
  //  background: url(/static/ap/images/bg_route_bus_area_search_t1_02.png)no-repeat;
  //  background-size: 100%;
  //  position: relative;
  //  &-ico-box{
  //    display: block;
  //    position: absolute;
  //    width: 529px;
  //    height: 89px;
  //    top: 50%;
  //    left: 50%;
  //    margin: -69px -276px;
  //  }
  //  .exit{
  //    display: none;
  //    text-indent: -99999em;
  //    background: url(/static/ap/images/ico_route_bus_area_search_t1.png)no-repeat;
  //    width: 22px;
  //    height: 42px;
  //    position: absolute;
  //  }
  //}

  // infographics
  .customs_inspection{
    background-size:contain;
  }
  .digr_airport_railroad{
    background-size:contain;
  }
  .digr_ktx_route{
    background-size:contain;
  }

  .digr-city-airport-terminal-seoul{
    background-size:contain;
  }

  .digr-city-airport-terminal-samsung{
    background-size:contain;
  }

  .digr-city-airport-terminal-kwangmyung{
    background-size:contain;
  }

  /* 공항리무진 운행노선 */
  .digr-airport-limousine-route{
    background-size:contain;

  }

  /* Kal 운행노선 */
  .digr-airport-kal-route{
    background-size:contain;
  }


  /*공항지도 검색*/
  .search-map{
    width:100%;
    &-title{
      display:none;
      &.title2{
        &.necessary{
          display:block;
        }
      }
    }
    &-input{
      &-item{
        margin-right:0;
        &:last-child{
          margin-right: 0;
        }
      }
      &-select, &-txt{
        height:40px;
        padding: 0 10px;
        border: 1px solid #d9d9d9;
        border-right:0;
        font-size:0.9375rem;
        color: #444;
        box-sizing: border-box;
        float: left;
        &:last-child{
          border-right:1px solid #d9d9d9;
        }
      }
      &-select{
        width: 100px;
      }
    }
    &-btn{
      width: 50px;
    }
    &-box{

    }

    &-svg{
      width:100%;
      border-right: 1px solid #d9d9d9;
      float: none;


    }
    &-clear{

    }
    &-wrap{
      background:#fff;
      float:none;
      position:absolute;
      top:0;
      right:0;
    }
    &-control{
      //display:block;
    }
  }
}

// 1260
@media screen and (max-width:1259px) {


  .travel-info{
    &-box{
      &-day{
        display: block;
        position: static;
        padding-top:20px;
      }
    }
  }
  .maglev-train {
  &-line {
    &-list {
      &:before {
        left: 90px;
      }
    }
  }
}
  /*버스지역*/
  .local {
    border:0;
    &-list {
      border:1px solid #a5a7aa;
      border-bottom:0;
      &-item {
        width:33.333%;
        border:0;
        border-bottom:1px solid #a5a7aa;

        &:first-child{
          border-left:0;
        }
        &:nth-child(4),&:nth-child(7),&:nth-child(10){
          border-left:0;
        }
        &:nth-child(3n){
          border-right:0;
        }
        &:last-child{
          width:66.66%;
        }
        &-link {
          font-size:0.9rem;
          &.on {
            &:after{
              display:none;
            }
          }
        }
      }
    }
    &-town {
      padding:10px;
      margin-top:10px;
      border:1px solid #a5a7aa;
      max-height:300px;
      overflow-y:auto;
      &-item {
        width:50%;
        font-size:1rem;
        border:0;
        margin-bottom:10px;
        &:nth-child(8n){
          border-right:0;
        }
        &:last-child{
          border-right: none;
        }
        &-link {
          font-size:0.9rem;
          &.on {
          }
        }
      }
    }
  }


}

// 780
@media screen and (max-width:780px) {
  // 체크/라디오 그룹
  .field{
    &.map{
      .field-radio{
        & + .field-radio-label{
          min-width:16.666%;
          padding:14px;
        }
      }
    }
  }
  /*공항지도 검색*/
  .search-map{
    padding:0;
    background:none;
    border:none;
    &-title{
      display:none;
      &.title2{
        &.necessary{
          display:none;
        }
      }
    }
    &-input{
      &-item{
        width:33.33%;
        &:last-child{
          margin-right: 0;
        }
      }
      &-select{
        width:100%;
        &.small{
          width:100%;
        }
      }
    }

    &-btn{
      width:65%;
      height:40px;
      margin-top:10px;
    }
    &-box{
      width: 180px;
      &-level1{
        font-size:1rem;
        font-weight:700;
      }
      &-level2{
        font-size:1rem;
      }
      &-level3{
        font-size:0.825rem;
        .search-map-list-link{
          font-size:0.825rem;
        }

      }
    }

    &-svg{
      height:320px;
      float: none;
      &-control{
        position:absolute;
        top:20px;
        left:20px;
        border:1px solid #a6a7ab;
        width:32px;
        z-index:2;
        .zoom-level{
          //display:none;
        }
        .svgbtn{
          &:first-child{
            border-bottom:1px solid #a6a7ab;
          }

        }
      }
    }
    &-clear{
      //width: 180px;
      min-height:320px;
      &.full-screen{
        height:320px;
        .search-map-svg{
          height:100%;
        }

        .search-map-wrap{
          height:100%;
        }
      }
      &.on{ // 펼침 접기
        border:1px solid #d9d9d9;
        .search-map-svg{
          width:100%;
          border:0;
          position:absolute;
        }
        .search-map-wrap{
          right:-180px;
        }
        .search-map-control{
          &:after{
            transform:rotate(180deg);
          }
        }
      }
    }
    &-wrap{
      width: 180px;
      height:320px;
    }

  }

  /*여행정보 검색창*/
  .search-right{
    margin-top:20px;
    &-item{
      width: 100%;
      &-input{
        width:calc(100% - 50px);
        height:50px;
      }
      &-btn{
        width:50px;
        height:50px;
        margin-bottom:0;
      }
    }
  }

  // step3
  .departure-step{
    background-size: cover;
    &-list{
      padding: 30px 0 0;
      .departure-step-list-article {
        width:33.33%!important;
        font-size:0.825rem;
        height:130px;

      }
      &.check-in{
        .departure-step-list-article{
          &.step-3{
            height:122px;
          }
          &:before{
            width:58px;
            height:58px;
            background-size: 213px 75px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
        }
      }
      &.self{
        .departure-step-list-article{
          &.step-5{
            height:152px;
          }
          &:before{
            width:58px;
            height:58px;
            background-size: 213px 142px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
          &.step-4:before{
            background-position: -8px -76px;
          }
          &.step-5:before{
            background-position: -77px -76px;
          }
        }
      }
      &.quarantine{
        .departure-step-list-article{
          &.step-3{
            height:122px;
          }
          &.step-4{
            height:142px;
          }

          &:before{
            width:58px;
            height:58px;
            background-size: 213px 142px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
          &.step-4:before{
            background-position: -8px -76px;
          }
        }
      }
      &.self-checkin{
        .departure-step-list-article{
          &.step-5{
            height:142px;
          }

          &:before{
            width:58px;
            height:58px;
            background-size: 213px 142px;
          }
          &.step-1:before{
            background-position: -8px -8px;
          }
          &.step-2:before{
            background-position: -77px -8px;
          }
          &.step-3:before{
            background-position: -146px -8px;
          }
          &.step-4:before{
            background-position: -8px -76px;
          }
          &.step-5:before{
            background-position: -77px -76px;
          }


        }
      }
    }
  }

  // input
  .input-bg{
    width: 100%;
    height: 40px;
    line-height:40px;
  }

  /*약관*/
  .agreement-box{
    &-title{
      font-size: 1rem;
    }
    &-txt{
      font-size: 0.825rem;
    }
  }

  // car search
  .search-box {
    height:80px;
    width: 100%;
    background:none;
    border:0;
    padding: 0;
    &-area{
      display:block;
      &-title {
        float: none;
        position: static;
        margin-right:0;
        margin-bottom:10px;
        display:block;
        font-size:1.125rem;
      }
      &-input {
        width: calc(100% - 50px);
        height: 50px;
      }
      &-btn {
        width: 50px;
        height: 50px;

      }
    }
  }

  // font control
  .font20, %font20{
    font-size: 1rem;
  }

  // inner tab
  .inner-tab{
    .btn-type-tab{
      min-width: 50%;
      height:50px;
      line-height:50px;
      padding:0;
      font-size:1rem;
      text-align:center;
    }
    .btn-type-tab{
      &.active{
        width: 50%;
        height: auto;
        min-height: 66px;
        padding: 10px;
        line-height: 1.4;
      }
    }
  }

  // reflash button
  .update{
    margin-bottom: 10px;
    text-align: left;
    overflow:hidden;
    &-time{
      line-height:26px;
    }
    &-refresh{
      float:right;
      width:26px;
      padding:0;
      line-height:inherit;
      border-radius:50%;
      &.ico{
        text-indent:-9999px;
      }
      &.ico:after{
        top:3px;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
      }
    }
    &.mb10{
      margin-bottom: 10px;
    }
  }
  //.update{
  //  &-time{
  //    font-size: 1rem;
  //  }
  //  &-refresh{
  //    width:100%;
  //    font-size:1rem;
  //    font-weight:700;
  //    line-height: 40px;
  //    height: 40px;
  //    margin-top:10px;
  //  }
  //}

  // parking box
  .congested{
    width: 100%;
    padding: 30px 30px 40px;
    margin-top:-3px ;
    border: 1px solid #d9d9d9;
    &-parkinglot{
      font-size: 1.125rem;
      float: left;
      padding: 5px 0;
    }
    &-info{
      padding: 5px 12px;
      border: 1px solid;
      border-radius: 20px;
      float: right;
      font-size:0.825rem;
    }



  }
  .btn-download{
    &.big{
      font-size: 1rem;
      &.ico{
        &:after{
          left: 220px;
        }
      }
    }
  }

  // etc
  table{
    .btn-download{
      width: auto;
      padding-left:20px;
      padding-right:10px;
    }
  }
  .notice-box{
    //padding:0;
    border:0;
    padding:0;
    margin-bottom:0;
    &-title{
      display:none;
      width:auto;
      border-right: 0;
      font-size: 1.125rem;
      font-weight: 900;
      float:none;
      position:static;
      line-height:2;
      margin-bottom:10px;
    }
    &-txt{
      display:block;
      margin-left:0;
      float:none;
      border-bottom:1px solid #a5a7aa;
      padding-bottom:10px;
      text-align:center;
    }
  }
  .bussearch{
    &-title{
      display:none;
      font-size: 1.125rem;
      float: none;
      font-weight:900;

    }
    .search-area{
      &-txt{
        width:calc(100% - 50px);
        height:50px;
        font-size:0.8125rem;

      }
      &-btn{
        width:50px;
        height:50px;
        font-size: 1.125rem;
        &.ico{
          text-indent:-99999em;
        }
        &.ico:after{
          top:0;
          right:0;
        }
      }
    }
  }
  .maglev-train-line{
    padding: 46px 40px 40px;
    border: 1px solid #f3f4f8;
    position: relative;
    //background: url(/static/ap/images/bg_maglev_train_line_02.png) no-repeat;
    //background-size: cover;
    //min-height: 500px;
    &-list{
      width: 100%;
      min-height: 415px;
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 49.5%;
        height: 155px;
        border: 5px solid #ffae43;
        background: 0;
        border-left: 0;
        position: absolute;
        top: 50px;
        left: 25%;
      }

      &:after{
        content: '';
        display: block;
        width: 50%;
        height: 155px;
        background: 0;
        border: 5px solid #ffae43;
        border-right: 0;
        border-top: 0;
        position: absolute;
        top: 205px;
        left: 24.5%;
      }
      &-article{
        float: none;
        width: 50%;
        position: absolute;
        margin-top: 130px;
        &:nth-child(2){
          right: 0;
          top: 0;
          margin-top: 85px;
        }
        &:nth-child(3){
          right: 0;
          top: 110px;
        }
        &:nth-child(4){
          left: 0;
          top: 110px;
        }
        &:nth-child(5){
          left: 0;
          top: 260px;
        }
        &:nth-child(6){
          right: 0;
          top: 260px;
        }
        &-link{
          &.station:before{
            top: -50px;
          }
        }
      }
    }
  }
  .timesetting{
    &-date{
      &.f-left,
      &.f-right{
        float:none;
      }
      &-day{
        width:calc(100% - 50px);
        height:40px;
        line-height:40px;
      }
      &-calendar{
        width: 50px;
        height:40px!important;
      }
      &-option{
        width:50%;
        border-top:0;
        height:40px;
        line-height:40px;
        border-left:1px solid #d9d9d9!important;
      }
    }
    &-dash{
      padding-left:0;
      float:none;
      color:#222;
      line-height:30px;
    }
  }
  .calculator{
    background:none;
    padding:0;
    margin-bottom:10px;
  }
  .timesetting-date-calendar:after{
    //right:20px;
  }

  // infographics
  .customs_inspection{
    height:200px;
  }
  .digr_airport_railroad{
    height:140px;
  }
  .digr_ktx_route{
    height:200px;
  }

  .digr-city-airport-terminal-kwangmyung{
    height:200px;
  }

  .digr-city-airport-terminal-seoul{
    height: 140px;
  }

  .digr-city-airport-terminal-samsung{
    height: 140px;
  }

  .digr-city-airport-terminal-kwangmyung{
    height: 140px;
  }

  .digr-airport-limousine-route{
    height:140px;
  }

  /* Kal 운행노선 */
  .digr-airport-kal-route{
    height:140px;
  }

  /*환승절차*/
  .transit-step{
    .list3{
      &-item{
        float: none;
        &.ico{
          &:after{
            display:none;
          }
        }
        &+.list3-item{
          margin-left: 0;
        }
      }
    }
  }

  .travel-info{
    .travel-info-box-title{
      font-size:1.125rem;
      line-height:1.4;
    }
    .btn-type-small{
      width:100%;
    }
    .imgbox-extend {
      overflow-x: auto;
      .imgbox {
        width:100%;
      }
    }
  }

  .travel-info-detail-txt{
    img{width:100%}
  }

  //글작성 게시판 추가
  .table{

    &.hr.writing,&.hr.info{
      border-top:1px solid #d9d9d9;
      display:block;
      overflow-x:inherit;
      thead,
      tbody,
      tr,
      th,
      td {
        display:block;
      }

      tr:after{
        content:'';
        display:block;
        clear:both;
      }
      th{
        position:relative;

        float:left;
        width:100%;
        border-right:1px solid #d9d9d9;
        border-left:1px solid #d9d9d9;
        padding:10px;

      }
      td{
        position:relative;
        border:1px solid #d9d9d9;
        float:left;
        width:100%;
        text-align:center;
        margin-bottom:-1px;
        padding:20px 10px;
        height:auto;
        line-height: 1.4;
        &.agreement-offer{
          padding:25px 20px;
        }
      }

    }
  }

  //input
  .user-text{
    width: 100%;
    height:40px;

    &.height{

    }
    &.email{

    }
    &.email-wide{
      width: 100%;
      margin-bottom:0;
    }
    &.direct-input{
      width:100%;
      height:50px;
      line-height:50px;
    }

  }

  .object-list{
    width:100%;
    height:50px;

    &.email{
      width: 100%;
      margin-right:0;
    }
    &.small{
      width: 100%;
    }
    &-title{
      line-height: 50px;
      padding: 0 10px;
    }
  }

  .to-calculate .btn-type-normal{
    font-size:1rem;
    font-weight:400;
  }


//버스검색
  .route-bus-stop{
    width: 288px;
    height: 184px;
    background-size:contain;
    border:none;
    margin:auto;
    &-ico-box{
      width: 247px;
      height: 109px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .exit{
      width: 11px;
      height: 21px;
      background-size:cover;
      &.exit-1{
        top: 36px;
        left: 9px;
      }
      &.exit-2{
        top: 41px;
        left: 20px;
      }
      &.exit-3{
        top: 46px;
        left: 34px;
      }
      &.exit-4{
        top: 51px;
        left: 52px;
      }
      &.exit-5{
        top: 54px;
        left: 68px;
      }
      &.exit-6{
        top: 56px;
        left: 86px;
      }
      &.exit-7{
        top: 58px;
        left: 105px;
      }
      &.exit-8{
        top: 58px;
        left: 121px;
      }
      &.exit-9{
        top: 57px;
        left: 137px;
      }
      &.exit-10{
        top: 55px;
        left: 155px;
      }
      &.exit-11{
        top: 52px;
        left: 172px;
      }
      &.exit-12{
        top: 48px;
        left: 189px;
      }
      &.exit-13{
        top: 42px;
        left: 206px;
      }
      &.exit-14{
        top: 36px;
        left: 221px;
      }
    }
  }
  .route-bus-stop2{
    width: 288px;
    height: 184px;
    background-size:contain;
    border:none;
    margin:auto;
    &-ico-box2{
      width: 186px;
      height: 154px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    .exit{
      width: 11px;
      height: 21px;
      background-size:cover;
      &.exit-1{
        top: 89px;
        left: 29px;
      }
      &.exit-2{
        top: 106px;
        left: 29px;
      }
      &.exit-3{
        top: 111px;
        left: 45px;
      }
      &.exit-4{
        top: 111px;
        left: 69px;
      }
      &.exit-5{
        top: 111px;
        left: 95px;
      }
      &.exit-6{
        top: 111px;
        left: 119px;
      }
      &.exit-7{
        top: 105px;
        left: 136px;
        z-index: 2;
      }
      &.exit-8{
        top: 89px;
        left: 138px;
      }
    }
  }

  /*다운로드버튼*/
  .btn-download{
    min-width: 100%;
    height: 30px;
    line-height:30px;
    text-align: center;
    padding: 0;
    &.big{
      font-size: 1rem;
      &.ico{
        &:after{
        }
      }
    }
    &.ico{
      &:after{
      }
    }
  }
}





