// 1740 <
@media all and (max-width:1739px) {

}


// 1560 <
@media all and (max-width:1559px) {
  // step3
  .departure-step{
    &-list{
      min-height:inherit;
      margin:auto;
      padding:30px;
      width: 100%!important;
      .departure-step-list-article {
        height:200px;
      }
      &.check-in{
        .departure-step-list-article{
          width:33.33%;
        }
      }
      &.self{
        .departure-step-list-article{
          width:20%;
        }
      }
      &.quarantine{
        .departure-step-list-article{
          width:25%;
        }
      }
      &.self-checkin{
        .departure-step-list-article{
          width:20%;
        }
      }
      &-article{
        color: #fff;
        font-size: 1.25rem;
      }
    }
  }
}


// 1260 <
@media all and (max-width:1259px) {

}


// 1024 <
@media all and (max-width:1024px) {

}


// 780 <
@media all and (max-width:780px) {
  // step3
  .departure-step{
    background-size: cover;
    &-list{
      .departure-step-list-article {
        width:50%!important;
        font-size:1rem;
        height:200px;
      }
      &.check-in{
        .departure-step-list-article{
          &.step-3{
            height:146px;
          }
        }
      }
      &.self{
        .departure-step-list-article{
          &.step-5{
            height:176px;
          }
        }
      }
      &.quarantine{
        .departure-step-list-article{
          &.step-3{
            height:176px;
          }
          &.step-4{
            height:176px;
          }
        }
      }
      &.self-checkin{
        .departure-step-list-article{
          &.step-5{
            height:176px;
          }
        }
      }
    }
  }
}