// list-item에 바로가기 버튼이 있는 경우 버튼 위치조정을 위한 css
.btn-type-small{
  &.position{
    position:absolute;
    top:-8px;
    margin-left:8px
  }
}

// 타 사이트 로고 목록
.company-wrap{
  .company-list{
    font-size:0;
    &-item{
      display:inline-block;
      border:1px solid #d9d9d9;
      box-sizing: content-box;
      margin:0 11px 20px 0;
      &:nth-child(5n){
        margin-right:0;
      }
    }
    &-link{
      display:inline-block;
      width:100%;
      height:100%;
    }
    &:first-child{
      margin-top:0;
    }
  }
}

// IR 인포그래픽
.info-graphic{
  height:270px;
  text-indent:-999em;
  margin-bottom:30px;
  &.baggage1{
    background:url(/static/ap/images/digr_info_graphic01.png) center no-repeat #323648;
  }
  &.baggage2{
    background:url(/static/ap/images/digr_info_graphic02.png) center no-repeat #323648;
  }
  &.baggage3{
    background:url(/static/ap/images/digr_info_graphic03.png) center no-repeat #323648;
  }
  &.packing{
    height:330px;
    background:url(/static/ap/images/digr_info_graphic04.png) center no-repeat #323648;
  }
}

// button 그룹 가운데정렬
.btn-group{
  display: table;
  width: 100%;
  height: 100%;
  &-inner.center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    [class^="btn-"]{
      margin-left:8px;
      &:first-child{
        margin-left:0;
        text-align:left;
        vertical-align:1px;
      }
    }
  }
}

// 특수케이스 : button 그룹 내 텍스트 위치조정
.btn-group{
  .guide-desc{
    margin-top:8px;
   // margin-left:86px;//
  }
}


// 동영상영역 기존에 있던대로 임시로 iframe으로 구성
.video-box{
  &:before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.4);
    z-index:2;
  }
  &:hover:before{
    display:none
  }
  position:relative;
  height:318px;
  background:#d9d9d9;
  margin-top:20px;

  &-frame{
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
  }
}

// 제한물품 바로가기 박스모델
.link-box{
  background:#f2f4f7;
  border:1px solid #d9d9d9;
  height:90px;
  &-link{
    display:inline-block;
    width:100%;
    height:100%;
    line-height:90px;
    text-align:center;
    .link-strong{
      font-size:1.325rem;
    }
    .nowlink{
      width:23px;
      &:after{
        height: 26px;
        margin-left: 6px;
      }
    }
  }
}

// common
.ml20{
  margin-left:20px;
}

.minh427{
  min-height:427px;
}

.minh452{
  min-height:452px;
}

// 이미지 영역에 들어가는 기사글
.img-article{
  padding:0 10px;
  &-tit{
    font-size:1.325rem;
    margin-bottom:14px;
  }
  &-desc{
    color:#444;
    font-size:1rem;
  }
}


.map-article{
  &-area{
    .imgbox{
      vertical-align:top;
    }
  }
  &-body{
    padding:24px 30px;
    border:1px solid #d9d9d9;
    border-top:0;
    .list1-item{
      line-height:1.4;
    }
  }
  &-tit{
    font-size:1.625rem;
    margin-bottom:14px;
  }
}

.img-frame{
  border:1px solid #d9d9d9;
}

.multi-col + .detail-column{
  border-top:0;
}
.detail-column{
  border-top:1px solid #f3f4f8;
  @extend %clearfix;
  &.col-2{
    .detail-table{
      width:50%;
      float:left;
      &.w60{
        width:60%;
      }
      &.w40{
        width:40%;
      }
    }
  }
  .detail-table{
    font-size:1rem;
    line-height:1.4;
    padding:12px 0;
    text-align:left;
    @extend %clearfix;
    &-tit{
      width:100px;
      float:left;
      font-weight:900;
    }
    &-desc{
      width:calc(100% - 100px);
      float:right;
    }
  }
  .color-lb{
    color:#4674c9;
  }
}
.detail-mark{
  color:#fff;
  font-size:0.875rem;
  padding:6px 16px;
  position:relative;
  bottom:7px;
  &.green{
    background:#2c8179;
  }
  &.brown{
    background:#604f3c;
  }
  &.red{
    background:#d43e41;
  }
  &.blue{
    background:#41519f;
  }
  &.gray{
    background:#444;
  }
}



