// 1740px < => contents : 1200 layout
///////////////////////////////////////////////
@media all and (max-width:1739px) {
  .contents{
    min-width:calc(100% - 500px);
  }
  .inner-contents{
    width:860px;
  }
  img{
    width:100%;
  }
}
///////////////////////////////////////////////




// 1400px < => header : 1200 layout
@media all and (max-width:1399px) {
  .contents{
    min-width:calc(100% - 260px);
  }
}
///////////////////////////////////////////////





// 1200px < => contents : mobile ( % )
@media all and (max-width:1199px) {
  .inner-contents{
    width: 100%;
    padding: 0 15px;
  }

}
///////////////////////////////////////////////





// 900px < => header : mobile
@media all and (max-width:899px) {

  // reset font
  article, aside, details, figcaption, figure,
  footer, header, menu, nav, section {
    font-size:1rem;
  }

  // layout
  .contents{
    padding-top:100px;
    width:100%;
    float:none;
  }
  .inner-contents{
    width:100%;
  }

  // title
  .heading{
    &-level1{
      margin-bottom:40px;
      font-size:1.786rem;
      font-weight:400;
    }
    &-level2{
      margin-bottom:20px;
      font-size:1.286rem;
    }
    &-level3{
      margin-bottom:20px;
      font-size:1rem;
      font-weight:900;
    }
    &-level4{
      margin-bottom:20px;
      font-size:1.125rem;
    }
  }

  // LP close
  .back-to-home {
    background: url(/static/ap/images/spr_ico_global.png) no-repeat -143px -189px;
    position: fixed;
    width:25px;
    height:25px;
    top: 20px;
    right: 15px;
  }

}
///////////////////////////////////////////////
