// IR 인포그래픽
/*세관검사 절차*/
.customs_inspection{
    height:400px;
    text-indent:-999em;
    background:url(/static/ap/images/digr_customs_inspection_procedure.png) center no-repeat #333649;
    background-size:contain;
}


/*공항철도 노선도*/
.digr_airport_railroad{
  height:274px;
  text-indent:-999em;
  background: url(/static/ap/images/digr_airport_railroad.png) center no-repeat #f3f4f8;
  background-size:contain;
}

/*KTX 노선도*/
.digr_ktx_route{
  height:274px;
  text-indent:-999em;
  background: url(/static/ap/images/digr_ktx_route.png) center no-repeat #fff;
  background-size:contain;
  border:1px solid #dcdcdc;
}


// 배너bg
/*자기부상열차*/
.maglev-train{
  background:url(/static/ap/images/bg_maglev_train.jpg) no-repeat;
}
/*자기부상열차견학*/
.maglev-train-tour{
  background:url(/static/ap/images/bg_maglev_train_tour.jpg) no-repeat;
}

.update{
  text-align: right;
  margin-bottom: 20px;
  &-time{
    font-size: 0.875rem;
    color: #666;
    margin-right: 10px;
  }
  &-refresh{
    border: 1px solid #d9d9d9;
    background: #fff;
    font-size:0.8125rem;
    color: #666;
    padding: 0 10px  0 25px;
    line-height: 26px;
    height: 26px;
    &.ico{
      text-indent:0;
    }
    &.ico:after{
      right: 60px;
      top:6px;
    }
  }
}

/*버스검색*/
.bussearch{
  background:url(/static/ap/images/bg_layer_search.jpg) no-repeat;
  background-size: cover;
  padding: 58px 141px;
  &-title{
    color: #fff;
    font-size: 1.5rem;
    float: left;
    margin: 20px;
  }
  .search-area{

      @extend %clearfix;

    &-txt{
      width: 505px;
      height: 58px;
      border: 0;
      padding: 0 15px;
      border-left:1px solid #d9d9d9;
      float: left;
      font-size:1.125rem;
    }
    &-btn{
      background:#42519e;
      border: none;
      color: #fff;
      font-size: 1.625rem;
      width: 132px;
      height: 58px;
      line-height: 1;
      padding-left: 15px;
      &.ico{
        text-indent:0;
      }
      &.ico:after{
        top:3px;
        right:88px;
      }
    }
  }
}

/*버스지역*/
.local {
  width: 100%;

  &-list {
    border-left: 1px solid #a5a7aa;
    border-right: 1px solid #a5a7aa;

    @extend %clearfix;

    &-item {
      width: 104.5px;
      border-right: 1px solid #d9d9d9;
      float: left;
      &:last-child{
        border-right: none;
      }
      &-link {
        height: 58px;
        display: block;
        background: #fff;
        font-size: 1rem;
        font-weight: 300;
        color: #666;
        text-align: center;
        line-height: 58px;

        &.on {
          color: #fff;
          background: #323648;
          border: 1px solid #323648;
          font-weight: 800;
          position: relative;

          &:after{
            width: 16px;
            height: 16px;
            content: '';
            position:absolute;
            left:0;
            right:0;
            margin:auto;
            top: 45px;
            background: #323648;
            z-index: 1;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &-town {
    padding: 30px 30px 20px;
    border: 1px solid #a5a7aa;
    background: #f2f2f2;

    @extend %clearfix;

    &-item {
      width: 12.5%;
      height: 30px;
      float: left;
      border-right: 1px solid #d9d9d9;
      text-align: center;
      margin-bottom:20px;
      &:nth-child(8n){
        border-right: none;
      }
      &:last-child{
        border-right: none;
      }
      &-link {

        &.on {
          color: #41519e;
          border-bottom:2px solid #41519e;
          font-weight: 800;
        }
      }
    }
  }
}

/*버스노선도*/
.bus {
  @extend %clearfix;
  &.float-no{
    li{
      float: none;
    }
  }
  &-stop {
    float: left;
    margin-right: 30px;
    letter-spacing: -0.05rem;
    &.ico {
      text-indent: 0;
    }
    &.ico:after {
      left: auto;
      right: -20px;
      top: 7px;
    }
  }
}

/*다운로드버튼*/
.btn-download{
  width: 86px;
  height: 26px;
  padding-left:15px;
  line-height: 26px;
  border: 1px solid #d9d9d9;
  background:#f2f2f2;
  font-size: 0.8125rem;
  &.big{
    width: 100%;
    height: 90px;
    line-height: 90px;
    padding: 0 30px 0 0;
    text-align: center;
    font-size: 1.375rem;
    &.ico{
      &:after{
        top:0;
        left:260px;
      }
    }
  }
  &.ico{
    text-indent: 0;
    &:after{
      top:10px;
      right:48px;
    }
  }
}

/*주차장혼잡도*/
.congested{
  width: 100%;
  padding: 30px 30px 40px;
  margin-top:-3px ;
  border: 1px solid #dde3ed;
  &-parkinglot{
    font-size: 1.625rem;
    float: left;
  }
  &-info{
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 20px;
    float: right;
    &.level1{
      border-color:#2c8179;
      color: #2c8179;
    }
    &.level2{
      border-color:#42519e;
      color: #42519e;
    }
    &.level3{
      border-color:#dd7714;
      color: #dd7714;
    }
    &.level4{
      border-color:#d43e41;
      color: #d43e41;
    }
  }
  &-wrap{
    display:inline-block;
    width:100%;
    height:14px;
    margin-top: 25px;
    background:#f2f2f2;
    position:relative;
  }
  &-bar{
    width:0;
    height:14px;
    line-height:14px;
    text-indent: -999em;
    &.level1{
      background:#2c8179;
    }
    &.level2{
      background:#42519e;
    }
    &.level3{
      background:#dd7714;
    }
    &.level4{
      background:#d43e41;
    }
  }

}

/*주차요금계산기*/
.calculator{
  width: 100%;
  min-height: 98px;
  padding: 20px;
  background: #323648;
  @extend %clearfix;
}

/*날짜및시간설정*/
.timesetting{
  &-date{
    &.f-left,
    &.f-right{
      height:56px;
    }
    &-day{
      width: 140px;
      height: 56px;
      padding: 0;
      border: 1px solid #d9d9d9;
      border-right: 0;
      font-size: 1rem;
      padding-left: 10px;
      color: #666;
    }
    &-calendar{
      width: 46px;
      height: 56px;
      border: 1px solid #d9d9d9;
      border-left: 0;
      background: #fff;
      &:after{
        background-position:-97px -92px;
        width: 20px;
        height: 20px;
      }
      +.timesetting-date-option{
        border-left: 0;
      }
    }
    &-option{
      width: 170px;
      height: 56px;
      font-size: 1rem;
      padding-left: 10px;
      border: 1px solid #d9d9d9;
      color: #666;
      +.timesetting-date-option{
        border-left: 0;
      }
    }

  }
  &-dash{
    margin: 0 auto;
    padding-left:20px;
    text-align: center;
    color: #fff;
    font-size: 1.375rem;
    line-height: 58px;
  }
}

.to-calculate{
  .btn-type-normal{
    font-size: 	1.125rem;
  }
}

.parking-fee{
  font-size: 1.375rem;
  strong{
    font-size: 2.75rem;
    color: #d43e41;
  }
}

.inner-tab{
  @extend %clearfix;
  .btn-type-tab{
    min-width: 130px;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid #666;
    color: #444;
    float: left;
    text-align: center;
    &.on{
      color: #fff;
      background: #222;
    }
    &+.btn-type-tab{
      margin: 0;
    }
  }
}

.input-bg{
  width: 440px;
  height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  color: #666;
  background: #fcfbe8;
  border: 1px solid #d9d9d9;
}

/*차량번호 검색*/
.search-box {
  height: 100px;
  width: 100%;
  padding: 20px;
  background: #f2f4f7;
  border: 1px solid #d9d9d9;
  text-align: center;
  &-area{
    display: inline-block;
    &-title {
      float: left;
      position: relative;
      top:20px;
      margin-right:30px ;
    }
    &-input {
      width: 406px;
      height: 58px;
      padding: 10px;
      border: 1px solid #666;
      box-sizing: border-box;
      float: left;
      font-size: 1rem;
      color: #666;
    }
    &-btn {
      width: 62px;
      height: 58px;
      border: none;
      vertical-align: bottom;
      background: #323648;
      text-indent: -9999px;
      display: inline-block;
      float: left;
      &.ico:after {
        background-position: -74px -134px;
        width: 22px;
        height: 22px;
      }
    }
  }
}

/*약관*/
.agreement-box{
  width: 100%;
  height: 148px;
  padding: 20px 15px;
  overflow-y: auto;
  background: #f5f6f7;
  border: 1px solid #e2e5e9;
  &-title{
    font-size: 1.125rem;
    margin-bottom: 10px;
  }
  &-txt{
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
}

/*노선버스공지*/
.notice-box{
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  @extend %clearfix;
  &-title{
    width: 170px;
    border-right: 1px solid #a5a7aa;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 900;
    float: left;
    position: relative;
    top:5px;
  }
  &-txt{
    margin-left: 30px;
    float: left;
  }
}

// 스탭3
.departure-step{
  background: url(/static/ap/images/bg_departure_step.jpg) no-repeat;
  &-list{
    @extend %clearfix;
    min-height:204px;
    margin:auto;
    padding:30px 0 20px;

    .departure-step-list-article {
      &:before {
        content: '';
        display: block;
        width: 116px;
        height: 116px;
        margin: 0 auto 14px auto;
      }
    }

    &.check-in{
      width: 602px;
      .departure-step-list-article{
        width:33.33%;
        &:before {
          background: url(/static/ap/images/spr_ico_check_in.png) no-repeat;
        }
        &.step-1:before{
          background-position: -16px -16px;
         }
        &.step-2:before{
          background-position: -154px -16px;
        }
        &.step-3:before{
          background-position: -292px -16px;
        }
      }
    }
    &.self{
      width: 1002px;
      .departure-step-list-article{
        width:20%;
        &:before {
          background: url(/static/ap/images/spr_ico_self_bag_drop.png) no-repeat;
        }
        &.step-1:before{
          background-position: -16px -16px;
        }
        &.step-2:before{
          background-position: -154px -16px;
        }
        &.step-3:before{
          background-position: -292px -16px;
        }
        &.step-4:before{
          background-position: -16px -152px;
        }
        &.step-5:before{
          background-position: -154px -152px;
        }
      }
    }
    &.quarantine{
      width: 802px;
      .departure-step-list-article{
        width:25%;
        &:before {
          background: url(/static/ap/images/spr_ico_quarantine.png) no-repeat;
        }
        &.step-1:before{
          background-position: -16px -16px;
        }
        &.step-2:before{
          background-position: -154px -16px;
        }
        &.step-3:before{
          background-position: -292px -16px;
        }
        &.step-4:before{
          background-position: -16px -152px;
        }
      }
    }
    &.self-checkin{
      width: 1002px;
      .departure-step-list-article{
        width:20%;
        &:before {
          background: url(/static/ap/images/spr_ico_self_checkin.png) no-repeat;
        }
        &.step-1:before{
          background-position: -16px -16px;
        }
        &.step-2:before{
          background-position: -154px -17px;
        }
        &.step-3:before{
          background-position: -292px -16px;
        }
        &.step-4:before{
          background-position: -16px -152px;
        }
        &.step-5:before{
          background-position: -154px -152px;
        }
      }
    }
    &-article{
      width: 200px;
      color: #fff;
      font-size: 1.25rem;
      line-height: 1.5;
      text-align: center;
      float: left;
      display: inline-block;
      position: relative;
    }
  }
  &.self-checkin{
    background: url(/static/ap/images/bg_self_checkin_step.jpg) no-repeat;
  }
}

//.maglev-train-line {
//  padding: 46px 40px 40px;
//  min-height: 240px;
//  background: url(/static/ap/images/bg_maglev_train_line.png) no-repeat;
//  border: 1px solid #f3f4f8;
//  &-list {
//    width: 100%;
//    margin: 0 auto;
//    position: relative;
//    padding-top: 80px;
//    @extend %clearfix;
//    &-article {
//      width: 153px;
//      //height: 200px;
//      float: left;
//      &:first-child{
//        //width: 140px;
//        a{
//          text-align: left;
//        }
//      }
//      &-link{
//        text-align: center;
//        display: block;
//        &:before {
//          content: '';
//          display: block;
//          width: 153px;
//          height:140px;
//          margin: auto;
//          background: url(/static/ap/images/spr_ico_maglev_train_line.png) no-repeat;
//        }
//        &.step-1:before{
//          background-position: 0 0;
//          position: absolute;
//          bottom: 30px;
//          left: 0;
//        }
//        &.station:before{
//          background-position: -137px 0;
//          width: 130px;
//          position: absolute;
//          bottom: 30px;
//        }
//      }
//    }
//  }
//}

//.maglev-train-line{
//  padding: 46px 40px 40px;
//  min-height: 240px;
//  border: 1px solid #f3f4f8;
//  position: relative;
//  &-list{
//    width: 100%;
//    position: relative;
//    @extend %clearfix;
//    &:after{
//      content: '';
//      display: block;
//      width: 80%;
//      height: 5px;
//      background: #ffae43;
//      margin: 0 auto;
//      position: absolute;
//      top: 50%;
//    }
//    &-article{
//      float: left;
//      width: 16.666%;
//      position: relative;
//      z-index: 10;
//      text-align: center;
//      &-link{
//        padding-top: 80px;
//        &:before {
//          content: '';
//          display: block;
//          width: 153px;
//          height:140px;
//          margin: auto;
//          background: url(/static/ap/images/spr_ico_maglev_train_line.png) no-repeat;
//        }
//        &.step-1:before{
//          width: 153px;
//          height: 140px;
//          background-position: 0 0;
//          position: absolute;
//          bottom: 30px;
//          left: 0;
//        }
//        &.station:before{
//          background-position: -179px -67px;
//          width: 42px;
//          height: 41px;
//          bottom: 30px;
//        }
//      }
//    }
//  }
//}

.maglev-train-line{
  padding: 46px 40px 40px;
  min-height: 240px;
  border: 1px solid #f3f4f8;
  position: relative;
  &-list{
    width: 100%;
    position: relative;
    @extend %clearfix;
    &:before{
      content: '';
      display: block;
      width: 80%;
      height: 5px;
      background: #ffae43;
      margin: 0 auto;
      position: absolute;
      top: 60px;
      left: 120px;
    }
    &-article{
      float: left;
      width: 16.666%;
      position: relative;
      z-index: 10;
      text-align: center;
      margin-top: 130px;
      &-link{
        border:none;
        background:none;
        font-size:1rem;
        &:before {
          content: '';
          display: block;
          margin: auto;
          background: url(/static/ap/images/spr_ico_maglev_train_line.png) no-repeat;
        }
        &.step-1:before{
          width: 153px;
          height: 140px;
          background-position: 0 0;
          position: absolute;
          top: -160px;
          left: 50%;
          margin-left: -46px;
        }
        &.station:before{
          background-position: -179px -67px;
          width: 42px;
          height: 41px;
          position: absolute;
          top: -90px;
          left: 50%;
          margin-left: -20px;
        }
      }
    }
  }

  &-time-table{
    display:none;

    &.on{
      display:block;
    }
  }
}

.route-bus-line{
  width: 1152px;
  height: 400px;
  //background: url(/static/ap/images/bg_route_bus_area_search_t1_01.png)no-repeat;
  position: relative;
  &-list{
    width: 100%;
    position: relative;
    &-article{
      //-webkit-transform: rotate(-45deg);
      //-ms-transform: rotate(-45deg);
      //position: absolute;
      z-index: 10;
      font-size: 0.875rem;

      &:after{
        content:"";
        display:block;
        width:17px;
        height:17px;
        border:3px solid #41519e;
        border-radius:50%;
        box-sizing:border-box;
      }


    }
  }
}

.route-bus-stop{
  display: block;
  width: 100%;
  height: 400px;
  background: url(/static/ap/images/bg_route_bus_area_search_t1_02.png)no-repeat;
  background-size: 100%;
  position: relative;
  &-ico-box{
    display: block;
    position: absolute;
    width: 529px;
    height: 89px;
    top: 50%;
    left: 50%;
    margin: -69px -276px;
  }
  .exit{
    text-indent: -99999em;
    background: url(/static/ap/images/ico_route_bus_area_search_t1.png)no-repeat;
    width: 22px;
    height: 42px;
    position: absolute;
    &.exit-1{
      top: 0;
      left: 16px;
    }
    &.exit-2{
      top: 12px;
      left: 58px;
    }
    &.exit-3{
      top: 20px;
      left: 96px;
    }
    &.exit-4{
      top: 30px;
      left: 135px;
    }
    &.exit-5{
      top: 34px;
      left: 172px;
    }
    &.exit-6{
      top: 37px;
      left: 207px;
    }
    &.exit-7{
      top: 38px;
      left: 240px;
    }
    &.exit-8{
      top: 38px;
      left: 274px;
    }
    &.exit-9{
      top: 37px;
      left: 307px;;
    }
    &.exit-10{
      top: 34px;
      left: 342px;
    }
    &.exit-11{
      top: 30px;
      left: 381px;
    }
    &.exit-12{
      top: 20px;
      left: 420px;
    }
    &.exit-13{
      top: 12px;
      left: 458px;
    }
    &.exit-14{
      top: 0;
      left: 496px;
    }
  }
}


.font20, %font20{
  font-size: 1.25rem;

}

button{
  cursor: pointer;
}

.label-hide{
  position: absolute;
  left: -999em;
  width: 1em;
  overflow: hidden;
}