.contents{
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
}

.contents-sub{
  &-head{
    margin-top:30px;
    margin-bottom: 40px;
    text-align: center;

    &-title{
      color:#222;
      font-size:46px;
      font-weight:600;
      font-family: 'NanumSquare', sans-serif;
    }

    &-article{
      color:#666;
      font-size: 16px;
      margin-top: 20px;
    }

  }
}

.contents-visual{
  min-height:300px;
  height:300px;
  background-size: cover;

  &.departure{
    background:url("../images/img_sub_visual_departure.jpg") center no-repeat;
  }
}

.congestion{
  border-left: 1px solid rgba(255, 255,
          255, .2);
  width: 200px;
  float: right;
  position:relative;
  right: 40px;
  top:-25px;

  &-title{
    color:#fff;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;

    .point{
      color: #ffae44;
    }
  }

  &-quick-link{
    color:#fff;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius:20px;
    box-sizing: border-box;
    padding:0 10px;
    line-height: 30px;
    display: inline-block;
    width: 126px;
    text-align: left;
    margin-left: 40px;
    background: url("../images/icon_white_right_arrow.png") 90% center no-repeat;
  }
}

.tab{
  &-area{
    position:relative;
    margin-top:-210px;
  }

  &-main{
    width: 450px;
    margin: 0 auto;
    text-align: center;

    &-list{
      display: inline-block;

      @extend %clearfix;

      &-item{
        float: left;
        border: 2px solid rgba(255, 255, 255, .5);
        box-sizing: border-box;
        font-size: 24px;

        &:first-child{
          border-top-left-radius: 5px;
          border-bottom-left-radius:5px;
          border-right:none;
        }
        &:last-child{
          border-top-right-radius: 5px;
          border-bottom-right-radius:5px;
          border-left:none;
        }
        & a{
          color: #fff;
          line-height: 50px;
          width: 208px;
          font-weight: 700;
          display: inline-block;
        }

        &.on{
          background:#fff;

          & a{
            color: #42519e;
          }
        }
      }
    }
  }

  &-sub{
    text-align: center;
    margin-bottom: 30px;

    &-list{
      margin-top: 81px;

      @extend %clearfix;

      &-item {
        float: left;
        background:rgba(66, 81, 158, .9);
        font-size: 22px;
        font-weight:300;
        line-height:72px;
        & a{
          color: #fff;
          display: inline-block;
          width: 574px;
        }
        &.on{
          background: #fff;
          font-weight: 700;
          & a{ color: #42519e;
          }
        }
        &+.tab-sub-list-item{
          margin-left: 4px;
        }
      }
    }
  }
}

.info{
  text-align:left;
  margin-bottom:30px;
  &-txt{
    font-size: 16px;
    color:#666;
    &-article{
      line-height: 26px;
    }
  }
}

.search{
  margin-bottom:20px;
  display: inline-block;
  &-option{
    float: left;
    margin-right:20px;
    &-btn{
      background: #fff;
      border: 1px solid #a5a7aa;
      box-sizing: border-box;
      color: #666;
      font-size: 16px;
      padding:0 18px;
      height: 60px;
      float: left;

      &.on{
        color: #343951;
        border: 1px solid #323648;
      }
    }
  }
  &-select{
    border: 1px solid #666;
    box-sizing: border-box;
    height: 60px;
    float: left;

    &-article{
      font-size: 16px;
      padding:18px 10px;
      box-sizing: border-box;
      border: none;
      border-right: 1px solid #d9d9d9;
      vertical-align: bottom;
      width: 186px;
      height: 58px;
      float: left;
    }
    &-airplane{
      background: #fcfbe8;
      border: none;
      box-sizing: border-box;
      font-size: 16px;
      padding:0 10px;
      width: 180px;
      height:58px;
      float: left;
    }
    &-btn{
      border:none;
      padding:20px;
      vertical-align: bottom;
      background:#323648 url("../images/icon_.search_btn.png") 50% no-repeat;
      text-indent: -9999px;
      display: inline-block;
      width: 62px;
      height: 58px;
    }
  }
}

.updata{
  text-align: right;
  margin-bottom: 20px;
  &-time{
    font-size:14px;
    color: #666;
    margin-right: 10px;
  }
  &-refresh{
    border: 1px solid #d9d9d9;
    font-size:13px;
    color: #666;
    background: #fff url("../images/icon_refresh_btn.png") 10px 7px no-repeat;
    padding: 0 10px  0 25px;
    line-height: 26px;
  }
}

.departuretime{

  &-title{
    background:#323648;

    @extend %clearfix;

    &-details{
      float:left;
      font-size:16px;
      color: #fff;
      text-align: center;
      padding: 18px 0;

      &+.departuretime-title-details{
        border-left: 1px solid #474a5b;
        box-sizing: border-box;
      }
      /*여객type*/
      &.type1{
        width:160px;
      }
      &.type2{
        width:200px;
      }
      &.type3{
        width:265px;
      }
      &.type4{
        width:100px;
      }
      &.type5{
        width:130px;
      }
      &.type6{
        width:90px;
      }
      &.type7{
        width:110px;
      }
      &.type8{
        width:95px;
      }
      /*화물type*/
      &.type9{
        width:195px;
      }
      &.type10{
        width:297px;
      }
      &.type11{
        width:360px;
      }
      &.type12{
        width:150px;
      }
    }
  }
}

