.contents{
  width:calc(100% - 500px);
  padding:65px 150px 100px 120px;
  float:right;
}

.heading{

  &-level1{
    font-family:nanumsq, sans-serif;
    font-size:2.375rem;
    font-weight:300;
  }

  &-level2{
    font-family:nanumsq, sans-serif;
    font-size:1.5rem;
    font-weight:400;
  }

  &-level3{
    font-size:1.25rem;
    font-weight:700;
  }

  &-level4{
    font-size:1.125rem;
    font-weight:700;
    color:#42519e;
  }

}

.table{
  width:100%;

  caption{
    display:none;
  }

  &.vt{
    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }

    th{
      padding:18px 0 16px;
      font-weight:700;
      position:relative;

      &:after{
        content:"";
        display:block;
        width:1px;
        height:16px;
        background:#a5a7aa;
        position:absolute;
        top:17px;
        right:0;
      }

      &:last-child:after{
        content:none;
      }
    }

    td{
      padding:18px 20px 16px;
      font-size:1.125rem;
      line-height:1.4;
      border:{
        right:1px solid #f2f4f7;
        top:1px solid #d9d9d9;
      }
      vertical-align:middle;

      &.center{
        text-align:center;
      }

      &:last-child{
        border-right:0;
      }
    }

  }

  &.vt-dark{
    border-bottom:1px solid #a5a7aa;

    tbody{
      tr:first-child{
        td{
          border-top:0;
        }
      }
    }

    th{
      padding:18px 0 16px;
      font-weight:300;
      color:#fff;
      background:#323648;
      border-right:1px solid #474a5b;
      vertical-align:middle;

      &:last-child{
        border-right:0;
      }

      &.half{
        padding:12px;
      }

      &.sub{
        padding:6px 0 8px;
        border:{
          top:1px solid #212535;
          right:1px solid #212535;
        }
        background:#4d5164;
        font-size:0.875rem;

        &:last-child{
          border-right:0;
        }
      }

    }

    td{
      padding:18px 20px 16px;
      font-size:1.125rem;
      line-height:1.4;
      border-right:1px solid #f2f4f7;
      border-top:1px solid #d9d9d9;
      vertical-align:middle;

      &.center{
        text-align:center;
      }

      &:last-child{
        border-right:0;
      }
    }
  }

  &.hr{

    border:{
      top:2px solid #444;
      bottom:1px solid #a5a7aa;
    }

    tr:first-child{
      th, td{
        border-top:0;
      }
    }

    th{
      border-top:1px solid #d9d9d9;
      background:#f3f4f8;
      font-weight:700;
      vertical-align:middle;
    }

    td{
      padding:16px 20px 20px;
      border-top:1px solid #d9d9d9;
      font-size:1.125rem;
      line-height:1.4;
    }

  }

}

.tab{

  &-nav{

    &-list{
      @extend %clearfix;

      &-item{
        width:25%;
        float:left;
      }

      &-link{
        display:block;
        height:54px;
        background:#f2f2f2;
        border:1px solid #d9d9d9;
        border-bottom-color:#42519e;
        font-size:1.25rem;
        font-weight:300;
        color:#666;
        line-height:54px;
        text-align:center;

        &.on{
          border:2px solid #42519e;
          border-bottom:none;
          background:#fff;
          font-weight:700;
          color:#42519e;
        }
      }
    }

  }

}

.stuff{

  &-wrap{
    @extend %clearfix;
  }

  &-block{

    width:calc(50% - 11px);
    padding:177px 40px 40px;
    border:1px solid #dde3ed;
    float:left;
    position:relative;

    &:nth-child(even){
      float:right;
    }

    &:after{
      content:"";
      display:block;
      height:116px;
      background:url(../images/spr_ico_stuff.png) no-repeat;
      position:absolute;
      top:40px;
      left:40px;
    }

    &.medicine:after{
      width:485px;
      background-position:0 0;
    }

    &.food:after{
      width:238px;
      background-position:-587px 0;
    }

    &.knife:after{
      width:485px;
      background-position:0 -142px;
    }

    &.weapon:after{
      width:361px;
      background-position:-587px -142px;
    }

    &.tool:after{
      width:361px;
      background-position:0 -285px;
    }

    &.battery:after{
      width:485px;
      background-position:0 -426px;
    }

    &.flammable:after{
      width:485px;
      background-position:-587px -426px;
    }


  }

}



