/*통합시 지워야할 css*/
body{
  width: 1152px;
}
h3{
  margin: 20px 0;
}
/*통합시 지워야할 css end*/
.list1{
  color: #444;
  font-weight: 400;
  &-item{
    content:'';
    font-size:1.125rem;
    line-height: 1.5;
    & .point{
      color: #41519e;
      font-weight: 700;
    }
    & strong{
      font-weight: 700;
      display: inline-block;
      width: 80px;
      text-align: justify;
      padding-right: 8px;
    }
    & .short{
      letter-spacing: 19px;
    }
    &-detail{
      margin:5px 10px 0;
    }
  }
  &.list1 li:before{
    content: "·";
    font-size: 	1.625rem;
    font-weight: 400;
    vertical-align: middle;
    line-height: 1;
    padding-right:8px;
  }
  &.list1 .list1-item-detail li:before{
    content: "";
  }
  &.list1 .list2{
    padding-left: 10px;
  }
}
.list2{
  color: #444;
  font-weight: 400;
  &-item{
    content:'';
    font-size:1.125rem;
    line-height: 1.5;
    & .point{
      color: #41519e;
      font-weight: 700;
    }
    & strong{
      font-weight: 700;
      display: inline-block;
      width: 80px;
      text-align: justify;
    }
    &-detail{
      margin:5px 10px 0;
    }
  }
  &.list2 li:before{
    content: "-";
    font-size: 	1rem;
    font-weight: 300;
    vertical-align: middle;
    line-height: 1;
    padding-right:8px;
  }
  &.list2 .list2-item-detail li:before{
    content: "";
  }
}

.list3{
  color: #444;
  font-weight: 400;
  &-item{
    content:'';
    font-size:1.125rem;
    line-height: 1.5;
    & .point{
      color: #41519e;
      font-weight: 700;
    }
    & .number{
      float: left;
      width: 14px;
      text-indent: 1px;
    }
    & .txt_clause{
      padding-left:25px;
    }
    & strong{
      font-weight: 700;
      display: inline-block;
      width: 80px;
      text-align: justify;
    }
    &-detail{
      margin:5px 10px 0;
    }
  }
}


.imgbox{
  width: 1152px;
  height: 470px;
  border: 1px solid #ccc;
  & img {
    width: 100%;
  }
}

.dutyfree {
  width: 100%;
  margin-bottom: 20px;
  &-area {
    display: inline-block;
    width: 360px;
    &-ico {
      display: inline-block;
      position: relative;
      width: 75px;
      height: 75px;
      float: left;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: url(../images/icon_duty_free.png) no-repeat;
      }
      &.type1:after {
        background-position: -10px -10px;
        width: 75px;
        height: 75px;
      }
      &.type2:after {
        background-position: -105px -10px;
        width: 75px;
        height: 75px;
      }
      &.type3:after {
        background-position: -198px -10px;
        width: 75px;
        height: 75px;
      }
      &.type4:after {
        background-position: -10px -105px;
        width: 75px;
        height: 75px;
      }
      &.type5:after {
        background-position: -105px -105px;
        width: 75px;
        height: 75px;
      }
      &.type6:after {
        background-position: -198px -105px;
        width: 75px;
        height: 75px;
      }
      &.type7:after {
        background-position: -10px -199px;
        width: 75px;
        height: 75px;
      }
      &.type8:after {
        background-position: -105px -199px;
        width: 75px;
        height: 75px;
      }
      &.type9:after {
        background-position: -198px -199px;
        width: 75px;
        height: 75px;
      }
    }

    &-article {
      font-size: 1.125rem;
      display: inline-block;
      position: relative;
      padding:10px 0 0 15px;
      &-title {
        font-weight: 700;
        margin-bottom: 10px;
      }
      &-info {
        font-weight: 400;
      }
    }
    &+.dutyfree-area{
      margin-left: 40px;
      width: 330px;
    }
  }
}

.airline {
  content:"";
  display:block;
  clear:both;
  /*
  @extend %clearfix;*/
  &-area {
    font-size: 1.125rem;
    line-height: 1.5;
    height: 75px;
    float: left;
    &-name {
      font-weight: 700;
      padding-top: 15px;
    }
    &-info {
      font-weight: 400;
      & .point {
        color: #42519e;
        font-weight: 700;
      }
    }
    & + .airline-area {
      margin-left: 90px;
    }
    &.koreanair {
      background: url(../images/icon_koreanair.png) no-repeat;
      padding-left: 90px;
    }
    &.asiana{
      background: url(../images/icon_asiana.png) no-repeat;
      padding-left: 90px;
    }
    &.another{
      background: url(../images/icon_another.png) no-repeat;
      padding-left: 90px;
    }
    &.airline-area li{
      font-weight: 400;
    }
    &.airline-area li:before{
      content: "·";
      font-size: 	1.625rem;
      font-weight: 400;
      vertical-align: middle;
      line-height: 1;
      padding-right:8px;
    }
  }
  & ul.airline-area{
    margin: 50px 0px;
    padding-left: 82px;
    &+ul.airline-area{
      margin-left: 90px;
    }
  }
}
.check-in{
  width: 1252px;
  height: 240px;
  text-align: center;
  background: url(../images/img_sub_layer_banner_bg.jpg) no-repeat;
  &-title{
    color: #ffae44;
    font-size: 3.75rem;
    font-weight: 300;
    padding-top: 55px;
    &strong{
      font-weight: 700;
    }
  }
  &-tab{
    border-top: 1px solid #fff;
    width: 50px;
    margin: 0 auto;
    margin-top: 18px;
  }
  &-text{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    width: 350px;
    margin: 0 auto;
    margin-top:18px;
    &strong{
      font-weight: 700;
    }
  }

}